<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
    <a href="#tab-2" class="tab">Manage Content</a>
    <a href="#tab-3" class="tab">Meta Tags</a>
    <? if($this->admin->isDeveloper()): ?>
        <a href="#tab-4" class="tab">Forwarding</a>
    <? endif ?>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="layout">Layout</label>
                <?= $this->form->selectChosen('layout_id', $this->layouts, null, 'Choose layout', false, ['id' => 'layout']) ?>
            </div>
            <div class="row">
                <label for="page-name">Name</label>
                <?= $this->form->text('name', ['id' => 'page-name']) ?>
            </div>
            <div class="row">
                <label for="page-url">URL</label>
                <?= $this->form->text('url', ['id' => 'page-url']) ?>
            </div>
            <div class="row">
                <label for="h1">H1 Title</label>
                <?= $this->form->text('h1', ['id' => 'h1']) ?>
            </div>
            <div class="row">
                <label for="subtitle">Subtitle</label>
                <?= $this->form->text('subtitle', ['id' => 'subtitle']) ?>
            </div>
            <? if($this->admin->isDeveloper()): ?>
                <div class="row">
                    <label for="identifier">Identifier</label>
                    <?= $this->form->text('identifier', ['id' => 'identifier']) ?>
                </div>
            <? endif ?>
            <div class="row">
                <label for="visible">Visible</label>
                <?= $this->form->selectChosen('visible', $this->visibilities, null, 'Is visible?', false, ['id' => 'visible']) ?>
            </div>
        </div>
        <div id="tab-2" class="hide">
            <div class="row">
                <?= $this->form->editor('content') ?>
            </div>
        </div>
        <div id="tab-3" class="hide">
            <div class="row">
                <label for="meta_title">Meta Title</label>
                <?= $this->form->text('meta_title', ['id' => 'meta_title', 'placeholder' => 'Leave blank to auto-generate']) ?>
            </div>
            <div class="row">
                <label for="meta_description">Meta Description</label>
                <?= $this->form->textarea('meta_description', ['id' => 'meta_description']) ?>
            </div>
            <div class="row">
                <label for="meta_keywords">Meta Keywords</label>
                <?= $this->form->textarea('meta_keywords', ['id' => 'meta_keywords']) ?>
            </div>
        </div>
        <? if($this->admin->isDeveloper()): ?>
            <div id="tab-4" class="hide">
                <div class="row">
                    <label for="module">Module</label>
                    <?= $this->form->text('module', ['id' => 'module']) ?>
                </div>
                <div class="row">
                    <label for="controller">Controller</label>
                    <?= $this->form->text('controller', ['id' => 'controller']) ?>
                </div>
                <div class="row">
                    <label for="action">Action</label>
                    <?= $this->form->text('action', ['id' => 'action']) ?>
                </div>
                <div class="row">
                    <label for="parameters">Parameters</label>
                    <?= $this->form->textarea('parameters', ['id' => 'parameters']) ?>
                </div>
            </div>
        <? endif ?>
        <div class="left">
            <? if(Get::exists('parent_id')): ?>
                <a href="<?= $this->url(['module' => 'admin', 'controller' => 'cms_pages', 'action' => 'index', 'parent_id' => Get::get('parent_id')]) ?>" class="btn delete red left">Cancel</a>
            <? else: ?>
                <?= Admin_View::cancelButton() ?>
            <? endif ?>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>