<div class="filters">
    <?= Admin_View::pageRecordsFilter(['ord' => 'Manual', 'name' => 'Name', 'url' => 'Url', 'created_at' => 'Date']) ?>
</div>
<div class="buttons-right">
    <?= Get::exists('parent_id') ? Admin_View::topAddChildrenButton(Get::get('parent_id')) : Admin_View::topAddButton() ?>
    <?= Admin_View::topUpdateButton() ?>
</div>
<table id="table" width="100%" cellspacing="0" cellpadding="15" border="0" class="table">
    <thead>
    <tr class="light nodrag nodrop">
        <td>Name</td>
        <td>URL</td>
        <td>Visible</td>
        <td class="actions-big">Actions</td>
    </tr>
    </thead>
    <tbody>
    <? if(Get::exists('parent_id') && is_numeric(Get::get('parent_id'))): ?>
        <tr class="nodrag nodrop">
            <td colspan="100">
                <a href="?parent_id=<?= $this->parent->getParentId() ?>" style="text-indent: 0px; font-size: 1.3em; font-family: Arial; color: #2F9FE0;">
                    Children of <strong><u><?= $this->parent->getName() ?></u></strong>
                </a>
            </td>
        </tr>
    <? endif ?>
    <? if($this->items->getCount()): ?>
        <? foreach($this->items as $index => $item): ?>
            <tr id="<?= $item->getId() ?>" class="<?= $index % 2 == 0 ? 'dark' : 'light' ?>">
                <td><?= $item->getName() ? $item->getName() : 'NONE' ?></td>
                <td><?= $item->getUrl() ? str_replace(Url::getPrefix(), '', $item->getUrl()) : 'NONE' ?></td>
                <td><?= $item->getVisible() ? 'Yes' : 'No' ?></td>
                <td>
                    <a href="?parent_id=<?= $item->getId() ?>" class="btn view orange margin-right">View Children</a>
                    <?= Get::exists('parent_id') ? Admin_View::editChildButton($item->getId(), Get::get('parent_id')) : Admin_View::editButton($item->getId()) ?>
                    <?= Admin_View::deleteButton($this->entity, $item->getId()) ?>
                </td>
            </tr>
        <? endforeach ?>
    <? else: ?>
        <tr class="dark nodrag nodrop">
            <td colspan="10">No rows found</td>
        </tr>
    <? endif ?>
    </tbody>
</table>
<div class="buttons-left">
    <?= Get::exists('parent_id') ? Admin_View::bottomAddChildrenButton(Get::get('parent_id')) : Admin_View::bottomAddButton() ?>
    <?= Admin_View::bottomUpdateButton() ?>
</div>
<div class="right">
    <div class="paginate-container">
        <?= $this->paginate ?>
    </div>
</div>