<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
    <a href="#tab-2" class="tab">Secondary Information</a>
    <a href="#tab-3" class="tab">Other Information</a>
    <a href="#tab-9" class="tab">Manage Details</a>
    <a href="#tab-4" class="tab">Manage Colors</a>
    <a href="#tab-11" class="tab">Manage Consumption</a>
    <a href="#tab-5" class="tab">Manage Files</a>
    <a href="#tab-6" class="tab">Manage Defects</a>
    <a href="#tab-7" class="tab">Inspection List</a>
    <a href="#tab-8" class="tab">Meta Tags</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="name">Name</label>
                <?= $this->form->text('name', ['id' => 'name']) ?>
            </div>
            <div class="row">
                <label for="vin">VIN</label>
                <?= $this->form->text('vin', ['id' => 'vin']) ?>
            </div>
            <div class="row">
                <label for="price">Price (&euro;)</label>
                <?= $this->form->text('price', ['id' => 'price']) ?>
            </div>
            <div class="row">
                <label for="pay_now">Pay Now (&euro;)</label>
                <?= $this->form->text('pay_now', ['id' => 'pay_now']) ?>
            </div>
            <div class="row">
                <label for="brand_id">Brand</label>
                <?= $this->form->selectChosen('brand_id', $this->brands, null, 'Choose brand', false, ['id' => 'brand_id']) ?>
            </div>
            <div class="row">
                <label for="model_id">Model</label>
                <?= $this->form->selectChosen('model_id', $this->models, null, 'Choose model', false, ['id' => 'model_id']) ?>
            </div>
            <div class="row">
                <label for="mechanic_id">Mechanic</label>
                <?= $this->form->selectChosen('mechanic_id', $this->mechanics, null, 'Choose mechanic', false, ['id' => 'mechanic_id']) ?>
            </div>
            <div class="row">
                <label for="year">Year</label>
                <?= $this->form->text('year', ['id' => 'year']) ?>
            </div>
            <div class="row">
                <label for="kilometers">Kilometers</label>
                <?= $this->form->text('kilometers', ['id' => 'kilometers']) ?>
            </div>
            <div class="row">
                <label for="type">Type</label>
                <?= $this->form->text('type', ['id' => 'type']) ?>
            </div>
            <div class="row">
                <label for="active">Active</label>
                <?= $this->form->selectChosen('active', Car_Model_Car::$active, null, 'Choose active', false, ['id' => 'active']) ?>
            </div>
        </div>
        <div id="tab-2" class="hide">
            <div class="row">
                <label for="origin_country">Origin Country</label>
                <?= $this->form->text('origin_country', ['id' => 'origin_country']) ?>
            </div>
            <div class="row">
                <label for="motorisation">Motorisation (0.6 - 6)</label>
                <?= $this->form->text('motorisation', ['id' => 'motorisation']) ?>
            </div>
            <div class="row">
                <label for="cylinder_capacity">Capacity (cm<sup>3</sup>)</label>
                <?= $this->form->text('cylinder_capacity', ['id' => 'cylinder_capacity']) ?>
            </div>
            <div class="row">
                <label for="horse_power">Horse Power</label>
                <?= $this->form->text('horse_power', ['id' => 'horse_power']) ?>
            </div>
            <div class="row">
                <label for="gears">Gears</label>
                <?= $this->form->text('gears', ['id' => 'gears']) ?>
            </div>
            <div class="row">
                <label for="fuel">Fuel Type</label>
                <?= $this->form->selectChosen('fuel', Car_Model_Car::$fuels, null, 'Choose fuel type', false, ['id' => 'fuel']) ?>
            </div>
            <div class="row">
                <label for="body">Body</label>
                <?= $this->form->selectChosen('body', Car_Model_Car::$bodies, null, 'Choose body', false, ['id' => 'body']) ?>
            </div>
            <div class="row">
                <label for="transmission">Transmission</label>
                <?= $this->form->selectChosen('transmission', Car_Model_Car::$transmissions, null, 'Choose transmission', false, ['id' => 'transmission']) ?>
            </div>
            <div class="row">
                <label for="traction">Traction</label>
                <?= $this->form->selectChosen('traction', Car_Model_Car::$tractor, null, 'Choose traction', false, ['id' => 'traction']) ?>
            </div>
            <div class="row">
                <label for="pollution">Pollution</label>
                <?= $this->form->selectChosen('pollution', Car_Model_Car::$pollutions, null, 'Choose norma pollution', false, ['id' => 'pollution']) ?>
            </div>
        </div>
        <div id="tab-3" class="hide">
            <div class="row">
                <label for="door_number">Door Number</label>
                <?= $this->form->text('door_number', ['id' => 'door_number']) ?>
            </div>
            <div class="row">
                <label for="cylinder_number">Cylinder Number</label>
                <?= $this->form->text('cylinder_number', ['id' => 'cylinder_number']) ?>
            </div>
            <div class="row">
                <label for="couple">Couple</label>
                <?= $this->form->text('couple', ['id' => 'couple']) ?>
            </div>
            <div class="row">
                <label for="turbine_type">Turbine Type</label>
                <?= $this->form->text('turbine_type', ['id' => 'turbine_type']) ?>
            </div>
        </div>
        <div id="tab-9" class="hide">
            <div class="row">
                <label for="features">Features</label>
                <?= $this->form->selectChosen('.features', $this->features, null, 'Choose features', true, ['id' => 'features']) ?>
            </div>
            <div class="row">
                <label for="options">Options</label>
                <?= $this->form->selectChosen('.options', $this->options, null, 'Choose options', true, ['id' => 'options']) ?>
            </div>
        </div>
        <div id="tab-4" class="hide">
            <div class="row">
                <label for="exterior_color_id">Exterior Color</label>
                <?= $this->form->selectChosen('exterior_color_id', $this->colors, null, 'Choose color', false, ['id' => 'exterior_color_id']) ?>
            </div>
            <div class="row">
                <label for="interior_color_id">Interior Color</label>
                <?= $this->form->selectChosen('interior_color_id', $this->colors, null, 'Choose color', false, ['id' => 'interior_color_id']) ?>
            </div>
            <div class="row">
                <label for="regular_color_id">Regular Color</label>
                <?= $this->form->selectChosen('regular_color_id', $this->regularColors, null, 'Choose color', false, ['id' => 'regular_color_id']) ?>
            </div>
        </div>
        <div id="tab-5" class="hide">
            <div class="row">
                <label for="report">Report File</label>
                <?= $this->form->file('report', ['id' => 'report']) ?>
            </div>
            <div class="row">
                <label for="brochure">Brochure File</label>
                <?= $this->form->file('brochure', ['id' => 'brochure']) ?>
            </div>
        </div>
        <div id="tab-11" class="hide">
            <div class="row">
                <label for="mixt_consumption">Mix Consumtopn</label>
                <?= $this->form->text('mixt_consumption', ['id' => 'mixt_consumption']) ?>
            </div>
            <div class="row">
                <label for="urban_consumption">Urban Consumtopn</label>
                <?= $this->form->text('urban_consumption', ['id' => 'urban_consumption']) ?>
            </div>
            <div class="row">
                <label for="rural_consumption">Rural Consumtopn</label>
                <?= $this->form->text('rural_consumption', ['id' => 'rural_consumption']) ?>
            </div>
        </div>
        <div id="tab-6" class="hide">
            <div class="row">
                <label for="interior_defects">Interior Defects</label>
                <?= $this->form->image('interior_defects', 'car_defect', ['id' => 'interior_defects']) ?>
            </div>
            <div class="row">
                <label for="exterior_defects">Interior Defects</label>
                <?= $this->form->image('exterior_defects', 'car_defect', ['id' => 'exterior_defects']) ?>
            </div>
        </div>
        <div id="tab-7" class="hide">
            <div class="partial-title"><p>Basics</p></div>
            <div class="row">
                <label for="v_basics_marca_model_declarat">Marca / Model Declarat</label>
                <?= $this->form->selectChosen('v_basics_marca_model_declarat', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_basics_marca_model_declarat']) ?>
            </div>
            <div class="row">
                <label for="v_basics_culoare_declarata">Culoare Declarata</label>
                <?= $this->form->selectChosen('v_basics_culoare_declarata', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_basics_culoare_declarata']) ?>
            </div>
            <div class="row">
                <label for="v_basics_tip_caroserie">Tip Caroserie</label>
                <?= $this->form->selectChosen('v_basics_tip_caroserie', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_basics_tip_caroserie']) ?>
            </div>
            <div class="row">
                <label for="v_basics_nr_km">Nr. Kilometri</label>
                <?= $this->form->selectChosen('v_basics_nr_km', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_basics_nr_km']) ?>
            </div>
            <div class="row">
                <label for="v_basics_acte_inmatriculare">Actele de Inmatriculare</label>
                <?= $this->form->selectChosen('v_basics_acte_inmatriculare', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_basics_acte_inmatriculare']) ?>
            </div>
            <div class="row">
                <label for="v_basics_asigurare">Asigurarea</label>
                <?= $this->form->selectChosen('v_basics_asigurare', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_basics_asigurare']) ?>
            </div>
            <div class="row">
                <label for="v_basics_verificare_vinieta">Verificare Vinieta</label>
                <?= $this->form->selectChosen('v_basics_verificare_vinieta', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_basics_verificare_vinieta']) ?>
            </div>
            <div class="row">
                <label for="v_basics_itp">ITP</label>
                <?= $this->form->selectChosen('v_basics_itp', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_basics_itp']) ?>
            </div>
            <div class="row">
                <label for="v_basics_proprietar">Propietar</label>
                <?= $this->form->selectChosen('v_basics_proprietar', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_basics_proprietar']) ?>
            </div>
            <div class="row">
                <label for="v_basics_serie_vin">Seria VIN</label>
                <?= $this->form->selectChosen('v_basics_serie_vin', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_basics_serie_vin']) ?>
            </div>

            <div class="partial-title"><p>Exterior</p></div>
            <div class="row">
                <label for="v_exterior_plafon">Plafon</label>
                <?= $this->form->selectChosen('v_exterior_plafon', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'interior_defects']) ?>
            </div>
            <div class="row">
                <label for="v_exterior_parbriz">Parbriz</label>
                <?= $this->form->selectChosen('v_exterior_parbriz', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_exterior_parbriz']) ?>
            </div>
            <div class="row">
                <label for="v_exterior_stergatoare">Stergatoare</label>
                <?= $this->form->selectChosen('v_exterior_stergatoare', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_exterior_stergatoare']) ?>
            </div>
            <div class="row">
                <label for="v_exterior_capota">Capota</label>
                <?= $this->form->selectChosen('v_exterior_capota', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_exterior_capota']) ?>
            </div>
            <div class="row">
                <label for="v_exterior_impact_pietre">Impact Pietre</label>
                <?= $this->form->selectChosen('v_exterior_impact_pietre', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_exterior_impact_pietre']) ?>
            </div>
            <div class="row">
                <label for="v_exterior_faruri">Faruri</label>
                <?= $this->form->selectChosen('v_exterior_faruri', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_exterior_faruri']) ?>
            </div>
            <div class="row">
                <label for="v_exterior_bumper_fata">Bumper Fata</label>
                <?= $this->form->selectChosen('v_exterior_bumper_fata', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_exterior_bumper_fata']) ?>
            </div>
            <div class="row">
                <label for="v_exterior_aripi_fata">Aripi Fata</label>
                <?= $this->form->selectChosen('v_exterior_aripi_fata', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_exterior_aripi_fata']) ?>
            </div>
            <div class="row">
                <label for="v_exterior_stare_vopsea">Starea Vopselii</label>
                <?= $this->form->selectChosen('v_exterior_stare_vopsea', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_exterior_stare_vopsea']) ?>
            </div>
            <div class="row">
                <label for="v_exterior_proiectoare">Proiectoare</label>
                <?= $this->form->selectChosen('v_exterior_proiectoare', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_exterior_proiectoare']) ?>
            </div>
            <div class="row">
                <label for="v_exterior_sigla">Sigla</label>
                <?= $this->form->selectChosen('v_exterior_sigla', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_exterior_sigla']) ?>
            </div>
            <div class="row">
                <label for="v_exterior_grilaj">Grilaj</label>
                <?= $this->form->selectChosen('v_exterior_grilaj', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_exterior_grilaj']) ?>
            </div>
            <div class="row">
                <label for="v_exterior_luneta">Luneta</label>
                <?= $this->form->selectChosen('v_exterior_luneta', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_exterior_luneta']) ?>
            </div>
            <div class="row">
                <label for="v_exterior_stergator_spate">Stergator Spate</label>
                <?= $this->form->selectChosen('v_exterior_stergator_spate', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_exterior_stergator_spate']) ?>
            </div>
            <div class="row">
                <label for="v_exterior_iluminare_spate">Iluminare Spate</label>
                <?= $this->form->selectChosen('v_exterior_iluminare_spate', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_exterior_iluminare_spate']) ?>
            </div>
            <div class="row">
                <label for="v_exterior_stopuri">Stopuri</label>
                <?= $this->form->selectChosen('v_exterior_stopuri', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_exterior_stopuri']) ?>
            </div>
            <div class="row">
                <label for="v_exterior_bara_spate">Bara Spate</label>
                <?= $this->form->selectChosen('v_exterior_bara_spate', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_exterior_bara_spate']) ?>
            </div>
            <div class="row">
                <label for="v_exterior_zgarieturi">Zgarieturi Fine Bara Spate</label>
                <?= $this->form->selectChosen('v_exterior_zgarieturi', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_exterior_zgarieturi']) ?>
            </div>
            <div class="row">
                <label for="v_exterior_aripi_spate">Aripi Spate</label>
                <?= $this->form->selectChosen('v_exterior_aripi_spate', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_exterior_aripi_spate']) ?>
            </div>
            <div class="row">
                <label for="v_exterior_teava_esapament">Teava Esapament</label>
                <?= $this->form->selectChosen('v_exterior_teava_esapament', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_exterior_teava_esapament']) ?>
            </div>
            <div class="row">
                <label for="v_exterior_sigla_spate">Sigla Spate</label>
                <?= $this->form->selectChosen('v_exterior_sigla_spate', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_exterior_sigla_spate']) ?>
            </div>
            <div class="row">
                <label for="v_exterior_antena_radio">Antena Radio</label>
                <?= $this->form->selectChosen('v_exterior_antena_radio', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_exterior_antena_radio']) ?>
            </div>
            <div class="row">
                <label for="v_exterior_usa_rezervor">Usa Acces Rezervor</label>
                <?= $this->form->selectChosen('v_exterior_usa_rezervor', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_exterior_usa_rezervor']) ?>
            </div>
            <div class="row">
                <label for="v_exterior_fete_usi">Starea Usilor</label>
                <?= $this->form->selectChosen('v_exterior_fete_usi', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_exterior_fete_usi']) ?>
            </div>
            <div class="row">
                <label for="v_exterior_semn_accident">Orice Semn De Accident</label>
                <?= $this->form->selectChosen('v_exterior_semn_accident', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_exterior_semn_accident']) ?>
            </div>
            <div class="row">
                <label for="v_exterior_aliniament">Aliniament General</label>
                <?= $this->form->selectChosen('v_exterior_aliniament', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_exterior_aliniament']) ?>
            </div>
            <div class="row">
                <label for="v_exterior_praguri">Oglinzi (integrabilitate)</label>
                <?= $this->form->selectChosen('v_exterior_praguri', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_exterior_praguri']) ?>
            </div>

            <div class="partial-title"><p>Functionabile - Ext</p></div>
            <div class="row">
                <label for="v_functionabile_faruri">Faruri</label>
                <?= $this->form->selectChosen('v_functionabile_faruri', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_functionabile_faruri']) ?>
            </div>
            <div class="row">
                <label for="v_functionabile_curatatoare_faruri">Curatatoare Faruri (daca exista)</label>
                <?= $this->form->selectChosen('v_functionabile_curatatoare_faruri', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_functionabile_curatatoare_faruri']) ?>
            </div>
            <div class="row">
                <label for="v_functionabile_curatator_parbriz">Curatator Parbriz</label>
                <?= $this->form->selectChosen('v_functionabile_curatator_parbriz', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_functionabile_curatator_parbriz']) ?>
            </div>
            <div class="row">
                <label for="v_functionabile_proiectoare">Proiectoare</label>
                <?= $this->form->selectChosen('v_functionabile_proiectoare', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_functionabile_proiectoare']) ?>
            </div>
            <div class="row">
                <label for="v_functionabile_semnalizari_fata">Semnalizari Fata</label>
                <?= $this->form->selectChosen('v_functionabile_semnalizari_fata', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_functionabile_semnalizari_fata']) ?>
            </div>
            <div class="row">
                <label for="v_functionabile_stop_frana">Stop Frana</label>
                <?= $this->form->selectChosen('v_functionabile_stop_frana', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_functionabile_stop_frana']) ?>
            </div>
            <div class="row">
                <label for="v_functionabile_stopuri_ceata">Stopuri Ceata</label>
                <?= $this->form->selectChosen('v_functionabile_stopuri_ceata', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_functionabile_stopuri_ceata']) ?>
            </div>
            <div class="row">
                <label for="v_functionabile_semnalizari_spate">Semnalizari Spate</label>
                <?= $this->form->selectChosen('v_functionabile_semnalizari_spate', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_functionabile_semnalizari_spate']) ?>
            </div>
            <div class="row">
                <label for="v_functionabile_avarii">Avarii</label>
                <?= $this->form->selectChosen('v_functionabile_avarii', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_functionabile_avarii']) ?>
            </div>
            <div class="row">
                <label for="v_functionabile_manere">Manere</label>
                <?= $this->form->selectChosen('v_functionabile_manere', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_functionabile_manere']) ?>
            </div>
            <div class="row">
                <label for="v_functionabile_sistem_decapotare">Sistem Decapotare (daca exista)</label>
                <?= $this->form->selectChosen('v_functionabile_sistem_decapotare', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_functionabile_sistem_decapotare']) ?>
            </div>
            <div class="row">
                <label for="v_functionabile_comenzi_telecomanda">Comenzi Telecomanda (daca exista)</label>
                <?= $this->form->selectChosen('v_functionabile_comenzi_telecomanda', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_functionabile_comenzi_telecomanda']) ?>
            </div>
            <div class="row">
                <label for="v_functionabile_oglinzi_rabatabile_electric">Oglinzi Rabatabile Electric (daca exista)</label>
                <?= $this->form->selectChosen('v_functionabile_oglinzi_rabatabile_electric', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_functionabile_oglinzi_rabatabile_electric']) ?>
            </div>
            <div class="row">
                <label for="v_functionabile_alarma">Alarma (daca exista)</label>
                <?= $this->form->selectChosen('v_functionabile_alarma', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_functionabile_alarma']) ?>
            </div>

            <div class="partial-title"><p>Functionabile - Int</p></div>
            <div class="row">
                <label for="v_interior_geamuri">Geamuri</label>
                <?= $this->form->selectChosen('v_interior_geamuri', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_geamuri']) ?>
            </div>
            <div class="row">
                <label for="v_interior_oglinzi">Oglinzi (mecanism)</label>
                <?= $this->form->selectChosen('v_interior_oglinzi', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_oglinzi']) ?>
            </div>
            <div class="row">
                <label for="v_interior_scaune_ajustabile_electric">Scaune Ajustabile Electric (daca exista)</label>
                <?= $this->form->selectChosen('v_interior_scaune_ajustabile_electric', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_scaune_ajustabile_electric']) ?>
            </div>
            <div class="row">
                <label for="v_interior_climatizare">Climatizare</label>
                <?= $this->form->selectChosen('v_interior_climatizare', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_climatizare']) ?>
            </div>
            <div class="row">
                <label for="v_interior_incalzire_scaune">Incalzirea in Scaune</label>
                <?= $this->form->selectChosen('v_interior_incalzire_scaune', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_incalzire_scaune']) ?>
            </div>
            <div class="row">
                <label for="v_interior_dezaburire">Dezaburirea</label>
                <?= $this->form->selectChosen('v_interior_dezaburire', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_dezaburire']) ?>
            </div>
            <div class="row">
                <label for="v_interior_lumini_interioare">Lumini Interioare</label>
                <?= $this->form->selectChosen('v_interior_lumini_interioare', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_lumini_interioare']) ?>
            </div>
            <div class="row">
                <label for="v_interior_trapa">Trapa</label>
                <?= $this->form->selectChosen('v_interior_trapa', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_trapa']) ?>
            </div>
            <div class="row">
                <label for="v_interior_comenzi_volan">Comenzi Volan</label>
                <?= $this->form->selectChosen('v_interior_comenzi_volan', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_comenzi_volan']) ?>
            </div>
            <div class="row">
                <label for="v_interior_sistem_audio">Sistemul Audio</label>
                <?= $this->form->selectChosen('v_interior_sistem_audio', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_sistem_audio']) ?>
            </div>
            <div class="row">
                <label for="v_interior_computer_bord">Computer Bord</label>
                <?= $this->form->selectChosen('v_interior_computer_bord', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_computer_bord']) ?>
            </div>
            <div class="row">
                <label for="v_interior_claxon">Claxonul</label>
                <?= $this->form->selectChosen('v_interior_claxon', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_claxon']) ?>
            </div>
            <div class="row">
                <label for="v_interior_frana_mana">Frana de Mana</label>
                <?= $this->form->selectChosen('v_interior_frana_mana', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_frana_mana']) ?>
            </div>
            <div class="row">
                <?= $this->form->selectChosen('v_interior_navigatie', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_navigatie']) ?>
            </div>
            <div class="row">
                <label for="v_interior_erori_bord">Erori Bord</label>
                <?= $this->form->selectChosen('v_interior_erori_bord', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_erori_bord']) ?>
            </div>





            <div class="partial-title"><p>Interior - Detalii</p></div>
            <div class="row">
                <label for="v_interior_fete_usi_1">Fete Usi</label>
                <?= $this->form->selectChosen('v_interior_fete_usi_1', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_fete_usi_1']) ?>
            </div>
            <div class="row">
                <label for="v_interior_praguri_1">Praguri</label>
                <?= $this->form->selectChosen('v_interior_praguri_1', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_praguri_1']) ?>
            </div>
            <div class="row">
                <label for="v_interior_pedale">Pedale</label>
                <?= $this->form->selectChosen('v_interior_pedale', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_pedale']) ?>
            </div>
            <div class="row">
                <label for="v_interior_chedere">Chedere</label>
                <?= $this->form->selectChosen('v_interior_chedere', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_chedere']) ?>
            </div>
            <div class="row">
                <label for="v_interior_cotiere_usi">Cotiere Usi</label>
                <?= $this->form->selectChosen('v_interior_cotiere_usi', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_cotiere_usi']) ?>
            </div>
            <div class="row">
                <label for="v_interior_manere_usi">Manere Usi</label>
                <?= $this->form->selectChosen('v_interior_manere_usi', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_manere_usi']) ?>
            </div>
            <div class="row">
                <label for="v_interior_mocheta">Mocheta</label>
                <?= $this->form->selectChosen('v_interior_mocheta', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_mocheta']) ?>
            </div>
            <div class="row">
                <label for="v_interior_scaune_centuri">Scaune</label>
                <?= $this->form->selectChosen('v_interior_scaune_centuri', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_scaune_centuri']) ?>
            </div>
            <div class="row">
                <label for="v_interior_centuri">Centuri</label>
                <?= $this->form->selectChosen('v_interior_centuri', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_centuri']) ?>
            </div>
            <div class="row">
                <label for="v_interior_stalpi">Stalpi</label>
                <?= $this->form->selectChosen('v_interior_stalpi', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_stalpi']) ?>
            </div>
            <div class="row">
                <label for="v_interior_volan">Volanul</label>
                <?= $this->form->selectChosen('v_interior_volan', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_volan']) ?>
            </div>
            <div class="row">
                <label for="v_interior_consola_principal">Consola Principala</label>
                <?= $this->form->selectChosen('v_interior_consola_principal', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_consola_principal']) ?>
            </div>
            <div class="row">
                <label for="v_interior_schimbator">Schimbatorul</label>
                <?= $this->form->selectChosen('v_interior_schimbator', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_schimbator']) ?>
            </div>
            <div class="row">
                <label for="v_interior_compartimente">Compatimente</label>
                <?= $this->form->selectChosen('v_interior_compartimente', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_compartimente']) ?>
            </div>
            <div class="row">
                <label for="v_interior_suport_pahare">Suport Pahare</label>
                <?= $this->form->selectChosen('v_interior_suport_pahare', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_suport_pahare']) ?>
            </div>
            <div class="row">
                <label for="v_interior_cheie">Cheia</label>
                <?= $this->form->selectChosen('v_interior_cheie', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_cheie']) ?>
            </div>
            <div class="row">
                <label for="v_interior_cotiera_spate">Cotiera Spate</label>
                <?= $this->form->selectChosen('v_interior_cotiera_spate', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_cotiera_spate']) ?>
            </div>
            <div class="row">
                <label for="v_interior_interior_portbagaj">Interior Portbagaj</label>
                <?= $this->form->selectChosen('v_interior_interior_portbagaj', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_interior_portbagaj']) ?>
            </div>
            <div class="row">
                <label for="v_interior_interior_kit_roata_rezerva">Kit Roata de Rezerva</label>
                <?= $this->form->selectChosen('v_interior_interior_kit_roata_rezerva', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_interior_kit_roata_rezerva']) ?>
            </div>
            <div class="row">
                <label for="v_interior_interior_kit_urgenta">Kit Urgenta</label>
                <?= $this->form->selectChosen('v_interior_interior_kit_urgenta', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_interior_interior_kit_urgenta']) ?>
            </div>
            
            
            
            
            <div class="partial-title"><p>Sub Capota</p></div>
            <div class="row">
                <label for="v_subcapota_fluide">Fluidele - conditie si nivel</label>
                <?= $this->form->selectChosen('v_subcapota_fluide', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_subcapota_fluide']) ?>
            </div>
            <div class="row">
                <label for="v_subcapota_semne_rugina">Semne de Rugina</label>
                <?= $this->form->selectChosen('v_subcapota_semne_rugina', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_subcapota_semne_rugina']) ?>
            </div>
            <div class="row">
                <label for="v_subcapota_balamale">Balamale</label>
                <?= $this->form->selectChosen('v_subcapota_balamale', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_subcapota_balamale']) ?>
            </div>
            <div class="row">
                <label for="v_subcapota_elemente_fabrica">Elementele din Fabrica</label>
                <?= $this->form->selectChosen('v_subcapota_elemente_fabrica', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_subcapota_elemente_fabrica']) ?>
            </div>
            <div class="row">
                <label for="v_subcapota_curele">Curele</label>
                <?= $this->form->selectChosen('v_subcapota_curele', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_subcapota_curele']) ?>
            </div>
            <div class="row">
                <label for="v_subcapota_servodirectie">Lichid Servodirectie</label>
                <?= $this->form->selectChosen('v_subcapota_servodirectie', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_subcapota_servodirectie']) ?>
            </div>
            <div class="row">
                <label for="v_subcapota_baterie">Baterie</label>
                <?= $this->form->selectChosen('v_subcapota_baterie', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_subcapota_baterie']) ?>
            </div>
            <div class="row">
                <label for="v_subcapota_lichid_frana">Lichid de Frana</label>
                <?= $this->form->selectChosen('v_subcapota_lichid_frana', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_subcapota_lichid_frana']) ?>
            </div>
            <div class="row">
                <label for="v_subcapota_aliniere_elemente">Alinierea Elementelor</label>
                <?= $this->form->selectChosen('v_subcapota_aliniere_elemente', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_subcapota_aliniere_elemente']) ?>
            </div>
            <!--<div class="row">
                <label for="v_subcapota_instalatie_racire">Instalatie de Racire</label>
                <?/*= $this->form->selectChosen('v_subcapota_instalatie_racire', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_subcapota_instalatie_racire']) */?>
            </div>
            <div class="row">
                <label for="v_subcapota_transmisie">Transmisia</label>
                <?/*= $this->form->selectChosen('v_subcapota_transmisie', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_subcapota_transmisie']) */?>
            </div>
            <div class="row">
                <label for="v_subcapota_ulei">Ulei</label>
                <?/*= $this->form->selectChosen('v_subcapota_ulei', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_subcapota_ulei']) */?>
            </div>
            <div class="row">
                <label for="v_subcapota_ac">A/C</label>
                <?/*= $this->form->selectChosen('v_subcapota_ac', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_subcapota_ac']) */?>
            </div>-->

            <div class="partial-title"><p>Roti</p></div>
            <div class="row">
                <label for="v_roti_cauciucuri">Cauciucuri</label>
                <?= $this->form->selectChosen('v_roti_cauciucuri', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_roti_cauciucuri']) ?>
            </div>
            <div class="row">
                <label for="v_roti_jante">Jante</label>
                <?= $this->form->selectChosen('v_roti_jante', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_roti_jante']) ?>
            </div>
            <div class="row">
                <label for="v_roti_suruburi">Suruburi</label>
                <?= $this->form->selectChosen('v_roti_suruburi', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_roti_suruburi']) ?>
            </div>
            <div class="row">
                <label for="v_roti_roata_rezerva">Roata de Rezerva</label>
                <?= $this->form->selectChosen('v_roti_roata_rezerva', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_roti_roata_rezerva']) ?>
            </div>
            <div class="row">
                <label for="v_roti_kit_schimbare_anvelopa">Kit Schimbare Anvelopa</label>
                <?= $this->form->selectChosen('v_roti_kit_schimbare_anvelopa', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_roti_kit_schimbare_anvelopa']) ?>
            </div>
            <div class="row">
                <label for="v_roti_placute_frana">Placute de Frana</label>
                <?= $this->form->selectChosen('v_roti_placute_frana', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_roti_placute_frana']) ?>
            </div>
            <div class="row">
                <label for="v_roti_presiune_cauciucuri">Presiunea in Cauciucuri</label>
                <?= $this->form->selectChosen('v_roti_presiune_cauciucuri', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_roti_presiune_cauciucuri']) ?>
            </div>
            <div class="row">
                <label for="v_roti_suspensie">Suspensia</label>
                <?= $this->form->selectChosen('v_roti_suspensie', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_roti_suspensie']) ?>
            </div>
            <div class="row">
                <label for="v_roti_stare_cauciucuri">Dimensiunea Anvelopelor</label>
                <?= $this->form->selectChosen('v_roti_stare_cauciucuri', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_roti_stare_cauciucuri']) ?>
            </div>

            <div class="partial-title"><p>Sub Masina</p></div>
            <div class="row">
                <label for="v_submasina_sasiu">Scut</label>
                <?= $this->form->selectChosen('v_submasina_sasiu', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_submasina_sasiu']) ?>
            </div>
            <div class="row">
                <label for="v_submasina_evacuare">Evacuare</label>
                <?= $this->form->selectChosen('v_submasina_evacuare', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_submasina_evacuare']) ?>
            </div>
            <div class="row">
                <label for="v_submasina_amortizoare">Amortizoare</label>
                <?= $this->form->selectChosen('v_submasina_amortizoare', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_submasina_amortizoare']) ?>
            </div>
            <div class="row">
                <label for="v_submasina_bielete">Bielete</label>
                <?= $this->form->selectChosen('v_submasina_bielete', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_submasina_bielete']) ?>
            </div>
            <div class="row">
                <label for="v_submasina_dieferential">Scurgeri</label>
                <?= $this->form->selectChosen('v_submasina_dieferential', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_submasina_dieferential']) ?>
            </div>

            <div class="partial-title"><p>In Mers</p></div>
            <div class="row">
                <label for="v_inmers_stare_motor">Starea Motorului</label>
                <?= $this->form->selectChosen('v_inmers_stare_motor', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_inmers_stare_motor']) ?>
            </div>
            <div class="row">
                <label for="v_inmers_stare_suspensii">Starea Suspensiilor</label>
                <?= $this->form->selectChosen('v_inmers_stare_suspensii', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_inmers_stare_suspensii']) ?>
            </div>
            <div class="row">
                <label for="v_inmers_mers_stare_cauciucuri">Starea Cauciucurilor</label>
                <?= $this->form->selectChosen('v_inmers_mers_stare_cauciucuri', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_inmers_mers_stare_cauciucuri']) ?>
            </div>
            <div class="row">
                <label for="v_inmers_performanta_motor">Performanta Motorului</label>
                <?= $this->form->selectChosen('v_inmers_performanta_motor', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_inmers_performanta_motor']) ?>
            </div>
            <div class="row">
                <label for="v_inmers_performanta_directie">Performanta Directiei</label>
                <?= $this->form->selectChosen('v_inmers_performanta_directie', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_inmers_performanta_directie']) ?>
            </div>
            <div class="row">
                <label for="v_inmers_demaraj">Demaraj</label>
                <?= $this->form->selectChosen('v_inmers_demaraj', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_inmers_demaraj']) ?>
            </div>
            <div class="row">
                <label for="v_inmers_mers_evacuare">Evacuarea</label>
                <?= $this->form->selectChosen('v_inmers_mers_evacuare', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_inmers_mers_evacuare']) ?>
            </div>
            <div class="row">
                <label for="v_inmers_temperatura_motor">Temperatura Motorului</label>
                <?= $this->form->selectChosen('v_inmers_temperatura_motor', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_inmers_temperatura_motor']) ?>
            </div>
            <div class="row">
                <label for="v_inmers_sunete_vibratii">Identificarea Sunetelor sau Vibratiilor Neadecvate</label>
                <?= $this->form->selectChosen('v_inmers_sunete_vibratii', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_inmers_sunete_vibratii']) ?>
            </div>
            <div class="row">
                <label for="v_inmers_transmisie">Transmisia</label>
                <?= $this->form->selectChosen('v_inmers_transmisie', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_inmers_transmisie']) ?>
            </div>
            <div class="row">
                <label for="v_inmers_ambreiaj">Ambreiajul</label>
                <?= $this->form->selectChosen('v_inmers_ambreiaj', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_inmers_ambreiaj']) ?>
            </div>
            <div class="row">
                <label for="v_inmers_performanta_cutie_viteze">Performanta Cutiei De Viteze (la rece / la cald)</label>
                <?= $this->form->selectChosen('v_inmers_performanta_cutie_viteze', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_inmers_performanta_cutie_viteze']) ?>
            </div>
            <div class="row">
                <label for="v_inmers_directie_linie_dreapta">Directia In Linie Dreapta</label>
                <?= $this->form->selectChosen('v_inmers_directie_linie_dreapta', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_inmers_directie_linie_dreapta']) ?>
            </div>
            <div class="row">
                <label for="v_inmers_directie_franare_brusca">Directia Masinii La Franare Brusca</label>
                <?= $this->form->selectChosen('v_inmers_directie_franare_brusca', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_inmers_directie_franare_brusca']) ?>
            </div>
            <div class="row">
                <label for="v_inmers_servodirectie">Servodirectia</label>
                <?= $this->form->selectChosen('v_inmers_servodirectie', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_inmers_servodirectie']) ?>
            </div>
            <div class="row">
                <label for="v_inmers_testare_moduri_masina">Testare Moduri Masina (daca exista)</label>
                <?= $this->form->selectChosen('v_inmers_testare_moduri_masina', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_inmers_testare_moduri_masina']) ?>
            </div>
            <div class="row">
                <label for="v_inmers_testare_navigatie_gps">Testarea Navigatiei GPS (daca exista)</label>
                <?= $this->form->selectChosen('v_inmers_testare_navigatie_gps', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_inmers_testare_navigatie_gps']) ?>
            </div>
            <div class="row">
                <label for="v_inmers_pilot_automat">Pilot Automat(daca exista)</label>
                <?= $this->form->selectChosen('v_inmers_pilot_automat', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_inmers_pilot_automat']) ?>
            </div>
            <div class="row">
                <label for="v_inmers_line_assist">Line Assist (daca exista)</label>
                <?= $this->form->selectChosen('v_inmers_line_assist', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_inmers_line_assist']) ?>
            </div>
            <div class="row">
                <label for="v_inmers_park_distance_control">Park Distance Control (daca exista)</label>
                <?= $this->form->selectChosen('v_inmers_park_distance_control', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_inmers_park_distance_control']) ?>
            </div>
            <div class="row">
                <label for="v_inmers_senzori_parcare">Senzori Parcare (daca exista)</label>
                <?= $this->form->selectChosen('v_inmers_senzori_parcare', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_inmers_senzori_parcare']) ?>
            </div>
            <div class="row">
                <label for="v_inmers_asistenta_franare">Asistenta la Franare (daca exista)</label>
                <?= $this->form->selectChosen('v_inmers_asistenta_franare', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_inmers_asistenta_franare']) ?>
            </div>
            <div class="row">
                <label for="v_inmers_44">Testare 4x4 (daca exista)</label>
                <?= $this->form->selectChosen('v_inmers_44', Car_Model_Car::$verifications, null, 'Yes or No', false, ['id' => 'v_inmers_44']) ?>
            </div>
        </div>
        <div id="tab-8" class="hide">
            <div class="row">
                <label for="meta_title">Meta Title</label>
                <?= $this->form->text('meta_title', ['id' => 'meta_title']) ?>
            </div>
            <div class="row">
                <label for="meta_description">Meta Description</label>
                <?= $this->form->textarea('meta_description', ['id' => 'meta_description']) ?>
            </div>
            <div class="row">
                <label for="meta_keywords">Meta Keywords</label>
                <?= $this->form->textarea('meta_keywords', ['id' => 'meta_keywords']) ?>
            </div>
        </div>
        <div class="left">
            <?= Admin_View::cancelButton() ?>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>