<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="name">Name</label>
                <?= $this->form->text('name', ['id' => 'name']) ?>
            </div>
            <div class="row">
                <label for="type">Type</label>
                <?= $this->form->selectChosen('entity', $this->types, null, 'Choose type', false, ['id' => 'menu-type']) ?>
            </div>
            <div class="row hide" id="url-selector">
                <label for="url">URL</label>
                <input type="text" name="params[url-url]" value="" id="url">
            </div>
            <div class="row hide" id="page-selector">
                <label for="page">Page</label>
                <select name="params[url-page]" class="chosen-select">
                    <? foreach($this->pages as $key => $val): ?>
                    <option value="<?= $key ?>"><?= $val ?></option>
                    <? endforeach ?>
                </select>
            </div>
            <div class="row hide" id="open-selector">
                <label for="new_window">Open in new window</label>
                <?= $this->form->selectChosen('new_window', $this->windows, null, 'Open in new window?', false, ['id' => 'new_window']) ?>
            </div>
        </div>
        <div class="left">
            <? if(Get::exists('parent_id')): ?>
                <a href="<?= $this->url(['module' => 'admin', 'controller' => 'cms_menus', 'action' => 'index', 'location' => Get::get('location'), 'parent_id' => Get::get('parent_id')]) ?>" class="btn delete red left">Cancel</a>
            <? else: ?>
                <a href="<?= $this->url(['module' => 'admin', 'controller' => 'cms_menus', 'action' => 'index', 'location' => Get::get('location')]) ?>" class="btn delete red left">Cancel</a>
            <? endif ?>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>