<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="name">Name</label>
                <?= $this->form->text('name', ['id' => 'name']) ?>
            </div>
            <div class="row">
                <label for="type">Type</label>
                <?= $this->form->selectChosen('entity', $this->types, $this->item->getEntity(), 'Choose type', false, ['id' => 'menu-type']) ?>
            </div>
            <div class="row hide" id="url-selector">
                <label for="url">URL</label>
                <input type="text" name="params[url-url]" value="<?= $this->item->getData('url') ?>" id="url">
            </div>
            <div class="row hide" id="page-selector">
                <label for="page">Page</label>
                <select name="params[url-page]" class="chosen-select">
                    <? foreach($this->pages as $key => $val): ?>
                        <option value="<?= $key ?>"<?= $key == $this->item->getData('url') ? ' selected="selected"' : '' ?>><?= $val ?></option>
                    <? endforeach ?>
                </select>
            </div>
            <div class="row hide" id="open-selector">
                <label for="new_window">Open in new window</label>
                <?= $this->form->selectChosen('new_window', $this->windows, $this->item->getNewWindow(), 'Open in new window?', false, ['id' => 'new_window']) ?>
            </div>
        </div>

        <!-- Identifier for the entity to be modified -->
        <input type="hidden" name="data[location_id]" value="<?= $this->item->getLocationId() ?>" />
        <input type="hidden" name="identifier" value="<?= $this->item->getId() ?>" />
        <!-- Identifier for the entity to be modified -->

        <div class="left">
            <a href="<?= $this->url(['module' => 'admin', 'controller' => 'cms_menus', 'action' => 'index', 'location' => Get::get('location'), 'parent_id' => Get::exists('parent_id') ? Get::get('parent_id') : null]) ?>" class="btn delete red left">Cancel</a>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>