<div class="filters">
    <?= Admin_View::menuRecordsFilter(['ord' => 'Manual', 'name' => 'Name', 'url' => 'Url']) ?>
</div>
<div class="buttons-right">
    <a class="btn add blue right" href="<?= $this->url(['module' => 'admin', 'controller' => 'cms_menus', 'action' => 'add', 'location' => Get::get('location'), 'parent_id' => Get::exists('parent_id') ? Get::get('parent_id') : null]) ?>">Add</a>
    <?= Admin_View::topUpdateButton() ?>
</div>
<table id="table" width="100%" cellspacing="0" cellpadding="15" border="0" class="table">
    <thead>
    <tr class="light nodrag nodrop">
        <td>Name</td>
        <td>URL</td>
        <td>Entity</td>
        <td class="actions-big">Actions</td>
    </tr>
    </thead>
    <tbody>
    <? if(Get::exists('parent_id') && is_numeric(Get::get('parent_id'))): ?>
        <tr class="nodrag nodrop">
            <td colspan="100">
                <a href="<?= $this->url(['module' => 'admin', 'controller' => 'cms_menus', 'action' => 'index', 'location' => Get::get('location'), 'parent_id' => $this->parent->getParentId()]) ?>" style="text-indent: 0px; font-size: 1.3em; font-family: Arial; color: #2F9FE0;">
                    Children of <strong><u><?= $this->parent->getName() ?></u></strong>
                </a>
            </td>
        </tr>
    <? endif ?>
    <? if($this->items->getCount()): ?>
        <? foreach($this->items as $index => $item): ?>
            <tr id="<?= $item->getId() ?>" class="<?= $index % 2 == 0 ? 'dark' : 'light' ?>">
                <td><?= $item->getName() ? $item->getName() : 'NONE' ?></td>
                <td><?= $item->getData('url') ? $item->getData('url') : 'NONE' ?></td>
                <td><?= $item->getEntity() ? $item->getEntity() : 'NONE' ?></td>
                <td>
                    <a href="?location=<?= Get::get('location') ?>&parent_id=<?= $item->getId() ?>" class="btn view orange margin-right">View Children</a>
                    <a href="<?= $this->url(['module' => 'admin', 'controller' => 'cms_menus', 'action' => 'edit', 'id' => $item->getId(), 'location' => Get::get('location'), 'parent_id' => Get::exists('parent_id') ? Get::get('parent_id') : null]) ?>" class="btn edit green margin-right">Edit</a>
                    <?= Admin_View::deleteButton($this->entity, $item->getId()) ?>
                </td>
            </tr>
        <? endforeach ?>
    <? else: ?>
        <tr class="dark nodrag nodrop">
            <td colspan="10">No rows found</td>
        </tr>
    <? endif ?>
    </tbody>
</table>
<div class="buttons-left">
    <a class="btn add blue left" href="<?= $this->url(['module' => 'admin', 'controller' => 'cms_menus', 'action' => 'add', 'location' => Get::get('location'), 'parent_id' => Get::exists('parent_id') ? Get::get('parent_id') : null]) ?>">Add</a>
    <?= Admin_View::bottomUpdateButton() ?>
</div>
<div class="right">
    <div class="paginate-container">
        <?= $this->pagination ?>
    </div>
</div>