<h1>Intrebare Masina!</h1>
<h2><a target="_blank" href="<?= Bootstrap::getInstance()->theCarUrl ?>"><?= Bootstrap::getInstance()->theCarName ?></a></h2>
<p style="font-size: 16px;">
    <strong>Detalii solicitant:</strong><br />
    E-mail: <strong><?= Bootstrap::getInstance()->theEmail ?></strong><br />
    Telefon: <strong><?= Bootstrap::getInstance()->thePhone ?></strong><br />
</p>
<hr>
<p style="font-size: 14px;">
    <strong>Intrebarea:</strong><br />
    <?= nl2br(Bootstrap::getInstance()->theMessage) ?>
</p>