<h1>Istoric Masina!</h1>
<h2><?= Bootstrap::getInstance()->theCarName ?></h2>
<p>Buna ziua,<br /><br />In atasament veti gasi un raport complet al istoricului masinii.</p>
<p>Va multumim!<br />Echipa OWT Garage</p>