<h1>O noua comanda speciala de masina</h1>
<h2><?= Bootstrap::getInstance()->theName ?> a trimis o cerere de masina speciala.</h2>
<h3>
    <strong>Datele utilizatorului:</strong><br />
    Nume: <?= Bootstrap::getInstance()->theName ?><br />
    Email: <?= Bootstrap::getInstance()->theEmail ?><br />
    Telefon: <?= Bootstrap::getInstance()->thePhone ?><br />
</h3>
<p>Detalii:<br /><br /><?= Bootstrap::getInstance()->theMessage ?></p>