<p>Deci, cauti sa iti vinzi masina? Mai avem nevoie doar de un singur lucru:</p>
<p>Pentru a confirma inspectia, fugi pana la masina si cauta <strong>seria VIN</strong> - o gasesti fie scrisa in parbriz - pe exterior in dreptul soferului; fie pe stalpul din dreptul scaunului soferului; fie in pozitia "E" pe talonul masinii.</p>
<p>Imediat ce o ai, te rugam sa dai click <a href="<?= Bootstrap::getInstance()->theUrl ?>" target="_blank">aici</a> pentru a o introduce.</p>
<p>Insa, daca ai nevoie de indrumare, <a href="<?= Bootstrap::getInstance()->theContactUrl ?>" target="_blank">contacteaza-na</a>! Asteptam vesti de la tine!</p>
<p>
    <strong>One-Way Ticket Garage</strong><br />
    <a href="http://owt-garage.com">owt-garage.com</a>
</p>
<br /><br />
<small><strong>De ce avem nevoie de seria VIN?</strong> O vom folosi pentru a ne asigura ca vom inspecta masina descrisa de tine si pentru a oferi un raport al istoricului, viitorului cumparator. </small>