<h1>Un nou mail de suport</h1>
<h2><?= Bootstrap::getInstance()->theName ?> a trimis un mail pe Suport.</h2>
<h3>
    <strong>Datele utilizatorului:</strong><br />
    Nume: <?= Bootstrap::getInstance()->theName ?><br />
    Email: <?= Bootstrap::getInstance()->theEmail ?><br />
    Telefon: <?= Bootstrap::getInstance()->thePhone ?><br />
</h3>
<p>Mesaj:<br /><br /><?= Bootstrap::getInstance()->theMessage ?></p>