<h1>Registration successful!</h1>
<p>Please click <a href="<?= Bootstrap::getInstance()->theUrl ?>?code=<?= Bootstrap::getInstance()->theCode ?>" target="_blank">here</a> to verify your identity and activate your account.</p>