<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="name">Name</label>
                <? if($this->admin->isDeveloper()): ?>
                    <?= $this->form->text('name', ['id' => 'name']) ?>
                <? else: ?>
                    <?= $this->form->text('name', ['id' => 'name', 'readonly' => 'readonly', 'class' => 'disabled inactive']) ?>
                <? endif ?>
            </div>
            <div class="row">
                <label for="value">Value</label>
                <?= $this->form->text('value', ['id' => 'value']) ?>
            </div>
        </div>

        <!-- Identifier for the entity to be modified -->
        <input type="hidden" name="identifier" value="<?= $this->item->getId() ?>" />
        <!-- Identifier for the entity to be modified -->

        <div class="left">
            <?= Admin_View::cancelButton() ?>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>