<div class="filters">
    <?= Admin_View::recordsFilter(['name' => 'Name', 'value' => 'Value']) ?>
</div>
<div class="buttons-right">
    <? if($this->admin->isDeveloper()): ?>
        <?= Admin_View::topAddButton() ?>
    <? endif ?>
    <?= Admin_View::topUpdateButton() ?>
</div>
<table width="100%" cellspacing="0" cellpadding="15" border="0" class="table">
    <thead>
    <tr class="light">
        <td>Name</td>
        <td>Value</td>
        <td class="actions"<?= !$this->admin->isDeveloper() ? ' style="width: 50px;"' : '' ?>>Actions</td>
    </tr>
    </thead>
    <tbody>
    <? if($this->items->getCount()): ?>
        <? foreach($this->items as $index => $item): ?>
            <tr class="<?= $index % 2 == 0 ? 'dark' : 'light' ?>">
                <td><?= $item->getName() ? $item->getName() : 'NONE' ?></td>
                <td><?= $item->getValue() ? $item->getValue() : 'NONE' ?></td>
                <td>
                    <?= Admin_View::editButton($item->getId()) ?>
                    <? if($this->admin->isDeveloper()): ?>
                        <?= Admin_View::deleteButton($this->entity, $item->getId()) ?>
                    <? endif ?>
                </td>
            </tr>
        <? endforeach ?>
    <? else: ?>
        <tr class="dark">
            <td colspan="10">No rows found</td>
        </tr>
    <? endif ?>
    </tbody>
</table>
<div class="buttons-left">
    <? if($this->admin->isDeveloper()): ?>
        <?= Admin_View::bottomAddButton() ?>
    <? endif ?>
    <?= Admin_View::bottomUpdateButton() ?>
</div>
<div class="right">
    <div class="paginate-container">
        <?= $this->paginate ?>
    </div>
</div>