<section class="sell-square" id="search-filters">
    <form id="filter-form" action="<?= $this->url() ?>#masini" method="get">
        <? if(Get::exists('combustibil') && is_array(Get::get('combustibil')) && !empty(Get::get('combustibil'))): ?>
            <? foreach(Get::get('combustibil') as $filter): ?>
                <input type="hidden" name="combustibil[]" value="<?= $filter ?>" />
            <? endforeach ?>
        <? endif ?>
        <? if(Get::exists('tractiune') && is_array(Get::get('tractiune')) && !empty(Get::get('tractiune'))): ?>
            <? foreach(Get::get('tractiune') as $filter): ?>
                <input type="hidden" name="tractiune[]" value="<?= $filter ?>" />
            <? endforeach ?>
        <? endif ?>
        <? if(Get::exists('caroserie') && is_array(Get::get('caroserie')) && !empty(Get::get('caroserie'))): ?>
            <? foreach(Get::get('caroserie') as $filter): ?>
                <input type="hidden" name="caroserie[]" value="<?= $filter ?>" />
            <? endforeach ?>
        <? endif ?>
        <? if(Get::exists('transmisie') && is_array(Get::get('transmisie')) && !empty(Get::get('transmisie'))): ?>
            <? foreach(Get::get('transmisie') as $filter): ?>
                <input type="hidden" name="transmisie[]" value="<?= $filter ?>" />
            <? endforeach ?>
        <? endif ?>
        <? if(Get::exists('dotari') && is_array(Get::get('dotari')) && !empty(Get::get('dotari'))): ?>
            <? foreach(Get::get('dotari') as $filter): ?>
                <input type="hidden" name="dotari[]" value="<?= $filter ?>" />
            <? endforeach ?>
        <? endif ?>
        <? if(Get::exists('culoare') && is_array(Get::get('culoare')) && !empty(Get::get('culoare'))): ?>
            <? foreach(Get::get('culoare') as $filter): ?>
                <input type="hidden" name="culoare[]" value="<?= $filter ?>" />
            <? endforeach ?>
        <? endif ?>
        <div style="max-width: 1280px; margin: 0 auto;">
            <div class="search">
                <?= $this->form->text('.cauta', ['placeholder' => 'Ce cauti astazi?'], Get::exists('cauta') ? Get::get('cauta') : null) ?>
                <a href="#" class="filters" id="toggle-filters">Filtre</a>
                <? if($_GET): ?>
                    <a href="<?= $this->page('buy')->getUrl() ?>" class="reset">Sterge</a>
                <? endif ?>
            </div>
            <div class="format">
                <a href="#" class="list">List</a>
                <a href="#" class="grid active">Grid</a>
            </div>
        </div>
        <div class="records-nr">
            <em><?= $this->cars->getCount() ?></em>
            <span><?= $this->cars->getCount() > 1 ? 'sanse' : 'sansa' ?> sa te <strong style="font-family: 'Segoe Semibold';">indragostesti</strong></span>
        </div>
        <div id="filters-container" style="margin-top: 50px;">
            <div>
                <div class="left-filters">
                    <div>
                        <span class="filter-title">Pret</span>
                        <div class="filter-range">
                            <input
                                id="price-range-input-min" type="hidden" name="pret-min"
                                value="<?= Get::exists('pret-min') ? Get::get('pret-min') : '0' ?>"
                            />
                            <input
                                id="price-range-input-max" type="hidden" name="pret-max"
                                value="<?= Get::exists('pret-max') ? Get::get('pret-max') : '150000' ?>"
                            />
                            <div
                                id="price-range" class="filter-range-slider"
                                data-min="0" data-max="150000" data-step="1000"
                                data-value-min="<?= Get::exists('pret-min') ? Get::get('pret-min') : '0' ?>"
                                data-value-max="<?= Get::exists('pret-max') ? Get::get('pret-max') : '150000' ?>"
                            ></div>
                            <span id="price-range-min" class="min">
                                &euro;<?= Get::exists('pret-min') ? number_format(Get::get('pret-min'), 0, ',', '.') : '0' ?>
                            </span>
                            <span id="price-range-max" class="max">
                                &euro;<?= Get::exists('pret-min') ? number_format(Get::get('pret-max'), 0, ',', '.') : '150.000' ?>
                            </span>
                        </div>
                    </div>
                    <div>
                        <span class="filter-title">Anul Fabricatiei</span>
                        <div class="filter-range">
                            <input
                                id="year-range-input-min" type="hidden" name="an-min"
                                value="<?= Get::exists('an-min') ? Get::get('an-min') : '2005' ?>"
                            />
                            <input
                                id="year-range-input-max" type="hidden" name="an-max"
                                value="<?= Get::exists('an-max') ? Get::get('an-max') : date('Y') ?>"
                            />
                            <div
                                id="year-range" class="filter-range-slider"
                                data-min="2005" data-max="2016" data-step="1"
                                data-value-min="<?= Get::exists('an-min') ? Get::get('an-min') : '2005' ?>"
                                data-value-max="<?= Get::exists('an-max') ? Get::get('an-max') : date('Y') ?>"
                            ></div>
                            <span id="year-range-min" class="min">
                                <?= Get::exists('an-min') ? Get::get('an-min') : '2005' ?>
                            </span>
                            <span id="year-range-max" class="max">
                                <?= Get::exists('an-max') ? Get::get('an-max') : date('Y') ?>
                            </span>
                        </div>
                    </div>
                    <div>
                        <span class="filter-title">Numar Kilometri</span>
                        <div class="filter-range">
                            <input
                                id="km-range-input" type="hidden" name="kilometri"
                                value="<?= Get::exists('kilometri') ? Get::get('kilometri') : '200000' ?>"
                            />
                            <div
                                id="km-range" class="filter-range-slider"
                                data-min="0" data-max="200000" data-step="10000"
                                data-value="<?= Get::exists('kilometri') ? Get::get('kilometri') : '200000' ?>"
                            ></div>
                            <span id="km-range-min" class="min">
                                0
                            </span>
                            <span id="km-range-max" class="max">
                                <?= Get::exists('kilometri') ? number_format(Get::get('kilometri'), 0, ',', '.') : '200000' ?>
                            </span>
                        </div>
                    </div>
                    <div>
                        <span class="filter-title">Culoare</span>
                        <? foreach($this->colors as $color): ?>
                            <a href="#"
                               class="filter-color<?= Get::exists('culoare') && in_array($color->getId(), Get::get('culoare')) ? ' active' : '' ?>"
                               data-color="<?= $color->getId() ?>"
                               style="background-color: <?= $color->getColor() ?>;"
                            ></a>
                        <? endforeach ?>
                    </div>
                    <div>
                        <div class="filter-half">
                            <span class="filter-title">Combustibil</span>
                            <a href="#"
                                class="filter-simple filter-fuel<?= Get::exists('combustibil') && in_array(Car_Model_Car::FUEL_GAS, Get::get('combustibil')) ? ' active' : '' ?>"
                                data-fuel="<?= Car_Model_Car::FUEL_GAS ?>"
                            >
                                <?= Car_Model_Car::$fuels[Car_Model_Car::FUEL_GAS] ?>
                            </a>
                            <a href="#"
                                class="filter-simple filter-fuel<?= Get::exists('combustibil') && in_array(Car_Model_Car::FUEL_DIESEL, Get::get('combustibil')) ? ' active' : '' ?>"
                                data-fuel="<?= Car_Model_Car::FUEL_DIESEL ?>"
                            >
                                <?= Car_Model_Car::$fuels[Car_Model_Car::FUEL_DIESEL] ?>
                            </a>
                            <a href="#"
                                class="filter-simple filter-fuel<?= Get::exists('combustibil') && in_array(Car_Model_Car::FUEL_HYBRID, Get::get('combustibil')) ? ' active' : '' ?>"
                                data-fuel="<?= Car_Model_Car::FUEL_HYBRID ?>"
                            >
                                <?= Car_Model_Car::$fuels[Car_Model_Car::FUEL_HYBRID] ?>
                            </a>
                            <a href="#"
                                class="filter-simple filter-fuel<?= Get::exists('combustibil') && in_array(Car_Model_Car::FUEL_ELECTRIC, Get::get('combustibil')) ? ' active' : '' ?>"
                                data-fuel="<?= Car_Model_Car::FUEL_ELECTRIC ?>"
                            >
                                <?= Car_Model_Car::$fuels[Car_Model_Car::FUEL_ELECTRIC] ?>
                            </a>
                        </div>
                        <div class="filter-half">
                            <span class="filter-title">Tractiune</span>
                            <a href="#"
                                class="filter-simple filter-traction<?= Get::exists('tractiune') && in_array(Car_Model_Car::TRACTION_FRONT, Get::get('tractiune')) ? ' active' : '' ?>"
                                data-traction="<?= Car_Model_Car::TRACTION_FRONT ?>"
                            >
                                <?= Car_Model_Car::$tractor[Car_Model_Car::TRACTION_FRONT] ?>
                            </a>
                            <a href="#"
                                class="filter-simple filter-traction<?= Get::exists('tractiune') && in_array(Car_Model_Car::TRACTION_BACK, Get::get('tractiune')) ? ' active' : '' ?>"
                                data-traction="<?= Car_Model_Car::TRACTION_BACK ?>"
                            >
                                <?= Car_Model_Car::$tractor[Car_Model_Car::TRACTION_BACK] ?>
                            </a>
                            <a href="#"
                                class="filter-simple filter-traction<?= Get::exists('tractiune') && in_array(Car_Model_Car::TRACTION_INTEGRAL, Get::get('tractiune')) ? ' active' : '' ?>"
                                data-traction="<?= Car_Model_Car::TRACTION_INTEGRAL ?>"
                            >
                                <?= Car_Model_Car::$tractor[Car_Model_Car::TRACTION_INTEGRAL] ?>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="center-filters">
                    <div class="filter-box">
                        <a href="#"
                            class="filter-body<?= Get::exists('caroserie') && in_array(Car_Model_Car::BODY_SEDAN, Get::get('caroserie')) ? ' active' : '' ?>"
                            data-body="<?= Car_Model_Car::BODY_SEDAN ?>"
                        >
                            <img src="<?= Dir::getAssets() ?>/default/img/body-sedan.png" alt="caroserie sedan" />
                            <span><?= Car_Model_Car::$bodies[Car_Model_Car::BODY_SEDAN] ?></span>
                        </a>
                        <a href="#"
                            class="filter-body<?= Get::exists('caroserie') && in_array(Car_Model_Car::BODY_COUPE, Get::get('caroserie')) ? ' active' : '' ?>"
                            data-body="<?= Car_Model_Car::BODY_COUPE ?>"
                        >
                            <img src="<?= Dir::getAssets() ?>/default/img/body-coupe.png" alt="caroserie coupe" />
                            <span><?= Car_Model_Car::$bodies[Car_Model_Car::BODY_COUPE] ?></span>
                        </a>
                        <a href="#"
                           class="filter-body<?= Get::exists('caroserie') && in_array(Car_Model_Car::BODY_CABRIO, Get::get('caroserie')) ? ' active' : '' ?>"
                           data-body="<?= Car_Model_Car::BODY_CABRIO ?>"
                        >
                            <img src="<?= Dir::getAssets() ?>/default/img/body-cabrio.png" alt="caroserie cabrio" />
                            <span><?= Car_Model_Car::$bodies[Car_Model_Car::BODY_CABRIO] ?></span>
                        </a>
                        <a href="#"
                           class="filter-body<?= Get::exists('caroserie') && in_array(Car_Model_Car::BODY_HATCHBACK, Get::get('caroserie')) ? ' active' : '' ?>"
                           data-body="<?= Car_Model_Car::BODY_HATCHBACK ?>"
                        >
                            <img src="<?= Dir::getAssets() ?>/default/img/body-hatchback.png" alt="caroserie hatchback" />
                            <span><?= Car_Model_Car::$bodies[Car_Model_Car::BODY_HATCHBACK] ?></span>
                        </a>
                        <a href="#"
                           class="filter-body<?= Get::exists('caroserie') && in_array(Car_Model_Car::BODY_SUV, Get::get('caroserie')) ? ' active' : '' ?>"
                           data-body="<?= Car_Model_Car::BODY_SUV ?>"
                        >
                            <img src="<?= Dir::getAssets() ?>/default/img/body-suv.png" alt="caroserie suv" />
                            <span><?= Car_Model_Car::$bodies[Car_Model_Car::BODY_SUV] ?></span>
                        </a>
                        <a href="#"
                           class="filter-body<?= Get::exists('caroserie') && in_array(Car_Model_Car::BODY_BREAK, Get::get('caroserie')) ? ' active' : '' ?>"
                           data-body="<?= Car_Model_Car::BODY_BREAK ?>"
                        >
                            <img src="<?= Dir::getAssets() ?>/default/img/body-break.png" alt="caroserie break" />
                            <span><?= Car_Model_Car::$bodies[Car_Model_Car::BODY_BREAK] ?></span>
                        </a>
                        <a href="#"
                           class="filter-body<?= Get::exists('caroserie') && in_array(Car_Model_Car::BODY_OFF_ROAD, Get::get('caroserie')) ? ' active' : '' ?>"
                           data-body="<?= Car_Model_Car::BODY_OFF_ROAD ?>"
                        >
                            <img src="<?= Dir::getAssets() ?>/default/img/body-offroad.png" alt="caroserie offroad" />
                            <span><?= Car_Model_Car::$bodies[Car_Model_Car::BODY_OFF_ROAD] ?></span>
                        </a>
                    </div>
                </div>
                <div class="right-filters">
                    <div>
                        <span class="filter-title">Motorizare</span>
                        <div class="filter-range">
                            <input
                                id="motorisation-range-input-min" type="hidden" name="motorizare-min"
                                value="<?= Get::exists('motorizare-min') ? Get::get('motorizare-min') : '0.6' ?>"
                            />
                            <input
                                id="motorisation-range-input-max" type="hidden" name="motorizare-max"
                                value="<?= Get::exists('motorizare-min') ? Get::get('motorizare-max') : '6.0' ?>"
                            />
                            <div
                                id="motorisation-range" class="filter-range-slider"
                                data-min="0.6" data-max="6" data-step="0.1"
                                data-value-min="<?= Get::exists('motorizare-min') ? Get::get('motorizare-min') : '0.6' ?>"
                                data-value-max="<?= Get::exists('motorizare-max') ? Get::get('motorizare-max') : '6' ?>"
                            ></div>
                            <span id="motorisation-range-min" class="min">
                                <?= Get::exists('motorizare-min') ? Get::get('motorizare-min') : '0.6' ?>
                            </span>
                            <span id="motorisation-range-max" class="max">
                                <?= Get::exists('motorizare-min') ? Get::get('motorizare-max') : '6.0' ?>
                            </span>
                        </div>
                    </div>
                    <div>
                        <span class="filter-title">Cai Putere</span>
                        <div class="filter-range">
                            <input
                                id="hp-range-input-min" type="hidden" name="cai-min"
                                value="<?= Get::exists('cai-min') ? number_format(Get::get('cai-min'), 0, ',', '.') : '50' ?>"
                            />
                            <input
                                id="hp-range-input-max" type="hidden" name="cai-max"
                                value="<?= Get::exists('car-max') ? number_format(Get::get('car-max'), 0, ',', '.') : '500' ?>"
                            />
                            <div
                                id="hp-range" class="filter-range-slider"
                                data-min="50" data-max="500" data-step="5"
                                data-value-min="<?= Get::exists('cai-min') ? Get::get('cai-min') : '50' ?>"
                                data-value-max="<?= Get::exists('cai-max') ? Get::get('cai-max') : '500' ?>"
                            ></div>
                            <span id="hp-range-min" class="min">
                                <?= Get::exists('cai-min') ? number_format(Get::get('cai-min'), 0, ',', '.') : '50' ?>
                            </span>
                            <span id="hp-range-max" class="max">
                                <?= Get::exists('cai-max') ? number_format(Get::get('cai-max'), 0, ',', '.') : '500' ?>
                            </span>
                        </div>
                    </div>
                    <div>
                        <span class="filter-title">Cutie Viteze</span>
                        <a href="#"
                           class="filter-complex filter-transmission"
                           data-transmission="<?= Car_Model_Car::TRANSMISSION_MANUAL ?>"
                           style="background-image: url(<?= Get::exists('transmisie') && in_array(Car_Model_Car::TRANSMISSION_MANUAL, Get::get('transmisie')) ? Dir::getAssets() . '/default/img/transmission-manual-hover.png' : Dir::getAssets() . '/default/img/transmission-manual.png' ?>)"
                           data-image="<?= Dir::getAssets() ?>/default/img/transmission-manual.png"
                           data-image-hover="<?= Dir::getAssets() ?>/default/img/transmission-manual-hover.png"
                        >m
                            <?= Car_Model_Car::$transmissions[Car_Model_Car::TRANSMISSION_MANUAL] ?>
                        </a>
                        <a href="#"
                           class="filter-complex filter-transmission"
                           data-transmission="<?= Car_Model_Car::TRANSMISSION_AUTOMATIC ?>"
                           style="background-image: url(<?= Get::exists('transmisie') && in_array(Car_Model_Car::TRANSMISSION_AUTOMATIC, Get::get('transmisie')) ? Dir::getAssets() . '/default/img/transmission-automatic-hover.png' : Dir::getAssets() . '/default/img/transmission-automatic.png' ?>)"
                           data-image="<?= Dir::getAssets() ?>/default/img/transmission-automatic.png"
                           data-image-hover="<?= Dir::getAssets() ?>/default/img/transmission-automatic-hover.png"
                        >
                            <?= Car_Model_Car::$transmissions[Car_Model_Car::TRANSMISSION_AUTOMATIC] ?>
                        </a>
                        <a href="#"
                           class="filter-complex filter-transmission"
                           data-transmission="<?= Car_Model_Car::TRANSMISSION_SEMI ?>"
                           style="background-image: url(<?= Get::exists('transmisie') && in_array(Car_Model_Car::TRANSMISSION_SEMI, Get::get('transmisie')) ? Dir::getAssets() . '/default/img/transmission-semi-hover.png' : Dir::getAssets() . '/default/img/transmission-semi.png' ?>)"
                           data-image="<?= Dir::getAssets() ?>/default/img/transmission-semi.png"
                           data-image-hover="<?= Dir::getAssets() ?>/default/img/transmission-semi-hover.png"
                        >
                            <?= Car_Model_Car::$transmissions[Car_Model_Car::TRANSMISSION_SEMI] ?>
                        </a>
                        <a href="#"
                           class="filter-complex filter-transmission"
                           data-transmission="<?= Car_Model_Car::TRANSMISSION_AUTOMATIC_CVT ?>"
                           style="background-image: url(<?= Get::exists('transmisie') && in_array(Car_Model_Car::TRANSMISSION_AUTOMATIC_CVT, Get::get('transmisie')) ? Dir::getAssets() . '/default/img/transmission-automatic-cvt-hover.png' : Dir::getAssets() . '/default/img/transmission-automatic-cvt.png' ?>)"
                           data-image="<?= Dir::getAssets() ?>/default/img/transmission-automatic-cvt.png"
                           data-image-hover="<?= Dir::getAssets() ?>/default/img/transmission-automatic-cvt-hover.png"
                        >
                            <?= Car_Model_Car::$transmissions[Car_Model_Car::TRANSMISSION_AUTOMATIC_CVT] ?>
                        </a>
                    </div>
                    <div>
                        <span class="filter-title">Dotari Suplimentare</span>
                        <? foreach($this->features as $feature): ?>
                            <a href="#"
                               class="filter-complex filter-feature"
                               data-feature="<?= $feature->getId() ?>"
                               style="background-image: url(<?= Get::exists('dotari') && in_array($feature->getId(), Get::get('dotari')) ? $this->image($feature->getHoverImage()) : $this->image($feature->getImage()) ?>)"
                               data-image="<?= $this->image($feature->getImage()) ?>"
                               data-image-hover="<?= $this->image($feature->getHoverImage()) ?>"
                            >
                                <?= $feature->getName() ?>
                            </a>
                        <? endforeach ?>
                    </div>
                </div>
            </div>
            <div style="width: 100%; display: block; float: left;">
                <input type="submit" value="Aplica Filtre" class="apply-filters" />
            </div>
        </div>
    </form>
</section>