<? $brand = $this->car->getBrand() ?>
<? $model = $this->car->getModel() ?>
<? $images = $this->car->getImages() ?>
<? $currency = $this->car->getCurrency() ?>
<div class="car">
    <!-- grid -->
    <a href="<?= $this->car->getUrl() ?>" class="car-grid-container">
        <article class="car-grid">
            <? if($images->getCount() > 0): ?>
                <img src="<?= $this->image($this->car->getFirstImage()->getImage(), 'grid') ?>" title="<?= $this->car->getName() ?>" alt="<?= $this->car->getName() ?>" />
            <? endif ?>
            <div class="car-grid-details">
                <span><?= $this->car->getYear() ?> <?= $brand->getName() ?> <?= $model->getName() ?></span>
                <em>&euro;<?= number_format($this->car->getPrice(), 0, ',', '.') ?></em>
            </div>
            <div class="car-grid-hover">
                <div>
                    <span><?= String::truncate($this->car->getYear() . ' ' . $brand->getName() . ' ' . $model->getName(), 28, true, String::TRUNCATE_CHARACTER) ?></span>
                    <p>
                        <?= number_format($this->car->getKilometers(), 0, ',', '.') ?> km //
                        <?= Car_Model_Car::$bodies[$this->car->getBody()] ?> //
                        <?= number_format($this->car->getMotorisation(), 1) ?> //
                        <?= $this->car->getCylinderNumber() ?> Cilindri //
                        <?= Car_Model_Car::$fuels[$this->car->getFuel()] ?> //
                        <?= $this->car->getHorsePower() ?> CP //
                        <?= $this->car->getGears() ?> Viteze //
                        Cutie <?= Car_Model_Car::$transmissions[$this->car->getTransmission()] ?> //
                        Transmisie <?= Car_Model_Car::$tractor[$this->car->getTraction()] ?>
                    </p>
                    <em>&euro;<?= number_format($this->car->getPrice(), 0, ',', '.') ?></em>
                </div>
            </div>
        </article>
    </a>
    <!-- grid -->

    <!-- list -->
    <a href="<?= $this->car->getUrl() ?>" class="car-list-container" style="display: none;">
        <article class="car-list">
            <div class="photos">
                <div class="small">
                    <? if($secondImage = $this->car->getSecondImage()): ?>
                        <img src="<?= $this->image($secondImage->getImage(), 'list_sec') ?>" alt="<?= $this->car->getName() ?>" />
                    <? endif ?>
                    <br /><br />
                    <? if($thirdImage = $this->car->getThirdImage()): ?>
                        <img src="<?= $this->image($thirdImage->getImage(), 'list_sec') ?>" alt="<?= $this->car->getName() ?>" />
                    <? endif ?>
                </div>
                <div class="big">
                    <? if($firstImage = $this->car->getFirstImage()): ?>
                        <img src="<?= $this->image($firstImage->getImage(), 'list') ?>" alt="<?= $this->car->getName() ?>" />
                    <? endif ?>
                </div>
            </div>
            <div class="details" style="background-image: url('<?= $this->image($brand->getLogoDark()) ?>')">
                <div class="left">
                    <em><?= $this->car->getYear() ?> <?= $brand->getName() ?> <?= $model->getName() ?></em><br />
                        <span>
                            <?= number_format($this->car->getKilometers(), 0, ',', '.') ?> km //
                            <?= Car_Model_Car::$bodies[$this->car->getBody()] ?> //
                            <?= number_format($this->car->getMotorisation(), 1) ?> //
                            <?= $this->car->getCylinderNumber() ?> Cilindri //
                            <?= Car_Model_Car::$fuels[$this->car->getFuel()] ?> //
                            <?= $this->car->getHorsePower() ?> CP //
                            <?= $this->car->getGears() ?> Viteze //
                            Cutie <?= Car_Model_Car::$transmissions[$this->car->getTransmission()] ?> //
                            Transmisie <?= Car_Model_Car::$tractor[$this->car->getTraction()] ?>
                        </span>
                </div>
                <div class="right">
                    <em>&euro;<?= number_format($this->car->getPrice(), 0, ',', '.') ?></em>
                </div>
            </div>
        </article>
    </a>
    <!-- list -->
</div>