<? if($this->slide): ?>
    <div class="ad" style="background-image: url('<?= $this->image($this->slide->getImage()) ?>')">
        <div class="left">
            <em><?= $this->slide->getName() ?></em><br />
            <span><?= nl2br($this->slide->getIntro()) ?></span>
        </div>
        <? if($this->slide->getButtonText() && $this->slide->getButtonUrl()): ?>
            <div class="right">
                <a target="_blank" href="<?= $this->slide->getButtonUrl() ?>"><?= $this->slide->getButtonText() ?></a>
            </div>
        <? endif ?>
    </div>
<? endif ?>