<div id="bg">
    <a href="#" class="nextImageBtn" title="next"></a>
    <a href="#" class="prevImageBtn" title="previous"></a>
    <img src="<?= $this->image($this->first->getImage()) ?>" width="1920" height="1150" id="bgimg" alt="<?= $this->car->getName() ?>" />
</div>
<div id="preloader"></div>
<div id="close">
    <a href="<?= $this->car->getUrl() ?>" title="Close">
        <img src="<?= Dir::getAssets() ?>/default/img/toolbar_cl_icon.png" width="50" height="50" alt="<?= $this->car->getName() ?>"  />
    </a>
</div>
<div id="toolbar">
    <a href="#" title="Maximize" onClick="ImageViewMode('full');return false">
        <img src="<?= Dir::getAssets() ?>/default/img/toolbar_fs_icon.png" width="50" height="50" alt="<?= $this->car->getName() ?>"  />
    </a>
</div>
<div id="thumbnails_wrapper">
    <div id="outer_container">
        <div class="thumbScroller">
            <div class="container">
                <? foreach($this->images as $image): ?>
                <div class="content">
                    <div>
                        <a href="<?= $this->image($image->getImage()) ?>">
                            <img src="<?= $this->image($image->getImage(), 'thumb') ?>" class="thumb" alt="<?= $this->car->getName() ?>" />
                        </a>
                    </div>
                </div>
                <? endforeach ?>
            </div>
        </div>
    </div>
</div>

<?= $this->render(Dir::getLayouts() . '/default/_scripts.phtml') ?>
<?= Bootstrap::getInstance()->_appendScriptInline = '
    <script type="text/javascript">
        //config
        //set default images view mode
        $defaultViewMode = "full"; //full, normal, original
        $tsMargin = 30; //first and last thumbnail margin (for better cursor interaction)
        $scrollEasing = 600; //scroll easing amount (0 for no easing)
        $scrollEasingType = "easeOutCirc"; //scroll easing type
        $thumbnailsContainerOpacity = 0.8; //thumbnails area default opacity
        $thumbnailsContainerMouseOutOpacity = 0.2; //thumbnails area opacity on mouse out
        $thumbnailsOpacity = 0.6; //thumbnails default opacity
        $nextPrevBtnsInitState = "show"; //next/previous image buttons initial state ("hide" or "show")
        $keyboardNavigation = "on"; //enable/disable keyboard navigation ("on" or "off")
        
        //cache vars
        $thumbnails_wrapper = $("#thumbnails_wrapper");
        $outer_container = $("#outer_container");
        $thumbScroller = $(".thumbScroller");
        $thumbScroller_container = $(".thumbScroller .container");
        $thumbScroller_content = $(".thumbScroller .content");
        $thumbScroller_thumb = $(".thumbScroller .thumb");
        $preloader = $("#preloader");
        $toolbar = $("#toolbar");
        $close = $("#close");
        $toolbar_a = $("#toolbar a");
        $bgimg = $("#bgimg");
        $img_title = $("#img_title");
        $nextImageBtn = $(".nextImageBtn");
        $prevImageBtn = $(".prevImageBtn");
        
        $(window).load(function() {
            $toolbar.data("imageViewMode", $defaultViewMode);
        
            if ($defaultViewMode=="full") {
                $toolbar_a.html("<img src=\'' . Dir::getAssets() . '/default/img/toolbar_n_icon.png\' alt=\'img\' width=\'50\' height=\'50\'  />").attr("onClick", "ImageViewMode(\'normal\');return false").attr("title", "Restore");
            } else {
                $toolbar_a.html("<img src=\'' . Dir::getAssets() . '/default/img/toolbar_fs_icon.png\' alt=\'img\' width=\'50\' height=\'50\'  />").attr("onClick", "ImageViewMode(\'full\');return false").attr("title", "Maximize");
            }
        
            ShowHideNextPrev($nextPrevBtnsInitState);
        
            $thumbScroller_container.css("marginLeft",$tsMargin+"px"); //add margin
        
            sliderLeft = $thumbScroller_container.position().left;
            sliderWidth = $outer_container.width();
        
            $thumbScroller.css("width",sliderWidth);
        
            var totalContent = 0;
            var fadeSpeed = 200;
        
            var $the_outer_container = document.getElementById("outer_container");
            var $placement = findPos($the_outer_container);
        
            $thumbScroller_content.each(function () {
                var $this = $(this);
        
                totalContent += $this.innerWidth();
        
                $thumbScroller_container.css("width", totalContent);
                $this.children().children().children(".thumb").fadeTo(fadeSpeed, $thumbnailsOpacity);
            });
        
            $thumbScroller.mousemove(function(e){
                if ($thumbScroller_container.width()>sliderWidth) {
                    var mouseCoords = (e.pageX - $placement[1]);
                    var mousePercentX = mouseCoords/sliderWidth;
                    var destX =- ((((totalContent+($tsMargin*2))-(sliderWidth))-sliderWidth)*(mousePercentX));
                    var thePosA = mouseCoords-destX;
                    var thePosB = destX-mouseCoords;
        
                    if (mouseCoords > destX) {
                        $thumbScroller_container.stop().animate({left: -thePosA}, $scrollEasing,$scrollEasingType);
                    } else if (mouseCoords<destX) {
                        $thumbScroller_container.stop().animate({left: thePosB}, $scrollEasing,$scrollEasingType);
                    } else {
                        $thumbScroller_container.stop();
                    }
                }
            });
        
            $thumbnails_wrapper.fadeTo(fadeSpeed, $thumbnailsContainerOpacity);
            $thumbnails_wrapper.hover(
                function(){
                    var $this = $(this);
        
                    $this.stop().fadeTo("slow", 1);
                },
                function(){
                    var $this = $(this);
        
                    $this.stop().fadeTo("slow", $thumbnailsContainerMouseOutOpacity);
                }
            );
        
            $thumbScroller_thumb.hover(
                function(){
                    var $this = $(this);
        
                    $this.stop().fadeTo(fadeSpeed, 1);
                },
                function(){
                    var $this = $(this);
        
                    $this.stop().fadeTo(fadeSpeed, $thumbnailsOpacity);
                }
            );
        
            $(window).resize(function() {
                FullScreenBackground("#bgimg",$bgimg.data("newImageW"),$bgimg.data("newImageH"));
        
                $thumbScroller_container.stop().animate({left: sliderLeft}, 400,"easeOutCirc");
                var newWidth=$outer_container.width();
                $thumbScroller.css("width",newWidth);
                sliderWidth=newWidth;
                $placement=findPos($the_outer_container);
            });
        
            //load 1st image
            var the1stImg = new Image();
            the1stImg.onload = CreateDelegate(the1stImg, theNewImg_onload);
            the1stImg.src = $bgimg.attr("src");
            $outer_container.data("nextImage",$(".content").first().next().find("a").attr("href"));
            $outer_container.data("prevImage",$(".content").last().find("a").attr("href"));
        });
        
        function BackgroundLoad($this,imageWidth,imageHeight,imgSrc){
            $this.fadeOut("fast",function(){
                $this.attr("src", "").attr("src", imgSrc); //change image source
                FullScreenBackground($this,imageWidth,imageHeight); //scale background image
                $preloader.fadeOut("fast",function(){$this.fadeIn("slow");});
                var imageTitle=$img_title.data("imageTitle");
                if(imageTitle){
                    $this.attr("alt", imageTitle).attr("title", imageTitle);
                    $img_title.fadeOut("fast",function(){
                        $img_title.html(imageTitle).fadeIn();
                    });
                } else {
                    $img_title.fadeOut("fast",function(){
                        $img_title.html($this.attr("title")).fadeIn();
                    });
                }
            });
        }
        
        //mouseover toolbar
        if($toolbar.css("display")!="none"){
            $toolbar.fadeTo("fast", 0.4);
        }
        if($close.css("display")!="none"){
            $close.fadeTo("fast", 0.4);
        }
        $toolbar.hover(
            function(){ //mouse over
                var $this=$(this);
                $this.stop().fadeTo("fast", 1);
            },
            function(){ //mouse out
                var $this=$(this);
                $this.stop().fadeTo("fast", 0.4);
            }
        );
        $close.hover(
            function(){ //mouse over
                var $this=$(this);
                $this.stop().fadeTo("fast", 1);
            },
            function(){ //mouse out
                var $this=$(this);
                $this.stop().fadeTo("fast", 0.4);
            }
        );
        
        //Clicking on thumbnail changes the background image
        $("#outer_container a").click(function(event){
            event.preventDefault();
            var $this=$(this);
            GetNextPrevImages($this);
            GetImageTitle($this);
            SwitchImage(this);
            ShowHideNextPrev("show");
        });
        
        //next/prev images buttons
        $nextImageBtn.click(function(event){
            event.preventDefault();
            SwitchImage($outer_container.data("nextImage"));
            var $this=$("#outer_container a[href=\'"+$outer_container.data("nextImage")+"\']");
            GetNextPrevImages($this);
            GetImageTitle($this);
        });
        
        $prevImageBtn.click(function(event){
            event.preventDefault();
            SwitchImage($outer_container.data("prevImage"));
            var $this=$("#outer_container a[href=\'"+$outer_container.data("prevImage")+"\']");
            GetNextPrevImages($this);
            GetImageTitle($this);
        });
        
        //next/prev images keyboard arrows
        if($keyboardNavigation=="on"){
            $(document).keydown(function(ev) {
                if(ev.keyCode == 39) { //right arrow
                    SwitchImage($outer_container.data("nextImage"));
                    var $this=$("#outer_container a[href=\'"+$outer_container.data("nextImage")+"\']");
                    GetNextPrevImages($this);
                    GetImageTitle($this);
                    return false; // don\'t execute the default action (scrolling or whatever)
                } else if(ev.keyCode == 37) { //left arrow
                    SwitchImage($outer_container.data("prevImage"));
                    var $this=$("#outer_container a[href=\'"+$outer_container.data("prevImage")+"\']");
                    GetNextPrevImages($this);
                    GetImageTitle($this);
                    return false; // don\'t execute the default action (scrolling or whatever)
                }
            });
        }
        
        function ShowHideNextPrev(state){
            if(state=="hide"){
                $nextImageBtn.fadeOut();
                $prevImageBtn.fadeOut();
            } else {
                $nextImageBtn.fadeIn();
                $prevImageBtn.fadeIn();
            }
        }
        
        //get image title
        function GetImageTitle(elem){
            var title_attr=elem.children("img").attr("title"); //get image title attribute
            $img_title.data("imageTitle", title_attr); //store image title
        }
        
        //get next/prev images
        function GetNextPrevImages(curr){
            var nextImage=curr.parents(".content").next().find("a").attr("href");
            if(nextImage==null){ //if last image, next is first
                var nextImage=$(".content").first().find("a").attr("href");
            }
            $outer_container.data("nextImage",nextImage);
            var prevImage=curr.parents(".content").prev().find("a").attr("href");
            if(prevImage==null){ //if first image, previous is last
                var prevImage=$(".content").last().find("a").attr("href");
            }
            $outer_container.data("prevImage",prevImage);
        }
        
        //switch image
        function SwitchImage(img){
            $preloader.fadeIn("fast"); //show preloader
            var theNewImg = new Image();
            theNewImg.onload = CreateDelegate(theNewImg, theNewImg_onload);
            theNewImg.src = img;
        }
        
        //get new image dimensions
        function CreateDelegate(contextObject, delegateMethod){
            return function(){
                return delegateMethod.apply(contextObject, arguments);
            }
        }
        
        //new image on load
        function theNewImg_onload(){
            $bgimg.data("newImageW",this.width).data("newImageH",this.height);
            BackgroundLoad($bgimg,this.width,this.height,this.src);
        }
        
        //Image scale function
        function FullScreenBackground(theItem,imageWidth,imageHeight){
            var winWidth=$(window).width();
            var winHeight=$(window).height();
            if($toolbar.data("imageViewMode")!="original"){ //scale
                var picHeight = imageHeight / imageWidth;
                var picWidth = imageWidth / imageHeight;
                if($toolbar.data("imageViewMode")=="full"){ //fullscreen size image mode
                    if ((winHeight / winWidth) < picHeight) {
                        $(theItem).attr("width",winWidth);
                        $(theItem).attr("height",picHeight*winWidth);
                    } else {
                        $(theItem).attr("height",winHeight);
                        $(theItem).attr("width",picWidth*winHeight);
                    };
                } else { //normal size image mode
                    if ((winHeight / winWidth) > picHeight) {
                        $(theItem).attr("width",winWidth);
                        $(theItem).attr("height",picHeight*winWidth);
                    } else {
                        $(theItem).attr("height",winHeight);
                        $(theItem).attr("width",picWidth*winHeight);
                    };
                }
                $(theItem).css("margin-left",(winWidth-$(theItem).width())/2);
                $(theItem).css("margin-top",(winHeight-$(theItem).height())/2);
            } else { //no scale
                $(theItem).attr("width",imageWidth);
                $(theItem).attr("height",imageHeight);
                $(theItem).css("margin-left",(winWidth-imageWidth)/2);
                $(theItem).css("margin-top",(winHeight-imageHeight)/2);
            }
        }
        
        //Image view mode function - fullscreen or normal size
        function ImageViewMode(theMode){
            $toolbar.data("imageViewMode", theMode);
            FullScreenBackground($bgimg,$bgimg.data("newImageW"),$bgimg.data("newImageH"));
            if(theMode=="full"){
                $toolbar_a.html("<img src=\'' . Dir::getAssets() . '/default/img/toolbar_n_icon.png\' alt=\'img\' width=\'50\' height=\'50\'  />").attr("onClick", "ImageViewMode(\'normal\');return false").attr("title", "Restore");
            } else {
                $toolbar_a.html("<img src=\'' . Dir::getAssets() . '/default/img/toolbar_fs_icon.png\' alt=\'img\' width=\'50\' height=\'50\'  />").attr("onClick", "ImageViewMode(\'full\');return false").attr("title", "Maximize");
            }
        }
        
        //function to find element Position
        function findPos(obj) {
            var curleft = curtop = 0;
            if (obj.offsetParent) {
                curleft = obj.offsetLeft
                curtop = obj.offsetTop
                while (obj = obj.offsetParent) {
                    curleft += obj.offsetLeft
                    curtop += obj.offsetTop
                }
            }
            return [curtop, curleft];
        }
    </script>
'; ?>