<a id="masini"></a>
<?= $this->partial('car/views/buy/_filters.phtml', ['form' => $this->form, 'cars' => $this->cars, 'features' => $this->features]) ?>

<section class="container">
    <div class="wrapper-big">
        <? foreach($this->cars as $index => $car): ?>
            <?= $this->partial('car/views/buy/_item.phtml', ['car' => $car]) ?>
            <? if(($index + 1) % 9 == 0): ?>
                <?= $this->partial('car/views/buy/_slide.phtml', ['slide' => Default_Model_BuySlide::getInstance()->getRandom()]) ?>
            <? endif ?>
        <? endforeach ?>
        <? if($this->cars->getCount() < 9 && !empty($_GET)): ?>
            <div class="ad" style="background-image: url('<?= Dir::getAssets() ?>/default/img/recommendations-icon.png')">
                <div class="left">
                    <em>Nu ai gasit ce iti doresti?</em><br />
                    <span>Arunca o privire si peste alte masini superbe</span>
                </div>
                <div class="right">
                    <a href="<?= $this->page('order-car')->getUrl() ?>">Creeaza Masina Ideala</a>
                </div>
            </div>
            <? foreach($this->other as $index => $car): ?>
                <?= $this->partial('car/views/buy/_item.phtml', ['car' => $car]) ?>
            <? endforeach ?>
        <? endif ?>
    </div>
    <div class="space"></div>
</section>

<?= $this->block('SellMenu') ?>