<section class="container">
    <div class="wrapper">
        <div class="space"></div>
        <section class="checkout finalised">
            <article class="step finished">
                <img src="<?= Dir::getAssets() ?>/default/img/checkout-step1.png" alt="Checkout - Pas 1" />
                <br />
                <span>Sumar</span>
                <br />
                <p>Asigura-te ca ea este aleasa.</p>
            </article>
            <article class="step finished">
                <img src="<?= Dir::getAssets() ?>/default/img/checkout-step2.png" alt="Checkout - Pas 2" />
                <br />
                <span>Livrare</span>
                <br />
                <p>Unde o vei intalni?</p>
            </article>
            <article class="step finished">
                <img src="<?= Dir::getAssets() ?>/default/img/checkout-step3.png" alt="Checkout - Pas 3" />
                <br />
                <span>Pregatit?</span>
                <br />
                <p>Fa-o a ta.</p>
            </article>
            <div class="clearfix"></div>
            <div class="space-small"></div>

            <h1>Felicitari! Masina e a ta.</h1>
            <br />
            <h2>
                Vei primi in scurt timp pe adresa de email instructiuni pentru a finaliza intreg procesul.<br />
                Daca totusi ai nevoie de mai multe informatii, <a href="<?= $this->page('support')->getUrl() ?>">ne poti contacta</a> oricand. Vrem ca acest proces sa fie cat mai comod pentru tine.
            </h2>

            <div class="space-small"></div>
            <form id="checkout-step1" action="<?= $this->page('checkout-step-2')->getUrl() ?>" method="post">
                <?= $this->form->hidden('car_id', [], $this->car->getId()) ?>
                <?= $this->form->hidden('.price', ['id' => 'car-real-price'], $this->car->getTotalPrice()) ?>
                <div class="car-details">
                    <div class="car-image">
                        <? if($this->images->getCount() > 0): ?>
                            <img src="<?= $this->image($this->car->getFirstImage()->getImage(), 'view') ?>" title="<?= $this->car->getName() ?>" alt="<?= $this->car->getName() ?>" />
                        <? endif ?>
                    </div>
                    <div class="car-overview">
                        <div class="text">
                            <span style="padding-top: 17px;">
                                <?= $this->car->getYear() ?> <?= $this->brand->getName() ?> <?= $this->model->getName() ?> | <?= number_format($this->car->getKilometers(), 0, ',', '.') ?> km
                            </span>
                            <p style="padding-bottom: 16px;">
                                <?= Car_Model_Car::$bodies[$this->car->getBody()] ?> //
                                <?= number_format($this->car->getMotorisation(), 1) ?> //
                                <?= $this->car->getCylinderNumber() ?> Cilindri //
                                <?= Car_Model_Car::$fuels[$this->car->getFuel()] ?> //
                                <?= $this->car->getHorsePower() ?> CP //
                                <?= $this->car->getGears() ?> Viteze //
                                Cutie <?= Car_Model_Car::$transmissions[$this->car->getTransmission()] ?> //
                                Transmisie <?= Car_Model_Car::$tractor[$this->car->getTraction()] ?>
                            </p>
                        </div>
                        <div class="badges" style="padding: 26px 20px 55px 20px;">
                            <? if($this->perks->getCount() > 0): ?>
                                <? foreach($this->perks as $perk): ?>
                                    <img src="<?= $this->image($perk->getImage()) ?>" class="tooltip" title="<?= $perk->getName() ?>" alt="<?= $perk->getName() ?>" />
                                <? endforeach ?>
                                <span>Incluse, fara cost aditional</span>
                            <? endif ?>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
    <div class="space-big"></div>
</section>

<?= $this->block('SellMenu') ?>