<? if($this->images->getCount() > 0): ?>
<section class="car-gallery" id="slider">
    <div data-u="slides" class="slider-container">
        <? foreach($this->images as $image): ?>
        <div data-p="225.00">
            <img src="<?= $this->image($image->getImage()) ?>" style="position: absolute; bottom: -50px;" alt="<?= $this->car->getName() ?>" />
        </div>
        <? endforeach ?>
    </div>
    <span data-u="arrowleft" class="jssora22l" data-autocenter="2"></span>
    <span data-u="arrowright" class="jssora22r" data-autocenter="2"></span>
</section>
<? endif ?>
<div class="gallery-details">
    <div class="gallery-container">
        <div class="part1">
            <a href="<?= $this->page('buy')->getUrl() ?>" class="back">Inapoi</a>
            <a href="<?= $this->page('gallery')->getUrl() ?>?car=<?= $this->car->getId() ?>" class="full">Galerie</a>
            <a href="#urmareste" class="follow fancybox">Urmareste</a>
        </div>
        <div class="part2">
            <span style="<?= $this->brand->getLogo() ? 'background-image: url(' . $this->image($this->brand->getLogo(), 'title') . ');' : '' ?> padding-left: 45px;">
                <?= $this->car->getYear() ?> <?= $this->brand->getName() ?> <?= $this->model->getName() ?> | <?= number_format($this->car->getKilometers(), 0, ',', '.') ?> km
            </span>
        </div>
        <div class="part3">
            <em>&euro;<?= number_format($this->car->getPrice(), 0, ',', '.') ?></em>
        </div>
    </div>
</div>
<section id="car-details" style="display: none;">
    <div class="gallery-details">
        <div class="gallery-container">
            <div class="part1">
                <a href="<?= $this->page('buy')->getUrl() ?>" class="back">Inapoi</a>
                <a href="<?= $this->page('gallery')->getUrl() ?>?car=<?= $this->car->getId() ?>" class="full">Galerie</a>
                <a href="#urmareste" class="follow fancybox">Urmareste</a>
            </div>
            <div class="part2">
                <span style="background-image: url('<?= $this->image($this->brand->getLogo(), 'title') ?>'); line-height: 1.6;">
                    <?= $this->car->getYear() ?> <?= $this->brand->getName() ?> <?= $this->model->getName() ?> | <?= number_format($this->car->getKilometers(), 0, ',', '.') ?> km
                </span>
            </div>
            <div class="part3">
                <em style="line-height: 1.3;" class="gallery-price">&euro;<?= number_format($this->car->getPrice(), 0, ',', '.') ?></em>
                <form style="display: inline;" action="<?= $this->page('checkout-step-1')->getUrl() ?>" method="post">
                    <?= $this->form->submit('submit', 'Cumpara', ['class' => 'buy-sticky gallery-buy-text']) ?>
                    <?= $this->form->submit('submit', '&euro;' . number_format($this->car->getPrice(), 0, ',', '.'), ['class' => 'buy-sticky gallery-buy-price']) ?>
                    <?= $this->form->hidden('car_id', [], $this->car->getId()) ?>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="wrapper">
        <div class="generic">
            <? if($this->perks->getCount() > 0): ?>
                <div class="car-certifications">
                    <div class="buttons">
                        <? foreach($this->perks as $index => $perk): ?>
                            <a href="#certification-<?= $index ?>" class="certification<?= $index == 0 ? ' active' : '' ?>">
                                <img src="<?= $this->image($perk->getImage()) ?>" alt="<?= $perk->getName() ?>" />
                            </a>
                        <? endforeach ?>
                    </div>
                    <? foreach($this->perks as $index => $perk): ?>
                    <div id="certification-<?= $index ?>" class="certification-details certification-<?= $index ?><?= $index == 0 ? ' active' : '' ?>"<?= $perk->getColor() != '' && String::startsWith($perk->getColor(), '#') ? ' style="border-color: ' . $perk->getColor() . ' !important;"' : '' ?>>
                        <span><?= $perk->getName() ?></span>
                        <p><?= nl2br($perk->getContent()) ?></p>
                    </div>
                    <? endforeach; ?>
                </div>
            <? endif ?>
            <? if($this->features->getCount() > 0): ?>
                <div class="car-features">
                    <? foreach($this->features as $index => $feature): ?>
                    <div class="tooltip feature" title="<?= $feature->getName() ?>" style="background-image: url('<?= $this->image($feature->getImage()) ?>')" data-image="<?= $this->image($feature->getImage()) ?>" data-image-hover="<?= $this->image($feature->getHoverImage()) ?>"></div>
                    <? endforeach ?>
                </div>
            <? endif ?>
            <? if($this->car->getPrice() > 0): ?>
                <div class="car-buy">
                    <img src="<?= Dir::getAssets() ?>/default/img/ribbon.png" alt="Livrare" />
                    <br /><br />
                    <span>Livrata la usa ta<br /><small>incepand de la &euro;0</small></span>
                    <br /><br />
                    <form action="<?= $this->page('checkout-step-1')->getUrl() ?>" method="post">
                        <?= $this->form->submit('submit', 'Cumpara') ?>
                        <?= $this->form->hidden('car_id', [], $this->car->getId()) ?>
                    </form>
                </div>
            <? endif ?>
        </div>
    </div>
</section>

<section class="container">
    <div class="wrapper">
        <h1>Rezultatele Verificarii</h1>
        <article id="verifications" class="box">
            <h2>Lista Verificarilor</h2>
            <div>
                <span>Basics</span>
                <ul>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_basics_marca_model_declarat') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Marca / Model Declarat</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_basics_culoare_declarata') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Culoare Declarata</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_basics_tip_caroserie') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Tip Caroserie</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_basics_nr_km') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Nr. Kilometri</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_basics_acte_inmatriculare') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Actele de Inmatriculare</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_basics_asigurare') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Asigurarea</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_basics_verificare_vinieta') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Verificare Vinieta</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_basics_itp') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">ITP</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_basics_proprietar') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Propietar</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_basics_serie_vin') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Seria VIN</li>
                </ul>

                <span>Exterior</span>
                <ul>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_exterior_plafon') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Plafon</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_exterior_parbriz') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Parbriz</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_exterior_stergatoare') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Stergatoare</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_exterior_capota') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Capota</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_exterior_impact_pietre') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Impact Pietre</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_exterior_faruri') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Faruri</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_exterior_bumper_fata') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Bumper Fata</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_exterior_aripi_fata') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Aripi Fata</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_exterior_stare_vopsea') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Starea Vopselii</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_exterior_proiectoare') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Proiectoare</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_exterior_sigla') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Sigla</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_exterior_grilaj') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Grilaj</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_exterior_luneta') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Luneta</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_exterior_stergator_spate') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Stergator Spate</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_exterior_iluminare_spate') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Iluminare Numar</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_exterior_stopuri') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Stopuri</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_exterior_bara_spate') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Bara Spate</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_exterior_zgarieturi') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Zgarieturi Fine Bara Spate</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_exterior_aripi_spate') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Aripi Spate</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_exterior_teava_esapament') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Teava Esapament</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_exterior_sigla_spate') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Sigla Spate</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_exterior_antena_radio') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Antena Radio</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_exterior_usa_rezervor') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Usa Acces Rezervor</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_exterior_aliniament') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Aliniament General</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_exterior_fete_usi') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Starea Usilor</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_exterior_semn_accident') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Orice Semn de Accident</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_exterior_praguri') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Oglinzi (integrabilitate)</li>
                </ul>

                <span>Functionabile - Ext</span>
                <ul>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_functionabile_faruri') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Faruri</li>
                    <li style="padding-top: 0; background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_functionabile_curatatoare_faruri') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Curatatoare Faruri (daca exista)</li>
                    <li style="padding-top: 0; background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_functionabile_curatator_parbriz') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Curatator Parbriz</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_functionabile_proiectoare') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Proiectoare</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_functionabile_semnalizari_fata') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Semnalizari Fata</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_functionabile_stop_frana') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Stop Frana</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_functionabile_stopuri_ceata') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Stopuri Ceata</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_functionabile_semnalizari_spate') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Semnalizari Spate</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_functionabile_avarii') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Avarii</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_functionabile_manere') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Manere</li>
                    <li style="padding-top: 0; background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_functionabile_sistem_decapotare') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Sistem Decapotare (daca exista)</li>
                    <li style="padding-top: 0; background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_functionabile_comenzi_telecomanda') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Comenzi Telecomanda (daca exista)</li>
                    <li style="padding-top: 0; background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_functionabile_oglinzi_rabatabile_electric') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Oglinzi Rabatabile Electric (daca exista)</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_functionabile_alarma') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Alarma (daca exista)</li>
                </ul>

                <span>Functionabile - Int</span>
                <ul>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_geamuri') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Geamuri</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_oglinzi') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Oglinzi (mecanism)</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_scaune_ajustabile_electric') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Scaune Ajustabil Electric</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_climatizare') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Climatizare</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_incalzire_scaune') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Incalzirea In Scaune</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_dezaburire') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Dezaburirea</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_lumini_interioare') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Lumini Interioare</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_trapa') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Trapa</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_comenzi_volan') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Comenzi Volan</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_sistem_audio') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Sistemul Audio</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_computer_bord') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Computer Bord</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_claxon') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Claxonul</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_frana_mana') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Frana de Mana</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_navigatie') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Navigatia</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_erori_bord') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Erori bord</li>
                </ul>

                <span>Interior - Detalii</span>
                <ul>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_fete_usi_1') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Fete Usi</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_praguri_1') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Praguri</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_pedale') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Pedale</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_chedere') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Chedere</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_cotiere_usi') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Cotiere Usi</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_manere_usi') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Manere Usi</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_mocheta') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Mocheta</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_scaune_centuri') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Scaune</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_centuri') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Centuri</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_stalpi') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Stalpi</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_volan') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Volanul</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_consola_principal') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Consola principala</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_schimbator') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Schimbatorul</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_compartimente') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Compartimente</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_suport_pahare') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Suport pahare</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_cheie') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Cheia</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_cotiera_spate') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Cotiera Spate</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_interior_portbagaj') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Interior portbagaj</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_interior_kit_roata_rezerva') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Kit Roata de Rezerva</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_interior_interior_kit_urgenta') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Kit Urgenta</li>
                </ul>

                <span>Sub Capota</span>
                <ul>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_subcapota_fluide') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Fluidele - conditie si nivel</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_subcapota_semne_rugina') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Semne de Rugina</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_subcapota_balamale') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Balamale</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_subcapota_elemente_fabrica') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Elemente Din Fabrica</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_subcapota_curele') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Curele</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_subcapota_servodirectie') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Lichid Servodirectie</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_subcapota_baterie') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Baterie</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_subcapota_lichid_frana') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Lichid de Frana</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_subcapota_aliniere_elemente') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Alinierea Elementelor</li>
                </ul>

                <span>Roti</span>
                <ul>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_roti_cauciucuri') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Starea Anvelopelor</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_roti_jante') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Jante</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_roti_suruburi') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Prezoane</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_roti_roata_rezerva') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Roata de Rezerva</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_roti_kit_schimbare_anvelopa') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Kit Schimbare Anvelopa</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_roti_placute_frana') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Placute de Frana</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_roti_presiune_cauciucuri') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Presiunea in Anvelope</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_roti_suspensie') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Suspensia</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_roti_stare_cauciucuri') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Dimensiunea Anvelopelor</li>
                </ul>

                <span>Sub Masina</span>
                <ul>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_submasina_sasiu') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Scut</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_submasina_evacuare') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Evacuare</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_submasina_amortizoare') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Amortizoare</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_submasina_bielete') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Bielete</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_submasina_dieferential') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Scurgeri</li>
                </ul>

                <span>In Mers</span>
                <ul>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_inmers_stare_motor') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Starea Motorului</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_inmers_stare_suspensii') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Starea Suspensiilor</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_inmers_mers_stare_cauciucuri') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Starea Cauciucurilor</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_inmers_performanta_motor') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Performanta Motorului</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_inmers_performanta_directie') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Performanta Directiei</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_inmers_demaraj') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Demarajul</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_inmers_mers_evacuare') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Evacuarea</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_inmers_temperatura_motor') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Temperatura Motorului</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_inmers_sunete_vibratii') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Identificarea Sunetelor sau Vibratiilor Neadecvate</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_inmers_transmisie') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Transmisia</li>
                    <li style="background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_inmers_ambreiaj') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Ambreiajul</li>
                    <li style="padding-top: 0; background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_inmers_performanta_cutie_viteze') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Performata Cutiei de Viteze la Rece/Cald</li>
                    <li style="padding-top: 0; background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_inmers_directie_linie_dreapta') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Directia in Linie Dreapta</li>
                    <li style="padding-top: 0; background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_inmers_directie_franare_brusca') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Directia Masinii la Franare Brusca</li>
                    <li style="padding-top: 0; background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_inmers_servodirectie') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Servodirectia</li>
                    <li style="padding-top: 0; background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_inmers_testare_moduri_masina') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Testare Moduri (daca exista)</li>
                    <li style="padding-top: 0; background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_inmers_testare_navigatie_gps') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Testarea Navigatiei GPS (daca exista)</li>


                    <li style="padding-top: 0; background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_inmers_pilot_automat') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Pilot Automat (daca exista)</li>
                    <li style="padding-top: 0; background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_inmers_line_assist') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Line Assist (daca exista)</li>
                    <li style="padding-top: 0; background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_inmers_park_distance_control') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Park Distance Control (daca exista)</li>
                    <li style="padding-top: 0; background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_inmers_senzori_parcare') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Senzori Parcare (daca exista)</li>
                    <li style="padding-top: 0; background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_inmers_asistenta_franare') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Asistenta la Franare (daca exista)</li>
                    <li style="padding-top: 0; background-image: url('<?= Dir::getAssets() . '/default/' ?><?= $this->car->getData('v_inmers_44') == 1 ? 'img/pass.png' : 'img/fail.png' ?>')">Testare 4x4 (daca exista)</li>

                </ul>
                <div class="space"></div>
            </div>
        </article>
        <article id="defects" class="box">
            <h2>Defecte</h2>
            <div>
                <div class="tab">
                    <a href="#exterior" class="active">Exterior</a>
                    <a href="#interior">Interior</a>
                </div>
                <div class="clearfix"></div>
                <div id="exterior" class="active">
                    <? if($this->car->getExteriorDefects()): ?>
                        <img src="<?= $this->image($this->car->getExteriorDefects()) ?>" alt="Defecte Exterioare" />
                    <? else: ?>
                        Nicio imagine disponibila
                        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                    <? endif ?>
                </div>
                <div id="interior">
                    <? if($this->car->getInteriorDefects()): ?>
                        <img src="<?= $this->image($this->car->getInteriorDefects()) ?>" alt="Defecte Interioare" />
                    <? else: ?>
                        Nicio imagine disponibila
                        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                    <? endif ?>
                </div>
                <!--<a href="<?/*= $this->page('gallery')->getUrl() */?>?car=<?/*= $this->car->getId() */?>" class="defects-gallery">Galerie Defecte</a>-->
            </div>
        </article>
        <article id="istoric" class="box">
            <h2>Istoric</h2>
            <div style="padding-top: 60px;">
                <img src="<?= Dir::getAssets() ?>/default/img/pass-big.png" alt="Istoric" />
                <br />
                <span>Nicio problema identificata</span>
                <br />
                <form action="<?= $this->url(['module' => 'car', 'controller' => 'buy', 'action' => 'report']) ?>" method="post">
                    <?= $this->form->text('email', ['placeholder' => 'Adresa ta de email']) ?>
                    <?= $this->form->submit('submit', 'Trimite-mi o copie a raportului') ?>
                    <?= $this->form->hidden('car', [], $this->car->getId()) ?>
                </form>
                <!--<br />
                <p>Istoricul complet al vehiculului este oferit de</p>
                <br />
                <img src="<?/*= Dir::getAssets() */?>/default/img/auto-dna.png" />-->
            </div>
        </article>
        <? if($this->mechanic): ?>
        <article id="mechanic" class="box-small">
            <div>
                <span>Verificata de <strong><?= $this->mechanic->getFirstName() ?> <?= $this->mechanic->getLastName() ?></strong></span>
                <br />
                <? if($this->mechanic->getImage()): ?>
                    <img src="<?= $this->image($this->mechanic->getImage()) ?>" alt="<?= $this->mechanic->getFirstName() ?> <?= $this->mechanic->getLastName() ?>" />
                    <br />
                <? endif ?>
                <? if($this->mechanic->getCertifications()->getCount() > 0): ?>
                    <? foreach($this->mechanic->getCertifications() as $certification): ?>
                        <div class="badge">
                            <img src="<?= $this->image($certification->getImage()) ?>" alt="<?= $certification->getName() ?>" />
                            <br />
                            <span><?= $certification->getName() ?></span>
                        </div>
                    <? endforeach ?>
                <? endif ?>
                <br />
                <p>Ai nevoie de informatii suplimentare?</p>
                <br />
                <a href="#intreaba" class="fancybox">Intreaba!</a>
                <br />
                <small>*Raspunsurile vin direct de la macanicul ce a inspectat aceasta masina.</small>
            </div>
        </article>
    <? endif ?>
    </div>
</section>

<section class="container">
    <div class="wrapper">
        <h1>Detaliile Masinii</h1>
        <article id="characteristics" class="box">
            <h2>Caracteristici</h2>
            <div style="height: 410px; padding: 10px 20px;">
                <p><span>VIN:</span>&nbsp;<?= $this->car->getVin() ?: '-' ?></p>
                <p><span>Marca:</span>&nbsp;<?= $this->brand->getName() ?: '-' ?></p>
                <p><span>Clasa:</span>&nbsp;<?= $this->model->getName() ?: '-' ?></p>
                <p><span>Model:</span>&nbsp;<?= $this->car->getType() ?: '-' ?></p>
                <p><span>An Fabricatie:</span>&nbsp;<?= $this->car->getYear() ?: '-' ?></p>
                <p><span>Caroserie:</span>&nbsp;<?= Car_Model_Car::$bodies[$this->car->getBody()] ?: '-' ?></p>
                <p><span>Culoare Exterior:</span>&nbsp;<?= $this->e_color->getName() ?: '-' ?></p>
                <p><span>Culoare Interior:</span>&nbsp;<?= $this->i_color->getName() ?: '-' ?></p>
                <p><span>Transmisie:</span>&nbsp;<?= Car_Model_Car::$transmissions[$this->car->getTransmission()] ?: '-' ?></p>
                <p><span>Tractiune:</span>&nbsp;<?= Car_Model_Car::$tractor[$this->car->getTraction()] ?: '-' ?></p>
                <p><span>Numar Usi:</span>&nbsp;<?= $this->car->getDoorNumber() ?: '-' ?></p>
                <p><span>Tara Origine:</span>&nbsp;<?= $this->car->getOriginCountry() ?: '-' ?></p>
            </div>
        </article>
        <article id="options" class="box">
            <h2>Optiuni</h2>
            <div style="height: 410px; padding: 10px 20px;">
                <? if($this->options->getCount() > 0): ?>
                    <ul>
                        <? foreach($this->options as $option): ?>
                            <li><?= $option->getName() ?></li>
                        <? endforeach ?>
                    </ul>
                <? else: ?>
                    <ul>
                        <li>Nicio optiune disponibila</li>
                    </ul>
                <? endif ?>
            </div>
        </article>
        <article id="engine" class="box">
            <h2>Motor</h2>
            <div style="height: 410px; padding: 10px 20px;">
                <div class="gas" style="margin-top: 21px;">
                    <div style="background-image: url('<?= Dir::getAssets() ?>/default/img/gas-mixt.png')"><?= $this->car->getMixtConsumption() ?: '-' ?></div>
                    <p>Mixt</p>
                </div>
                <div class="gas" style="margin-top: 21px;">
                    <div style="background-image: url('<?= Dir::getAssets() ?>/default/img/gas-urban.png')"><?= $this->car->getUrbanConsumption() ?: '-' ?></div>
                    <p>Urban</p>
                </div>
                <div class="gas" style="margin-top: 21px;">
                    <div style="background-image: url('<?= Dir::getAssets() ?>/default/img/gas-rural.png')"><?= $this->car->getRuralConsumption() ?: '-' ?></div>
                    <p>Extraurban</p>
                </div>
                <br /><br /><br /><br /><br /><br /><br />
                <p><span>Capacitate Cilindrica:</span>&nbsp;<?= $this->car->getCylinderCapacity() ?: '-' ?> cm<sup>3</sup></p>
                <p><span>Numar Cilindri:</span>&nbsp;<?= $this->car->getCylinderNumber() ?: '-' ?></p>
                <p><span>Cuplu:</span>&nbsp;<?= $this->car->getCouple() ?: '-' ?></p>
                <p><span>Cai Putere:</span>&nbsp;<?= $this->car->getHorsePower() ?: '-' ?></p>
                <p><span>Combustibil:</span>&nbsp;<?= Car_Model_Car::$fuels[$this->car->getFuel()] ?: '-' ?></p>
                <p><span>Norma Poluare:</span>&nbsp;<?= Car_Model_Car::$pollutions[$this->car->getPollution()] ?: '-' ?></p>
                <p><span>Tipul Turbinei:</span>&nbsp;<?= $this->car->getTurbineType() ?: '-' ?></p>
            </div>
        </article>
        <? if($this->car->getBrochure()): ?>
        <article id="brochure" class="box-small">
            <div style="height: 466px;">
                <br /><br /><br /><br />
                <span>Vizualizeaza Brosura <br /><strong>Producatorului</strong></span>
                <br />
                <? if($this->brand->getRealLogo()): ?>
                    <img src="<?= $this->image($this->brand->getRealLogo()) ?>" alt="<?= $this->brand->getName() ?>" />
                    <br />
                <? endif ?>
                <p>Vezi ce spune producatorul despre aceasta masina.</p>
                <br />
                <a href="<?= Dir::getUploads() . '/file/' . $this->car->getBrochure() ?>" target="_blank">Vizualizeaza</a>
            </div>
        </article>
        <? endif ?>
    </div>
    <div class="space"></div>
</section>

<div id="urmareste" class="follow-car" style="display: none;">
    <p class="follow-car-title">Urmareste Masina</p>
    <span class="follow-car-description">Introdu adresa de email pentru a fi la curent cu ultimele noutati despre aceasta masina.</span>
    <form action="<?= $this->page('follow')->getUrl() ?>" method="post" class="follow-car-form">
        <?= $this->form->text('email', ['placeholder' => 'Adresa de email']) ?>
        <?= $this->form->hidden('.car', [], $this->car->getId()) ?>
        <?= $this->form->submit('submit', 'Urmareste') ?>
    </form>
</div>

<div id="intreaba" class="follow-car" style="display: none;">
    <p class="follow-car-title">Intreaba Mecanicul</p>
    <span class="follow-car-description">Vorbeste direct cu mecanicul ce a inspectat aceasta masina despre orice nelamurire pe care o ai.</span>
    <form action="<?= $this->page('ask')->getUrl() ?>" method="post" class="follow-car-form">
        <?= $this->form->text('email', ['placeholder' => 'Adresa de email', 'style' => 'text-align: left;']) ?>
        <?= $this->form->text('phone', ['placeholder' => 'Numarul tau de telefon', 'style' => 'text-align: left;']) ?>
        <?= $this->form->textarea('message', ['placeholder' => 'Intrebarea ta...']) ?>
        <?= $this->form->hidden('.car', [], $this->car->getId()) ?>
        <?= $this->form->submit('submit', 'Intreaba', ['style' => 'text-align: left; width: auto;']) ?>
    </form>
</div>

<?= $this->block('SellMenu') ?>

<? Bootstrap::getInstance()->_appendScriptInline = '
    <script type="text/javascript">
        $(function(){
            $(window).on("scroll", function(e) {
                if ($(window).scrollTop() > 900) {
                    $(\'header\').css(\'position\', \'static\');
                    $(\'#car-details\').addClass(\'sticky\').show();
                } else {
                    $(\'header\').css(\'position\', \'fixed\');
                    $(\'#car-details\').removeClass(\'sticky\').hide();
                }
            });
        });
    </script>
'; ?>
