<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="name">Name</label>
                <?= $this->form->text('name', ['id' => 'name']) ?>
            </div>
            <div class="row">
                <label for="image">Image</label>
                <?= $this->form->image('image', 'car_feature', ['id' => 'image']) ?>
            </div>
            <div class="row">
                <label for="hover_image">Hover Image</label>
                <?= $this->form->image('hover_image', 'car_feature_hover', ['id' => 'hover_image']) ?>
            </div>
            <div class="row">
                <label for="show_in_filters">Show In Filters</label>
                <?= $this->form->selectChosen('show_in_filters', Car_Model_Feature::$filters, null, 'Show In Filters', false, ['id' => 'show_in_filters']) ?>
            </div>
        </div>
        <div class="left">
            <?= Admin_View::cancelButton() ?>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>