<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="name">Name</label>
                <?= $this->form->text('name', ['id' => 'name']) ?>
            </div>
            <div class="row">
                <label for="image">Image</label>
                <?= $this->form->image('image', 'car_feature', ['id' => 'image']) ?>
            </div>
            <? if($this->item->getImage()): ?>
                <?= Admin_View::showImage('image', $this->item->getImage()) ?>
            <? endif ?>
            <div class="row">
                <label for="hover_image">Hover Image</label>
                <?= $this->form->image('hover_image', 'car_feature_hover', ['id' => 'hover_image']) ?>
            </div>
            <? if($this->item->getHoverImage()): ?>
                <?= Admin_View::showImage('hover_image', $this->item->getHoverImage()) ?>
            <? endif ?>
            <div class="row">
                <label for="show_in_filters">Show In Filters</label>
                <?= $this->form->selectChosen('show_in_filters', Car_Model_Feature::$filters, $this->item->getShowInFilters(), 'Show In Filters', false, ['id' => 'show_in_filters']) ?>
            </div>
        </div>

        <!-- Identifier for the entity to be modified -->
        <input type="hidden" name="identifier" value="<?= $this->item->getId() ?>" />
        <!-- Identifier for the entity to be modified -->

        <div class="left">
            <?= Admin_View::cancelButton() ?>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>