.autocomplete-suggestions { background: #fbfbfb; overflow: auto; border-radius: 10px; }
.autocomplete-suggestion { padding: 6px 10px; white-space: nowrap; overflow: hidden; text-align: center; font-family: "Segoe Semibold"; font-size: 1em; color: #484848; }
.autocomplete-selected { color: #00EECF; font-weight: 700; cursor: pointer; }
.autocomplete-suggestions strong { font-weight: normal; color: #00EECF; }
.autocomplete-group { padding: 10px 20px; }