/* jssor slider bullet navigator skin 05 css */
/*
.jssorb05 div           (normal)
.jssorb05 div:hover     (normal mouseover)
.jssorb05 .av           (active)
.jssorb05 .av:hover     (active mouseover)
.jssorb05 .dn           (mousedown)
*/
.jssorb05 {
    position: absolute;
    bottom:24px;right:24px;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    /* size of bullet elment */
    width: 24px;
    height: 24px;
    background: url('../img/slider/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div { background-position: -4px -3px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -34px -3px; }
.jssorb05 .av { background-position: -34px -3px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -34px -3px; }

/* jssor slider arrow navigator skin 22 css */
/*
.jssora22l                  (normal)
.jssora22r                  (normal)
.jssora22l:hover            (normal mouseover)
.jssora22r:hover            (normal mouseover)
.jssora22l.jssora22ldn      (mousedown)
.jssora22r.jssora22rdn      (mousedown)
*/
.jssora22l, .jssora22r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 47px;
    height: 98px;
    cursor: pointer;
    background: url('../img/slider/a22.png') center center no-repeat;
    overflow: hidden;
}
.jssora22l { background-position: 0px 0px; top:0px;left:50px;}
.jssora22r { background-position: -47px -0px; top:0px;right:50px;}

div.slider-container{
    cursor: default; position: relative; top: 0px; left: 0px; width: 1920px; height: 800px; overflow: hidden;
}

div.loading-container{
    position: absolute; top: 0px; left: 0px;
}

a.slider-button{
    position: absolute; top: 550px; left: 230px; width: auto; height: 120px; font-size: 2em; color: #FFF; font-family: 'Segoe Semilight'; text-decoration: underline
}

p.slider-description{
    position: absolute; top: 350px; left: 230px; width: 900px; height: 120px; font-size: 2.25em; color: #FFF; font-family: 'Segoe Semilight'
}

span.slider-title{
    position: absolute; top: 130px; left: 230px; height: 120px; font-size: 6em; color: #FFF; font-family: 'Arciform';
}