<section class="sell-breadcrumbs">
    <? if($this->breadcrumbs): ?>
        <ul>
            <? foreach($this->breadcrumbs as $index => $breadcrumb): ?>
                <li<?= $breadcrumb['current'] === true ? ' class="current"' : '' ?>>
                    <?= $breadcrumb['name'] ?>
                </li>
            <? endforeach ?>
        </ul>
    <? endif ?>
</section>