<section class="sell-breadcrumbs">
    <? if($this->breadcrumbs): ?>
    <ul>
        <? foreach($this->breadcrumbs as $index => $breadcrumb): ?>
        <li<?= $breadcrumb['current'] === true ? ' class="current"' : '' ?>>
            <?= $breadcrumb['name'] ?>
        </li>
        <? endforeach ?>
    </ul>
    <? endif ?>
</section>

<section class="container">
    <form action="<?= $this->url() ?>" method="post" id="sell-form">
        <section class="content-section">
            <h1>Programeaza inspectia masinii tale</h1>
            <h2>Spune-ne unde putem veni sa vedem masina</h2>
            <div class="car-map">
                <?= $this->form->text('.address[address]', ['id' => 'car-street', 'placeholder' => 'Introdu adresa unde putem vedea masina'], $this->address ? $this->address->getAddress() : null) ?>
                <?= $this->form->submit('submit', 'Spune-ne cand ne poti arata masina', ['class' => 'submit-main submit-map']) ?>
                <div id="map-canvas" style="width: 100%; height: 500px;"></div>
            </div>
        </section>
        <?= $this->form->submit('submit', '>', ['class' => 'submit-next']) ?>
        <a href="<?= $this->page('sell-step-2')->getUrl() ?>" class="submit-previous"><</a>
    </form>
</section>

<?= $this->block('StepBreadcrumb') ?>

<?php

$this->_appendScript .= '<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true&v=3.exp&key=AIzaSyDp3W7K1dBtFiT3eb9cA1PGayRr27zf7mA"></script>';
$this->_appendScriptInline .= '
    <script type="text/javascript">
        google.maps.event.addDomListener(window, "load", displayMap);

        function displayMap() {
            var styles = [
                {
                    "featureType": "administrative",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#444444"
                        }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#f2f2f2"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "all",
                    "stylers": [
                        {
                            "saturation": -100
                        },
                        {
                            "lightness": 45
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "simplified"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#46bcec"
                        },
                        {
                            "visibility": "on"
                        }
                    ]
                }
            ];

            var mapOptions = {
                center: new google.maps.LatLng(44.429900, 26.1013531),
                zoom: 13,
                styles: styles,
                scrollwheel: false
            };

            var map         = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
            var geocoder    = new google.maps.Geocoder();

            $("body").on("keyup", "#car-street", function(){
                clearInterval(timer);

                var timer = setTimeout(function(){
                    geocodeAddress(geocoder, map);
                }, 1500);
            });
        }

        function geocodeAddress(geocoder, resultsMap) {
            var address = $("#car-street").val();

            geocoder.geocode({"address": address}, function (results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    resultsMap.setCenter(results[0].geometry.location);
                    resultsMap.setZoom(18);

                    var marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location,
                        zoom: 20
                    });
                }
            });
        }
    </script>
';

?>