<section class="sell-breadcrumbs">
    <? if($this->breadcrumbs): ?>
    <ul>
        <? foreach($this->breadcrumbs as $index => $breadcrumb): ?>
        <li<?= $breadcrumb['current'] === true ? ' class="current"' : '' ?>>
            <?= $breadcrumb['name'] ?>
        </li>
        <? endforeach ?>
    </ul>
    <? endif ?>
</section>

<section class="container">
    <form action="<?= $this->url() ?>" method="post" id="sell-form">
        <? if($this->availabilities->getCount() > 0): ?>
            <? foreach($this->availabilities as $availability): ?>
                <input type="hidden" class="<?= $availability->getMonth() ?>-<?= $availability->getDay() ?>-<?= $availability->getHour() ?>" name="data[<?= $availability->getMonth() ?><?= $availability->getDay() ?><?= $availability->getHour() ?>][month]" value="<?= $availability->getMonth() ?>" />
                <input type="hidden" class="<?= $availability->getMonth() ?>-<?= $availability->getDay() ?>-<?= $availability->getHour() ?>" name="data[<?= $availability->getMonth() ?><?= $availability->getDay() ?><?= $availability->getHour() ?>][day]" value="<?= $availability->getDay() ?>" />
                <input type="hidden" class="<?= $availability->getMonth() ?>-<?= $availability->getDay() ?>-<?= $availability->getHour() ?>" name="data[<?= $availability->getMonth() ?><?= $availability->getDay() ?><?= $availability->getHour() ?>][hour]" value="<?= $availability->getHour() ?>" />
            <? endforeach ?>
        <? endif ?>

        <div class="wrapper">
            <section class="content-section">
                <h1>Spune-ne cand e perfect pentru tine</h1>
                <h2>Alege intervalele in care poti primi vizita noastra</h2>
                <div class="space"></div>
                <? foreach ($this->period as $index => $period): ?>
                    <article class="interval">
                        <div class="day-container">
                            <span class="day"><?= $period->format("D") ?><br /><em><?= $period->format("d") ?></em></span>
                        </div>
                        <div class="hours-container">
                            <a href="#" class="hours<?= in_array($period->format("m") . $period->format("d") . '08-10', $this->selectedAvailabilities) ? ' current' : '' ?>" data-id="<?= $period->format("m") . $period->format("d") . '08-10' ?>" data-month="<?= $period->format("m") ?>" data-day="<?= $period->format("d") ?>" data-hours="08-10" data-index="<?= $index ?>">08-10</a>
                            <a href="#" class="hours<?= in_array($period->format("m") . $period->format("d") . '10-12', $this->selectedAvailabilities) ? ' current' : '' ?>" data-id="<?= $period->format("m") . $period->format("d") . '10-12' ?>" data-month="<?= $period->format("m") ?>" data-day="<?= $period->format("d") ?>" data-hours="10-12" data-index="<?= $index ?>">10-12</a>
                            <a href="#" class="hours<?= in_array($period->format("m") . $period->format("d") . '12-14', $this->selectedAvailabilities) ? ' current' : '' ?>" data-id="<?= $period->format("m") . $period->format("d") . '12-14' ?>" data-month="<?= $period->format("m") ?>" data-day="<?= $period->format("d") ?>" data-hours="12-14" data-index="<?= $index ?>">12-14</a>
                            <a href="#" class="hours<?= in_array($period->format("m") . $period->format("d") . '14-16', $this->selectedAvailabilities) ? ' current' : '' ?>" data-id="<?= $period->format("m") . $period->format("d") . '14-16' ?>" data-month="<?= $period->format("m") ?>" data-day="<?= $period->format("d") ?>" data-hours="14-16" data-index="<?= $index ?>">14-16</a>
                            <a href="#" class="hours<?= in_array($period->format("m") . $period->format("d") . '16-18', $this->selectedAvailabilities) ? ' current' : '' ?>" data-id="<?= $period->format("m") . $period->format("d") . '16-18' ?>" data-month="<?= $period->format("m") ?>" data-day="<?= $period->format("d") ?>" data-hours="16-18" data-index="<?= $index ?>">16-18</a>
                            <a href="#" class="hours<?= in_array($period->format("m") . $period->format("d") . '18-20', $this->selectedAvailabilities) ? ' current' : '' ?>" data-id="<?= $period->format("m") . $period->format("d") . '18-20' ?>" data-month="<?= $period->format("m") ?>" data-day="<?= $period->format("d") ?>" data-hours="18-20" data-index="<?= $index ?>">18-20</a>
                        </div>
                    </article>
                <? endforeach ?>
                <div class="space"></div>
            </section>
        </div>
        <?= $this->form->submit('submit', 'Programeaza Inspectia', ['class' => 'submit-main']) ?>
        <div class="space"></div>
        <p class="sell-disclaimer">
            Inainte sa programezi inspectia, te rugam sa citesti <a href="<?= $this->page('legal')->getUrl() ?>">Termenii si Conditiile</a> si <a href="<?= $this->page('legal-privacy')->getUrl() ?>">Politica de Confidentialitate</a>.<br />Confirmand inspectia masinii, esti de acord cu acestea.
        </p>
        <div class="space"></div>
        <?= $this->form->submit('submit', '>', ['class' => 'submit-next']) ?>
        <a href="<?= $this->page('sell-step-3')->getUrl() ?>" class="submit-previous"><</a>
    </form>
</section>

<?= $this->block('StepBreadcrumb') ?>