<section class="sell-breadcrumbs">
    <? if($this->breadcrumbs): ?>
    <ul>
        <? foreach($this->breadcrumbs as $index => $breadcrumb): ?>
        <li<?= $breadcrumb['current'] === true ? ' class="current"' : '' ?>>
            <?= $breadcrumb['name'] ?>
        </li>
        <? endforeach ?>
    </ul>
    <? endif ?>
</section>

<section class="container">
    <div class="wrapper">
        <form action="#" method="post" id="sell-form">
            <section class="content-section">
                <h1>Spune-ne cine esti</h1>
                <article class="left-side">
                    <?= $this->form->text('.owner[first_name]', ['id' => 'user-name', 'class' => 'step-input right', 'placeholder' => 'Nume'], $this->owner ? $this->owner->getFirstName() : null) ?>
                </article>
                <article class="right-side">
                    <?= $this->form->text('.owner[last_name]', ['id' => 'user-surname', 'class' => 'step-input left', 'placeholder' => 'Prenume'], $this->owner ? $this->owner->getLastName() : null) ?>
                </article>
                <article class="left-side">
                    <?= $this->form->text('.owner[email]', ['id' => 'user-email', 'class' => 'step-input right', 'placeholder' => 'Email'], $this->owner ? $this->owner->getEmail() : null) ?>
                </article>
                <article class="right-side">
                    <?= $this->form->text('.owner[phone]', ['id' => 'user-phone', 'class' => 'step-input left', 'placeholder' => 'Telefon', 'onkeyup' => 'this.value=this.value.replace(/[^\d]/,\'\')'], $this->owner ? $this->owner->getPhone() : null) ?>
                </article>
            </section>
            <section class="content-section">
                <h1>Da-ne cateva detalii despre masina ta</h1>
                <article class="left-side">
                    <?= $this->form->text('.car_dummy[brand]', ['id' => 'car-brand', 'class' => 'step-input right', 'placeholder' => 'Marca', 'data-url' => $this->url(['module' => 'car', 'controller' => 'sell', 'action' => 'get-brands'])], $this->ad ? $this->ad->getBrand()->getName() : null) ?>
                    <?= $this->form->hidden('brand_id', null, $this->ad ? $this->ad->getBrand()->getId() : null) ?>
                </article>
                <article class="right-side">
                    <?= $this->form->text('.car_dummy[brand]', ['id' => 'car-model', 'class' => 'step-input left', 'placeholder' => 'Model', 'data-url' => $this->url(['module' => 'car', 'controller' => 'sell', 'action' => 'get-models'])], $this->ad ? $this->ad->getModel()->getName() : null) ?>
                    <?= $this->form->hidden('model_id', null, $this->ad ? $this->ad->getModel()->getId() : null) ?>
                </article>
                <article class="left-side">
                    <?= $this->form->text('kilometers', ['id' => 'car-kilometers', 'class' => 'step-input right', 'placeholder' => 'Nr. Kilometri', 'onkeyup' => 'this.value=this.value.replace(/[^\d]/,\'\')'], $this->ad ? $this->ad->getKilometers() : null) ?>
                </article>
                <article class="right-side">
                    <?= $this->form->text('.car_dummy[city]', ['id' => 'car-city', 'class' => 'step-input left', 'placeholder' => 'Alege Orasul', 'data-url' => $this->url(['module' => 'car', 'controller' => 'sell', 'action' => 'get-cities'])], $this->ad ? $this->ad->getCity()->getName() : null) ?>
                    <?= $this->form->hidden('city_id', null, $this->ad ? $this->ad->getCity()->getId() : null) ?>
                </article>
            </section>
            <section class="content-section">
                <h1>Selecteaza anul de fabricatie al masinii</h1>
                <article class="full-side">
                    <? for($i=2015; $i>=2007; $i--): ?>
                        <a href="#" data-year="<?= $i ?>" class="car-year<?= $this->ad && $this->ad->getYear() == $i ? ' current' : '' ?>"><?= $i ?></a>
                    <? endfor ?>
                    <a href="#" class="car-year-more">...</a>
                    <?= $this->form->text('year', ['id' => 'car-year', 'class' => 'step-input-full hidden', 'style' => 'max-width: 195px !important;', 'placeholder' => 'Introdu anul'], $this->ad ? $this->ad->getYear() : null) ?>
                </article>
            </section>
            <section class="content-section">
                <h1>Spune-ne ce culoare are masina ta</h1>
                <div id="car-color-placeholder" data-url="<?= $this->url(['module' => 'car', 'controller' => 'sell', 'action' => 'get-colors']) ?>">
                    <? if($this->ad): ?>
                        <? $colors = Car_Model_Color::getInstance()->where(['model_id' => $this->ad->getModel()->getId()])->getCollection() ?>
                        <? if($colors->getCount() > 0): ?>
                            <? foreach($colors as $color): ?>
                                <a href="#" data-color="<?= $color->getId() ?>" class="car-color<?= $color->getId() == $this->ad->getColorId() ? ' current' : '' ?>">
                                    <div class="color-icon" style="background-color: <?= $color->getColor() ?>;"></div>
                                    <br /><?= $color->getName() ?>
                                </a>
                            <? endforeach ?>
                        <? endif ?>
                    <? else: ?>
                        <p>Selecteaza o marca si un model pentru a vedea culorile disponibile</p>
                    <? endif ?>
                </div>
                <?= $this->form->hidden('color_id', ['id' => 'car-color'], $this->ad ? $this->ad->getColor()->getId() : null) ?>
            </section>
            <div class="space"></div>
            <?= $this->form->submit('submit', 'Urmatorul Pas', ['class' => 'submit-main']) ?>
            <?= $this->form->submit('submit', '>', ['class' => 'submit-next']) ?>
        </form>
        <div class="space"></div>
    </div>
</section>

<?= $this->block('StepBreadcrumb') ?>