<section class="sell-breadcrumbs">
    <? if($this->breadcrumbs): ?>
    <ul>
        <? foreach($this->breadcrumbs as $index => $breadcrumb): ?>
        <li<?= $breadcrumb['current'] === true ? ' class="current"' : '' ?>>
            <?= $breadcrumb['name'] ?>
        </li>
        <? endforeach ?>
    </ul>
    <? endif ?>
</section>

<section class="container">
    <div class="wrapper">
        <form action="<?= $this->url() ?>" method="post" id="sell-form">
            <section class="content-section">
                <h1>OWT-Garage garanteaza fiecare masina listata</h1>
                <h2>Debifeaza te rog optiunile care nu se potrivesc masinii tale</h2>
                <div class="space"></div>

                <? if($this->stats->getCount() > 0): ?>
                    <? $break = ceil($this->stats->getCount() / 2) ?>

                    <? foreach($this->stats as $index => $stat): ?>
                        <? if($index+1 <= $break): ?>
                            <? if($index == 0): ?>
                            <article class="left-side-big">
                            <? endif ?>
                            <div class="car-spec-group">
                                <input type="checkbox" name="data[stats][]" class="car-spec" value="<?= $stat->getName() ?>" id="car-spec-<?= $stat->getId() ?>" checked="checked" />
                                <label for="car-spec-<?= $stat->getId() ?>" class="car-spec-label"><?= $stat->getName() ?></label>
                            </div>
                            <? if($index+1 == $break): ?>
                            </article>
                            <? endif ?>
                        <? else: ?>
                            <? if($index == $break): ?>
                                <article class="right-side-big">
                            <? endif ?>
                            <div class="car-spec-group">
                                <input type="checkbox" name="data[stats][]" class="car-spec" value="<?= $stat->getName() ?>" id="car-spec-<?= $stat->getId() ?>" checked="checked" />
                                <label for="car-spec-<?= $stat->getId() ?>" class="car-spec-label"><?= $stat->getName() ?></label>
                            </div>
                            <? if($index+1 == $this->stats->getCount()): ?>
                                </article>
                            <? endif ?>
                        <? endif ?>
                    <? endforeach ?>
                <? endif ?>
            </section>
            <div class="space"></div>
            <?= $this->form->submit('submit', 'Programeaza Inspectia', ['class' => 'submit-main']) ?>
            <?= $this->form->submit('submit', '>', ['class' => 'submit-next']) ?>
            <a href="<?= $this->page('sell-step-1')->getUrl() ?>" class="submit-previous"><</a>
        </form>
        <div class="space"></div>
    </div>
</section>

<?= $this->block('StepBreadcrumb') ?>