<section class="sell-breadcrumbs">
    <? if($this->breadcrumbs): ?>
    <ul>
        <? foreach($this->breadcrumbs as $index => $breadcrumb): ?>
        <li<?= $breadcrumb['current'] === true ? ' class="current"' : '' ?>>
            <?= $breadcrumb['name'] ?>
        </li>
        <? endforeach ?>
    </ul>
    <? endif ?>
</section>

<section class="container">
    <form action="#" method="post" id="sell-form">
        <div class="wrapper">
            <section class="content-section">
                <h1>Inca un singur lucru...</h1>
                <h2>Pentru a confirma programarea inspectiei, avem nevoie de seria VIN a masinii.</h2>
                <h3>Un email a fost trimis pe adresa ta, ce contine instructiuni pentru localizarea acesteia.</h3>
                <figure class="car-vin">
                    <img src="<?= Dir::getAssets() ?>/default/img/vin-icon.png" alt="Seria VIN" />
                </figure>
                <h3>Insa, daca o ai in apropriere, o poti introduce chiar acum.</h3>
                <div class="space-small"></div>
                <form action="<?= $this->url() ?>">
                    <input type="text" id="user-name" name="vin" class="vin-input" placeholder="VIN">
                    <a href="<?= $this->page('sell-success-no-vin')->getUrl() ?>" class="button-secondary">Introduc mai tarziu</a>
                    <input type="submit" name="submit" value="Introdu seria VIN" class="button-main" />
                </form>
                <div class="space"></div>
                <div class="space"></div>
            </section>
        </div>

        <a href="<?= $this->page('sell-step-4')->getUrl() ?>" class="submit-previous"><</a>
    </form>
</section>

<?= $this->block('StepBreadcrumb') ?>