<div class="tabs left">
    <a href="#tab-1" class="tab">Order Information</a>
    <a href="#tab-2" class="tab">Customer Information</a>
    <a href="#tab-3" class="tab">Products Information</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="identifier">Order ID</label>
                <?= $this->form->text('identifier', ['id' => 'identifier']) ?>
            </div>
            <div class="row">
                <label for="status">Order Status</label>
                <?= $this->form->selectChosen('status', $this->statuses, $this->item->getData('status'), 'Choose status', false, ['id' => 'status']) ?>
            </div>
            <div class="row">
                <label for="raw_total">Raw Total</label>
                <?= $this->form->text('raw_total', ['id' => 'raw_total']) ?>
            </div>
            <div class="row">
                <label for="sub_total">Sub Total</label>
                <?= $this->form->text('sub_total', ['id' => 'sub_total']) ?>
            </div>
            <div class="row">
                <label for="grand_total">Grand Total</label>
                <?= $this->form->text('grand_total', ['id' => 'grand_total']) ?>
            </div>
            <div class="row">
                <label for="currency">Currency</label>
                <?= $this->form->text('currency', ['id' => 'currency']) ?>
            </div>
            <div class="row">
                <label for="created_at">Order Date</label>
                <?= $this->form->calendar('created_at', ['id' => 'created_at'], $this->item->getCreatedAt() ? date('d M, Y', $this->item->getCreatedAt()) : null) ?>
            </div>
            <div class="row">
                <label for="delivery_date">Delivery Date</label>
                <?= $this->form->calendar('delivery_date', ['id' => 'delivery_date'], $this->item->getDeliveryDate() ? date('d M, Y', $this->item->getDeliveryDate()) : 'NONE') ?>
            </div>
            <div class="row">
                <label for="shipping_option">Shipping Option</label>
                <?= $this->form->selectChosen('shipping_option', $this->shippings, $this->item->getShippingOption(), 'Choose shipping option', false, ['id' => 'shipping_option']) ?>
            </div>
            <div class="row">
                <label for="payment_type">Payment Method</label>
                <?= $this->form->selectChosen('payment_type', $this->payments, $this->item->getPaymentType(), 'Choose payment method', false, ['id' => 'payment_type']) ?>
            </div>
            <div class="row">
                <label for="details">Details</label>
                <?= $this->form->textarea('details', ['id' => 'details']) ?>
            </div>
        </div>
        <div id="tab-2" class="hide">
            <div class="row">
                <label for="first_name">First Name</label>
                <?= $this->form->text('.customers[first_name]', ['id' => 'first_name'], $this->customer->getFirstName()) ?>
            </div>
            <div class="row">
                <label for="last_name">Last Name</label>
                <?= $this->form->text('.customers[last_name]', ['id' => 'last_name'], $this->customer->getLastName()) ?>
            </div>
            <div class="row">
                <label for="email">Email</label>
                <?= $this->form->text('.customers[email]', ['id' => 'email'], $this->customer->getEmail()) ?>
            </div>
            <div class="row">
                <label for="phone">Phone</label>
                <?= $this->form->text('.customers[phone]', ['id' => 'phone'], $this->customer->getPhone()) ?>
            </div>
            <div class="row">
                <label for="shipping_country">Shipping Country</label>
                <?= $this->form->text('.customers[shipping_country]', ['id' => 'shipping_country'], $this->customer->getShippingCountry()) ?>
            </div>
            <div class="row">
                <label for="shipping_county">Shipping County</label>
                <?= $this->form->text('.customers[shipping_county]', ['id' => 'shipping_county'], $this->customer->getShippingCounty()) ?>
            </div>
            <div class="row">
                <label for="shipping_city">Shipping City</label>
                <?= $this->form->text('.customers[shipping_city]', ['id' => 'shipping_city'], $this->customer->getShippingCity()) ?>
            </div>
            <div class="row">
                <label for="shipping_postal_code">Shipping Postal Code</label>
                <?= $this->form->text('.customers[shipping_postal_code]', ['id' => 'shipping_postal_code'], $this->customer->getShippingPostalCode()) ?>
            </div>
            <div class="row">
                <label for="shipping_address">Shipping Address</label>
                <?= $this->form->textarea('.customers[shipping_address]', ['id' => 'shipping_address'], $this->customer->getShippingAddress()) ?>
            </div>
            <div class="row">
                <label for="billing_country">Billing Country</label>
                <?= $this->form->text('.customers[billing_country]', ['id' => 'billing_country'], $this->customer->getBillingCountry()) ?>
            </div>
            <div class="row">
                <label for="billing_county">Billing County</label>
                <?= $this->form->text('.customers[billing_county]', ['id' => 'billing_county'], $this->customer->getBillingCounty()) ?>
            </div>
            <div class="row">
                <label for="billing_city">Billing City</label>
                <?= $this->form->text('.customers[billing_city]', ['id' => 'billing_city'], $this->customer->getBillingCity()) ?>
            </div>
            <div class="row">
                <label for="billing_postal_code">Billing Postal Code</label>
                <?= $this->form->text('.customers[billing_postal_code]', ['id' => 'billing_postal_code'], $this->customer->getBillingPostalCode()) ?>
            </div>
            <div class="row">
                <label for="billing_address">Billing Address</label>
                <?= $this->form->textarea('.customers[billing_address]', ['id' => 'billing_address'], $this->customer->getBillingAddress()) ?>
            </div>
        </div>
        <div id="tab-3" class="hide">
            <table cellspacing="0" cellpadding="15" border="0" class="table-partial table-order-products">
                <thead>
                <tr class="dark nodrag nodrop">
                    <td>Name</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Sub Total</td>
                    <td>Grand Total</td>
                    <td class="actions">Actions</td>
                </tr>
                </thead>
                <tbody>
                <? if($this->items && count($this->items) > 0): ?>
                    <? foreach($this->items as $product): ?>
                        <tr id="<?= $product->getId() ?>" class="light">
                            <td><?= String::truncate($product->getName(), 30) ?></td>
                            <td><?= $product->getPrice() ?> <?= $product->getCurrency()->getCode() ?></td>
                            <td><?= $product->getQuantity() ?></td>
                            <td><?= $product->getSubTotal() ?> <?= $product->getCurrency()->getCode() ?></td>
                            <td><?= $product->getGrandTotal() ?> <?= $product->getCurrency()->getCode() ?></td>
                            <td>
                                <a target="_blank" href="<?= Url::getAdminUrl() ?>/shop/products/edit?id=<?= $product->getProductId() ?>" class="btn view orange margin-right">View</a>
                                <a data-id="<?= $product->getId() ?>" class="delete-order-product btn delete red">Remove</a>
                            </td>
                        </tr>
                    <? endforeach ?>
                <? else: ?>
                    <tr class="no-records light nodrag nodrop">
                        <td colspan="10">No products ordered</td>
                    </tr>
                <? endif ?>
                </tbody>

            </table>
        </div>

        <!-- Identifier for the entity to be modified -->
        <input type="hidden" name="identifier" value="<?= $this->item->getId() ?>" />
        <!-- Identifier for the entity to be modified -->

        <div class="left">
            <?= Admin_View::cancelButton() ?>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>