<div class="filters">
    <?= Admin_View::shopOrdersRecordsFilter(['created_at' => 'Order Date', 'delivery_date' => 'Delivery Date', 'raw_total' => 'Raw Total', 'sub_total' => 'Sub Total', 'grand_total' => 'Grand Total', 'status' => 'Status', 'viewed' => 'Viewed']) ?>
</div>
<div class="buttons-right">
    <?= Admin_View::topUpdateButton() ?>
</div>
<table id="table" width="100%" cellspacing="0" cellpadding="15" border="0" class="table">
    <thead>
        <tr class="light nodrag nodrop">
            <td>Order ID</td>
            <td>Customer</td>
            <td>Grand Total</td>
            <td>Status</td>
            <td>Date</td>
            <td class="actions">Actions</td>
        </tr>
    </thead>
    <tbody>
    <? if($this->items->getCount()): ?>
        <? foreach($this->items as $index => $item): ?>
            <tr id="<?= $item->getId() ?>" class="<?= $index % 2 == 0 ? 'dark' : 'light' ?>"<?= $item->getViewed() == Shop_Model_Order::VIEWED_NO ? 'style="background-color: #FBEAEC;"' : '' ?>>
                <td><strong><?= $item->getIdentifier() ? $item->getIdentifier() : 'NONE' ?></strong></td>
                <td><?= $item->getCustomer() ? $item->getCustomer()->getFirstName() . ' ' . $item->getCustomer()->getLastName() : 'NONE' ?></td>
                <td><?= $item->getData('grand_total') ? number_format($item->getData('grand_total'), 2) . ' ' . $item->getCurrency() : 'NONE' ?></td>
                <td><?= $item->getStatus() ? Shop_Model_Order::$statuses[$item->getStatus()] : 'NONE' ?></td>
                <td><?= $item->getCreatedAt() ? date('d M, Y', $item->getCreatedAt()) : 'NONE' ?></td>
                <td>
                    <a href="view?id=<?= $item->getId() ?>" class="btn view orange margin-right">View</a>
                    <?= Admin_View::deleteButton($this->entity, $item->getId()) ?>
                </td>
            </tr>
        <? endforeach ?>
    <? else: ?>
        <tr class="dark nodrag nodrop">
            <td colspan="10">No rows found</td>
        </tr>
    <? endif ?>
    </tbody>
</table>
<div class="buttons-left">
    <?= Admin_View::bottomUpdateButton() ?>
</div>
<div class="right">
    <div class="paginate-container">
        <?= $this->paginate ?>
    </div>
</div>