<div class="half">
    <table class="table table-striped table-bordered table-colored" id="table-main" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <th colspan="2">Order #<?= $this->item->getIdentifier() ?></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="width: 50%;">Order Date</td>
            <td style="width: 50%;"><?= date('F d, Y g:i:s A', $this->item->getCreatedAt()) ?></td>
        </tr>
        <tr>
            <td style="width: 50%;">Order Status</td>
            <td style="width: 50%;"><?= Shop_Model_Order::$statuses[$this->item->getStatus()] ?></td>
        </tr>
        </tbody>
    </table>
    <table class="table table-striped table-bordered table-colored" id="table-main" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <th colspan="2">Order Totals</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="width: 50%;">Raw Total</td>
            <td style="width: 50%;"><?= number_format($this->item->getData('raw_total'), 2) ?> <?= $this->item->getCurrency() ?></td>
        </tr>
        <tr>
            <td style="width: 50%;">Sub Total</td>
            <td style="width: 50%;"><?= number_format($this->item->getData('sub_total'), 2) ?> <?= $this->item->getCurrency() ?></td>
        </tr>
        <tr>
            <td style="width: 50%;">Grand Total</td>
            <td style="width: 50%;"><?= number_format($this->item->getData('grand_total'), 2) ?> <?= $this->item->getCurrency() ?></td>
        </tr>
        </tbody>
    </table>
    <? if($this->item->getDeliveryDate()): ?>
        <table class="table table-striped table-bordered table-colored" id="table-main" cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th colspan="2">Shipping</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="width: 50%;">Delivery Date</td>
                <td style="width: 50%;"><?= date('F d, Y g:i:s A', $this->item->getDeliveryDate()) ?></td>
            </tr>
            </tbody>
        </table>
    <? endif ?>
    <table class="table table-striped table-bordered table-colored" id="table-main" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <th colspan="2">Payment</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="width: 50%;">Payment Method</td>
            <td style="width: 50%;"><?= Shop_Model_Order::$paymentTypes[$this->item->getPaymentType()] ?></td>
        </tr>
        </tbody>
    </table>
</div>


<div class="half">
    <table class="table table-striped table-bordered table-colored" id="table-main" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <th colspan="2">Customer Information</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="width: 50%;">Name</td>
            <td style="width: 50%;"><?= $this->customer->getFirstName() ?> <?= $this->customer->getLastName() ?></td>
        </tr>
        <tr>
            <td style="width: 50%;">Email</td>
            <td style="width: 50%;"><?= $this->customer->getEmail() ?></td>
        </tr>
        <tr>
            <td style="width: 50%;">Phone</td>
            <td style="width: 50%;"><?= $this->customer->getPhone() ?></td>
        </tr>
        </tbody>
    </table>
    <table class="table table-striped table-bordered table-colored" id="table-main" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <th colspan="2">Shipping Address</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <?= nl2br($this->customer->getShippingAddress()) ?>,<br />
                <?= $this->customer->getShippingPostalCode() ? $this->customer->getShippingPostalCode() . ',' : '' ?>
                <?= $this->customer->getShippingCity() ? $this->customer->getShippingCity() . ',' : '' ?>
                <?= $this->customer->getShippingCounty() ? $this->customer->getShippingCounty() . ',' : '' ?><br />
                <?= $this->customer->getShippingCountry() ? $this->customer->getShippingCountry() : '' ?>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-striped table-bordered table-colored" id="table-main" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <th colspan="2">Billing Address</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <?= nl2br($this->customer->getBillingAddress()) ?>,<br />
                <?= $this->customer->getBillingPostalCode() ? $this->customer->getBillingPostalCode() . ',' : '' ?>
                <?= $this->customer->getBillingCity() ? $this->customer->getBillingCity() . ',' : '' ?>
                <?= $this->customer->getBillingCounty() ? $this->customer->getBillingCounty() . ',' : '' ?><br />
                <?= $this->customer->getBillingCountry() ? $this->customer->getBillingCountry() : '' ?>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="full">
    <table class="table table-striped table-bordered table-colored" id="table-main" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <th colspan="6">Products Ordered</th>
        </tr>
        </thead>
        <tbody>
        <? if(count($this->products) > 0): ?>
            <tr>
                <td style="background-color: #E3F2FB !important; font-weight: 700;">Product</td>
                <td style="background-color: #E3F2FB !important; font-weight: 700;">Price</td>
                <td style="background-color: #E3F2FB !important; font-weight: 700;">Quantity</td>
                <td style="background-color: #E3F2FB !important; font-weight: 700;">Total</td>
            </tr>
            <? foreach($this->products as $product): ?>
                <tr>
                    <td><?= $product->getName() ?></td>
                    <td><?= $product->getPrice() ?> <?= $product->getCurrency()->getCode() ?></td>
                    <td><?= $product->getQuantity() ?></td>
                    <td><?= $product->getTotal() ?> <?= $product->getCurrency()->getCode() ?></td>
                </tr>
            <? endforeach ?>
        <? else: ?>
            <tr>
                <td>No products ordered</td>
            </tr>
        <? endif ?>
        </tbody>
    </table>
</div>
<div class="clearfix"></div>
<div class="right" style="margin: 30px 15px 15px 0;">
    <a href="edit?id=<?= $this->item->getId() ?>" class="btn edit green">Modify Order</a>
</div>