<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
    <a href="#tab-2" class="tab">Activate Date Interval</a>
    <a href="#tab-3" class="tab">Activate Threshold Value</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="applicability">Applies To</label>
                <?= $this->form->selectChosen('applicability', $this->applicabilities, $this->item->getApplicability(), 'Choose applicability', false, ['id' => 'applicability']) ?>
            </div>
            <div class="row">
                <label for="name">Name</label>
                <?= $this->form->text('name', ['id' => 'name']) ?>
            </div>
            <div class="row">
                <label for="rate">Rate</label>
                <?= $this->form->text('rate', ['id' => 'rate']) ?>
            </div>
            <div class="row">
                <label for="type">Type</label>
                <?= $this->form->selectChosen('type', $this->types, $this->item->getType(), 'Choose type', false, ['id' => 'type']) ?>
            </div>
            <div class="row">
                <label for="active">Active</label>
                <?= $this->form->selectChosen('active', $this->availabilities, $this->item->getActive(), 'Choose availability', false, ['id' => 'active']) ?>
            </div>
        </div>
        <div id="tab-2" class="hide">
            <span class="info-orange">This tax will only be active in the date interval that you select</span>
            <div class="row">
                <label for="start_date_day">Start Date Day</label>
                <?= $this->form->calendar('.date[start_date_day]', ['id' => 'start_date_day'], $this->item->getStartDate() ? date('d M, Y', $this->item->getStartDate()) : null) ?>
            </div>
            <div class="row">
                <label for="start_date_time">Start Date Time</label>
                <?= $this->form->time('.date[start_date_time]', ['id' => 'start_date_time'], $this->item->getStartDate() ? date('H:i', $this->item->getStartDate()) : null) ?>
            </div>
            <div class="row">
                <label for="end_date_day">End Date Day</label>
                <?= $this->form->calendar('.date[end_date_day]', ['id' => 'end_date_day'], $this->item->getEndDate() ? date('d M, Y', $this->item->getEndDate()) : null) ?>
            </div>
            <div class="row">
                <label for="end_date_time">End Date Time</label>
                <?= $this->form->time('.date[end_date_time]', ['id' => 'end_date_time'], $this->item->getEndDate() ? date('H:i', $this->item->getEndDate()) : null) ?>
            </div>
        </div>
        <div id="tab-3" class="hide">
            <span class="info-orange">This tax will only be active before the maximum value is met</span>
            <div class="row">
                <label for="maximum_value">Maximum Value</label>
                <?= $this->form->text('maximum_value', ['id' => 'maximum_value']) ?>
                <small>order total / product quantity</small>
            </div>
        </div>

        <!-- Identifier for the entity to be modified -->
        <input type="hidden" name="identifier" value="<?= $this->item->getId() ?>" />
        <!-- Identifier for the entity to be modified -->

        <div class="left">
            <?= Admin_View::cancelButton() ?>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>