<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
    <a href="#tab-2" class="tab">Secondary Information</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="username">Username</label>
                <?= $this->form->text('username', ['id' => 'username']) ?>
            </div>
            <div class="row">
                <label for="password">Password</label>
                <?= $this->form->password('password', ['id' => 'password', 'placeholder' => 'Leave blank to remain the same'], false) ?>
            </div>
            <? if($this->admin->isSuperAdmin()): ?>
                <div class="row">
                    <label for="super_admin">Super Admin?</label>
                    <?= $this->form->selectChosen('super_admin', Admin_Model_User::$super, $this->item->getSuperAdmin(), 'Is super admin?', false, ['id' => 'super_admin']) ?>
                </div>
                <? if($this->item->getSuperAdmin() == 0): ?>
                    <div id="access-levels-container">
                        <div class="row">
                            <label for="levels">Access Levels</label>
                            <?= $this->form->selectChosen('access_level', Admin_Access::getAccessLevels(), $this->levels, 'Choose access levels', true, ['id' => 'levels']) ?>
                        </div>
                    </div>
                <? endif ?>
            <? endif ?>
        </div>
        <div id="tab-2" class="hide">
            <div class="row">
                <label for="email">Email</label>
                <?= $this->form->text('email', ['id' => 'email']) ?>
            </div>
            <div class="row">
                <label for="first_name">First Name</label>
                <?= $this->form->text('first_name', ['id' => 'first_name']) ?>
            </div>
            <div class="row">
                <label for="last_name">Last Name</label>
                <?= $this->form->text('last_name', ['id' => 'last_name']) ?>
            </div>
        </div>

        <!-- Identifier for the entity to be modified -->
        <input type="hidden" name="identifier" value="<?= $this->item->getId() ?>" />
        <!-- Identifier for the entity to be modified -->

        <div class="left">
            <?= Admin_View::cancelButton() ?>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>