<div class="login" style="height: 190px;">
    <div class="header">
        <span>Recover your password</span>
        <a href="<?= $this->url(['module' => 'admin', 'controller' => 'index', 'action' => 'index']) ?>">Back to login</a>
    </div>
    <div class="container">
        <form action="<?= $this->url() ?>" method="post" id="loginForm">
            <div class="inputs right" style="width: 100%; border: 0;">
                <div class="row" style="border: 0;">
                    <label for="username"><img src="<?= Dir::getAssets() ?>/admin/img/login-label-username.png" /></label>
                    <div class="input-success"></div>
                    <?= $this->form->text('email', ['id' => 'email', 'placeholder' => 'Email', 'style' => 'border: 0;']) ?>
                </div>
            </div>
            <?= $this->form->submit('recover', 'Recover') ?>
        </form>
    </div>
</div>