<div class="filters">
    <?= Admin_View::adminUsersRecordsFilter(['username' => 'Username', 'email' => 'Email', 'first_name' => 'First Name', 'last_name' => 'Last Name']) ?>
</div>
<div class="buttons-right">
    <?= Admin_View::topAddButton() ?>
    <?= Admin_View::topUpdateButton() ?>
</div>
<table width="100%" cellspacing="0" cellpadding="15" border="0" class="table">
    <thead>
    <tr class="light">
        <td>Username</td>
        <td>Email</td>
        <td>Name</td>
        <td class="actions">Actions</td>
    </tr>
    </thead>
    <tbody>
    <? if($this->items->getCount()): ?>
        <? foreach($this->items as $index => $item): ?>
            <tr id="<?= $item->getId() ?>" class="<?= $index % 2 == 0 ? 'dark' : 'light' ?>">
                <td><?= $item->getUsername() ? $item->getUsername() : 'NONE' ?></td>
                <td><?= $item->getEmail() ? $item->getEmail() : 'NONE' ?></td>
                <td><?= $item->getFirstName() . ' ' . $item->getLastName() ?></td>
                <td>
                    <? if($item->getId() == 1 && !$this->admin->isDeveloper()): ?>
                        <a class="btn edit inactive light-grey margin-right">Edit</a>
                    <? else: ?>
                        <?= Admin_View::editButton($item->getId()) ?>
                    <? endif ?>

                    <? if($item->getId() == 1 && !$this->admin->isDeveloper()): ?>
                        <a class="btn delete inactive light-grey">Delete</a>
                    <? else: ?>
                        <?= Admin_View::deleteButton($this->entity, $item->getId()) ?>
                    <? endif ?>
                </td>
            </tr>
        <? endforeach ?>
    <? else: ?>
        <tr class="dark">
            <td colspan="10">No rows found</td>
        </tr>
    <? endif ?>
    </tbody>
</table>
<div class="buttons-left">
    <?= Admin_View::bottomAddButton() ?>
    <?= Admin_View::bottomUpdateButton() ?>
</div>
<div class="right">
    <div class="paginate-container">
        <?= $this->paginate ?>
    </div>
</div>