<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="name">Name</label>
                <?= $this->form->text('name', ['id' => 'name']) ?>
            </div>
            <div class="row">
                <label for="logo">Logo Light</label>
                <?= $this->form->image('logo', 'car_brand', ['id' => 'logo']) ?>
            </div>
            <div class="row">
                <label for="logo_dark">Logo Dark</label>
                <?= $this->form->image('logo_dark', 'car_brand_dark', ['id' => 'logo_dark']) ?>
            </div>
            <div class="row">
                <label for="real_logo">Real Logo</label>
                <?= $this->form->image('real_logo', 'car_brand_logo', ['id' => 'real_logo']) ?>
            </div>
        </div>
        <div class="left">
            <?= Admin_View::cancelButton() ?>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>