<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="model_id">Model</label>
                <?= $this->form->selectChosen('model_id', $this->models, $this->item->getModelId(), 'Choose Model', false, ['id' => 'model_id']) ?>
            </div>
            <div class="row">
                <label for="name">Name</label>
                <?= $this->form->text('name', ['id' => 'name']) ?>
            </div>
            <div class="row">
                <label for="color">Color (ex: #FFFFFF)</label>
                <?= $this->form->text('color', ['id' => 'color']) ?>
            </div>
            <div class="row">
                <label for="show_sell">Show In Sell Section?</label>
                <?= $this->form->selectChosen('show_sell', Car_Model_Color::$show, $this->item->getShowSell(), 'Yes or No', false, ['id' => 'show_sell']) ?>
            </div>
        </div>

        <!-- Identifier for the entity to be modified -->
        <input type="hidden" name="identifier" value="<?= $this->item->getId() ?>" />
        <!-- Identifier for the entity to be modified -->

        <div class="left">
            <?= Admin_View::cancelButton() ?>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>