<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="shop_product_media_type">Type</label>
                <?= $this->form->selectChosen('type', $this->types, null, 'Choose type', false, ['id' => 'shop_product_media_type']) ?>
            </div>
            <div class="row">
                <label for="media">Media</label>
                <?= $this->form->file('media', ['id' => 'media']) ?>
            </div>
        </div>
        <div class="left">
            <a href="<?= $this->url(['module' => 'admin', 'controller' => 'blog_posts_media', 'action' => 'index', 'post' => $this->post]) ?>" class="btn delete red left">Cancel</a>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>