<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="blog_post_media_type">Type</label>
                <?= $this->form->selectChosen('type', $this->types, $this->item->getType(), 'Choose type', false, ['id' => 'blog_post_media_type']) ?>
            </div>
            <div class="row all-vals">
                <label for="media">Media</label>
                <?= $this->form->file('media', ['id' => 'media']) ?>
            </div>
            <? if($this->item->getMedia()): ?>
                <? $function = 'show' . ucwords($this->item->getType()) ?>
                <?= Admin_View::$function('media', $this->item->getMedia()) ?>
            <? endif ?>
        </div>

        <!-- Identifier for the entity to be modified -->
        <input type="hidden" name="identifier" value="<?= $this->item->getId() ?>" />
        <!-- Identifier for the entity to be modified -->

        <div class="left">
            <a href="<?= $this->url(['module' => 'admin', 'controller' => 'blog_posts_media', 'action' => 'index', 'post' => $this->post]) ?>" class="btn delete red left">Cancel</a>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>