<div class="tabs left">
    <a href="<?= $this->url(['module' => 'admin', 'controller' => 'blog_posts', 'action' => 'edit', 'id' => $this->post]) ?>" class="real">Back To Blog Post</a>
    <a href="#tab-2" class="tab selected">Manage Media</a>
</div>
<div class="form right">
    <div class="buttons-right">
        <a href="<?= $this->url(['module' => 'admin', 'controller' => 'blog_posts_media', 'action' => 'add', 'post' => $this->post]) ?>" class="btn add blue right">Add</a>
        <?= Admin_View::topUpdateButton() ?>
    </div>
    <table id="table" width="100%" cellspacing="0" cellpadding="15" border="0" class="table">
        <thead>
        <tr class="light nodrag nodrop">
            <td>Media</td>
            <td>Type</td>
            <td class="actions">Actions</td>
        </tr>
        </thead>
        <tbody>
        <? if($this->items->getCount()): ?>
            <? foreach($this->items as $index => $item): ?>
                <tr id="<?= $item->getId() ?>" class="<?= $index % 2 == 0 ? 'dark' : 'light' ?>">
                    <td><?= $item->getMedia() ? $item->showAdminMedia() : 'NONE' ?></td>
                    <td><?= $item->getType() ? $this->types[$item->getType()] : 'NONE' ?></td>
                    <td>
                        <a href="<?= $this->url(['module' => 'admin', 'controller' => 'blog_posts_media', 'action' => 'edit', 'post' => $this->post, 'id' => $item->getId()]) ?>" class="btn edit green margin-right">Edit</a>
                        <?= Admin_View::deleteButton($this->entity, $item->getId()) ?>
                    </td>
                </tr>
            <? endforeach ?>
        <? else: ?>
            <tr class="dark nodrag nodrop">
                <td colspan="10">No rows found</td>
            </tr>
        <? endif ?>
        </tbody>
    </table>
    <div class="buttons-left">
        <a href="<?= $this->url(['module' => 'admin', 'controller' => 'blog_posts_media', 'action' => 'add', 'post' => $this->post]) ?>" class="btn add blue left">Add</a>
        <?= Admin_View::bottomUpdateButton() ?>
    </div>
    <div class="right">
        <div class="paginate-container">
            <?= $this->paginate ?>
        </div>
    </div>
</div>