<div class="row">
    <label for="content">Content</label>
    <?= $this->form->editor('metadata_content', ['id' => 'content'], $this->metadata['content']) ?>
</div>
<div class="row">
    <label for="image">Image</label>
    <?= $this->form->file('metadata_image', ['id' => 'image'], array('image')) ?>
</div>
<? if($this->metadata['image']): ?>
    <?= Admin_View::showMetaImage('image', $this->metadata['image']) ?>
<? endif ?>