<div class="row">
    <label for="title">Title</label>
    <?= $this->form->text('metadata_title', ['id' => 'title'], $this->metadata['title']) ?>
</div>
<div class="row">
    <label for="content">Content</label>
    <?= $this->form->textarea('metadata_content', ['id' => 'content'], $this->metadata['content']) ?>
</div>
<div class="row">
    <label for="print">Print</label>
    <?= $this->form->text('metadata_print', ['id' => 'print'], $this->metadata['prinst']) ?>
</div>
<div class="row">
    <label for="image">Image</label>
    <?= $this->form->file('metadata_image', ['id' => 'image'], array('image')) ?>
</div>
<? if($this->metadata['image']): ?>
    <?= Admin_View::showMetaImage('image', $this->metadata['image']) ?>
<? endif ?>
<div class="row">
    <label for="bg_image">Background Image</label>
    <?= $this->form->file('metadata_bg_image', ['id' => 'bg_image'], array('image')) ?>
</div>
<? if($this->metadata['bg_image']): ?>
    <?= Admin_View::showMetaImage('bg_image', $this->metadata['bg_image']) ?>
<? endif ?>