<? for($i=1; $i<=2; $i++): ?>
<div class="row">
    <label for="image_<?= $i ?>">Image <?= $i ?></label>
    <?= $this->form->file('metadata_image_' . $i, ['id' => 'image_' . $i], array('image')) ?>
</div>
<? if($this->metadata['image_' . $i]): ?>
    <?= Admin_View::showMetaImage('image_' . $i, $this->metadata['image_' . $i]) ?>
<? endif ?>
<? endfor ?>