<div class="row">
    <label for="title">Title</label>
    <?= $this->form->text('metadata_title', ['id' => 'title'], $this->metadata['title']) ?>
</div>
<div class="row">
    <label for="subtitle">Subtitle</label>
    <?= $this->form->text('metadata_subtitle', ['id' => 'subtitle'], $this->metadata['subtitle']) ?>
</div>
<div class="row">
    <label for="description">Description</label>
    <?= $this->form->textarea('metadata_description', ['id' => 'description'], $this->metadata['description']) ?>
</div>
<div class="row">
    <label for="image">Image</label>
    <?= $this->form->file('metadata_image', ['id' => 'image'], array('image')) ?>
</div>
<? if($this->metadata['image']): ?>
    <?= Admin_View::showMetaImage('image', $this->metadata['image']) ?>
<? endif ?>
<div class="row">
    <label for="bg_image">Background Image</label>
    <?= $this->form->file('metadata_bg_image', ['id' => 'bg_image'], array('image')) ?>
</div>
<? if($this->metadata['bg_image']): ?>
    <?= Admin_View::showMetaImage('bg_image', $this->metadata['bg_image']) ?>
<? endif ?>