<div class="row">
    <label for="title">Title</label>
    <?= $this->form->text('metadata_title', ['id' => 'title'], $this->metadata['title']) ?>
</div>
<div class="row">
    <label for="image">Image</label>
    <?= $this->form->file('metadata_image', ['id' => 'image'], array('image')) ?>
</div>
<? if($this->metadata['image']): ?>
    <?= Admin_View::showMetaImage('image', $this->metadata['image']) ?>
<? endif ?>

<? for($i=1; $i<=3; $i++): ?>
    <div class="row">
        <label for="title_<?= $i ?>">Column <?= $i ?> Title</label>
        <?= $this->form->text('metadata_title_' . $i, ['id' => 'title_' . $i], $this->metadata['title_' . $i]) ?>
    </div>
    <div class="row">
        <label for="description_<?= $i ?>">Column <?= $i ?> Description</label>
        <?= $this->form->textarea('metadata_description_' . $i, ['id' => 'description_' . $i], $this->metadata['description_' . $i]) ?>
    </div>
<? endfor ?>