<? for($i=1; $i<=2; $i++): ?>
    <div class="row">
        <label for="title_<?= $i ?>">Title <?=  $i?></label>
        <?= $this->form->text('metadata_title_' . $i, ['id' => 'title_' . $i], $this->metadata['title_' . $i]) ?>
    </div>
    <div class="row">
        <label for="title_<?= $i ?>">Description <?=  $i?></label>
        <?= $this->form->textarea('metadata_description_' . $i, ['id' => 'description_' . $i], $this->metadata['description_' . $i]) ?>
    </div>
    <div class="row">
        <label for="image_<?= $i ?>">Image <?= $i ?></label>
        <?= $this->form->file('metadata_image_' . $i, ['id' => 'image_' . $i], ['image']) ?>
    </div>
    <? if($this->metadata['image_' . $i]): ?>
        <?= Admin_View::showMetaImage('image_' . $i, $this->metadata['image_' . $i]) ?>
    <? endif ?>
<? endfor ?>