<div class="row">
    <label for="title">Title</label>
    <?= $this->form->text('metadata_title', ['id' => 'title'], $this->metadata['title']) ?>
</div>
<div class="row">
    <label for="left_button_text">Left Button Text</label>
    <?= $this->form->text('metadata_left_button_text', ['id' => 'left_button_text'], $this->metadata['left_button_text']) ?>
</div>
<div class="row">
    <label for="left_button_url">Left Button URL</label>
    <?= $this->form->text('metadata_left_button_url', ['id' => 'left_button_url'], $this->metadata['left_button_url']) ?>
</div>
<div class="row">
    <label for="right_button_text">Right Button Text</label>
    <?= $this->form->text('metadata_right_button_text', ['id' => 'right_button_text'], $this->metadata['right_button_text']) ?>
</div>
<div class="row">
    <label for="right_button_url">Right Button URL</label>
    <?= $this->form->text('metadata_right_button_url', ['id' => 'right_button_url'], $this->metadata['right_button_url']) ?>
</div>