<div class="row">
    <label for="anchor">Anchor</label>
    <?= $this->form->text('metadata_anchor', ['id' => 'anchor'], $this->metadata['anchor']) ?>
</div>
<div class="row">
    <label for="title">Title</label>
    <?= $this->form->text('metadata_title', ['id' => 'title'], $this->metadata['title']) ?>
</div>
<div class="row">
    <label for="content">Content</label>
    <?= $this->form->textarea('metadata_content', ['id' => 'content'], $this->metadata['content']) ?>
</div>