<div class="row">
    <label for="content">Content</label>
    <?= $this->form->textarea('metadata_content', ['id' => 'content'], $this->metadata['content']) ?>
</div>
<div class="row">
    <label for="phone">Phone</label>
    <?= $this->form->text('metadata_phone', ['id' => 'phone'], $this->metadata['phone']) ?>
</div>
<div class="row">
    <label for="phone_image">Phone Image</label>
    <?= $this->form->file('metadata_phone_image', ['id' => 'phone_image'], array('phone_image')) ?>
</div>
<? if($this->metadata['phone_image']): ?>
    <?= Admin_View::showMetaImage('phone_image', $this->metadata['phone_image']) ?>
<? endif ?>
<div class="row">
    <label for="email">Email</label>
    <?= $this->form->text('metadata_email', ['id' => 'email'], $this->metadata['email']) ?>
</div>
<div class="row">
    <label for="email_image">Email Image</label>
    <?= $this->form->file('metadata_email_image', ['id' => 'email_image'], array('email_image')) ?>
</div>
<? if($this->metadata['email_image']): ?>
    <?= Admin_View::showMetaImage('email_image', $this->metadata['email_image']) ?>
<? endif ?>