<div class="row">
    <label for="title">Title</label>
    <?= $this->form->text('metadata_title', ['id' => 'title'], $this->metadata['title']) ?>
</div>
<div class="row">
    <label for="anchor">Anchor</label>
    <?= $this->form->text('metadata_anchor', ['id' => 'anchor'], $this->metadata['anchor']) ?>
</div>
<? for($i=1; $i<= 20; $i++): ?>
<div class="row">
    <label for="question_<?= $i ?>">Question <?= $i ?></label>
    <?= $this->form->text('metadata_question_' . $i, ['id' => 'question_' . $i], $this->metadata['question_' . $i]) ?>
</div>
<div class="row">
    <label for="answer_<?= $i ?>">Answer <?= $i ?></label>
    <?= $this->form->textarea('metadata_answer_' . $i, ['id' => 'answer_' . $i], $this->metadata['answer_' . $i]) ?>
</div>
<? endfor ?>