<? for($i=1; $i<= 5; $i++): ?>
<div class="row">
    <label for="button_<?= $i ?>_text">Button <?= $i ?> Text</label>
    <?= $this->form->text('metadata_button_' . $i . '_text', ['id' => 'button_' . $i . '_text'], $this->metadata['button_' . $i . '_text']) ?>
</div>
<div class="row">
    <label for="button_<?= $i ?>_url">Button <?= $i ?> URL</label>
    <?= $this->form->text('metadata_button_' . $i . '_url', ['id' => 'button_' . $i . '_url'], $this->metadata['button_' . $i . '_url']) ?>
</div>
<? endfor ?>

<div class="row">
    <label for="special_button_text">Special Button Text</label>
    <?= $this->form->text('metadata_special_button_text', ['id' => 'special_button_text'], $this->metadata['special_button_text']) ?>
</div>
<div class="row">
    <label for="special_button_url">Special Button URL</label>
    <?= $this->form->text('metadata_special_button_url', ['id' => 'special_button_url'], $this->metadata['special_button_url']) ?>
</div>
