<div class="row">
    <label for="stat_1_image">Stat 1 Image</label>
    <?= $this->form->file('metadata_stat_1_image', ['id' => 'stat_1_image'], array('image')) ?>
</div>
<? if($this->metadata['stat_1_image']): ?>
    <?= Admin_View::showMetaImage('stat_1_image', $this->metadata['stat_1_image']) ?>
<? endif ?>
<div class="row">
    <label for="stat_1_image_hover">Stat 1 Image Hover</label>
    <?= $this->form->file('metadata_stat_1_image_hover', ['id' => 'stat_1_image_hover'], array('image')) ?>
</div>
<? if($this->metadata['stat_1_image_hover']): ?>
    <?= Admin_View::showMetaImage('stat_1_image_hover', $this->metadata['stat_1_image_hover']) ?>
<? endif ?>
<div class="row">
    <label for="stat_1_title">Stat 1 Title</label>
    <?= $this->form->text('metadata_stat_1_title', ['id' => 'stat_1_title'], $this->metadata['stat_1_title']) ?>
</div>
<div class="row">
    <label for="stat_1_subtitle">Stat 1 Subtitle</label>
    <?= $this->form->text('metadata_stat_1_subtitle', ['id' => 'stat_1_subtitle'], $this->metadata['stat_1_subtitle']) ?>
</div>
<div class="row">
    <label for="stat_1_content">Stat 1 Content</label>
    <?= $this->form->textarea('metadata_stat_1_content', ['id' => 'stat_1_content'], $this->metadata['stat_1_content']) ?>
</div>

<div class="row">
    <label for="stat_2_image">Stat 2 Image</label>
    <?= $this->form->file('metadata_stat_2_image', ['id' => 'stat_2_image'], array('image')) ?>
</div>
<? if($this->metadata['stat_2_image']): ?>
    <?= Admin_View::showMetaImage('stat_2_image', $this->metadata['stat_2_image']) ?>
<? endif ?>
<div class="row">
    <label for="stat_2_image_hover">Stat 2 Image Hover</label>
    <?= $this->form->file('metadata_stat_2_image_hover', ['id' => 'stat_2_image_hover'], array('image')) ?>
</div>
<? if($this->metadata['stat_2_image_hover']): ?>
    <?= Admin_View::showMetaImage('stat_2_image_hover', $this->metadata['stat_2_image_hover']) ?>
<? endif ?>
<div class="row">
    <label for="stat_2_title">Stat 2 Title</label>
    <?= $this->form->text('metadata_stat_2_title', ['id' => 'stat_2_title'], $this->metadata['stat_2_title']) ?>
</div>
<div class="row">
    <label for="stat_2_subtitle">Stat 2 Subtitle</label>
    <?= $this->form->text('metadata_stat_2_subtitle', ['id' => 'stat_2_subtitle'], $this->metadata['stat_2_subtitle']) ?>
</div>
<div class="row">
    <label for="stat_2_content">Stat 2 Content</label>
    <?= $this->form->textarea('metadata_stat_2_content', ['id' => 'stat_2_content'], $this->metadata['stat_2_content']) ?>
</div>

<div class="row">
    <label for="stat_3_image">Stat 3 Image</label>
    <?= $this->form->file('metadata_stat_3_image', ['id' => 'stat_3_image'], array('image')) ?>
</div>
<? if($this->metadata['stat_3_image']): ?>
    <?= Admin_View::showMetaImage('stat_3_image', $this->metadata['stat_3_image']) ?>
<? endif ?>
<div class="row">
    <label for="stat_3_image_hover">Stat 3 Image Hover</label>
    <?= $this->form->file('metadata_stat_3_image_hover', ['id' => 'stat_3_image_hover'], array('image')) ?>
</div>
<? if($this->metadata['stat_3_image_hover']): ?>
    <?= Admin_View::showMetaImage('stat_3_image_hover', $this->metadata['stat_3_image_hover']) ?>
<? endif ?>
<div class="row">
    <label for="stat_3_title">Stat 3 Title</label>
    <?= $this->form->text('metadata_stat_3_title', ['id' => 'stat_3_title'], $this->metadata['stat_3_title']) ?>
</div>
<div class="row">
    <label for="stat_3_subtitle">Stat 3 Subtitle</label>
    <?= $this->form->text('metadata_stat_3_subtitle', ['id' => 'stat_3_subtitle'], $this->metadata['stat_3_subtitle']) ?>
</div>
<div class="row">
    <label for="stat_3_content">Stat 3 Content</label>
    <?= $this->form->textarea('metadata_stat_3_content', ['id' => 'stat_3_content'], $this->metadata['stat_3_content']) ?>
</div>