<div class="row">
    <label for="image">Image (1225x420px)</label>
    <?= $this->form->image('metadata_image', 'sell_buy_header', ['id' => 'image']) ?>
</div>
<? if($this->metadata['image']): ?>
    <?= Admin_View::showMetaImage('image', $this->metadata['image']) ?>
<? endif ?>
<div class="row">
    <label for="sell_button_text">Sell Button Text</label>
    <?= $this->form->text('metadata_sell_button_text', ['id' => 'sell_button_text'], $this->metadata['sell_button_text']) ?>
</div>
<div class="row">
    <label for="sell_content">Sell Content</label>
    <?= $this->form->editor('metadata_sell_content', ['id' => 'sell_content'], $this->metadata['sell_content']) ?>
</div>
<div class="row">
    <label for="buy_button_text">Buy Button Text</label>
    <?= $this->form->text('metadata_buy_button_text', ['id' => 'buy_button_text'], $this->metadata['buy_button_text']) ?>
</div>
<div class="row">
    <label for="buy_content">Buy Content</label>
    <?= $this->form->editor('metadata_buy_content', ['id' => 'buy_content'], $this->metadata['buy_content']) ?>
</div>