<div class="row">
    <label for="button_text">Button Text</label>
    <?= $this->form->text('metadata_button_text', ['id' => 'button_text'], $this->metadata['button_text']) ?>
</div>
<div class="row">
    <label for="button_url">Button URL</label>
    <?= $this->form->text('metadata_button_url', ['id' => 'button_url'], $this->metadata['button_url']) ?>
</div>