<div class="row">
    <label for="title">Title</label>
    <?= $this->form->text('metadata_title', ['id' => 'title'], $this->metadata['title']) ?>
</div>
<div class="row">
    <label for="subtitle">Subtitle</label>
    <?= $this->form->text('metadata_subtitle', ['id' => 'subtitle'], $this->metadata['subtitle']) ?>
</div>
<div class="row">
    <label for="first_paragraph">First Paragraph</label>
    <?= $this->form->textarea('metadata_first_paragraph', ['id' => 'first_paragraph'], $this->metadata['first_paragraph']) ?>
</div>
<div class="row">
    <label for="second_paragraph">Second Paragraph</label>
    <?= $this->form->textarea('metadata_second_paragraph', ['id' => 'second_paragraph'], $this->metadata['second_paragraph']) ?>
</div>
<div class="row">
    <label for="image">Image</label>
    <?= $this->form->file('metadata_image', ['id' => 'image'], array('image')) ?>
</div>
<? if($this->metadata['image']): ?>
    <?= Admin_View::showMetaImage('image', $this->metadata['image']) ?>
<? endif ?>
<div class="row">
    <label for="button_1_text">Button 1 Text</label>
    <?= $this->form->text('metadata_button_1_text', ['id' => 'button_1_text'], $this->metadata['button_1_text']) ?>
</div>
<div class="row">
    <label for="button_1_url">Button 1 URL</label>
    <?= $this->form->text('metadata_button_1_url', ['id' => 'button_1_url'], $this->metadata['button_1_url']) ?>
</div>
<div class="row">
    <label for="button_2_text">Button 2 Text</label>
    <?= $this->form->text('metadata_button_2_text', ['id' => 'button_2_text'], $this->metadata['button_2_text']) ?>
</div>
<div class="row">
    <label for="button_2_url">Button 2 URL</label>
    <?= $this->form->text('metadata_button_2_url', ['id' => 'button_2_url'], $this->metadata['button_2_url']) ?>
</div>