<div class="row">
    <label for="title">Title</label>
    <?= $this->form->text('metadata_title', ['id' => 'title'], $this->metadata['title']) ?>
</div>

<div class="row">
    <label for="column_1_image">Column 1 Image</label>
    <?= $this->form->file('metadata_column_1_image', ['id' => 'image'], array('image')) ?>
</div>
<? if($this->metadata['column_1_image']): ?>
    <?= Admin_View::showMetaImage('column_1_image', $this->metadata['column_1_image']) ?>
<? endif ?>
<div class="row">
    <label for="column_1_title">Column 1 Title</label>
    <?= $this->form->text('metadata_column_1_title', ['id' => 'column_1_title'], $this->metadata['column_1_title']) ?>
</div>
<div class="row">
    <label for="column_1_subtitle">Column 1 Subtitle</label>
    <?= $this->form->text('metadata_column_1_subtitle', ['id' => 'column_1_subtitle'], $this->metadata['column_1_subtitle']) ?>
</div>

<div class="row">
    <label for="column_2_image">Column 2 Image</label>
    <?= $this->form->file('metadata_column_2_image', ['id' => 'image'], array('image')) ?>
</div>
<? if($this->metadata['column_2_image']): ?>
    <?= Admin_View::showMetaImage('column_2_image', $this->metadata['column_2_image']) ?>
<? endif ?>
<div class="row">
    <label for="column_2_title">Column 2 Title</label>
    <?= $this->form->text('metadata_column_2_title', ['id' => 'column_2_title'], $this->metadata['column_2_title']) ?>
</div>
<div class="row">
    <label for="column_2_subtitle">Column 2 Subtitle</label>
    <?= $this->form->text('metadata_column_2_subtitle', ['id' => 'column_2_subtitle'], $this->metadata['column_2_subtitle']) ?>
</div>

<div class="row">
    <label for="column_3_image">Column 3 Image</label>
    <?= $this->form->file('metadata_column_3_image', ['id' => 'image'], array('image')) ?>
</div>
<? if($this->metadata['column_3_image']): ?>
    <?= Admin_View::showMetaImage('column_3_image', $this->metadata['column_3_image']) ?>
<? endif ?>
<div class="row">
    <label for="column_3_title">Column 3 Title</label>
    <?= $this->form->text('metadata_column_3_title', ['id' => 'column_3_title'], $this->metadata['column_3_title']) ?>
</div>
<div class="row">
    <label for="column_3_subtitle">Column 3 Subtitle</label>
    <?= $this->form->text('metadata_column_3_subtitle', ['id' => 'column_3_subtitle'], $this->metadata['column_3_subtitle']) ?>
</div>