<div class="row">
    <label for="title">Title</label>
    <?= $this->form->text('metadata_title', ['id' => 'title'], $this->metadata['title']) ?>
</div>
<div class="row">
    <label for="description">Description</label>
    <?= $this->form->textarea('metadata_description', ['id' => 'description'], $this->metadata['description']) ?>
</div>
<div class="row">
    <label for="phone">Phone</label>
    <?= $this->form->text('metadata_phone', ['id' => 'phone'], $this->metadata['phone']) ?>
</div>
<div class="row">
    <label for="image">Image</label>
    <?= $this->form->file('metadata_image', ['id' => 'image'], array('image')) ?>
</div>
<? if($this->metadata['image']): ?>
    <?= Admin_View::showMetaImage('image', $this->metadata['image']) ?>
<? endif ?>