<div class="row">
    <label for="title">Title</label>
    <?= $this->form->text('metadata_title', ['id' => 'title'], $this->metadata['title']) ?>
</div>
<div class="row">
    <label for="subtitle">Subtitle</label>
    <?= $this->form->text('metadata_subtitle', ['id' => 'subtitle'], $this->metadata['subtitle']) ?>
</div>
<div class="row">
    <label for="button_text">Button Text</label>
    <?= $this->form->text('metadata_button_text', ['id' => 'button_text'], $this->metadata['button_text']) ?>
</div>
<div class="row">
    <label for="button_url">Button URL</label>
    <?= $this->form->text('metadata_button_url', ['id' => 'button_url'], $this->metadata['button_url']) ?>
</div>
<div class="row">
    <label for="image">Image</label>
    <?= $this->form->file('metadata_image', ['id' => 'image'], array('image')) ?>
</div>
<? if($this->metadata['image']): ?>
    <?= Admin_View::showMetaImage('image', $this->metadata['image']) ?>
<? endif ?>