<div class="row">
    <label for="title">Title</label>
    <?= $this->form->text('metadata_title', ['id' => 'title'], $this->metadata['title']) ?>
</div>
<div class="row">
    <label for="categor">Category</label>
    <?= $this->form->selectChosen('metadata_category', ['category_1' => 'Category 1', 'category_2' => 'Category 2'], $this->metadata['category'], ['id' => 'category']) ?>
</div>

<div class="row">
    <label for="categories">Categories</label>
    <?= $this->form->selectChosen('metadata_categories', ['category_1' => 'Category 1', 'category_2' => 'Category 2'], explode(',', (string)$this->metadata['categories']), 'Choose categories', true, ['id' => 'categories']) ?>
</div>
<div class="row">
    <label for="content">Content</label>
    <?= $this->form->textarea('metadata_content', ['id' => 'content'], $this->metadata['content']) ?>
</div>
<div class="row">
    <label for="image">Image</label>
    <?= $this->form->image('metadata_image', 'test', ['id' => 'image']) ?>
</div>
<? if($this->metadata['image']): ?>
    <?= Admin_View::showMetaImage('image', $this->metadata['image']) ?>
<? endif ?>
<div class="row">
    <label for="video">Video</label>
    <?= $this->form->video('metadata_video', 'test', ['id' => 'video']) ?>
</div>
<? if($this->metadata['video']): ?>
    <?= Admin_View::showMetaVideo('video', $this->metadata['video']) ?>
<? endif ?>
<div class="row">
    <label for="audio">Audio</label>
    <?= $this->form->audio('metadata_audio', ['id' => 'audio']) ?>
</div>
<? if($this->metadata['audio']): ?>
    <?= Admin_View::showMetaAudio('audio', $this->metadata['audio']) ?>
<? endif ?>
<div class="row">
    <label for="file">File</label>
    <?= $this->form->file('metadata_file', ['id' => 'file']) ?>
</div>
<? if($this->metadata['file']): ?>
    <?= Admin_View::showMetaFile('file', $this->metadata['file']) ?>
<? endif ?>
<div class="row">
    <label for="date">Date</label>
    <?= $this->form->calendar('metadata_date', ['id' => 'date'], $this->metadata['date']) ?>
</div>
<div class="row">
    <label for="editor">Editor</label>
    <?= $this->form->editor('metadata_editor', ['id' => 'editor'], $this->metadata['editor']) ?>
</div>