<div class="row">
    <label for="button_text">Button Text</label>
    <?= $this->form->text('metadata_button_text', ['id' => 'button_text'], $this->metadata['button_text']) ?>
</div>
<div class="row">
    <label for="button_url">Button URL</label>
    <?= $this->form->text('metadata_button_url', ['id' => 'button_url'], $this->metadata['button_url']) ?>
</div>
<div class="row">
    <label for="video_mp4">Video MP4</label>
    <?= $this->form->video('metadata_video_mp4', 'car_list', ['id' => 'video_mp4']) ?>
</div>
<? if($this->metadata['video_mp4']): ?>
    <?= Admin_View::showMetaVideo('video_mp4', $this->metadata['video_mp4']) ?>
<? endif ?>
<div class="row">
    <label for="video_ogv">Video OGV</label>
    <?= $this->form->video('metadata_video_ogv', 'car_list', ['id' => 'video_ogv']) ?>
</div>
<? if($this->metadata['video_ogv']): ?>
    <?= Admin_View::showMetaVideo('video_ogv', $this->metadata['video_ogv']) ?>
<? endif ?>
<div class="row">
    <label for="video_webm">Video WEBM</label>
    <?= $this->form->video('metadata_video_webm', 'car_list', ['id' => 'video_webm']) ?>
</div>
<? if($this->metadata['video_webm']): ?>
    <?= Admin_View::showMetaVideo('video_webm', $this->metadata['video_webm']) ?>
<? endif ?>
<div class="row">
    <label for="video_jpg">Video Image JPG</label>
    <?= $this->form->image('metadata_video_jpg', 'video_jpg', ['id' => 'video_jpg']) ?>
</div>
<? if($this->metadata['video_jpg']): ?>
    <?= Admin_View::showMetaImage('video_jpg', $this->metadata['video_jpg']) ?>
<? endif ?>
