<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
    <a href="#tab-2" class="tab">Manage Content</a>
    <a href="<?= $this->url(['module' => 'admin', 'controller' => 'blog_posts_media', 'action' => 'index', 'post' => $this->item->getId()]) ?>" class="real">Manage Media</a>
    <a href="#tab-3" class="tab">Meta Tags</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="author">Author</label>
                <?= $this->form->selectChosen('author_id', $this->authors, $this->item->getAuthorId(), 'Choose author', false, ['id' => 'author']) ?>
            </div>
            <!--<div class="row">
                <label for="categories">Categories</label>
                <?/*= $this->form->selectChosen('.categories', $this->categories, $this->currentCategories, 'Choose categories', true, ['id' => 'categories']) */?>
            </div>-->
            <div class="row">
                <label for="name">Name</label>
                <?= $this->form->text('name', ['id' => 'name']) ?>
            </div>
            <div class="row">
                <label for="intro">Intro</label>
                <?= $this->form->textarea('intro', ['id' => 'intro']) ?>
            </div>
            <div class="row">
                <label for="button_text">Button Text</label>
                <?= $this->form->text('button_text', ['id' => 'button_text']) ?>
            </div>
            <div class="row">
                <label for="button_url">Button URL</label>
                <?= $this->form->text('button_url', ['id' => 'button_url']) ?>
            </div>
        </div>
        <div id="tab-2" class="hide">
            <div class="row">
                <?= $this->form->editor('content') ?>
            </div>
        </div>
        <div id="tab-3" class="hide">
            <div class="row">
                <label for="meta_title">Meta Title</label>
                <?= $this->form->text('meta_title', ['id' => 'meta_title']) ?>
            </div>
            <div class="row">
                <label for="meta_description">Meta Description</label>
                <?= $this->form->textarea('meta_description', ['id' => 'meta_description']) ?>
            </div>
            <div class="row">
                <label for="meta_keywords">Meta Keywords</label>
                <?= $this->form->textarea('meta_keywords', ['id' => 'meta_keywords']) ?>
            </div>
        </div>

        <!-- Identifier for the entity to be modified -->
        <input type="hidden" name="identifier" value="<?= $this->item->getId() ?>" />
        <!-- Identifier for the entity to be modified -->

        <div class="left">
            <?= Admin_View::cancelButton() ?>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>