<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="country_id">Country</label>
                <?= $this->form->selectChosen('country_id', $this->countries, null, 'Choose country', false, ['id' => 'country_id']) ?>
            </div>
            <div class="row">
                <label for="name">Name</label>
                <?= $this->form->text('name', ['id' => 'name']) ?>
            </div>
            <div class="row">
                <label for="delivery_cost">Delivery Cost (&euro;)</label>
                <?= $this->form->text('delivery_cost', ['id' => 'delivery_cost']) ?>
            </div>
        </div>
        <div class="left">
            <?= Admin_View::cancelButton() ?>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>