<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="set">Attribute Set</label>
                <?= $this->form->selectChosen('set_id', $this->sets, $this->item->getSetId(), 'Choose attribute set', false, ['id' => 'set']) ?>
            </div>
            <div class="row">
                <label for="name">Name</label>
                <?= $this->form->text('name', ['id' => 'name']) ?>
            </div>
            <div class="row">
                <label for="label">Label</label>
                <?= $this->form->text('label', ['id' => 'label']) ?>
            </div>
            <div class="row">
                <label for="filterable">Filterable</label>
                <?= $this->form->selectChosen('filterable', $this->filters, $this->item->getFilterable(), 'Is filterable?', false, ['id' => 'filterable']) ?>
            </div>
            <div class="row">
                <label for="filterable_everywhere">Filterable Everywhere</label>
                <?= $this->form->selectChosen('filterable_everywhere', $this->everywhereFilters, $this->item->getFilterableEverywhere(), 'Is filterable everywhere?', false, ['id' => 'filterable_everywhere']) ?>
            </div>
            <? if($this->categories): ?>
            <div class="row">
                <label for="categories">Filterable On</label>
                <?= $this->form->selectChosen('.categories', $this->categories, $this->currentCategories, 'Choose categories', true, ['id' => 'categories']) ?>
            </div>
            <? endif ?>
            <div class="row">
                <label for="shop_attribute_type">Type</label>
                <?= $this->form->selectChosen('type', $this->types, $this->item->getType(), 'Choose type', false, ['id' => 'shop_attribute_type']) ?>
            </div>
            <div class="row all-values">
                <label for="shop_attribute_value_text">Value</label>
                <?= $this->form->text('value', ['id' => 'shop_attribute_value_text']) ?>

                <label for="shop_attribute_value_textarea" style="display: none;">Value</label>
                <?= $this->form->textarea('.val', ['id' => 'shop_attribute_value_textarea', 'style' => 'display: none;'], $this->item->getValue()) ?>

                <label for="shop_attribute_value_number" style="display: none;">Value</label>
                <?= $this->form->number('.val', ['id' => 'shop_attribute_value_number', 'style' => 'display: none;'], $this->item->getValue()) ?>

                <label for="shop_attribute_value_editor" style="display: none;">Value</label>
                <?= $this->form->editor('.val', ['id' => 'shop_attribute_value_editor', 'style' => 'display: none;'], $this->item->getValue()) ?>

                <label for="shop_attribute_value_calendar" style="display: none;">Value</label>
                <?= $this->form->calendar('.val', ['id' => 'shop_attribute_value_calendar', 'style' => 'display: none;'], $this->item->getValue()) ?>

                <label for="shop_attribute_value_time" style="display: none;">Value</label>
                <?= $this->form->time('.val', ['id' => 'shop_attribute_value_time', 'style' => 'display: none;'], $this->item->getValue()) ?>

                <label for="shop_attribute_value_file" style="display: none;">Value</label>
                <?= $this->form->file('.val', ['id' => 'shop_attribute_value_file', 'style' => 'display: none;']) ?>

                <label for="shop_attribute_value_image" style="display: none;">Value</label>
                <?= $this->form->image('.val', 'shop_attribute', ['id' => 'shop_attribute_value_image', 'style' => 'display: none;']) ?>

                <label for="shop_attribute_value_video" style="display: none;">Value</label>
                <?= $this->form->video('.val', 'shop_attribute', ['id' => 'shop_attribute_value_video', 'style' => 'display: none;']) ?>

                <label for="shop_attribute_value_audio" style="display: none;">Value</label>
                <?= $this->form->audio('.val', ['id' => 'shop_attribute_value_audio', 'style' => 'display: none;']) ?>
            </div>
            <? if($this->item->getType() == 'file' && $this->item->getValue()): ?>
                <?= Admin_View::showFile('value', $this->item->getValue()) ?>
            <? endif ?>
            <? if($this->item->getType() == 'image' && $this->item->getValue()): ?>
                <?= Admin_View::showImage('value', $this->item->getValue()) ?>
            <? endif ?>
            <? if($this->item->getType() == 'video' && $this->item->getValue()): ?>
                <?= Admin_View::showVideo('value', $this->item->getValue()) ?>
            <? endif ?>
            <? if($this->item->getType() == 'audio' && $this->item->getValue()): ?>
                <?= Admin_View::showAudio('value', $this->item->getValue()) ?>
            <? endif ?>
        </div>

        <!-- Identifier for the entity to be modified -->
        <input type="hidden" name="identifier" value="<?= $this->item->getId() ?>" />
        <input type="hidden" name="old_attr_name" value="<?= $this->item->getName() ?>" />
        <!-- Identifier for the entity to be modified -->

        <div class="left">
            <?= Admin_View::cancelButton() ?>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
            <?= Admin_View::duplicateButton($this->item->getId()) ?>
        </div>
    </form>
</div>