<!--<div class="box">
    <div class="top red"><?/*= $this->analytics['users'] */?></div>
    <div class="bottom">unique visitors</div>
</div>
<div class="box">
    <div class="top orange"><?/*= $this->analytics['newUsers'] */?></div>
    <div class="bottom">new visitors</div>
</div>
<div class="box">
    <div class="top green"><?/*= $this->analytics['visits'] */?></div>
    <div class="bottom">unique visits</div>
</div>
<div class="box">
    <div class="top blue"><?/*= $this->analytics['totalVisits'] */?></div>
    <div class="bottom">total visits</div>
</div>-->