<div class="login">
    <div class="header">
        <span>Administrator Login</span>
        <a href="<?= $this->url(['module' => 'admin', 'controller' => 'admin_users', 'action' => 'forgot-password']) ?>">Forgot your password?</a>
    </div>
    <div class="container">
        <div class="icon left"></div>
        <form action="<?= $this->url() ?>" method="post" id="loginForm">
            <div class="inputs right">
                <div class="row">
                    <label for="username"><img src="<?= Dir::getAssets() ?>/admin/img/login-label-username.png" /></label>
                    <div class="input-success"></div>
                    <?= $this->form->text('username', ['id' => 'username', 'placeholder' => 'Username']) ?>
                </div>
                <div class="row">
                    <label for="password"><img src="<?= Dir::getAssets() ?>/admin/img/login-label-password.png" /></label>
                    <div class="input-success"></div>
                    <?= $this->form->password('password', ['id' => 'password', 'placeholder' => 'Password']) ?>
                </div>
            </div>
            <?= $this->form->submit('login', 'LOGIN') ?>
        </form>
    </div>
</div>