<script src="<?= Dir::getAssets() ?>/admin/js/super.min.js?<?= time() ?>" type="text/javascript"></script>
<script src="<?= Dir::getAssets() ?>/admin/js/tinymce/tinymce.min.js?<?= time() ?>" type="text/javascript"></script>

<?= $this->placeholder()->bottom() ?>