<title><?= Setting::get('company-name')->getValue() ?> - Admin Panel</title>

<link rel="icon" type="image/png" href="<?= Dir::getAssets() ?>/favicon.png">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

<link href="<?= Dir::getAssets() ?>/admin/css/super.min.css?<?= time() ?>" rel="stylesheet" type="text/css">

<?= $this->placeholder()->top() ?>