<!-- Header Start -->
<div id="header">
    <a href="#" class="menu-btn left"></a>
    <a href="<?= Url::getAdminUrl() ?>" class="logo left"><?= Setting::get('company-name')->getValue() ?></a>
    <a href="<?= Url::getAdminUrl() ?>?logout=1" class="logout right">Logout</a>
</div>
<!-- Header End -->

<!-- Menu Start -->
<div id="menu" class="scroll">
    <div class="scroll-content">
        <div class="admin-panel">
            <span class="admin-name">Welcome, <?= $this->admin->getFirstName() ?> <?= $this->admin->getLastName() ?>!</span>
            <span class="admin-role">Administrator</span>
        </div>
        <ul class="main-menu">
            <li>
                <a href="<?= Url::getAdminUrl() ?>"><img src="<?= Dir::getAssets() ?>/admin/img/dashboard-icon.png" class="menu-icon" />Dashboard</a>
            </li>
            <li>
                <a><img src="<?= Dir::getAssets() ?>/admin/img/manage-content-icon.png" class="menu-icon" />Manage Content</a>
                <ul class="sub-menu">
                    <? if(Admin_Access::checkAccessLevel('cms_pages')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'cms_pages', 'action' => 'index']) ?>">Pages</a></li>
                    <? endif ?>
                    <? if(Admin_Access::checkAccessLevel('cms_menus_locations')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'cms_menus_locations', 'action' => 'index']) ?>">Menus</a></li>
                    <? endif ?>
                    <? if(Admin_Access::checkAccessLevel('cms_blocks')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'cms_blocks', 'action' => 'index']) ?>">Blocks</a></li>
                    <? endif ?>
                    <? if(Admin_Access::checkAccessLevel('cms_layouts')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'cms_layouts', 'action' => 'index']) ?>">Layouts</a></li>
                    <? endif ?>
                </ul>
            </li>
            <li>
                <a><img src="<?= Dir::getAssets() ?>/admin/img/access-control-icon.png" class="menu-icon" />Access Control</a>
                <ul class="sub-menu">
                    <? if(Admin_Access::checkAccessLevel('admin_users')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'admin_users', 'action' => 'index']) ?>">Admin Users</a></li>
                    <? endif ?>
                    <?/* if(Admin_Access::checkAccessLevel('users')): */?><!--
                        <li><a href="<?/*= $this->url(['module' => 'admin', 'controller' => 'users_users', 'action' => 'index']) */?>">Normal Users</a></li>
                    --><?/* endif */?>
                </ul>
            </li>
            <li>
                <a><img src="<?= Dir::getAssets() ?>/admin/img/car-icon.png" class="menu-icon" />Cars Details</a>
                <ul class="sub-menu">
                    <? if(Admin_Access::checkAccessLevel('cars')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'car_cars', 'action' => 'index']) ?>">Cars</a></li>
                    <? endif ?>
                    <? if(Admin_Access::checkAccessLevel('cars_ads')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'car_ads', 'action' => 'index']) ?>">Ads</a></li>
                    <? endif ?>
                    <? if(Admin_Access::checkAccessLevel('cars_mechanics')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'car_mechanics', 'action' => 'index']) ?>">Mechanics</a></li>
                    <? endif ?>
                    <? if(Admin_Access::checkAccessLevel('cars_brands')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'car_brands', 'action' => 'index']) ?>">Brands</a></li>
                    <? endif ?>
                    <? if(Admin_Access::checkAccessLevel('cars_models')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'car_models', 'action' => 'index']) ?>">Models</a></li>
                    <? endif ?>
                    <? if(Admin_Access::checkAccessLevel('cars_colors')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'car_colors', 'action' => 'index']) ?>">Colors</a></li>
                    <? endif ?>
                    <? if(Admin_Access::checkAccessLevel('cars_features')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'car_features', 'action' => 'index']) ?>">Features</a></li>
                    <? endif ?>
                    <? if(Admin_Access::checkAccessLevel('cars_options')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'car_options', 'action' => 'index']) ?>">Options</a></li>
                    <? endif ?>
                    <? if(Admin_Access::checkAccessLevel('cars_stats')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'car_stats', 'action' => 'index']) ?>">Stats</a></li>
                    <? endif ?>
                    <? if(Admin_Access::checkAccessLevel('cars_certifications')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'car_certifications', 'action' => 'index']) ?>">Certifications</a></li>
                    <? endif ?>
                    <? if(Admin_Access::checkAccessLevel('cars_followers')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'car_followers', 'action' => 'index']) ?>">Followers</a></li>
                    <? endif ?>
                </ul>
            </li>
            <li>
                <a><img src="<?= Dir::getAssets() ?>/admin/img/shop-area-icon.png" class="menu-icon" />Shop Panel</a>
                <ul class="sub-menu">
                    <? if(Admin_Access::checkAccessLevel('cars_orders')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'car_orders', 'action' => 'index']) ?>">Orders</a></li>
                    <? endif ?>
                    <? if(Admin_Access::checkAccessLevel('shop_vouchers')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'shop_orders_vouchers', 'action' => 'index']) ?>">Vouchers</a></li>
                    <? endif ?>
                    <?/* if(Admin_Access::checkAccessLevel('shop_types')): */?><!--
                        <li><a href="<?/*= $this->url(['module' => 'admin', 'controller' => 'shop_categories_types', 'action' => 'index']) */?>">Types</a></li>
                    <?/* endif */?>
                    <?/* if(Admin_Access::checkAccessLevel('shop_categories')): */?>
                        <li><a href="<?/*= $this->url(['module' => 'admin', 'controller' => 'shop_categories', 'action' => 'index']) */?>">Categories</a></li>
                    <?/* endif */?>
                    <?/* if(Admin_Access::checkAccessLevel('shop_products')): */?>
                        <li><a href="<?/*= $this->url(['module' => 'admin', 'controller' => 'shop_products', 'action' => 'index']) */?>">Products</a></li>
                    <?/* endif */?>
                    <?/* if(Admin_Access::checkAccessLevel('shop_vendors')): */?>
                        <li><a href="<?/*= $this->url(['module' => 'admin', 'controller' => 'shop_vendors', 'action' => 'index']) */?>">Vendors</a></li>
                    <?/* endif */?>
                    <?/* if(Admin_Access::checkAccessLevel('shop_taxes')): */?>
                        <li><a href="<?/*= $this->url(['module' => 'admin', 'controller' => 'shop_products_taxes', 'action' => 'index']) */?>">Taxes</a></li>
                    <?/* endif */?>
                    <?/* if(Admin_Access::checkAccessLevel('shop_discounts')): */?>
                        <li><a href="<?/*= $this->url(['module' => 'admin', 'controller' => 'shop_products_discounts', 'action' => 'index']) */?>">Discounts</a></li>
                    <?/* endif */?>
                    <?/* if(Admin_Access::checkAccessLevel('shop_attributes_sets')): */?>
                        <li><a href="<?/*= $this->url(['module' => 'admin', 'controller' => 'shop_attributes_sets', 'action' => 'index']) */?>">Attribute Sets</a></li>
                    <?/* endif */?>
                    <?/* if(Admin_Access::checkAccessLevel('shop_attributes')): */?>
                        <li><a href="<?/*= $this->url(['module' => 'admin', 'controller' => 'shop_attributes', 'action' => 'index']) */?>">Attributes</a></li>
                    <?/* endif */?>
                    <?/* if(Admin_Access::checkAccessLevel('shop_products_enquiries')): */?>
                        <li><a href="<?/*= $this->url(['module' => 'admin', 'controller' => 'shop_products_enquiries', 'action' => 'index']) */?>">Enquiries</a></li>
                    --><?/* endif */?>
                </ul>
            </li>
            <li>
                <a><img src="<?= Dir::getAssets() ?>/admin/img/geolocation-icon.png" class="menu-icon" />Geo Location</a>
                <ul class="sub-menu">
                    <? if(Admin_Access::checkAccessLevel('cms_countries')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'default_countries', 'action' => 'index']) ?>">Countries</a></li>
                    <? endif ?>
                    <? if(Admin_Access::checkAccessLevel('cms_counties')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'default_counties', 'action' => 'index']) ?>">Counties</a></li>
                    <? endif ?>
                    <? if(Admin_Access::checkAccessLevel('cms_cities')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'default_cities', 'action' => 'index']) ?>">Cities</a></li>
                    <? endif ?>
                </ul>
            </li>
            <li>
                <a><img src="<?= Dir::getAssets() ?>/admin/img/blog-area-icon.png" class="menu-icon" />Blog Area</a>
                <ul class="sub-menu">
                    <?/* if(Admin_Access::checkAccessLevel('blog_categories')): */?><!--
                        <li><a href="<?/*= $this->url(['module' => 'admin', 'controller' => 'blog_categories', 'action' => 'index']) */?>">Categories</a></li>
                    --><?/* endif */?>
                    <? if(Admin_Access::checkAccessLevel('blog_authors')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'blog_authors', 'action' => 'index']) ?>">Authors</a></li>
                    <? endif ?>
                    <? if(Admin_Access::checkAccessLevel('blog_posts')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'blog_posts', 'action' => 'index']) ?>">Posts</a></li>
                    <? endif ?>
                    <?/* if(Admin_Access::checkAccessLevel('blog_posts_comments')): */?><!--
                        <li><a href="<?/*= $this->url(['module' => 'admin', 'controller' => 'blog_posts_comments', 'action' => 'index']) */?>">Comments</a></li>
                    --><?/* endif */?>
                </ul>
            </li>
            <li>
                <a><img src="<?= Dir::getAssets() ?>/admin/img/general-settings-icon.png" class="menu-icon" />System Settings</a>
                <ul class="sub-menu">
                    <? if(Admin_Access::checkAccessLevel('admin_settings')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'admin_settings_general', 'action' => 'index']) ?>">General Settings</a></li>
                    <? endif ?>
                    <? if(Admin_Access::checkAccessLevel('admin_settings')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'admin_settings', 'action' => 'index']) ?>">Website Settings</a></li>
                    <? endif ?>
                    <? if(Admin_Access::checkAccessLevel('admin_analytics')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'admin_analytics', 'action' => 'index']) ?>">Google Analytics</a></li>
                    <? endif ?>
                </ul>
            </li>
            <li>
                <a><img src="<?= Dir::getAssets() ?>/admin/img/newsletter-icon.png" class="menu-icon" />Newsletter</a>
                <ul class="sub-menu">
                    <? if(Admin_Access::checkAccessLevel('cms_newsletter_subscribers')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'cms_newsletter_subscribers', 'action' => 'index']) ?>">Subscribers</a></li>
                    <? endif ?>
                    <? if(Admin_Access::checkAccessLevel('cms_newsletter_lists')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'cms_newsletter_lists', 'action' => 'index']) ?>">Email Lists</a></li>
                    <? endif ?>
                </ul>
            </li>
            <li>
                <a><img src="<?= Dir::getAssets() ?>/admin/img/custom-entities-icon.png" class="menu-icon" />Custom Entities</a>
                <ul class="sub-menu">
                    <? if(Admin_Access::checkAccessLevel('partners')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'default_partners', 'action' => 'index']) ?>">Partners</a></li>
                    <? endif ?>
                    <? if(Admin_Access::checkAccessLevel('team')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'default_team', 'action' => 'index']) ?>">Team</a></li>
                    <? endif ?>
                    <? if(Admin_Access::checkAccessLevel('sell_slides')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'default_sell-slides', 'action' => 'index']) ?>">Sell Slides</a></li>
                    <? endif ?>
                    <? if(Admin_Access::checkAccessLevel('buy_slides')): ?>
                        <li><a href="<?= $this->url(['module' => 'admin', 'controller' => 'default_buy-slides', 'action' => 'index']) ?>">Buy Slides</a></li>
                    <? endif ?>
                </ul>
            </li>
            <div class="menu-end"></div>
        </ul>
    </div>
</div>
<!-- Menu End -->