<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <?= $this->render(Dir::getLayouts() . '/admin/_head.phtml') ?>
</head>
<body>
    <?= $this->render(Dir::getLayouts() . '/admin/_header.phtml') ?>

    <div id="wrapper">
        <!-- SubHeader Start -->
        <div class="title">
            <span><?= $this->title ?></span>
        </div>
        <div class="breadcrumbs">
            <?= Admin_View::breadcrumbs($this->breadcrumbs) ?>
        </div>

        <?= Flash::show() ?>
        <!-- SubHeader End -->

        <!-- Content Start -->
        <div class="dashboard-container">
            <?= $this->view() ?>
        </div>
        <!-- Content End -->
    </div>

    <?= $this->render(Dir::getLayouts() . '/admin/_footer.phtml') ?>
</body>
</html>