<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <?= $this->render(Dir::getLayouts() . '/admin/_head.phtml') ?>
</head>
<body>
    <?= Flash::show() ?>
    <?= $this->view() ?>

    <?= $this->render(Dir::getLayouts() . '/admin/_footer.phtml') ?>
</body>
</html>