<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
    <a href="#tab-2" class="tab">Content</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="post">Post</label>
                <?= $this->form->selectChosen('post_id', $this->posts, $this->item->getPostId(), 'Choose post', false, ['id' => 'post']) ?>
            </div>
            <div class="row">
                <label for="name">Name</label>
                <?= $this->form->text('name', ['id' => 'name']) ?>
            </div>
            <div class="row">
                <label for="image">Image</label>
                <?= $this->form->image('image', 'blog_comment', ['id' => 'image']) ?>
            </div>
            <? if($this->item->getImage()): ?>
                <?= Admin_View::showImage('image', $this->item->getImage()) ?>
            <? endif ?>
            <div class="row">
                <label for="flagged">Flagged</label>
                <?= $this->form->selectChosen('flagged', $this->flags, $this->item->getFlagged(), 'Flagged or not?', false, ['id' => 'flagged']) ?>
            </div>
        </div>
        <div id="tab-2" class="hide">
            <div class="row">
                <label for="content">Content</label>
                <?= $this->form->editor('content', ['id' => 'content']) ?>
            </div>
        </div>

        <!-- Identifier for the entity to be modified -->
        <input type="hidden" name="identifier" value="<?= $this->item->getId() ?>" />
        <!-- Identifier for the entity to be modified -->

        <div class="left">
            <?= Admin_View::cancelButton() ?>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>