<div class="tabs left">
    <a href="<?= $this->url(['module' => 'admin', 'controller' => 'shop_products', 'action' => 'edit', 'id' => $this->product]) ?>" class="real">Back To Product</a>
    <a href="#tab-2" class="tab selected">Manage Media</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="shop_product_media_type">Type</label>
                <?= $this->form->selectChosen('type', $this->types, null, 'Choose type', false, ['id' => 'shop_product_media_type']) ?>
            </div>
            <div class="row">
                <label for="media">Media</label>
                <?= $this->form->image('media', 'shop_product', ['id' => 'media', 'accept' => 'image/*|video/*|audio/*']) ?>
            </div>
        </div>
        <div class="left">
            <a href="<?= $this->url(['module' => 'admin', 'controller' => 'shop_products_media', 'action' => 'index', 'product' => $this->product]) ?>" class="btn delete red left">Cancel</a>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>