<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
    <? if(count($this->sets) > 0): ?><a href="#tab-2" class="tab">Attribute Sets</a><? endif ?>
    <a href="#tab-3" class="tab">Meta Tags</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="type_id">Type</label>
                <?= $this->form->selectChosen('type_id', $this->types, null, 'Choose type', false, ['id' => 'type_id']) ?>
            </div>
            <div class="row">
                <label for="name">Name</label>
                <?= $this->form->text('name', ['id' => 'name']) ?>
            </div>
            <div class="row">
                <label for="description">Description</label>
                <?= $this->form->textarea('description', ['id' => 'description']) ?>
            </div>
        </div>
        <div id="tab-2" class="hide">
        <? if(count($this->sets) > 0): ?>
        <div class="row">
            <label for="sets">Attribute Sets</label>
            <?= $this->form->selectChosen('.sets', $this->sets, null, 'Choose attribute sets', true, ['id' => 'sets']) ?>
        </div>
        <? endif ?>
        </div>
        <div id="tab-3" class="hide">
            <div class="row">
                <label for="meta_title">Meta Title</label>
                <?= $this->form->text('meta_title', ['id' => 'meta_title']) ?>
            </div>
            <div class="row">
                <label for="meta_description">Meta Description</label>
                <?= $this->form->textarea('meta_description', ['id' => 'meta_description']) ?>
            </div>
            <div class="row">
                <label for="meta_keywords">Meta Keywords</label>
                <?= $this->form->textarea('meta_keywords', ['id' => 'meta_keywords']) ?>
            </div>
        </div>
        <div class="left">
            <?= Admin_View::cancelButton() ?>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>