<section class="summary">
    <div>
        <? if($this->images->getCount() > 0): ?>
            <figure>
                <img src="<?= $this->image($this->car->getFirstImage()->getImage(), 'thumb') ?>" title="<?= $this->car->getName() ?>" alt="<?= $this->car->getName() ?>" />
            </figure>
        <? endif ?>
        <span style="text-align: center;"><?= $this->car->getYear() ?> <?= $this->brand->getName() ?> <?= $this->model->getName() ?></span>
        <p style="text-align: center;">
            <?= Car_Model_Car::$bodies[$this->car->getBody()] ?> | <?= number_format($this->car->getKilometers(), 0, ',', '.') ?> km
            <br />
            <?= number_format($this->car->getMotorisation(), 1) ?> //
            <?= $this->car->getCylinderNumber() ?> Cilindri //
            <?= Car_Model_Car::$fuels[$this->car->getFuel()] ?> //
            <?= $this->car->getHorsePower() ?> CP //
            <?= $this->car->getGears() ?> Viteze //
            Cutie <?= Car_Model_Car::$transmissions[$this->car->getTransmission()] ?> //
            Transmisie <?= Car_Model_Car::$tractor[$this->car->getTraction()] ?>
        </p>
        <em style="text-align: center;">&euro;<?= number_format($this->car->getPrice(), 0, ',', '.') ?></em>
    </div>
    <div class="split"></div>
    <div>
        <? if(Session::exists('shop-voucher') && Session::get('shop-voucher-car') == $this->car->getId()): ?>
            <span style="text-align: center; color: #00EDCF; padding: 15px 0;">
                Card Cadou Aplicat<br />
                <span style="text-align: center; color: #009BFF; font-size: 1em;">- <?= $this->car->getVoucherDiscount() ?></span>
            </span>
        <? else: ?>
            <form action="<?= $this->url() ?>" method="post">
                <?= $this->form->hidden('car_id', [], $this->car->getId()) ?>
                <? if($this->county): ?>
                    <?= $this->form->hidden('county_id', [], $this->county->getId()) ?>
                <? endif ?>
                <?= $this->form->text('voucher', ['placeholder' => 'Ai un card cadou?']) ?>
                <?= $this->form->submit('submit', '') ?>
            </form>
        <? endif ?>
    </div>
    <div class="split"></div>
    <div id="user-summary">
        <div class="summary-left">
            <span>Detaliile Tale</span>
            <? if($this->step == 2): ?>
                <p id="first-name-details-summary" style="float: none; display: inline;"><?= $this->order ? $this->order->getFirstName() : '' ?></p>
                <p id="last-name-details-summary" style="float: none; display: inline;"><?= $this->order ? $this->order->getLastName() : '' ?></p><br />
                <p id="email-details-summary" style="float: none; display: inline;"><?= $this->order ? $this->order->getEmail() : '' ?></p><br />
                <p id="phone-details-summary" style="float: none; display: inline;"><?= $this->order ? $this->order->getPhone() : '' ?></p>
            <? endif ?>
        </div>
    </div>
    <div class="split"></div>
    <div id="delivery-summary">
        <div class="summary-left">
            <span>Livrare</span>
            <? if($this->county): ?>
                <p>Catre: <?= $this->county->getName() ?></p>
            <? endif ?>
        </div>
        <div class="summary-right">
            <? if($this->county): ?>
                <em>&euro;<?= $this->county->getDeliveryCost() ?></em>
            <? else: ?>
                <em>de la &euro;0</em>
            <? endif ?>
        </div>
    </div>
    <div class="split"></div>
    <div id="tax-summary">
        <div class="summary-left">
            <span>Taxe</span>
            <? if($this->step == 2): ?>
            <p>
                Inmatriculare<br />
                Retusuri
            </p>
            <? endif ?>
        </div>
        <div class="summary-right">
            <em>&euro;<?= number_format($this->car->getTaxesPrice(), 0, ',', '.') ?></em>
        </div>
    </div>
    <div class="split"></div>
    <div id="total-summary">
        <span style="text-align: right; font-size: 1.5em;">Total</span>
        <?/* var_dump($this->car);die; */?>
        <em style="text-align: right; font-size: 1.5em;">&euro;<?= number_format($this->car->getTotalPrice($this->county ? $this->county->getDeliveryCost() : 0), 0, ',', '.') ?></em>
    </div>
</section>