<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title><?= $this->meta['title'] ? $this->meta['title'] . ' - ' . Setting::get('company-name')->getValue() : Setting::get('company-name')->getValue() ?></title>
    <link rel="icon" type="image/png" href="<?= Dir::getAssets() ?>/favicon.png">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <meta name="description" content="<?= $this->meta['description'] ?>" />
    <meta name="keywords" content="<?= $this->meta['keywords'] ?>" />

    <link rel="stylesheet" type="text/css" href="<?= Dir::getAssets() ?>/default/css/super.min.css?<?= time() ?>" />
</head>
<body>
    <div id="loading"></div>
    <main>
        <form id="pay-form" action="<?= $this->url ?>" method="post" name="frmPaymentRedirect">
            <input type="hidden" name="env_key" value="<?= $this->key ?>"/>
            <input type="hidden" name="data" value="<?= $this->data ?>"/>
        </form>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript">
        $(window).load(function(){
            setTimeout(function () {
                $('#pay-form').submit();
            }, 1000);
        });
    </script>
</body>
</html>