<? unset($_SESSION['flash-message']); ?>
<section class="container">
    <div class="wrapper">
        <div class="space"></div>
        <section class="checkout">
            <article class="step completed">
                <img src="<?= Dir::getAssets() ?>/default/img/checkout-step1.png" alt="Checkout - Pas 1" />
                <br />
                <span>Sumar</span>
                <br />
                <p>Asigura-te ca ea este aleasa.</p>
            </article>
            <article class="step active">
                <img src="<?= Dir::getAssets() ?>/default/img/checkout-step2.png" alt="Checkout - Pas 2" />
                <br />
                <span>Livrare</span>
                <br />
                <p>Unde o vei intalni?</p>
            </article>
            <article class="step inactive">
                <img src="<?= Dir::getAssets() ?>/default/img/checkout-step3.png" alt="Checkout - Pas 3" />
                <br />
                <span>Pregatit?</span>
                <br />
                <p>Fa-o a ta.</p>
            </article>
            <div class="space"></div>
            <form id="checkout-step2" action="<?= $this->page('checkout-step-3')->getUrl() ?>" method="post">
                <?= $this->form->hidden('car_id', [], $this->car->getId()) ?>
                <?= $this->form->hidden('.price', ['id' => 'car-real-price'], $this->car->getTotalPrice()) ?>
                <?= $this->form->hidden('.dummy-price', ['id' => 'car-dummy-price'], $this->car->getTotalPrice()) ?>
                <div class="car-details" style="border: none;">
                    <div class="user-details">
                        <span>Spune-ne cine esti</span>
                        <?= $this->form->text('first_name', ['id' => 'checkout-first-name', 'placeholder' => 'Nume']) ?>
                        <?= $this->form->text('last_name', ['id' => 'checkout-last-name', 'placeholder' => 'Prenume']) ?>
                        <?= $this->form->text('email', ['id' => 'checkout-email', 'placeholder' => 'Email']) ?>
                        <?= $this->form->text('phone', ['id' => 'checkout-phone', 'placeholder' => 'Telefon', 'onkeyup' => 'this.value=this.value.replace(/[^\d]/,\'\')']) ?>

                        <span>...si unde vrei sa iti parcam noua masina</span>
                        <?= $this->form->hidden('county_id') ?>
                        <?= $this->form->hidden('city_id') ?>
                        <?= $this->form->text('county', ['id' => 'checkout-county', 'placeholder' => 'Judet', 'data-url' => $this->url(['module' => 'car', 'controller' => 'checkout', 'action' => 'get-counties'])]) ?>
                        <?= $this->form->text('city', ['id' => 'checkout-city', 'placeholder' => 'Oras', 'data-url' => $this->url(['module' => 'car', 'controller' => 'checkout', 'action' => 'get-cities'])]) ?>
                        <?= $this->form->text('street', ['id' => 'checkout-street', 'placeholder' => 'Strada']) ?>
                        <?= $this->form->text('street_no', ['id' => 'checkout-number', 'placeholder' => 'Numar']) ?>
                    </div>
                    <div class="tax-details">
                        <div class="space"></div>
                        <div class="tax-container">
                            <div>
                                <img src="<?= Dir::getAssets() ?>/default/img/documents.png" alt="Documente Inmatriculare" />
                                <div>
                                    <span>Documente Inmatriculare</span>
                                    <br />
                                    <div class="tooltip more-info" title="<?= Setting::get('car-registration-documents-info')->getValue() ?>"></div>
                                    <em>&euro;<?= Setting::get('car-registration-documents')->getValue() ?></em>
                                </div>
                            </div>
                            <div class="split"></div>
                            <div>
                                <img src="<?= Dir::getAssets() ?>/default/img/detailing.png" alt="Ultimele Retusuri" />
                                <span>Ultimele Retusuri</span>
                                <br />
                                <div class="tooltip more-info" title="<?= Setting::get('car-finishing-touches-info')->getValue() ?>"></div>
                                <em>&euro;<?= Setting::get('car-finishing-touches')->getValue() ?></em>
                            </div>
                            <div class="split"></div>
                            <div>
                                <img src="<?= Dir::getAssets() ?>/default/img/delivery.png" alt="Livrare" />
                                <span>Livrata direct la usa ta</span>
                                <br />
                                <em id="delivery-cost">de la &euro;0</em>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-small"></div>
                <div class="settle">
                    <span>Totul este in regula?</span>
                    <br />
                    <a href="#" class="back" onclick="$('#back').submit();">Inapoi</a>
                    <input type="submit" value="Urmatorul Pas" />
                </div>
            </form>

            <form id="back" action="<?= $this->url(['module' => 'car', 'controller' => 'checkout', 'action' => 'step1']) ?>" method="post">
                <?= $this->form->hidden('car_id', [], $this->car->getId()) ?>
            </form>
        </section>
        
        <?= $this->partial('car/views/checkout/_summary.phtml', ['step' => 2, 'form' => $this->form, 'car' => $this->car, 'brand' => $this->brand, 'model' => $this->model, 'images' => $this->images]) ?>
    </div>
    <div class="space"></div>
</section>

<?= $this->block('SellMenu') ?>

<?= Bootstrap::getInstance()->_appendScriptInline = "
    <script type='text/javascript'>
    setTimeout(function(){
        $('section.summary').css('height', $('section.checkout').height() + 'px');
    }, 500);
    </script>
"; ?>
