<? unset($_SESSION['flash-message']); ?>
<section class="container">
    <div class="wrapper">
        <div class="space"></div>
        <section class="checkout">
            <article class="step active">
                <img src="<?= Dir::getAssets() ?>/default/img/checkout-step1.png" alt="Checkout - Pas 1" />
                <br />
                <span>Sumar</span>
                <br />
                <p>Asigura-te ca ea este aleasa.</p>
            </article>
            <article class="step inactive">
                <img src="<?= Dir::getAssets() ?>/default/img/checkout-step2.png" alt="Checkout - Pas 2" />
                <br />
                <span>Livrare</span>
                <br />
                <p>Unde o vei intalni?</p>
            </article>
            <article class="step inactive">
                <img src="<?= Dir::getAssets() ?>/default/img/checkout-step3.png" alt="Checkout - Pas 3" />
                <br />
                <span>Pregatit?</span>
                <br />
                <p>Fa-o a ta.</p>
            </article>
            <div class="space"></div>
            <form id="checkout-step1" action="<?= $this->page('checkout-step-2')->getUrl() ?>" method="post">
                <?= $this->form->hidden('car_id', [], $this->car->getId()) ?>
                <?= $this->form->hidden('.price', ['id' => 'car-real-price'], $this->car->getTotalPrice()) ?>
                <div class="car-details">
                    <div class="car-image">
                        <? if($this->images->getCount() > 0): ?>
                            <img src="<?= $this->image($this->car->getFirstImage()->getImage(), 'view') ?>" title="<?= $this->car->getName() ?>" alt="<?= $this->car->getName() ?>" />
                        <? endif ?>
                    </div>
                    <div class="car-overview">
                        <div class="text">
                            <span><?= $this->car->getYear() ?> <?= $this->brand->getName() ?> <?= $this->model->getName() ?> | <?= number_format($this->car->getKilometers(), 0, ',', '.') ?> km</span>
                            <p>
                                <?= Car_Model_Car::$bodies[$this->car->getBody()] ?> //
                                <?= number_format($this->car->getMotorisation(), 1) ?> //
                                <?= $this->car->getCylinderNumber() ?> Cilindri //
                                <?= Car_Model_Car::$fuels[$this->car->getFuel()] ?> //
                                <?= $this->car->getHorsePower() ?> CP //
                                <?= $this->car->getGears() ?> Viteze //
                                Cutie <?= Car_Model_Car::$transmissions[$this->car->getTransmission()] ?> //
                                Transmisie <?= Car_Model_Car::$tractor[$this->car->getTraction()] ?>
                            </p>
                            <br />
                            <em>&euro;<?= number_format($this->car->getPrice(), 0, ',', '.') ?></em>
                        </div>
                        <div class="badges">
                            <? if($this->perks->getCount() > 0): ?>
                                <? foreach($this->perks as $perk): ?>
                                    <img src="<?= $this->image($perk->getImage()) ?>" class="tooltip" title="<?= $perk->getName() ?>" alt="<?= $perk->getName() ?>" />
                                <? endforeach ?>
                                <span>Incluse, fara cost aditional</span>
                            <? endif ?>
                        </div>
                    </div>
                </div>
                <div class="space-small"></div>
                <div class="settle">
                    <span>Totul este in regula?</span>
                    <br />
                    <a href="<?= $this->car->getUrl() ?>" class="back">Inapoi</a>
                    <?= $this->form->submit('submit', 'Urmatorul Pas') ?>
                </div>
            </form>
        </section>
        
        <?= $this->partial('car/views/checkout/_summary.phtml', ['step' => 1, 'form' => $this->form, 'car' => $this->car, 'brand' => $this->brand, 'model' => $this->model, 'images' => $this->images]) ?>
    </div>
    <div class="space"></div>
    <div class="space-big"></div>
</section>

<?= $this->block('SellMenu') ?>

<?= Bootstrap::getInstance()->_appendScriptInline = "
    <script type='text/javascript'>
    setTimeout(function(){
        $('section.summary').css('height', $('section.checkout').height() + 'px');
    }, 500);
    </script>
"; ?>