<section class="container">
    <div class="wrapper">
        <div class="space"></div>
        <section class="checkout">
            <article class="step completed">
                <img src="<?= Dir::getAssets() ?>/default/img/checkout-step1.png" alt="Checkout - Pas 1" />
                <br />
                <span>Sumar</span>
                <br />
                <p>Asigura-te ca ea este aleasa.</p>
            </article>
            <article class="step completed">
                <img src="<?= Dir::getAssets() ?>/default/img/checkout-step2.png" alt="Checkout - Pas 2" />
                <br />
                <span>Livrare</span>
                <br />
                <p>Unde o vei intalni?</p>
            </article>
            <article class="step active">
                <img src="<?= Dir::getAssets() ?>/default/img/checkout-step3.png" alt="Checkout - Pas 3" />
                <br />
                <span>Pregatit?</span>
                <br />
                <p>Fa-o a ta.</p>
            </article>
            <div class="space-small"></div>
            <form id="checkout-step3" action="<?= $this->page('checkout-pay')->getUrl() ?>" method="post">
                <?= $this->form->hidden('order', [], $this->order->getId()) ?>
                <?= $this->form->hidden('car_id', [], $this->car->getId()) ?>
                <?= $this->form->hidden('.price', ['id' => 'car-real-price'], $this->car->getTotalPrice($this->county ? $this->county->getDeliveryCost() : 0)) ?>
                <div class="tab-header">
                    <a class="active" style="width: 170px;">
                        <em>Cash</em>
                        <span>&euro;<?= number_format($this->car->getPayNow(), 0, ',', '.') ?><br />Astazi</span>
                    </a>
                    <a class="inactive">
                        <em>Finantare</em>
                        <span>Disponibil<br />In Curand</span>
                    </a>
                </div>
                <span class="reserve">Rezerva-ti masina mult visata</span>
                <div class="tab-content">
                    <div id="tab-1">
                        <div class="tab-first">
                            <img class="mobilpay-card" src="<?= Dir::getAssets() ?>/default/img/mobilpay-card.png" />
                            <img class="mobilpay-payment" src="<?= Dir::getAssets() ?>/default/img/mobilpay-payment.png" />
                        </div>
                        <div class="tab-second" style="background-color: #F5F5F5; text-align: center;">
                            <span>Rezerva-ti acum masina depozitand &euro;<?= $this->car->getPayNow() ?>.</span>
                            <p>Restul sumei o vei achita cu ajutorul facturii proforme pe care o vei primi pe email, imediat ce tranzactia este confirmata.</p>
                            <div class="cart">
                                <div>
                                    <span>Astazi:</span>
                                    <em>&euro;<?= number_format($this->car->getPayNow(), 0, ',', '.') ?></em>
                                </div>
                                <div>
                                    <span>Rest:</span>
                                    <em>&euro;<?= number_format($this->car->getTotalPrice($this->county->getDeliveryCost()) - $this->car->getPayNow(), 0, ',', '.') ?></em>
                                </div>
                                <div class="split"></div>
                                <div>
                                    <span>Total:</span>
                                    <em>&euro;<?= number_format($this->car->getTotalPrice($this->county->getDeliveryCost()), 0, ',', '.') ?></em>
                                </div>
                            </div>
                        </div>

                        <div class="tab-first-simple">
                            <img src="<?= Dir::getAssets() ?>/default/img/mobilpay.png" alt="MobilPay" />
                            <img src="<?= Dir::getAssets() ?>/default/img/visa.png" alt="Visa" />
                            <img src="<?= Dir::getAssets() ?>/default/img/mastercard.png" alt="MasterCard" />
                        </div>
                        <div class="tab-second-simple">
                            <span>Apasand butonul &laquo; Plateste &raquo; vei fi redirectionat catre portalul de plati securizate <strong style="font-family: 'Segoe Bold';">Mobil Pay</strong></span>
                            <input type="submit" id="pay" value="Plateste" />
                        </div>
                    </div>
                </div>
            </form>
        </section>
        
        <?= $this->partial('car/views/checkout/_summary.phtml', ['step' => 2, 'form' => $this->form, 'car' => $this->car, 'brand' => $this->brand, 'model' => $this->model, 'images' => $this->images, 'order' => $this->order ?: null, 'county' => $this->county ?: null]) ?>
    </div>
    <div class="space"></div>
    <div class="space"></div>
</section>

<?= $this->block('SellMenu') ?>
