@font-face{
    font-family: 'Lato';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/lato.eot');
    src:
    url('../fonts/lato.woff') format('woff'),
    url('../fonts/lato.ttf') format('truetype'),
    url('../fonts/lato.svg#svgFontName') format('svg')
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'Lato';
    url('../fonts/lato.svg#svgFontName') format('svg'),
    }
}

body{
    margin: 0;
    background: #E3F2FB;
    font-family: Arial;
}

a{
    text-decoration: none;
}


input{
    font-family: Arial;
    font-size: 0.875em;
    color: #666;
    outline: none;
}

select{
    outline:none;
}

textarea{
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

input {
    -webkit-appearance: none;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clearfix{
    clear: both;
}

.row-container{
    width: 100%;
    border: 1px solid #E4E4E4;
    background-color: #F3F3F3;
    margin-bottom: 15px;
    padding: 15px 15px 20px 15px;
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 6px;
}

.row-container span{
    float: right;
    color: #999;
    width: auto;
    height: auto;
    padding: 10px;
    border: 1px solid #DFDFDF;
    background-color: #FFF;
    margin: 5px;
    border-radius: 6px;
}

.row-container img{
    display: block;
    float: right;
    max-width: 300px;
}

.row-container p{
    width: auto;
    font-size: 0.875em;
    float: left;
    color: #b8b8b8;
    font-family: Arial;
    font-weight: bold;
    margin-top: 6px;
}

.row-container .label-container{
    float: right;
    width: 72%;
    position: relative;
    height: 100%;
}

.row-container .label-container img{
    border-radius: 7px;
}

.row-container .label-container .image-delete{
    position: static;
    width: 50px;
    float: right;
    display: block;
    top: 0;
    right: 0;
    background-color: #F3A80C;
    padding: 10px 20px;
    color: #FFF;
    font-size: 0.875em;
    background-image: url('../img/delete-icon.png');
    background-repeat: no-repeat;
    background-position: top 12px left 11px;
    padding-left: 32px;
    transition: background-color 0.3s ease;
}


.row-container .label-container .image-delete:hover{
    background-color: #D5930B;
}

.row-container .label-container .meta-image-delete{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    background-color: #F3A80C;
    padding: 10px 20px;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomleft: 7px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 7px;
    color: #FFF;
    font-size: 0.875em;
    background-image: url('../img/delete-icon.png');
    background-repeat: no-repeat;
    background-position: top 12px left 11px;
    padding-left: 32px;
    transition: background-color 0.3s ease;
}


.row-container .label-container .meta-image-delete:hover{
    background-color: #D5930B;
}

.row-container .label-container .video-delete{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    background-color: #F3A80C;
    padding: 10px 20px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-bottom-left-radius: 7px;
    color: #FFF;
    font-size: 0.875em;
    background-image: url('../img/delete-icon.png');
    background-repeat: no-repeat;
    background-position: top 12px left 11px;
    padding-left: 32px;
    transition: background-color 0.3s ease;
}


.row-container .label-container .video-delete:hover{
    background-color: #D5930B;
}

.row-container .label-container .meta-video-delete{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    background-color: #F3A80C;
    padding: 10px 20px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-bottom-left-radius: 7px;
    color: #FFF;
    font-size: 0.875em;
    background-image: url('../img/delete-icon.png');
    background-repeat: no-repeat;
    background-position: top 12px left 11px;
    padding-left: 32px;
    transition: background-color 0.3s ease;
}


.row-container .label-container .meta-video-delete:hover{
    background-color: #D5930B;
}


.row-container .label-container .audio-delete{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    background-color: #F3A80C;
    padding: 10px 20px;
    border-radius: 7px;
    color: #FFF;
    font-size: 0.875em;
    background-image: url('../img/delete-icon.png');
    background-repeat: no-repeat;
    background-position: top 12px left 11px;
    padding-left: 32px;
    transition: background-color 0.3s ease;
}


.row-container .label-container .audio-delete:hover{
    background-color: #D5930B;
}


.row-container .label-container .meta-audio-delete{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    background-color: #F3A80C;
    padding: 10px 20px;
    border-radius: 7px;
    color: #FFF;
    font-size: 0.875em;
    background-image: url('../img/delete-icon.png');
    background-repeat: no-repeat;
    background-position: top 12px left 11px;
    padding-left: 32px;
    transition: background-color 0.3s ease;
}


.row-container .label-container .meta-audio-delete:hover{
    background-color: #D5930B;
}


.row-container .label-container .file-delete{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    background-color: #F3A80C;
    padding: 8px 15px;
    border-radius: 7px;
    color: #FFF;
    font-size: 0.875em;
    background-image: url('../img/delete-icon.png');
    background-repeat: no-repeat;
    background-position: top 10px left 11px;
    padding-left: 28px;
    transition: background-color 0.3s ease;
}


.row-container .label-container .file-delete:hover{
    background-color: #D5930B;
}


.row-container .label-container .meta-file-delete{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    background-color: #F3A80C;
    padding: 8px 15px;
    border-radius: 7px;
    color: #FFF;
    font-size: 0.875em;
    background-image: url('../img/delete-icon.png');
    background-repeat: no-repeat;
    background-position: top 10px left 11px;
    padding-left: 28px;
    transition: background-color 0.3s ease;
}


.row-container .label-container .meta-file-delete:hover{
    background-color: #D5930B;
}

table.table-partial tfoot td .chosen-container{
    float: left;
}

table.table-partial tfoot td .chosen-container div b{
    background: none;
}

table.ajax{
    margin-bottom: 30px;
}

/* Login Box */
.login{
    width: 80%;
    max-width: 405px;
    height: 230px;
    background-color: #334454;
    position: fixed;
    top: 50%;
    border-radius: 7px;
    left: 50%;
    margin-left: -203px;
    margin-top: -115px;
}

.login .header{
    width: -moz-calc(100% - 27px);
    width: -webkit-calc(100% - 27px);
    width: calc(100% - 27px);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 16px;
    padding: 11px 12px 18px 15px;
    background: #2F9FE0;
}

.login .header span{
    display: block;
    float: left;
    color: #FFF;
    font-size: 1.375em;
    font-family: Arial;
}

.login .header a{
    display: block;
    margin-top: 6px;
    float: right;
    color: #FFF;
    font-size: 0.875em;
    font-family: Arial;
}

.login .container{
    background: #334454;
    border: 0;
    border-radius: 0;
    bottom: 0;
    width: 360px;
    height: auto;
    float: none;
    margin: 0 auto;
}

.login .container .icon{
    width: 73px;
    height: 87px;
    margin: 0;
    padding: 0;
    background: url('../img/login-icon.png') no-repeat top left;
}

.login .container .inputs{
    width: -moz-calc(100% - 93px);
    width: -webkit-calc(100% - 93px);
    width: calc(100% - 93px);
    border: 1px solid #516B84;
    padding: 0;
    background: #FFF;
}

.login .container .inputs .row{
    width: 100%;
    height: 36px;
    float: left;
    padding: 0;
}

.login .container .inputs .row:first-of-type{
    border-bottom: 1px solid #516B84;
}

.login .container .inputs label{
    width: 36px;
    height: 29px;
    display: block;
    float: left;
    background: #2F9FE0;
    transition: background 0.3s ease;
    text-align: center;
    padding-top: 7px;
    border-right: 1px solid #516B84;
    cursor: pointer;
}

.login .container .inputs label:hover{
    background: #1E89CA;
}

.login .container .inputs-full{
    width: 100%;
    border: 1px solid #516B84;
    padding: 0;
    background: #FFF;
}

.login .container .inputs-full .row{
    width: 100%;
    height: 36px;
    float: left;
    padding: 0;
}

.login .container .inputs-full .row:first-of-type{
    border-bottom: 1px solid #516B84;
}

.login .container .inputs-full label{
    width: 36px;
    height: 29px;
    display: block;
    float: left;
    background: #2F9FE0;
    transition: background 0.3s ease;
    text-align: center;
    padding-top: 7px;
    border-right: 1px solid #516B84;
    cursor: pointer;
}

.login .container .inputs-full label:hover{
    background: #1E89CA;
}

.login .container .inputs-full input{
    width: -moz-calc(100% - 47px);
    width: -webkit-calc(100% - 47px);
    width: calc(100% - 47px);
    height: 35px;
    display: block;
    float: right;
    background: #FFF;
    font-family: Arial;
    font-size: 14px;
    color: #999;
    border: 0;
    padding: 1px 5px 0 5px;
}

.login .container .inputs input{
    width: -moz-calc(100% - 51px);
    width: -webkit-calc(100% - 51px);
    width: calc(100% - 51px);
    height: 25px;
    display: block;
    float: right;
    background: #FFF;
    font-family: Arial;
    font-size: 14px;
    color: #999;
    border: 0;
    padding: 5px 5px 0 5px;
}

.login .container input[type=submit]{
    width: 100%;
    height: 42px;
    background: #2F9FE0;
    border: 0;
    border-radius: 6px;
    font-size: 1em;
    font-family: Arial;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
    margin-top: 15px;
    transition: background 0.3s ease;
    cursor: pointer;
}

.login .container input[type=submit]:hover{
    background: #1E89CA;
}

div.input-success{
    display: none;
}

div.input-error{
    width: 21px;
    height: 21px;
    position: absolute;
    right: 30px;
    margin-top: 9px;
    background-image: url('../img/input-error.png');
    background-repeat: no-repeat;
    font-weight: bold;
    z-index: 100;
}
/* Login Box */

/* HEADER */
#header{
    width: 100%;
    height: 60px;
    background: #2F9FE0;
    position: fixed;
    z-index: 9998;
}

.logo{
    margin: 10px 0 0 13px;
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 1.930em;
    font-weight: bold;
}

.logout{
    display: block;
    background: #FFFFFF;
    padding: 5px 15px;
    margin: 15px 13px 0 0;
    font-family: Arial;
    font-weight: bold;
    font-size: 0.875em;
    color: #2F9FE0;
    border-radius: 50px;
}
/* HEADER */

/* SIDEBAR */
#menu{
    width: 250px;
    min-height: 100%;
    position: fixed;
    margin-top: 60px;
    background: #334454;
    z-index: 9999;
}

.admin-panel{
    padding: 20px 11px;
    height: 38px;
    border-bottom: 1px solid #293744;
    background: url('../img/admin-user.png') no-repeat top 23px left    11px;
}

.admin-name{
    display: block;
    float: left;
    font-family: Arial;
    font-size: 0.875em;
    color: #FFFFFF;
    margin-left: 47px;
    margin-top: 5px;
}

.admin-role{
    display: block;
    float: left;
    font-family: Arial;
    font-size: 0.75em;
    color: #CCCCCC;
    margin-left: 47px;
}

.menu-icon{
    display: block;
    float: left;
    margin-top: 4px;
    margin-right: 10px;
}

ul.main-menu{
    list-style: none;
    margin-top: 0;
    margin-left: -40px;
    margin-bottom: 60px;
}

ul.main-menu li a{
    cursor: pointer;
    display: block;
    padding: 11px 11px 11px 15px;
    border-top: 1px solid #3D5164;
    border-bottom: 1px solid #293744;
    font-size: 0.9375em;
    font-family: Arial;
    color: #FFFFFF;
    transition: background 0.3s ease;
    background: #334454 url('../img/menu-arrow.png') no-repeat top 12px right 13px;
}

ul.main-menu li a:hover{
    display: block;
    padding: 11px 11px 11px 15px;
    border-top: 1px solid #3D5164;
    border-bottom: 1px solid #293744;
    font-size: 0.9375em;
    font-family: Arial;
    color: #FFFFFF;
    background: #394C5E url('../img/menu-arrow.png') no-repeat top 12px right 13px;
}

ul.main-menu li a.selected{
    transition: background 0.3s ease;
    background: #2F9FE0 url('../img/menu-rollover-arrow.png') no-repeat top 12px right 13px;
}

.menu-end{
    width: 100%;
    height: 1px;
    background: #3D5164;
}

ul.sub-menu{
    display: none;
    list-style: none;
    margin-top: 0;
    margin-left: -40px;
}

ul.sub-menu li a{
    display: block;
    padding: 11px 11px 11px 40px;
    border: 0;
    font-size: 0.875em;
    font-family: Arial;
    color: #FFFFFF;
    transition: all 0.24s ease;
    background: #293744;
}

ul.sub-menu li a:hover{
    display: block;
    padding: 11px 11px 11px 45px;
    border: 0;
    font-size: 0.875em;
    font-family: Arial;
    color: #FFFFFF;
    background: #242F3B;
}

ul.sub-menu li:last-child{
    border-bottom: 1px solid #293744;
}

ul.sub-menu li:last-child a{
    border-bottom: 1px solid #293744;
}

.menu-btn{
    display: none;
}
/* SIDEBAR */

/* SubHeader */
.title{
    width: -moz-calc(100% - 250px);
    width: -webkit-calc(100% - 250px);
    width: calc(100% - 250px);
    height: 44px;
    background: #FFF;
    border-bottom: 1px solid #DFDFDF;
    position: fixed;
    right: 0;
    top: 60px;
    z-index: 9997;
}

.title span{
    display: inline-block;
    color: #666;
    font-family: 'Lato', sans-serif;
    font-size: 1.625em;
    margin-top: 6px;
    margin-left: 12px;
}

.title .small{
    display: inline-block;
    color: #888;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    margin-left: 4px;
    margin-top: -6px;
}

.flash-home{
    width: 100%;
    height: 26px;
    background: #DFDFDF;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9995;
}

.flash-home .success{
    display: block;
    padding: 10px;
    color: #FFF;
    font-size: 1em;
    font-family: Arial;
    font-weight: bold;
    background: #8CC152;
}

.flash-home .error{
    display: block;
    padding: 10px;
    color: #FFF;
    font-size: 1em;
    font-family: Arial;
    font-weight: bold;
    background: #DA4453;
}

.flash-home .warning{
    display: block;
    padding: 10px;
    color: #FFF;
    font-size: 1em;
    font-family: Arial;
    font-weight: bold;
    background: #F6BB42;
}

.flash{
    width: -moz-calc(100% - 250px);
    width: -webkit-calc(100% - 250px);
    width: calc(100% - 250px);
    height: 26px;
    background: #DFDFDF;
    position: fixed;
    right: 0;
    top: 131px;
    z-index: 9995;
}

.flash .success{
    display: block;
    padding: 10px;
    color: #FFF;
    font-size: 1em;
    font-family: Arial;
    font-weight: bold;
    background: #8CC152;
}

.flash .error{
    display: block;
    padding: 10px;
    color: #FFF;
    font-size: 1em;
    font-family: Arial;
    font-weight: bold;
    background: #DA4453;
}

.flash .warning{
    display: block;
    padding: 10px;
    color: #FFF;
    font-size: 1em;
    font-family: Arial;
    font-weight: bold;
    background: #F6BB42;
}

.flash .notice{
    display: block;
    padding: 10px;
    color: #FFF;
    font-size: 1em;
    font-family: Arial;
    font-weight: bold;
    background: #4FC1E9;
}

.breadcrumbs{
    width: -moz-calc(100% - 250px);
    width: -webkit-calc(100% - 250px);
    width: calc(100% - 250px);
    height: 26px;
    background: #FFF;
    border-bottom: 1px solid #DFDFDF;
    position: fixed;
    right: 0;
    top: 105px;
    z-index: 9996;
}

.breadcrumbs a:first-of-type{
    margin-left: 12px;
}

.breadcrumbs span{
    display: inline-block;
    color: #888888;
    font-family: 'Arial';
    font-size: 0.75em;
    margin-top: 6px;
    text-transform: uppercase;
}

.breadcrumbs a{
    padding-right: 20px;
    background: url('../img/bradcrumb-arrow.png') center right 8px no-repeat;
    display: inline-block;
    color: #888888;
    font-family: 'Arial';
    font-size: 0.75em;
    margin-top: 6px;
    text-transform: uppercase;
}
/* SubHeader */

/* Content */
.container{
    width: -moz-calc(96% - 290px);
    width: -webkit-calc(96% - 290px);
    width: calc(96% - 290px);
    height: auto;
    background: #FFF;
    border: 1px solid #DFDFDF;
    border-radius: 7px;
    float: right;
    margin: 165px 2% 27px 2%;
    padding: 20px;
}

.dashboard-container{
    width: -moz-calc(96% - 250px);
    width: -webkit-calc(96% - 250px);
    width: calc(96% - 250px);
    height: auto;
    border-radius: 7px;
    float: right;
    margin: 165px 2% 27px 2%;
    border: 0;
    background: transparent;
}

.dashboard-container .box{
    width: 48%;
    margin: 0 1% 30px 1%;
    float: left;
}

.dashboard-container .box .top{
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 3.75em;
    font-family: Verdana;
    color: #FFF;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
}

.dashboard-container .box .bottom{
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #FFF;
    font-size: 1em;
    font-family: Verdana;
    color: #999;
    padding: 15px 0;
    text-align: center;
    border-left: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
}

.dashboard-container .box .red{
    background: #DA4453;
}

.dashboard-container .box .orange{
    background: #F6BB42;
}

.dashboard-container .box .green{
    background: #8CC152;
}

span.info-orange{
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 30px;
    color: #F6BB42;
    font-size: 1.5em;
    font-weight: 700;
}

.dashboard-container .box .blue{
    background: #4FC1E9;
}

div.row > small{
    display: block;
    width: 100%;
    margin-top: -10px;
    float: left;
    font-size: 0.875em;
    color: #CCC;
    font-weight: 300;
}

.desktopOnly{
    display: block;
}

.filters{
    width: auto;
    height: 30px;
    margin-bottom: 20px;
    float: left;
}

.filters .sort{
    display: block;
    float: left;
    background: url('../img/filters-splitter.png') no-repeat;
    padding: 8px;
    color: #999999;
    font-family: Arial;
    font-size: 0.875em;
}

.filters input[type=text]{
    float: left;
    width: 120px;
    height: 14px;
    background: #FFF;
    border: 1px solid #DADADA;
    border-radius: 5px;
    padding: 8px;
    color: #999;
    margin-right: 10px;
}

.filters input[type=submit]{
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 5px;
    background: #4FC1E9 url('../img/filters-search-icon.png') no-repeat center center;
    border: 0;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-right: 10px;
}

.filters input[type=submit]:hover{
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 5px;
    background: #1DAFE0 url('../img/filters-search-icon.png') no-repeat center center;
    border: 0;
    cursor: pointer;
    margin-right: 10px;
}

.filters select{
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    float: left;
    height: 30px;
    background: url('../img/select-arrow.png') top right no-repeat;
    border: 1px solid #DADADA;
    border-radius: 5px;
    padding: 5px 30px 5px 5px;
    color: #999;
    margin-right: 10px;
    transition: background 0.3s ease;
}

.filters select:hover{
    background: url('../img/select-arrow-hover.png') top right no-repeat;
}

.filters select::-ms-expand {
    display: none;
}

.filters .clear{
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 5px;
    background: #4FC1E9 url('../img/delete-icon.png') no-repeat center center;
    border: 0;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-right: 10px;
}

.filters .clear:hover{
    background: #1DAFE0 url('../img/delete-icon.png') no-repeat center center;
}

.buttons-right{
    width: 182px;
    height: 30px;
    margin-bottom: 20px;
    float: right;
}

.buttons-left{
    width: 182px;
    height: 30px;
    margin-top: 20px;
    float: left;
}

.buttons-right .right{
    float: right;
    margin-left: 15px;
}

.buttons-left .left{
    float: left;
    margin-right: 15px;
}

.btn{
    width: auto;
    height: 16px;
    border: 0px;
    border-radius: 5px;
    background-color: #CCC;
    color: #FFF;
    font-family: Arial;
    font-size: 0.875em;
    padding: 7px 11px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.add{
    background-image: url('../img/add-icon.png');
    background-repeat: no-repeat;
    background-position: top 8px left 9px;
    padding-left: 28px;
}

.update{
    background-image: url('../img/update-icon.png');
    background-repeat: no-repeat;
    background-position: top 8px left 11px;
    padding-left: 28px;
}

.view{
    background-image: url('../img/view-icon.png');
    background-repeat: no-repeat;
    background-position: top 8px left 11px;
    padding-left: 28px;
}

.move{
    background-image: url('../img/move-icon.png');
    background-repeat: no-repeat;
    background-position: top 7px left 9px;
    padding-left: 23px;
}

.edit{
    background-image: url('../img/edit-icon.png');
    background-repeat: no-repeat;
    background-position: top 8px left 11px;
    padding-left: 28px;
}

.delete{
    background-image: url('../img/delete-icon.png');
    background-repeat: no-repeat;
    background-position: top 8px left 11px;
    padding-left: 28px;
}

.save{
    background-image: url('../img/save-icon.png');
    background-repeat: no-repeat;
    background-position: top 8px left 11px;
    padding-left: 28px;
}

.save-stay{
    background-image: url('../img/stay-icon.png');
    background-repeat: no-repeat;
    background-position: top 8px left 11px;
    padding-left: 28px;
}

.send-emails{
    background-image: url('../img/send-icon.png');
    background-repeat: no-repeat;
    background-position: top 8px left 11px;
    padding-left: 28px;
    margin-right: 15px;
}

.inactive{
    cursor: not-allowed !important;
}

.disabled{
    cursor: not-allowed !important;
}

.form input:disabled{
    cursor: not-allowed !important;
    background-color: #FFF;
}

.form input.inactive{
    cursor: not-allowed !important;
    background-color: #EFEFEF;
}

.blue{
    background-color: #2F9FE0;
}

.blue:hover{
    background-color: #1C81BD;
}

.grey{
    background-color: darkgrey;
}

.grey:hover{
    background-color: grey;
}

.orange{
    background-color: #F6BB42;
}

.orange:hover{
    background-color: #F3A80C;
}

.green{
    background-color: #8CC152;
}

.green:hover{
    background-color: #72A43C;
}

.red{
    background-color: #DA4453;
}

.red:hover{
    background-color: #BF2635;
}

.black{
    background-color: #333333;
}

.black:hover{
    background-color: #000000;
}

.table{
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    color: #FFF;
    font-size: 0.875em;
}

.table td{
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
    color:#666;
}

.table td a.go-index{
    font-size: 1em;
    display: block;
    float: left;
    color: #2F9FE0;
    font-weight: bold;
}

.table td a.go-index:hover{
    text-decoration: underline;
}

.table td a{
    font-size: 1em;
    display: block;
    float: left;
}

.table td a.margin-right{
    margin-right: 10px;
}

.table td.actions{
    width: 160px;
}

.table td.actions-big{
    width: 300px;
}

.table thead{
    font-weight: bold;
}

.table-partial{
    width: 100%;
    border-top: 1px solid #E1E1E1;
    border-left: 1px solid #E1E1E1;
    color: #8C8C8C;
    font-size: 0.875em;
    margin-bottom: 30px;
    border-collapse: separate;
}

.table-partial{
    width: 100%;
    border-top: 1px solid #E1E1E1;
    border-left: 1px solid #E1E1E1;
    color: #8C8C8C;
    font-size: 0.875em;
    margin-bottom: 30px;
    border-collapse: separate;
}

.table-partial td{
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
}

.table-partial td a{
    font-size: 1em;
    display: block;
    float: left;
}

.table-partial td a.margin-right{
    margin-right: 15px;
}

.table-partial td a.margin-left{
    margin-left: 15px;
}

.table-partial td.actions{
    width: 180px;
}

.table-partial thead{
    font-weight: bold;
    font-size: 1.225em;
}

.table-partial tfoot tr td select{
    float: left;
    font-size: 1.125em;
    width: -moz-calc(100% - 97px);
    width: -webkit-calc(100% - 97px);
    width: calc(100% - 97px);
    padding: 5px 10px;
}

.table-partial select optgroup{
    font-size: 1.225em;
}

.partial-error{
    width: 100%;
    background-color: #F6BB42;
    margin-bottom: 20px;
    padding: 5px 20px 5px 20px;
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.partial-error p{
    width: auto;
    font-size: 1.125em;
    float: left;
    color: #FFF;
    font-family: Arial;
}

.partial-title{
    width: 100%;
    background-color: #2F9FE0;
    margin-bottom: 20px;
    padding: 0 20px;
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.partial-title p{
    width: auto;
    font-size: 1.125em;
    float: left;
    color: #FFF;
    font-family: Arial;
}

.record-btn{
    width: auto;
    height: 18px;
    border: 0px;
    border-radius: 5px;
    background-color: #8CC152;
    color: #FFF;
    font-family: Arial;
    font-size: 0.875em;
    padding: 10px 18px 7px 33px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    background-position: top 11px left 14px;
}

.light{
    background-color: #FFFFFF;
}

.dark{
    background-color: #EFEFEF;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.tabs{
    float: left;
    width: 25%;
    height: auto;
    background-color: #FFFFFF;
}

.tabs .tab{
    padding: 10px;
    width: -moz-calc(100% - 24px);
    width: -webkit-calc(100% - 24px);
    width: calc(100% - 24px);
    background: #FFF;
    color: #8B8B8B;
    font-family: Arial;
    font-size: 0.875em;
    font-weight: bold;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease;
    border-left: 5px solid #FFF;
    cursor: pointer;
}

.tabs .real{
    padding: 10px;
    width: -moz-calc(100% - 24px);
    width: -webkit-calc(100% - 24px);
    width: calc(100% - 24px);
    background: #FFF;
    color: #8B8B8B;
    font-family: Arial;
    font-size: 0.875em;
    font-weight: bold;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease;
    border-left: 5px solid #FFF;
    cursor: pointer;
}

.tabs .tab:hover{
    background: #EEE;
    border-left: 5px solid #2F9FE0;
}

.tabs .real:hover{
    background: #EEE;
    border-left: 5px solid #2F9FE0;
}

.tabs .tab-external{
    padding: 10px;
    width: -moz-calc(100% - 24px);
    width: -webkit-calc(100% - 24px);
    width: calc(100% - 24px);
    background: #FFF;
    color: #8B8B8B;
    font-family: Arial;
    font-size: 0.875em;
    font-weight: bold;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease;
    border-left: 5px solid #FFF;
    cursor: pointer;
}

.tabs .tab-external:hover{
    background: #EEE;
    border-left: 5px solid #2F9FE0;
}

.tabs .selected{
    padding: 10px;
    width: -moz-calc(100% - 24px);
    width: -webkit-calc(100% - 24px);
    width: calc(100% - 24px);
    background: #EEE;
    color: #8B8B8B;
    font-family: Arial;
    font-size: 0.875em;
    font-weight: bold;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease;
    border-left: 5px solid #2F9FE0;
}

.form{
    float: right;
    width: 75%;
    padding: 10px 10px 10px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    border-left: 1px solid #DBDBDB;
}

.form label{
    width: auto;
    font-size: 16px;
    float: left;
    color: #8B8B8B;
    font-family: Arial;
    font-weight: bold;
    margin-top: 6px;
}

.form label.big{
    width: 100%;
    font-size: 16px;
    float: left;
    display: block;
    color: #8B8B8B;
    font-family: Arial;
    font-weight: bold;
    margin-top: 6px;
}

.form .row{
    width: 100%;
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 15px;
    margin-bottom: 15px;
    float: right;
}

.form input{
    width: 70%;
    min-height: 20px;
    height: 100%;
    float: right;
    padding: 6px 10px;
    border: 1px solid #D4D4D4;
    -moz-box-shadow: inset 6px 5px 12px -7px #A6A6A6;
    -webkit-box-shadow: inset 6px 5px 12px -7px #A6A6A6;
    box-shadow: inset 6px 5px 12px -7px #A6A6A6;
    background-color: #FFFFFF;
    font-size: 12px;
    font-family: Arial;
    color: #8B8B8B;
    outline: none;
    border-radius: 5px;
    transition: border 0.5s ease;
}

.form input:focus{
    border: 1px solid #2F9FE0;
}

.form select{
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 72%;
    min-height: 20px;
    height: 100%;
    height: 36px;
    float: right;
    background: url('../img/input-select-bg.png') no-repeat top 13px right 13px;
    padding: 6px 10px;
    border: 1px solid #D4D4D4;
    -moz-box-shadow: inset 6px 5px 12px -7px #A6A6A6;
    -webkit-box-shadow: inset 6px 5px 12px -7px #A6A6A6;
    box-shadow: inset 6px 5px 12px -7px #A6A6A6;
    background-color: #FFFFFF;
    font-size: 12px;
    font-family: Arial;
    color: #8B8B8B;
    outline: none;
    border-radius: 5px;
    transition: border 0.5s ease;
}

.form select::-ms-expand{
    display: none;
}

.form select:focus{
    border: 1px solid #2F9FE0;
}

.form textarea{
    width: 70%;
    height: 150px;
    float: right;
    padding: 6px 10px;
    border: 1px solid #D4D4D4;
    -moz-box-shadow: inset 6px 5px 12px -7px #A6A6A6;
    -webkit-box-shadow: inset 6px 5px 12px -7px #A6A6A6;
    box-shadow: inset 6px 5px 12px -7px #A6A6A6;
    background-color: #FFFFFF;
    font-size: 12px;
    font-family: Arial;
    color: #8B8B8B;
    outline: none;
    border-radius: 5px;
    transition: border 0.5s ease;
}

.form textarea:focus{
    border: 1px solid #2F9FE0;
}

.form input[type=file]::-webkit-file-upload-button{
    visibility: hidden;
}

.form input[type=file]{
    background: url('../img/input-file-bg.png') no-repeat top 0 left 0 !important;
}
/* Content */

/* Pagination */
.paginate-container{
    float: right;
    margin-top: 23px;
}

.paginate-first{
    float: left;
    padding: 6px 11px;
    font-size: 14px;
    font-family: Arial;
    color: #FFF;
    text-decoration: none;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    cursor: pointer;
    display: inline;
    background-color: #F6BB42;
    transition: background 0.3s ease;
}

.paginate-first:hover{
    float: left;
    background-color: #EDA40C;
}

.paginate-first-disabled{
    float: left;
    display: inline;
    padding: 6px 11px;
    font-size: 14px;
    font-family: Arial;
    color: #FFF;
    text-decoration: none;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    cursor: default;
    background-color: #FADA98;
}

.paginate-prev{
    float: left;
    padding: 6px 11px;
    font-size: 14px;
    font-family: Arial;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    display: inline;
    background-color: #F6BB42;
    transition: background 0.3s ease;
}

.paginate-prev:hover{
    float: left;
    background-color: #EDA40C;
}

.paginate-prev-disabled{
    float: left;
    display: inline;
    padding: 6px 11px;
    font-size: 14px;
    font-family: Arial;
    color: #FFF;
    text-decoration: none;
    cursor: default;
    background-color: #FADA98;
}

.paginate-last{
    float: left;
    padding: 6px 11px;
    font-size: 14px;
    font-family: Arial;
    color: #FFF;
    text-decoration: none;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
    display: inline;
    background-color: #F6BB42;
    transition: background 0.3s ease;
}

.paginate-last:hover{
    float: left;
    background-color: #EDA40C;
}

.paginate-last-disabled{
    float: left;
    display: inline;
    padding: 6px 11px;
    font-size: 14px;
    font-family: Arial;
    color: #FFF;
    text-decoration: none;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: default;
    background-color: #FADA98;
}

.paginate-next{
    float: left;
    padding: 6px 11px;
    font-size: 14px;
    font-family: Arial;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    display: inline;
    background-color: #F6BB42;
    transition: background 0.3s ease;
}

.paginate-next:hover{
    float: left;
    background-color: #EDA40C;
}

.paginate-next-disabled{
    float: left;
    display: inline;
    padding: 6px 11px;
    font-size: 14px;
    font-family: Arial;
    color: #FFF;
    text-decoration: none;
    cursor: default;
    background-color: #FADA98;
}

.paginate-current{
    float: left;
    display: inline;
    padding: 6px 11px;
    font-size: 14px;
    font-family: Arial;
    color: #FFF;
    text-decoration: none;
    cursor: default;
    background-color: #EDA40C;
}

.paginate{
    float: left;
    display: inline;
    padding: 6px 11px;
    font-size: 14px;
    font-family: Arial;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    background-color: #F6BB42;
    transition: background 0.3s ease;
}

.paginate:hover{
    float: left;
    background-color: #EDA40C;
}
/* Pagination */

div.half{
    display: block;
    float: left;
    width: calc(50% - 30px);
    width: -moz-calc(50% - 30px);
    width: -webkit-calc(50% - 30px);
    width: -o-calc(50% - 30px);
    margin: 15px 15px 0 15px;
}

div.full{
    display: block;
    float: left;
    width: calc(100% - 30px);
    width: -moz-calc(100% - 30px);
    width: -webkit-calc(100% - 30px);
    width: -o-calc(100% - 30px);
    margin: 0 15px;
}


/*****************/
/* MEDIA SCREENS */
/*****************/
@media screen and (max-width: 1050px){
    .desktopOnly{
        display: none;
    }

    .logo{
        display: none;
    }

    #menu{
        margin-left: -290px;
    }

    .menu-btn{
        display: block;
        width: 35px;
        height: 30px;
        background: url('../img/mobile-menu.png') no-repeat;
        margin: 13px 13px;
    }

    .title{
        width: 100%;
        height: 44px;
        background: #FFF;
        border-bottom: 1px solid #DFDFDF;
        position: fixed;
        right: 0;
        top: 60px;
    }

    .title span{
        display: inline-block;
        color: #666;
        font-family: Verdana;
        font-size: 1.25em;
        margin-top: 8px;
        float: left;
        margin-left: 12px;
    }

    .title .small{
        display: inline-block;
        float: left;
        color: #888;
        font-family: 'Verdana';
        font-size: 0.875em;
        margin-left: 4px;
        margin-top: 14px;
    }

    .breadcrumbs{
        width: 100%;
        height: 26px;
        background: #FFF;
        border-bottom: 1px solid #DFDFDF;
        position: fixed;
        right: 0;
        top: 105px;
    }

    .container{
        width: -moz-calc(100% - 40px);
        width: -webkit-calc(100% - 40px);
        width: calc(100% - 40px);
        height: auto;
        background: #FFF;
        border-top: 1px solid #DFDFDF;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        border-bottom: 1px solid #DFDFDF;
        margin: 165px 0 0 0;
        padding: 20px;
    }

    .dashboard-container{
        width: 96%;
        height: auto;
        border-radius: 7px;
        float: right;
        margin: 165px 2% 27px 2%;
        border: 0;
        background: transparent;
    }

    .dashboard-container .box{
        width: 96%;
        margin: 0 2% 30px 2%;
        float: left;
    }

    .tabs{
        float: left;
        width: 100%;
        height: auto;
    }

    .tabs .tab{
        border-bottom: 5px solid #FFF;
        border-left: 0;
    }

    .tabs .tab:hover{
        background: #EEE;
        border-bottom: 5px solid #2F9FE0;
        border-left: 0;
    }

    .tabs .selected{
        padding: 10px;
        width: -moz-calc(100% - 24px);
        width: -webkit-calc(100% - 24px);
        width: calc(100% - 24px);
        background: #EEE;
        color: #8B8B8B;
        font-family: Arial;
        font-size: 0.875em;
        font-weight: bold;
        display: block;
        text-decoration: none;
        transition: all 0.3s ease;
        border-left: 0;
        border-bottom: 5px solid #2F9FE0;
    }

    .form{
        float: left;
        width: 100%;
        padding: 15px 10px 10px 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        border-top: 1px solid #DBDBDB;
        border-left: 0;
    }

    .flash{
        width: 100%;
        height: 26px;
        background: #DFDFDF;
        position: fixed;
        right: 0;
        top: 131px;
        z-index: 9995;
    }
}

@media screen and (max-width: 930px){
    div.half{
        display: block;
        float: left;
        width: calc(100% - 30px);
        width: -moz-calc(100% - 30px);
        width: -webkit-calc(100% - 30px);
        width: -o-calc(100% - 30px);
        margin: 15px;
    }
}

@media screen and (max-width: 760px){
    .filters .sort{
        display: none;
    }

    .filters select{
        display: none;
    }

    .filters .clear{
        margin-right: 0;
    }

    .buttons-right{
        width: auto;
        height: 30px;
        margin-bottom: 20px;
    }

    .buttons-left{
        width: auto;
        height: 30px;
        margin-top: 20px;
    }

    .buttons-right .right{
        margin: 0;
        float: right;
    }

    .buttons-left .left{
        margin: 0;
        float: left;
    }

    .buttons-right .btn{
        text-indent: -9999px;
    }

    .buttons-left .btn{
        text-indent: -9999px;
    }

    .buttons-right .update{
        display: none;
    }

    .buttons-left .update{
        display: none;
    }

    .table td{
        display: none;
    }

    .table td:first-child{
        display: table-cell;
    }

    .table td:last-child{
        display: table-cell;
    }

    .table td.actions{
        width: 85px;
    }

    .table td.actions-big{
        width: 135px;
    }

    .table td a{
        text-indent: -9999px;
    }

    .table td a.go-index{
        text-indent: 0px;
        font-size: 1em;
        display: block;
        float: left;
        color: #2F9FE0;
        font-weight: bold;
    }

    .table td a.go-index:hover{
        text-decoration: underline;
    }

    .btn{
        text-indent: -9999px;
    }

    .add{
        background-image: url('../img/add-icon.png');
        background-repeat: no-repeat;
        background-position: top 8px left 11px;
        padding-left: 23px;
    }

    .save{
        background-image: url('../img/save-icon.png');
        background-repeat: no-repeat;
        background-position: top 8px left 11px;
        padding-left: 23px;
    }

    .save-stay{
        background-image: url('../img/stay-icon.png');
        background-repeat: no-repeat;
        background-position: top 8px left 13px;
        padding-left: 2px;
        padding-right: 2px;
    }

    .send-emails{
        background-image: url('../img/send-icon.png');
        background-repeat: no-repeat;
        background-position: top 8px left 13px;
        padding-left: 2px;
        padding-right: 2px;
    }

    .view{
        width: 30px;
        background-image: url('../img/view-icon.png');
        background-repeat: no-repeat;
        background-position: top 8px left 11px;
        padding-left: 2px;
        padding-right: 2px;
    }

    .update{
        background-image: url('../img/update-icon.png');
        background-repeat: no-repeat;
        background-position: top 8px left 11px;
        padding-left: 23px;
    }

    .edit{
        background-image: url('../img/edit-icon.png');
        background-repeat: no-repeat;
        background-position: top 8px left 11px;
        padding-left: 23px;
    }

    .delete{
        background-image: url('../img/delete-icon.png');
        background-repeat: no-repeat;
        background-position: top 8px left 11px;
        padding-left: 23px;
    }
}

@media screen and (max-width:570px) {
    .form label {
        width: 100%;
        margin-bottom: 7px;
    }

    .form input, .form select, .form textarea {
        float: left;
        width: -moz-calc(100% - 20px);
        width: -webkit-calc(100% - 20px);
        width: calc(100% - 20px);
    }

    .login {
        height: 220px;
        position: static;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .login .header span {
        display: none;
    }

    .login .container {
        background: #334454;
        border: 0;
        border-radius: 0;
        bottom: 0;
        width: 84%;
        height: auto;
        float: none;
        margin: 0 auto;
    }

    .login .container .icon {
        display: none;
    }

    .login .container .inputs {
        width: 100%;
        border: 1px solid #526C84;
    }

    .login .container input[type=submit] {
        width: 100%;
        height: 42px;
        background: #2F9FE0;
        border: 0;
        border-radius: 6px;
        font-size: 1em;
        font-family: Arial;
        text-transform: uppercase;
        font-weight: bold;
        color: #FFF;
        margin-top: 15px;
        transition: background 0.3s ease;
        cursor: pointer;
    }

    .login .container input[type=submit]:hover {
        background: #1E89CA;
    }

    div.input-error {
        width: 21px;
        height: 21px;
        position: absolute;
        right: 18%;
        margin-top: 9px;
        background-image: url('../img/input-error.png');
        background-repeat: no-repeat;
        font-weight: bold;
        z-index: 100;
    }

    .title .small {
        display: none;
    }
}

#table-main {
    width: 100%;
    margin-bottom: 20px;
}

#table-main th,
#table-main td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
}

#table-main th {
    font-weight: bold;
}

#table-main thead th {
    vertical-align: bottom;
}

#table-main caption + thead tr:first-child th,
#table-main caption + thead tr:first-child td,
#table-main colgroup + thead tr:first-child th,
#table-main colgroup + thead tr:first-child td,
#table-main thead:first-child tr:first-child th,
#table-main thead:first-child tr:first-child td {
    border-top: 0;
}

#table-main tbody + tbody {
    border-top: 2px solid #2F9FE0;
}

#table-main{
    border-top: 1px solid #2F9FE0;
    border-left: 1px solid #2F9FE0;
}

#table-main td{
    /*width: 50%;*/
}

#table-main {
    background-color: #ffffff;
}

.table-condensed th,
.table-condensed td {
    padding: 4px 5px;
}

.table-bordered {
    border: 1px solid #2F9FE0;
    border-collapse: separate;
    *border-collapse: collapse;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.table-bordered th,
.table-bordered td {
    border-left: 1px solid #2F9FE0;
}

.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
    border-top: 0;
}

.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child {
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
}

.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
}

.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child {
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
}

.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tbody:last-child tr:last-child > th:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > th:last-child {
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
}

.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
}

.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
    background-color: #f5f5f5;
}

table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
    display: table-cell;
    float: none;
    margin-left: 0;
}

.table td.span1,
.table th.span1 {
    float: none;
    width: 44px;
    margin-left: 0;
}

.table td.span2,
.table th.span2 {
    float: none;
    width: 124px;
    margin-left: 0;
}

.table td.span3,
.table th.span3 {
    float: none;
    width: 204px;
    margin-left: 0;
}

.table td.span4,
.table th.span4 {
    float: none;
    width: 284px;
    margin-left: 0;
}

.table td.span5,
.table th.span5 {
    float: none;
    width: 364px;
    margin-left: 0;
}

.table td.span6,
.table th.span6 {
    float: none;
    width: 444px;
    margin-left: 0;
}

.table td.span7,
.table th.span7 {
    float: none;
    width: 524px;
    margin-left: 0;
}

.table td.span8,
.table th.span8 {
    float: none;
    width: 604px;
    margin-left: 0;
}

.table td.span9,
.table th.span9 {
    float: none;
    width: 684px;
    margin-left: 0;
}

.table td.span10,
.table th.span10 {
    float: none;
    width: 764px;
    margin-left: 0;
}

.table td.span11,
.table th.span11 {
    float: none;
    width: 844px;
    margin-left: 0;
}

.table td.span12,
.table th.span12 {
    float: none;
    width: 924px;
    margin-left: 0;
}

.table tbody tr.success > td {
    background-color: #dff0d8;
}

.table tbody tr.error > td {
    background-color: #f2dede;
}

.table tbody tr.warning > td {
    background-color: #fcf8e3;
}

.table tbody tr.info > td {
    background-color: #d9edf7;
}

.table-hover tbody tr.success:hover > td {
    background-color: #d0e9c6;
}

.table-hover tbody tr.error:hover > td {
    background-color: #ebcccc;
}

.table-hover tbody tr.warning:hover > td {
    background-color: #faf2cc;
}

.table-hover tbody tr.info:hover > td {
    background-color: #c4e3f3;
}

.table-striped tbody > tr:nth-child(even) > td, .table-striped tbody > tr:nth-child(even) > th {background-color: #fff;}
.table-striped thead > tr > th {background-color: #fff;}

.table-colored thead tr th {background-color: #2F9FE0;}
.table-colored tr.red td {background-color:pink !important;}

.table-colored tbody tr td.gray {background-color: #2F9FE0;}.table-colored thead tr th {background-color: #2F9FE0;}

.table-mobile thead tr th {
    font-size: 10px;
}

#table-main tr, #table-main tr td{
    border-bottom: none !important;
    border-right: none !important;
    border-left: none !important;
}

table td.orange.text-center {
    color: #ff6600;
    text-align: center;
}
.scroll {
    position : relative;
    width    : 100%;
    height   : auto;
    overflow : hidden;
    background: #bba;
}

.scroll > .scroll-content {
    position      : absolute;
    overflow      : scroll;
    overflow-x    : hidden;
    top           : 0;
    right         : 0;
    bottom        : 0;
    left          : 0;
}

.scroll > .scroll-content:focus {
    outline: thin dotted;
}

.scroll > .scroll-content::-webkit-scrollbar {
    visibility: hidden;
}

.has-scrollbar > .scroll-content::-webkit-scrollbar {
    visibility: visible;
}

.scroll > .nano-pane {
    background : rgba(0,0,0,.25);
    position   : absolute;
    width      : 10px;
    right      : 0;
    top        : 0;
    bottom     : 0;
    visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
    opacity    : .01;
    -webkit-transition    : .2s;
    -moz-transition       : .2s;
    -o-transition         : .2s;
    transition            : .2s;
    -moz-border-radius    : 5px;
    -webkit-border-radius : 5px;
    border-radius         : 5px;
}

.scroll > .nano-pane > .nano-slider {
    background: #444;
    background: rgba(0,0,0,.5);
    position              : relative;
    margin                : 0 1px;
    -moz-border-radius    : 3px;
    -webkit-border-radius : 3px;
    border-radius         : 3px;
}

.scroll:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
    visibility : visible\9; /* Target only IE7 and IE8 with this hack */
    opacity    : 0.99;
}
/*! jQuery UI - v1.10.4 - 2014-05-10
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.resizable.css, jquery.ui.selectable.css, jquery.ui.accordion.css, jquery.ui.autocomplete.css, jquery.ui.button.css, jquery.ui.datepicker.css, jquery.ui.dialog.css, jquery.ui.menu.css, jquery.ui.progressbar.css, jquery.ui.slider.css, jquery.ui.spinner.css, jquery.ui.tabs.css, jquery.ui.tooltip.css, jquery.ui.theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Arial&fwDefault=normal&fsDefault=1.1em&cornerRadius=0&bgColorHeader=%232F9FE0&bgTextureHeader=flat&bgImgOpacityHeader=75&borderColorHeader=%232F9FE0&fcHeader=%23FFF&iconColorHeader=%23FFF&bgColorContent=%23FFF&bgTextureContent=inset_hard&bgImgOpacityContent=100&borderColorContent=%23E5E5E5&fcContent=%23333&iconColorContent=%23ffffff&bgColorDefault=%23E5E5E5&bgTextureDefault=flat&bgImgOpacityDefault=45&borderColorDefault=%23E5E5E5&fcDefault=%23333&iconColorDefault=%23ffffff&bgColorHover=%232F9FE0&bgTextureHover=flat&bgImgOpacityHover=75&borderColorHover=%232F9FE0&fcHover=%23FFF&iconColorHover=%23ffffff&bgColorActive=%232F9FE0&bgTextureActive=flat&bgImgOpacityActive=50&borderColorActive=%232F9FE0&fcActive=%23ffffff&iconColorActive=%232F9FE0&bgColorHighlight=%23999&bgTextureHighlight=flat&bgImgOpacityHighlight=55&borderColorHighlight=%23999&fcHighlight=%23FFF&iconColorHighlight=%23999&bgColorError=%23e14f1c&bgTextureError=gloss_wave&bgImgOpacityError=45&borderColorError=%23cd0a0a&fcError=%23ffffff&iconColorError=%23fcd113&bgColorOverlay=%23aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=75&opacityOverlay=30&bgColorShadow=%23999999&bgTextureShadow=flat&bgImgOpacityShadow=55&opacityShadow=45&thicknessShadow=0px&offsetTopShadow=5px&offsetLeftShadow=5px&cornerRadiusShadow=5px
* Copyright 2014 jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0);
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-resizable {
	position: relative;
}
.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
	display: none;
}
.ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	width: 100%;
	top: -5px;
	left: 0;
}
.ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0;
}
.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	left: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px;
}
.ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px;
}
.ui-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	top: -5px;
}
.ui-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	right: -5px;
	top: -5px;
}
.ui-selectable-helper {
	position: absolute;
	z-index: 100;
	border: 1px dotted black;
}
.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin-top: 2px;
	padding: .5em .5em .5em .7em;
	min-height: 0; /* support: IE7 */
}
.ui-accordion .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-noicons {
	padding-left: .7em;
}
.ui-accordion .ui-accordion-icons .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	position: absolute;
	left: .5em;
	top: 50%;
	margin-top: -8px;
}
.ui-accordion .ui-accordion-content {
	padding: 1em 2.2em;
	border-top: 0;
	overflow: auto;
}
.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}
.ui-button {
	display: inline-block;
	position: relative;
	padding: 0;
	line-height: normal;
	margin-right: .1em;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	overflow: visible; /* removes extra width in IE */
}
.ui-button,
.ui-button:link,
.ui-button:visited,
.ui-button:hover,
.ui-button:active {
	text-decoration: none;
}
/* to make room for the icon, a width needs to be set here */
.ui-button-icon-only {
	width: 2.2em;
}
/* button elements seem to need a little more width */
button.ui-button-icon-only {
	width: 2.4em;
}
.ui-button-icons-only {
	width: 3.4em;
}
button.ui-button-icons-only {
	width: 3.7em;
}

/* button text element */
.ui-button .ui-button-text {
	display: block;
	line-height: normal;
}
.ui-button-text-only .ui-button-text {
	padding: .4em 1em;
}
.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text {
	padding: .4em;
	text-indent: -9999999px;
}
.ui-button-text-icon-primary .ui-button-text,
.ui-button-text-icons .ui-button-text {
	padding: .4em 1em .4em 2.1em;
}
.ui-button-text-icon-secondary .ui-button-text,
.ui-button-text-icons .ui-button-text {
	padding: .4em 2.1em .4em 1em;
}
.ui-button-text-icons .ui-button-text {
	padding-left: 2.1em;
	padding-right: 2.1em;
}
/* no icon support for input elements, provide padding by default */
input.ui-button {
	padding: .4em 1em;
}

/* button icon element(s) */
.ui-button-icon-only .ui-icon,
.ui-button-text-icon-primary .ui-icon,
.ui-button-text-icon-secondary .ui-icon,
.ui-button-text-icons .ui-icon,
.ui-button-icons-only .ui-icon {
	position: absolute;
	top: 50%;
	margin-top: -8px;
}
.ui-button-icon-only .ui-icon {
	left: 50%;
	margin-left: -8px;
}
.ui-button-text-icon-primary .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary,
.ui-button-icons-only .ui-button-icon-primary {
	left: .5em;
}
.ui-button-text-icon-secondary .ui-button-icon-secondary,
.ui-button-text-icons .ui-button-icon-secondary,
.ui-button-icons-only .ui-button-icon-secondary {
	right: .5em;
}

/* button sets */
.ui-buttonset {
	margin-right: 7px;
}
.ui-buttonset .ui-button {
	margin-left: 0;
	margin-right: -.3em;
}

/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}
.ui-dialog {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	padding: .2em;
	outline: 0;
}
.ui-dialog .ui-dialog-titlebar {
	padding: .4em 1em;
	position: relative;
}
.ui-dialog .ui-dialog-title {
	float: left;
	margin: .1em 0;
	white-space: nowrap;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 50%;
	width: 20px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 20px;
}
.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: auto;
}
.ui-dialog .ui-dialog-buttonpane {
	text-align: left;
	border-width: 1px 0 0 0;
	background-image: none;
	margin-top: .5em;
	padding: .3em 1em .5em .4em;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
	margin: .5em .4em .5em 0;
	cursor: pointer;
}
.ui-dialog .ui-resizable-se {
	width: 12px;
	height: 12px;
	right: -5px;
	bottom: -5px;
	background-position: 16px 16px;
}
.ui-draggable .ui-dialog-titlebar {
	cursor: move;
}
.ui-menu {
	list-style: none;
	padding: 2px;
	margin: 0;
	display: block;
	outline: none;
}
.ui-menu .ui-menu {
	margin-top: -3px;
	position: absolute;
}
.ui-menu .ui-menu-item {
	margin: 0;
	padding: 0;
	width: 100%;
	/* support: IE10, see #8844 */
	list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}
.ui-menu .ui-menu-divider {
	margin: 5px -2px 5px -2px;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 1px 0 0 0;
}
.ui-menu .ui-menu-item a {
	text-decoration: none;
	display: block;
	padding: 2px .4em;
	line-height: 1.5;
	min-height: 0; /* support: IE7 */
	font-weight: normal;
}
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}

.ui-menu .ui-state-disabled {
	font-weight: normal;
	margin: .4em 0 .2em;
	line-height: 1.5;
}
.ui-menu .ui-state-disabled a {
	cursor: default;
}

/* icon support */
.ui-menu-icons {
	position: relative;
}
.ui-menu-icons .ui-menu-item a {
	position: relative;
	padding-left: 2em;
}

/* left-aligned */
.ui-menu .ui-icon {
	position: absolute;
	top: .2em;
	left: .2em;
}

/* right-aligned */
.ui-menu .ui-menu-icon {
	position: static;
	float: right;
}
.ui-progressbar {
	height: 2em;
	text-align: left;
	overflow: hidden;
}
.ui-progressbar .ui-progressbar-value {
	margin: -1px;
	height: 100%;
}
.ui-progressbar .ui-progressbar-overlay {
	background: url("images/animated-overlay.gif");
	height: 100%;
	filter: alpha(opacity=25);
	opacity: 0.25;
}
.ui-progressbar-indeterminate .ui-progressbar-value {
	background-image: none;
}
.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}
.ui-spinner {
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding: 0;
	vertical-align: middle;
}
.ui-spinner-input {
	border: none;
	background: none;
	color: inherit;
	padding: 0;
	margin: .2em 0;
	vertical-align: middle;
	margin-left: .4em;
	margin-right: 22px;
}
.ui-spinner-button {
	width: 16px;
	height: 50%;
	font-size: .5em;
	padding: 0;
	margin: 0;
	text-align: center;
	position: absolute;
	cursor: default;
	display: block;
	overflow: hidden;
	right: 0;
}
/* more specificity required here to override default borders */
.ui-spinner a.ui-spinner-button {
	border-top: none;
	border-bottom: none;
	border-right: none;
}
/* vertically center icon */
.ui-spinner .ui-icon {
	position: absolute;
	margin-top: -8px;
	top: 50%;
	left: 0;
}
.ui-spinner-up {
	top: 0;
}
.ui-spinner-down {
	bottom: 0;
}

/* TR overrides */
.ui-spinner .ui-icon-triangle-1-s {
	/* need to fix icons sprite */
	background-position: -65px -16px;
}
.ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: .2em;
}
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: .2em .2em 0;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
	cursor: text;
}
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	background: none;
}
.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}
body .ui-tooltip {
	border-width: 2px;
}

/* Component containers
----------------------------------*/
.ui-widget {
	font-family: Arial;
	font-size: 1.1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Arial;
	font-size: 1em;
}
.ui-widget-content {
	border: 1px solid #E5E5E5;
	background: #FFF url("images/ui-bg_inset-hard_100_FFF_1x100.png") 50% bottom repeat-x;
	color: #333;
}
.ui-widget-content a {
	color: #333;
}
.ui-widget-header {
	border: 1px solid #2F9FE0;
	background: #2F9FE0 url("images/ui-bg_flat_75_2F9FE0_40x100.png") 50% 50% repeat-x;
	color: #FFF;
	font-weight: bold;
}
.ui-widget-header a {
	color: #FFF;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #E5E5E5;
	background: #E5E5E5 url("images/ui-bg_flat_45_E5E5E5_40x100.png") 50% 50% repeat-x;
	font-weight: normal;
	color: #333;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #333;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #2F9FE0;
	background: #2F9FE0 url("images/ui-bg_flat_75_2F9FE0_40x100.png") 50% 50% repeat-x;
	font-weight: normal;
	color: #FFF;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #FFF;
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #2F9FE0;
	background: #2F9FE0 url("images/ui-bg_flat_50_2F9FE0_40x100.png") 50% 50% repeat-x;
	font-weight: normal;
	color: #ffffff;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #ffffff;
	text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #999;
	background: #999 url("images/ui-bg_flat_55_999_40x100.png") 50% 50% repeat-x;
	color: #FFF;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: #FFF;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
	border: 1px solid #cd0a0a;
	background: #e14f1c url("images/ui-bg_gloss-wave_45_e14f1c_500x100.png") 50% top repeat-x;
	color: #ffffff;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
	color: #ffffff;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
	color: #ffffff;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70);
	font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35);
	background-image: none;
}
.ui-state-disabled .ui-icon {
	filter:Alpha(Opacity=35); /* For IE8 - See #6059 */
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	width: 16px;
	height: 16px;
}
.ui-icon,
.ui-widget-content .ui-icon {
	background-image: url("images/ui-icons_ffffff_256x240.png");
}
.ui-widget-header .ui-icon {
	background-image: url("images/ui-icons_FFF_256x240.png");
}
.ui-state-default .ui-icon {
	background-image: url("images/ui-icons_ffffff_256x240.png");
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
	background-image: url("images/ui-icons_ffffff_256x240.png");
}
.ui-state-active .ui-icon {
	background-image: url("images/ui-icons_2F9FE0_256x240.png");
}
.ui-state-highlight .ui-icon {
	background-image: url("images/ui-icons_999_256x240.png");
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
	background-image: url("images/ui-icons_fcd113_256x240.png");
}

/* positioning */
.ui-icon-blank { background-position: 16px 16px; }
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-on { background-position: -96px -144px; }
.ui-icon-radio-off { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 0;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 0;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 0;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 0;
}

/* Overlays */
.ui-widget-overlay {
	background: #aaaaaa url("images/ui-bg_flat_75_aaaaaa_40x100.png") 50% 50% repeat-x;
	opacity: .3;
	filter: Alpha(Opacity=30);
}
.ui-widget-shadow {
	margin: 5px 0 0 5px;
	padding: 0px;
	background: #999999 url("images/ui-bg_flat_55_999999_40x100.png") 50% 50% repeat-x;
	opacity: .45;
	filter: Alpha(Opacity=45);
	border-radius: 5px;
}

/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;	
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #f8f8f2;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag {
	color: #f92672;
}

.token.boolean,
.token.number{
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string {
	color: #a6e22e;
}


.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value
{
	color: #e6db74;
}


.token.keyword{
color: #66d9ef;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}

/* @group Base */
.chosen-container {
  position: relative;
  vertical-align: middle;
  font-size: 12px;
  display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
    float: right;
    padding: 6px 5px;
    border: 1px solid #D4D4D4;
    -moz-box-shadow: inset 6px 5px 12px -7px #A6A6A6;
    -webkit-box-shadow: inset 6px 5px 12px -7px #A6A6A6;
    box-shadow: inset 6px 5px 12px -7px #A6A6A6;
    background-color: #FFFFFF;
    color: #999;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    min-height: 35px;
    height: 100%;
}
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;
    margin-left: -1px;
  border: 1px solid #D4D4D4;
  border-top: 0;
  background: #fff;
}
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}
.chosen-container a {
  cursor: pointer;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 17px;
  background-color: #fff;
  color: #999;
  text-decoration: none;
  white-space: nowrap;
  line-height: 19px;
}
.chosen-container-single .chosen-default {
  color: #999;
}
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('libs/chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url('libs/chosen-sprite.png') no-repeat 0px 2px;
}
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}
.chosen-container-single .chosen-search input[type="text"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #D4D4D4;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-single .chosen-drop {
  margin-top: -1px;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  position: relative;
    width: 100%;
  overflow-x: hidden;
    margin-left: -40px;
  overflow-y: auto;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
    width: 100%;
    margin: 5px 0 0 0;
  display: none;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
}
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container .chosen-results li.highlighted {
  background: #2F9FE0;
  color: #fff;
}
.chosen-container .chosen-results li.no-results {
  display: list-item;
  background: #FFF;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto !important;
  background-color: #fff;
  cursor: text;
}
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 5px;
  height: 5px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #999;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-multi .chosen-choices li.search-field .default {
  color: #999;
}
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 0 3px 5px;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  border-radius: 3px;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-clip: padding-box;
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  line-height: 13px;
  cursor: default;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('libs/chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
}
.chosen-container-active.chosen-with-drop .chosen-single {
}
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px;
}
.chosen-container-active .chosen-choices {
  border: 1px solid #FFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #111 !important;
}

/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.chosen-disabled .chosen-single {
  cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right;
}
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}
.chosen-rtl .chosen-choices li {
  float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: white url('libs/chosen-sprite.png') no-repeat -30px -20px;
  background: url('libs/chosen-sprite.png') no-repeat -30px -20px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background: url('libs/chosen-sprite.png') no-repeat -30px -20px, -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('libs/chosen-sprite.png') no-repeat -30px -20px, -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('libs/chosen-sprite.png') no-repeat -30px -20px, -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('libs/chosen-sprite.png') no-repeat -30px -20px, linear-gradient(#eeeeee 1%, #ffffff 15%);
  direction: rtl;
}
.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url('chosen-sprite@2x.png') !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}
/* @end */

/*
 * Timepicker stylesheet
 * Highly inspired from datepicker
 * FG - Nov 2010 - Web3R
 *
 * version 0.0.3 : Fixed some settings, more dynamic
 * version 0.0.4 : Removed width:100% on tables
 * version 0.1.1 : set width 0 on tables to fix an ie6 bug
 */

.ui-timepicker-inline { display: inline; }

#ui-timepicker-div { padding: 0.2em; }
.ui-timepicker-table { display: inline-table; width: 0; }
.ui-timepicker-table table { margin:0.15em 0 0 0; border-collapse: collapse; }

.ui-timepicker-hours, .ui-timepicker-minutes { padding: 0.2em;  }

.ui-timepicker-table .ui-timepicker-title { line-height: 1.8em; text-align: center; }
.ui-timepicker-table td { padding: 0.1em; width: 2.2em; }
.ui-timepicker-table th.periods { padding: 0.1em; width: 2.2em; }

/* span for disabled cells */
.ui-timepicker-table td span {
    display:block;
    padding:0.2em 0.3em 0.2em 0.5em;
    width: 1.2em;

    text-align:right;
    text-decoration:none;
}
/* anchors for clickable cells */
.ui-timepicker-table td a {
    display:block;
    padding:0.2em 0.3em 0.2em 0.5em;
    width: 1.2em;
    cursor: pointer;
    text-align:right;
    text-decoration:none;
}


/* buttons and button pane styling */
.ui-timepicker .ui-timepicker-buttonpane {
    background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0;
}
.ui-timepicker .ui-timepicker-buttonpane button { margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
/* The close button */
.ui-timepicker .ui-timepicker-close { float: right }

/* the now button */
.ui-timepicker .ui-timepicker-now { float: left; }

/* the deselect button */
.ui-timepicker .ui-timepicker-deselect { float: left; }

