body{
    margin: 0;
    background-color: #FFF;
}

a{
    color: #2F9FE0;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial;
}

main{
    width: 100%;
    position: relative;
}

h1{
    margin: 0;
    width: 100%;
    height: 57px;
    background-color: #334454;
    text-align: center;
    color: #FFF;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    padding-top: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2{
    margin: 0;
    width: 100%;
    height: 47px;
    background-color: #2F9FE0;
    text-align: center;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

section{
    width: 50%;
    max-width: 450px;
    padding: 10px 30px;
    background-color: #FFF;
    margin: 0 auto;
    margin-top: 10px;
    font-family: Arial;
    color: #666666;
    -webkit-text-stroke: 0.2px;
    text-align: center;
    font-size: 1em;
}

@media screen and (max-width: 480px){
    section{
        width: 87%;
        margin: 7%;
        padding: 0;
    }
}