@font-face{
    font-family: 'Lato';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/lato.eot');
    src:
    url('../fonts/lato.woff') format('woff'),
    url('../fonts/lato.ttf') format('truetype'),
    url('../fonts/lato.svg#svgFontName') format('svg')
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'Lato';
    url('../fonts/lato.svg#svgFontName') format('svg'),
    }
}

body{
    margin: 0;
    background: #E3F2FB;
    font-family: Arial;
}

a{
    text-decoration: none;
}


input{
    font-family: Arial;
    font-size: 0.875em;
    color: #666;
    outline: none;
}

select{
    outline:none;
}

textarea{
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

input {
    -webkit-appearance: none;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clearfix{
    clear: both;
}

.row-container{
    width: 100%;
    border: 1px solid #E4E4E4;
    background-color: #F3F3F3;
    margin-bottom: 15px;
    padding: 15px 15px 20px 15px;
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 6px;
}

.row-container span{
    float: right;
    color: #999;
    width: auto;
    height: auto;
    padding: 10px;
    border: 1px solid #DFDFDF;
    background-color: #FFF;
    margin: 5px;
    border-radius: 6px;
}

.row-container img{
    display: block;
    float: right;
    max-width: 300px;
}

.row-container p{
    width: auto;
    font-size: 0.875em;
    float: left;
    color: #b8b8b8;
    font-family: Arial;
    font-weight: bold;
    margin-top: 6px;
}

.row-container .label-container{
    float: right;
    width: 72%;
    position: relative;
    height: 100%;
}

.row-container .label-container img{
    border-radius: 7px;
}

.row-container .label-container .image-delete{
    position: static;
    width: 50px;
    float: right;
    display: block;
    top: 0;
    right: 0;
    background-color: #F3A80C;
    padding: 10px 20px;
    color: #FFF;
    font-size: 0.875em;
    background-image: url('../img/delete-icon.png');
    background-repeat: no-repeat;
    background-position: top 12px left 11px;
    padding-left: 32px;
    transition: background-color 0.3s ease;
}


.row-container .label-container .image-delete:hover{
    background-color: #D5930B;
}

.row-container .label-container .meta-image-delete{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    background-color: #F3A80C;
    padding: 10px 20px;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomleft: 7px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 7px;
    color: #FFF;
    font-size: 0.875em;
    background-image: url('../img/delete-icon.png');
    background-repeat: no-repeat;
    background-position: top 12px left 11px;
    padding-left: 32px;
    transition: background-color 0.3s ease;
}


.row-container .label-container .meta-image-delete:hover{
    background-color: #D5930B;
}

.row-container .label-container .video-delete{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    background-color: #F3A80C;
    padding: 10px 20px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-bottom-left-radius: 7px;
    color: #FFF;
    font-size: 0.875em;
    background-image: url('../img/delete-icon.png');
    background-repeat: no-repeat;
    background-position: top 12px left 11px;
    padding-left: 32px;
    transition: background-color 0.3s ease;
}


.row-container .label-container .video-delete:hover{
    background-color: #D5930B;
}

.row-container .label-container .meta-video-delete{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    background-color: #F3A80C;
    padding: 10px 20px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-bottom-left-radius: 7px;
    color: #FFF;
    font-size: 0.875em;
    background-image: url('../img/delete-icon.png');
    background-repeat: no-repeat;
    background-position: top 12px left 11px;
    padding-left: 32px;
    transition: background-color 0.3s ease;
}


.row-container .label-container .meta-video-delete:hover{
    background-color: #D5930B;
}


.row-container .label-container .audio-delete{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    background-color: #F3A80C;
    padding: 10px 20px;
    border-radius: 7px;
    color: #FFF;
    font-size: 0.875em;
    background-image: url('../img/delete-icon.png');
    background-repeat: no-repeat;
    background-position: top 12px left 11px;
    padding-left: 32px;
    transition: background-color 0.3s ease;
}


.row-container .label-container .audio-delete:hover{
    background-color: #D5930B;
}


.row-container .label-container .meta-audio-delete{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    background-color: #F3A80C;
    padding: 10px 20px;
    border-radius: 7px;
    color: #FFF;
    font-size: 0.875em;
    background-image: url('../img/delete-icon.png');
    background-repeat: no-repeat;
    background-position: top 12px left 11px;
    padding-left: 32px;
    transition: background-color 0.3s ease;
}


.row-container .label-container .meta-audio-delete:hover{
    background-color: #D5930B;
}


.row-container .label-container .file-delete{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    background-color: #F3A80C;
    padding: 8px 15px;
    border-radius: 7px;
    color: #FFF;
    font-size: 0.875em;
    background-image: url('../img/delete-icon.png');
    background-repeat: no-repeat;
    background-position: top 10px left 11px;
    padding-left: 28px;
    transition: background-color 0.3s ease;
}


.row-container .label-container .file-delete:hover{
    background-color: #D5930B;
}


.row-container .label-container .meta-file-delete{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    background-color: #F3A80C;
    padding: 8px 15px;
    border-radius: 7px;
    color: #FFF;
    font-size: 0.875em;
    background-image: url('../img/delete-icon.png');
    background-repeat: no-repeat;
    background-position: top 10px left 11px;
    padding-left: 28px;
    transition: background-color 0.3s ease;
}


.row-container .label-container .meta-file-delete:hover{
    background-color: #D5930B;
}

table.table-partial tfoot td .chosen-container{
    float: left;
}

table.table-partial tfoot td .chosen-container div b{
    background: none;
}

table.ajax{
    margin-bottom: 30px;
}

/* Login Box */
.login{
    width: 80%;
    max-width: 405px;
    height: 230px;
    background-color: #334454;
    position: fixed;
    top: 50%;
    border-radius: 7px;
    left: 50%;
    margin-left: -203px;
    margin-top: -115px;
}

.login .header{
    width: -moz-calc(100% - 27px);
    width: -webkit-calc(100% - 27px);
    width: calc(100% - 27px);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 16px;
    padding: 11px 12px 18px 15px;
    background: #2F9FE0;
}

.login .header span{
    display: block;
    float: left;
    color: #FFF;
    font-size: 1.375em;
    font-family: Arial;
}

.login .header a{
    display: block;
    margin-top: 6px;
    float: right;
    color: #FFF;
    font-size: 0.875em;
    font-family: Arial;
}

.login .container{
    background: #334454;
    border: 0;
    border-radius: 0;
    bottom: 0;
    width: 360px;
    height: auto;
    float: none;
    margin: 0 auto;
}

.login .container .icon{
    width: 73px;
    height: 87px;
    margin: 0;
    padding: 0;
    background: url('../img/login-icon.png') no-repeat top left;
}

.login .container .inputs{
    width: -moz-calc(100% - 93px);
    width: -webkit-calc(100% - 93px);
    width: calc(100% - 93px);
    border: 1px solid #516B84;
    padding: 0;
    background: #FFF;
}

.login .container .inputs .row{
    width: 100%;
    height: 36px;
    float: left;
    padding: 0;
}

.login .container .inputs .row:first-of-type{
    border-bottom: 1px solid #516B84;
}

.login .container .inputs label{
    width: 36px;
    height: 29px;
    display: block;
    float: left;
    background: #2F9FE0;
    transition: background 0.3s ease;
    text-align: center;
    padding-top: 7px;
    border-right: 1px solid #516B84;
    cursor: pointer;
}

.login .container .inputs label:hover{
    background: #1E89CA;
}

.login .container .inputs-full{
    width: 100%;
    border: 1px solid #516B84;
    padding: 0;
    background: #FFF;
}

.login .container .inputs-full .row{
    width: 100%;
    height: 36px;
    float: left;
    padding: 0;
}

.login .container .inputs-full .row:first-of-type{
    border-bottom: 1px solid #516B84;
}

.login .container .inputs-full label{
    width: 36px;
    height: 29px;
    display: block;
    float: left;
    background: #2F9FE0;
    transition: background 0.3s ease;
    text-align: center;
    padding-top: 7px;
    border-right: 1px solid #516B84;
    cursor: pointer;
}

.login .container .inputs-full label:hover{
    background: #1E89CA;
}

.login .container .inputs-full input{
    width: -moz-calc(100% - 47px);
    width: -webkit-calc(100% - 47px);
    width: calc(100% - 47px);
    height: 35px;
    display: block;
    float: right;
    background: #FFF;
    font-family: Arial;
    font-size: 14px;
    color: #999;
    border: 0;
    padding: 1px 5px 0 5px;
}

.login .container .inputs input{
    width: -moz-calc(100% - 51px);
    width: -webkit-calc(100% - 51px);
    width: calc(100% - 51px);
    height: 25px;
    display: block;
    float: right;
    background: #FFF;
    font-family: Arial;
    font-size: 14px;
    color: #999;
    border: 0;
    padding: 5px 5px 0 5px;
}

.login .container input[type=submit]{
    width: 100%;
    height: 42px;
    background: #2F9FE0;
    border: 0;
    border-radius: 6px;
    font-size: 1em;
    font-family: Arial;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
    margin-top: 15px;
    transition: background 0.3s ease;
    cursor: pointer;
}

.login .container input[type=submit]:hover{
    background: #1E89CA;
}

div.input-success{
    display: none;
}

div.input-error{
    width: 21px;
    height: 21px;
    position: absolute;
    right: 30px;
    margin-top: 9px;
    background-image: url('../img/input-error.png');
    background-repeat: no-repeat;
    font-weight: bold;
    z-index: 100;
}
/* Login Box */

/* HEADER */
#header{
    width: 100%;
    height: 60px;
    background: #2F9FE0;
    position: fixed;
    z-index: 9998;
}

.logo{
    margin: 10px 0 0 13px;
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 1.930em;
    font-weight: bold;
}

.logout{
    display: block;
    background: #FFFFFF;
    padding: 5px 15px;
    margin: 15px 13px 0 0;
    font-family: Arial;
    font-weight: bold;
    font-size: 0.875em;
    color: #2F9FE0;
    border-radius: 50px;
}
/* HEADER */

/* SIDEBAR */
#menu{
    width: 250px;
    min-height: 100%;
    position: fixed;
    margin-top: 60px;
    background: #334454;
    z-index: 9999;
}

.admin-panel{
    padding: 20px 11px;
    height: 38px;
    border-bottom: 1px solid #293744;
    background: url('../img/admin-user.png') no-repeat top 23px left    11px;
}

.admin-name{
    display: block;
    float: left;
    font-family: Arial;
    font-size: 0.875em;
    color: #FFFFFF;
    margin-left: 47px;
    margin-top: 5px;
}

.admin-role{
    display: block;
    float: left;
    font-family: Arial;
    font-size: 0.75em;
    color: #CCCCCC;
    margin-left: 47px;
}

.menu-icon{
    display: block;
    float: left;
    margin-top: 4px;
    margin-right: 10px;
}

ul.main-menu{
    list-style: none;
    margin-top: 0;
    margin-left: -40px;
    margin-bottom: 60px;
}

ul.main-menu li a{
    cursor: pointer;
    display: block;
    padding: 11px 11px 11px 15px;
    border-top: 1px solid #3D5164;
    border-bottom: 1px solid #293744;
    font-size: 0.9375em;
    font-family: Arial;
    color: #FFFFFF;
    transition: background 0.3s ease;
    background: #334454 url('../img/menu-arrow.png') no-repeat top 12px right 13px;
}

ul.main-menu li a:hover{
    display: block;
    padding: 11px 11px 11px 15px;
    border-top: 1px solid #3D5164;
    border-bottom: 1px solid #293744;
    font-size: 0.9375em;
    font-family: Arial;
    color: #FFFFFF;
    background: #394C5E url('../img/menu-arrow.png') no-repeat top 12px right 13px;
}

ul.main-menu li a.selected{
    transition: background 0.3s ease;
    background: #2F9FE0 url('../img/menu-rollover-arrow.png') no-repeat top 12px right 13px;
}

.menu-end{
    width: 100%;
    height: 1px;
    background: #3D5164;
}

ul.sub-menu{
    display: none;
    list-style: none;
    margin-top: 0;
    margin-left: -40px;
}

ul.sub-menu li a{
    display: block;
    padding: 11px 11px 11px 40px;
    border: 0;
    font-size: 0.875em;
    font-family: Arial;
    color: #FFFFFF;
    transition: all 0.24s ease;
    background: #293744;
}

ul.sub-menu li a:hover{
    display: block;
    padding: 11px 11px 11px 45px;
    border: 0;
    font-size: 0.875em;
    font-family: Arial;
    color: #FFFFFF;
    background: #242F3B;
}

ul.sub-menu li:last-child{
    border-bottom: 1px solid #293744;
}

ul.sub-menu li:last-child a{
    border-bottom: 1px solid #293744;
}

.menu-btn{
    display: none;
}
/* SIDEBAR */

/* SubHeader */
.title{
    width: -moz-calc(100% - 250px);
    width: -webkit-calc(100% - 250px);
    width: calc(100% - 250px);
    height: 44px;
    background: #FFF;
    border-bottom: 1px solid #DFDFDF;
    position: fixed;
    right: 0;
    top: 60px;
    z-index: 9997;
}

.title span{
    display: inline-block;
    color: #666;
    font-family: 'Lato', sans-serif;
    font-size: 1.625em;
    margin-top: 6px;
    margin-left: 12px;
}

.title .small{
    display: inline-block;
    color: #888;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    margin-left: 4px;
    margin-top: -6px;
}

.flash-home{
    width: 100%;
    height: 26px;
    background: #DFDFDF;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9995;
}

.flash-home .success{
    display: block;
    padding: 10px;
    color: #FFF;
    font-size: 1em;
    font-family: Arial;
    font-weight: bold;
    background: #8CC152;
}

.flash-home .error{
    display: block;
    padding: 10px;
    color: #FFF;
    font-size: 1em;
    font-family: Arial;
    font-weight: bold;
    background: #DA4453;
}

.flash-home .warning{
    display: block;
    padding: 10px;
    color: #FFF;
    font-size: 1em;
    font-family: Arial;
    font-weight: bold;
    background: #F6BB42;
}

.flash{
    width: -moz-calc(100% - 250px);
    width: -webkit-calc(100% - 250px);
    width: calc(100% - 250px);
    height: 26px;
    background: #DFDFDF;
    position: fixed;
    right: 0;
    top: 131px;
    z-index: 9995;
}

.flash .success{
    display: block;
    padding: 10px;
    color: #FFF;
    font-size: 1em;
    font-family: Arial;
    font-weight: bold;
    background: #8CC152;
}

.flash .error{
    display: block;
    padding: 10px;
    color: #FFF;
    font-size: 1em;
    font-family: Arial;
    font-weight: bold;
    background: #DA4453;
}

.flash .warning{
    display: block;
    padding: 10px;
    color: #FFF;
    font-size: 1em;
    font-family: Arial;
    font-weight: bold;
    background: #F6BB42;
}

.flash .notice{
    display: block;
    padding: 10px;
    color: #FFF;
    font-size: 1em;
    font-family: Arial;
    font-weight: bold;
    background: #4FC1E9;
}

.breadcrumbs{
    width: -moz-calc(100% - 250px);
    width: -webkit-calc(100% - 250px);
    width: calc(100% - 250px);
    height: 26px;
    background: #FFF;
    border-bottom: 1px solid #DFDFDF;
    position: fixed;
    right: 0;
    top: 105px;
    z-index: 9996;
}

.breadcrumbs a:first-of-type{
    margin-left: 12px;
}

.breadcrumbs span{
    display: inline-block;
    color: #888888;
    font-family: 'Arial';
    font-size: 0.75em;
    margin-top: 6px;
    text-transform: uppercase;
}

.breadcrumbs a{
    padding-right: 20px;
    background: url('../img/bradcrumb-arrow.png') center right 8px no-repeat;
    display: inline-block;
    color: #888888;
    font-family: 'Arial';
    font-size: 0.75em;
    margin-top: 6px;
    text-transform: uppercase;
}
/* SubHeader */

/* Content */
.container{
    width: -moz-calc(96% - 290px);
    width: -webkit-calc(96% - 290px);
    width: calc(96% - 290px);
    height: auto;
    background: #FFF;
    border: 1px solid #DFDFDF;
    border-radius: 7px;
    float: right;
    margin: 165px 2% 27px 2%;
    padding: 20px;
}

.dashboard-container{
    width: -moz-calc(96% - 250px);
    width: -webkit-calc(96% - 250px);
    width: calc(96% - 250px);
    height: auto;
    border-radius: 7px;
    float: right;
    margin: 165px 2% 27px 2%;
    border: 0;
    background: transparent;
}

.dashboard-container .box{
    width: 48%;
    margin: 0 1% 30px 1%;
    float: left;
}

.dashboard-container .box .top{
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 3.75em;
    font-family: Verdana;
    color: #FFF;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
}

.dashboard-container .box .bottom{
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #FFF;
    font-size: 1em;
    font-family: Verdana;
    color: #999;
    padding: 15px 0;
    text-align: center;
    border-left: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
}

.dashboard-container .box .red{
    background: #DA4453;
}

.dashboard-container .box .orange{
    background: #F6BB42;
}

.dashboard-container .box .green{
    background: #8CC152;
}

span.info-orange{
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 30px;
    color: #F6BB42;
    font-size: 1.5em;
    font-weight: 700;
}

.dashboard-container .box .blue{
    background: #4FC1E9;
}

div.row > small{
    display: block;
    width: 100%;
    margin-top: -10px;
    float: left;
    font-size: 0.875em;
    color: #CCC;
    font-weight: 300;
}

.desktopOnly{
    display: block;
}

.filters{
    width: auto;
    height: 30px;
    margin-bottom: 20px;
    float: left;
}

.filters .sort{
    display: block;
    float: left;
    background: url('../img/filters-splitter.png') no-repeat;
    padding: 8px;
    color: #999999;
    font-family: Arial;
    font-size: 0.875em;
}

.filters input[type=text]{
    float: left;
    width: 120px;
    height: 14px;
    background: #FFF;
    border: 1px solid #DADADA;
    border-radius: 5px;
    padding: 8px;
    color: #999;
    margin-right: 10px;
}

.filters input[type=submit]{
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 5px;
    background: #4FC1E9 url('../img/filters-search-icon.png') no-repeat center center;
    border: 0;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-right: 10px;
}

.filters input[type=submit]:hover{
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 5px;
    background: #1DAFE0 url('../img/filters-search-icon.png') no-repeat center center;
    border: 0;
    cursor: pointer;
    margin-right: 10px;
}

.filters select{
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    float: left;
    height: 30px;
    background: url('../img/select-arrow.png') top right no-repeat;
    border: 1px solid #DADADA;
    border-radius: 5px;
    padding: 5px 30px 5px 5px;
    color: #999;
    margin-right: 10px;
    transition: background 0.3s ease;
}

.filters select:hover{
    background: url('../img/select-arrow-hover.png') top right no-repeat;
}

.filters select::-ms-expand {
    display: none;
}

.filters .clear{
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 5px;
    background: #4FC1E9 url('../img/delete-icon.png') no-repeat center center;
    border: 0;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-right: 10px;
}

.filters .clear:hover{
    background: #1DAFE0 url('../img/delete-icon.png') no-repeat center center;
}

.buttons-right{
    width: 182px;
    height: 30px;
    margin-bottom: 20px;
    float: right;
}

.buttons-left{
    width: 182px;
    height: 30px;
    margin-top: 20px;
    float: left;
}

.buttons-right .right{
    float: right;
    margin-left: 15px;
}

.buttons-left .left{
    float: left;
    margin-right: 15px;
}

.btn{
    width: auto;
    height: 16px;
    border: 0px;
    border-radius: 5px;
    background-color: #CCC;
    color: #FFF;
    font-family: Arial;
    font-size: 0.875em;
    padding: 7px 11px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.add{
    background-image: url('../img/add-icon.png');
    background-repeat: no-repeat;
    background-position: top 8px left 9px;
    padding-left: 28px;
}

.update{
    background-image: url('../img/update-icon.png');
    background-repeat: no-repeat;
    background-position: top 8px left 11px;
    padding-left: 28px;
}

.view{
    background-image: url('../img/view-icon.png');
    background-repeat: no-repeat;
    background-position: top 8px left 11px;
    padding-left: 28px;
}

.move{
    background-image: url('../img/move-icon.png');
    background-repeat: no-repeat;
    background-position: top 7px left 9px;
    padding-left: 23px;
}

.edit{
    background-image: url('../img/edit-icon.png');
    background-repeat: no-repeat;
    background-position: top 8px left 11px;
    padding-left: 28px;
}

.delete{
    background-image: url('../img/delete-icon.png');
    background-repeat: no-repeat;
    background-position: top 8px left 11px;
    padding-left: 28px;
}

.save{
    background-image: url('../img/save-icon.png');
    background-repeat: no-repeat;
    background-position: top 8px left 11px;
    padding-left: 28px;
}

.save-stay{
    background-image: url('../img/stay-icon.png');
    background-repeat: no-repeat;
    background-position: top 8px left 11px;
    padding-left: 28px;
}

.send-emails{
    background-image: url('../img/send-icon.png');
    background-repeat: no-repeat;
    background-position: top 8px left 11px;
    padding-left: 28px;
    margin-right: 15px;
}

.inactive{
    cursor: not-allowed !important;
}

.disabled{
    cursor: not-allowed !important;
}

.form input:disabled{
    cursor: not-allowed !important;
    background-color: #FFF;
}

.form input.inactive{
    cursor: not-allowed !important;
    background-color: #EFEFEF;
}

.blue{
    background-color: #2F9FE0;
}

.blue:hover{
    background-color: #1C81BD;
}

.grey{
    background-color: darkgrey;
}

.grey:hover{
    background-color: grey;
}

.orange{
    background-color: #F6BB42;
}

.orange:hover{
    background-color: #F3A80C;
}

.green{
    background-color: #8CC152;
}

.green:hover{
    background-color: #72A43C;
}

.red{
    background-color: #DA4453;
}

.red:hover{
    background-color: #BF2635;
}

.black{
    background-color: #333333;
}

.black:hover{
    background-color: #000000;
}

.table{
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    color: #FFF;
    font-size: 0.875em;
}

.table td{
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
    color:#666;
}

.table td a.go-index{
    font-size: 1em;
    display: block;
    float: left;
    color: #2F9FE0;
    font-weight: bold;
}

.table td a.go-index:hover{
    text-decoration: underline;
}

.table td a{
    font-size: 1em;
    display: block;
    float: left;
}

.table td a.margin-right{
    margin-right: 10px;
}

.table td.actions{
    width: 160px;
}

.table td.actions-big{
    width: 300px;
}

.table thead{
    font-weight: bold;
}

.table-partial{
    width: 100%;
    border-top: 1px solid #E1E1E1;
    border-left: 1px solid #E1E1E1;
    color: #8C8C8C;
    font-size: 0.875em;
    margin-bottom: 30px;
    border-collapse: separate;
}

.table-partial{
    width: 100%;
    border-top: 1px solid #E1E1E1;
    border-left: 1px solid #E1E1E1;
    color: #8C8C8C;
    font-size: 0.875em;
    margin-bottom: 30px;
    border-collapse: separate;
}

.table-partial td{
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
}

.table-partial td a{
    font-size: 1em;
    display: block;
    float: left;
}

.table-partial td a.margin-right{
    margin-right: 15px;
}

.table-partial td a.margin-left{
    margin-left: 15px;
}

.table-partial td.actions{
    width: 180px;
}

.table-partial thead{
    font-weight: bold;
    font-size: 1.225em;
}

.table-partial tfoot tr td select{
    float: left;
    font-size: 1.125em;
    width: -moz-calc(100% - 97px);
    width: -webkit-calc(100% - 97px);
    width: calc(100% - 97px);
    padding: 5px 10px;
}

.table-partial select optgroup{
    font-size: 1.225em;
}

.partial-error{
    width: 100%;
    background-color: #F6BB42;
    margin-bottom: 20px;
    padding: 5px 20px 5px 20px;
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.partial-error p{
    width: auto;
    font-size: 1.125em;
    float: left;
    color: #FFF;
    font-family: Arial;
}

.partial-title{
    width: 100%;
    background-color: #2F9FE0;
    margin-bottom: 20px;
    padding: 0 20px;
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.partial-title p{
    width: auto;
    font-size: 1.125em;
    float: left;
    color: #FFF;
    font-family: Arial;
}

.record-btn{
    width: auto;
    height: 18px;
    border: 0px;
    border-radius: 5px;
    background-color: #8CC152;
    color: #FFF;
    font-family: Arial;
    font-size: 0.875em;
    padding: 10px 18px 7px 33px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    background-position: top 11px left 14px;
}

.light{
    background-color: #FFFFFF;
}

.dark{
    background-color: #EFEFEF;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.tabs{
    float: left;
    width: 25%;
    height: auto;
    background-color: #FFFFFF;
}

.tabs .tab{
    padding: 10px;
    width: -moz-calc(100% - 24px);
    width: -webkit-calc(100% - 24px);
    width: calc(100% - 24px);
    background: #FFF;
    color: #8B8B8B;
    font-family: Arial;
    font-size: 0.875em;
    font-weight: bold;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease;
    border-left: 5px solid #FFF;
    cursor: pointer;
}

.tabs .real{
    padding: 10px;
    width: -moz-calc(100% - 24px);
    width: -webkit-calc(100% - 24px);
    width: calc(100% - 24px);
    background: #FFF;
    color: #8B8B8B;
    font-family: Arial;
    font-size: 0.875em;
    font-weight: bold;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease;
    border-left: 5px solid #FFF;
    cursor: pointer;
}

.tabs .tab:hover{
    background: #EEE;
    border-left: 5px solid #2F9FE0;
}

.tabs .real:hover{
    background: #EEE;
    border-left: 5px solid #2F9FE0;
}

.tabs .tab-external{
    padding: 10px;
    width: -moz-calc(100% - 24px);
    width: -webkit-calc(100% - 24px);
    width: calc(100% - 24px);
    background: #FFF;
    color: #8B8B8B;
    font-family: Arial;
    font-size: 0.875em;
    font-weight: bold;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease;
    border-left: 5px solid #FFF;
    cursor: pointer;
}

.tabs .tab-external:hover{
    background: #EEE;
    border-left: 5px solid #2F9FE0;
}

.tabs .selected{
    padding: 10px;
    width: -moz-calc(100% - 24px);
    width: -webkit-calc(100% - 24px);
    width: calc(100% - 24px);
    background: #EEE;
    color: #8B8B8B;
    font-family: Arial;
    font-size: 0.875em;
    font-weight: bold;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease;
    border-left: 5px solid #2F9FE0;
}

.form{
    float: right;
    width: 75%;
    padding: 10px 10px 10px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    border-left: 1px solid #DBDBDB;
}

.form label{
    width: auto;
    font-size: 16px;
    float: left;
    color: #8B8B8B;
    font-family: Arial;
    font-weight: bold;
    margin-top: 6px;
}

.form label.big{
    width: 100%;
    font-size: 16px;
    float: left;
    display: block;
    color: #8B8B8B;
    font-family: Arial;
    font-weight: bold;
    margin-top: 6px;
}

.form .row{
    width: 100%;
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 15px;
    margin-bottom: 15px;
    float: right;
}

.form input{
    width: 70%;
    min-height: 20px;
    height: 100%;
    float: right;
    padding: 6px 10px;
    border: 1px solid #D4D4D4;
    -moz-box-shadow: inset 6px 5px 12px -7px #A6A6A6;
    -webkit-box-shadow: inset 6px 5px 12px -7px #A6A6A6;
    box-shadow: inset 6px 5px 12px -7px #A6A6A6;
    background-color: #FFFFFF;
    font-size: 12px;
    font-family: Arial;
    color: #8B8B8B;
    outline: none;
    border-radius: 5px;
    transition: border 0.5s ease;
}

.form input:focus{
    border: 1px solid #2F9FE0;
}

.form select{
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 72%;
    min-height: 20px;
    height: 100%;
    height: 36px;
    float: right;
    background: url('../img/input-select-bg.png') no-repeat top 13px right 13px;
    padding: 6px 10px;
    border: 1px solid #D4D4D4;
    -moz-box-shadow: inset 6px 5px 12px -7px #A6A6A6;
    -webkit-box-shadow: inset 6px 5px 12px -7px #A6A6A6;
    box-shadow: inset 6px 5px 12px -7px #A6A6A6;
    background-color: #FFFFFF;
    font-size: 12px;
    font-family: Arial;
    color: #8B8B8B;
    outline: none;
    border-radius: 5px;
    transition: border 0.5s ease;
}

.form select::-ms-expand{
    display: none;
}

.form select:focus{
    border: 1px solid #2F9FE0;
}

.form textarea{
    width: 70%;
    height: 150px;
    float: right;
    padding: 6px 10px;
    border: 1px solid #D4D4D4;
    -moz-box-shadow: inset 6px 5px 12px -7px #A6A6A6;
    -webkit-box-shadow: inset 6px 5px 12px -7px #A6A6A6;
    box-shadow: inset 6px 5px 12px -7px #A6A6A6;
    background-color: #FFFFFF;
    font-size: 12px;
    font-family: Arial;
    color: #8B8B8B;
    outline: none;
    border-radius: 5px;
    transition: border 0.5s ease;
}

.form textarea:focus{
    border: 1px solid #2F9FE0;
}

.form input[type=file]::-webkit-file-upload-button{
    visibility: hidden;
}

.form input[type=file]{
    background: url('../img/input-file-bg.png') no-repeat top 0 left 0 !important;
}
/* Content */

/* Pagination */
.paginate-container{
    float: right;
    margin-top: 23px;
}

.paginate-first{
    float: left;
    padding: 6px 11px;
    font-size: 14px;
    font-family: Arial;
    color: #FFF;
    text-decoration: none;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    cursor: pointer;
    display: inline;
    background-color: #F6BB42;
    transition: background 0.3s ease;
}

.paginate-first:hover{
    float: left;
    background-color: #EDA40C;
}

.paginate-first-disabled{
    float: left;
    display: inline;
    padding: 6px 11px;
    font-size: 14px;
    font-family: Arial;
    color: #FFF;
    text-decoration: none;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    cursor: default;
    background-color: #FADA98;
}

.paginate-prev{
    float: left;
    padding: 6px 11px;
    font-size: 14px;
    font-family: Arial;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    display: inline;
    background-color: #F6BB42;
    transition: background 0.3s ease;
}

.paginate-prev:hover{
    float: left;
    background-color: #EDA40C;
}

.paginate-prev-disabled{
    float: left;
    display: inline;
    padding: 6px 11px;
    font-size: 14px;
    font-family: Arial;
    color: #FFF;
    text-decoration: none;
    cursor: default;
    background-color: #FADA98;
}

.paginate-last{
    float: left;
    padding: 6px 11px;
    font-size: 14px;
    font-family: Arial;
    color: #FFF;
    text-decoration: none;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
    display: inline;
    background-color: #F6BB42;
    transition: background 0.3s ease;
}

.paginate-last:hover{
    float: left;
    background-color: #EDA40C;
}

.paginate-last-disabled{
    float: left;
    display: inline;
    padding: 6px 11px;
    font-size: 14px;
    font-family: Arial;
    color: #FFF;
    text-decoration: none;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: default;
    background-color: #FADA98;
}

.paginate-next{
    float: left;
    padding: 6px 11px;
    font-size: 14px;
    font-family: Arial;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    display: inline;
    background-color: #F6BB42;
    transition: background 0.3s ease;
}

.paginate-next:hover{
    float: left;
    background-color: #EDA40C;
}

.paginate-next-disabled{
    float: left;
    display: inline;
    padding: 6px 11px;
    font-size: 14px;
    font-family: Arial;
    color: #FFF;
    text-decoration: none;
    cursor: default;
    background-color: #FADA98;
}

.paginate-current{
    float: left;
    display: inline;
    padding: 6px 11px;
    font-size: 14px;
    font-family: Arial;
    color: #FFF;
    text-decoration: none;
    cursor: default;
    background-color: #EDA40C;
}

.paginate{
    float: left;
    display: inline;
    padding: 6px 11px;
    font-size: 14px;
    font-family: Arial;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    background-color: #F6BB42;
    transition: background 0.3s ease;
}

.paginate:hover{
    float: left;
    background-color: #EDA40C;
}
/* Pagination */

div.half{
    display: block;
    float: left;
    width: calc(50% - 30px);
    width: -moz-calc(50% - 30px);
    width: -webkit-calc(50% - 30px);
    width: -o-calc(50% - 30px);
    margin: 15px 15px 0 15px;
}

div.full{
    display: block;
    float: left;
    width: calc(100% - 30px);
    width: -moz-calc(100% - 30px);
    width: -webkit-calc(100% - 30px);
    width: -o-calc(100% - 30px);
    margin: 0 15px;
}


/*****************/
/* MEDIA SCREENS */
/*****************/
@media screen and (max-width: 1050px){
    .desktopOnly{
        display: none;
    }

    .logo{
        display: none;
    }

    #menu{
        margin-left: -290px;
    }

    .menu-btn{
        display: block;
        width: 35px;
        height: 30px;
        background: url('../img/mobile-menu.png') no-repeat;
        margin: 13px 13px;
    }

    .title{
        width: 100%;
        height: 44px;
        background: #FFF;
        border-bottom: 1px solid #DFDFDF;
        position: fixed;
        right: 0;
        top: 60px;
    }

    .title span{
        display: inline-block;
        color: #666;
        font-family: Verdana;
        font-size: 1.25em;
        margin-top: 8px;
        float: left;
        margin-left: 12px;
    }

    .title .small{
        display: inline-block;
        float: left;
        color: #888;
        font-family: 'Verdana';
        font-size: 0.875em;
        margin-left: 4px;
        margin-top: 14px;
    }

    .breadcrumbs{
        width: 100%;
        height: 26px;
        background: #FFF;
        border-bottom: 1px solid #DFDFDF;
        position: fixed;
        right: 0;
        top: 105px;
    }

    .container{
        width: -moz-calc(100% - 40px);
        width: -webkit-calc(100% - 40px);
        width: calc(100% - 40px);
        height: auto;
        background: #FFF;
        border-top: 1px solid #DFDFDF;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        border-bottom: 1px solid #DFDFDF;
        margin: 165px 0 0 0;
        padding: 20px;
    }

    .dashboard-container{
        width: 96%;
        height: auto;
        border-radius: 7px;
        float: right;
        margin: 165px 2% 27px 2%;
        border: 0;
        background: transparent;
    }

    .dashboard-container .box{
        width: 96%;
        margin: 0 2% 30px 2%;
        float: left;
    }

    .tabs{
        float: left;
        width: 100%;
        height: auto;
    }

    .tabs .tab{
        border-bottom: 5px solid #FFF;
        border-left: 0;
    }

    .tabs .tab:hover{
        background: #EEE;
        border-bottom: 5px solid #2F9FE0;
        border-left: 0;
    }

    .tabs .selected{
        padding: 10px;
        width: -moz-calc(100% - 24px);
        width: -webkit-calc(100% - 24px);
        width: calc(100% - 24px);
        background: #EEE;
        color: #8B8B8B;
        font-family: Arial;
        font-size: 0.875em;
        font-weight: bold;
        display: block;
        text-decoration: none;
        transition: all 0.3s ease;
        border-left: 0;
        border-bottom: 5px solid #2F9FE0;
    }

    .form{
        float: left;
        width: 100%;
        padding: 15px 10px 10px 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        border-top: 1px solid #DBDBDB;
        border-left: 0;
    }

    .flash{
        width: 100%;
        height: 26px;
        background: #DFDFDF;
        position: fixed;
        right: 0;
        top: 131px;
        z-index: 9995;
    }
}

@media screen and (max-width: 930px){
    div.half{
        display: block;
        float: left;
        width: calc(100% - 30px);
        width: -moz-calc(100% - 30px);
        width: -webkit-calc(100% - 30px);
        width: -o-calc(100% - 30px);
        margin: 15px;
    }
}

@media screen and (max-width: 760px){
    .filters .sort{
        display: none;
    }

    .filters select{
        display: none;
    }

    .filters .clear{
        margin-right: 0;
    }

    .buttons-right{
        width: auto;
        height: 30px;
        margin-bottom: 20px;
    }

    .buttons-left{
        width: auto;
        height: 30px;
        margin-top: 20px;
    }

    .buttons-right .right{
        margin: 0;
        float: right;
    }

    .buttons-left .left{
        margin: 0;
        float: left;
    }

    .buttons-right .btn{
        text-indent: -9999px;
    }

    .buttons-left .btn{
        text-indent: -9999px;
    }

    .buttons-right .update{
        display: none;
    }

    .buttons-left .update{
        display: none;
    }

    .table td{
        display: none;
    }

    .table td:first-child{
        display: table-cell;
    }

    .table td:last-child{
        display: table-cell;
    }

    .table td.actions{
        width: 85px;
    }

    .table td.actions-big{
        width: 135px;
    }

    .table td a{
        text-indent: -9999px;
    }

    .table td a.go-index{
        text-indent: 0px;
        font-size: 1em;
        display: block;
        float: left;
        color: #2F9FE0;
        font-weight: bold;
    }

    .table td a.go-index:hover{
        text-decoration: underline;
    }

    .btn{
        text-indent: -9999px;
    }

    .add{
        background-image: url('../img/add-icon.png');
        background-repeat: no-repeat;
        background-position: top 8px left 11px;
        padding-left: 23px;
    }

    .save{
        background-image: url('../img/save-icon.png');
        background-repeat: no-repeat;
        background-position: top 8px left 11px;
        padding-left: 23px;
    }

    .save-stay{
        background-image: url('../img/stay-icon.png');
        background-repeat: no-repeat;
        background-position: top 8px left 13px;
        padding-left: 2px;
        padding-right: 2px;
    }

    .send-emails{
        background-image: url('../img/send-icon.png');
        background-repeat: no-repeat;
        background-position: top 8px left 13px;
        padding-left: 2px;
        padding-right: 2px;
    }

    .view{
        width: 30px;
        background-image: url('../img/view-icon.png');
        background-repeat: no-repeat;
        background-position: top 8px left 11px;
        padding-left: 2px;
        padding-right: 2px;
    }

    .update{
        background-image: url('../img/update-icon.png');
        background-repeat: no-repeat;
        background-position: top 8px left 11px;
        padding-left: 23px;
    }

    .edit{
        background-image: url('../img/edit-icon.png');
        background-repeat: no-repeat;
        background-position: top 8px left 11px;
        padding-left: 23px;
    }

    .delete{
        background-image: url('../img/delete-icon.png');
        background-repeat: no-repeat;
        background-position: top 8px left 11px;
        padding-left: 23px;
    }
}

@media screen and (max-width:570px) {
    .form label {
        width: 100%;
        margin-bottom: 7px;
    }

    .form input, .form select, .form textarea {
        float: left;
        width: -moz-calc(100% - 20px);
        width: -webkit-calc(100% - 20px);
        width: calc(100% - 20px);
    }

    .login {
        height: 220px;
        position: static;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .login .header span {
        display: none;
    }

    .login .container {
        background: #334454;
        border: 0;
        border-radius: 0;
        bottom: 0;
        width: 84%;
        height: auto;
        float: none;
        margin: 0 auto;
    }

    .login .container .icon {
        display: none;
    }

    .login .container .inputs {
        width: 100%;
        border: 1px solid #526C84;
    }

    .login .container input[type=submit] {
        width: 100%;
        height: 42px;
        background: #2F9FE0;
        border: 0;
        border-radius: 6px;
        font-size: 1em;
        font-family: Arial;
        text-transform: uppercase;
        font-weight: bold;
        color: #FFF;
        margin-top: 15px;
        transition: background 0.3s ease;
        cursor: pointer;
    }

    .login .container input[type=submit]:hover {
        background: #1E89CA;
    }

    div.input-error {
        width: 21px;
        height: 21px;
        position: absolute;
        right: 18%;
        margin-top: 9px;
        background-image: url('../img/input-error.png');
        background-repeat: no-repeat;
        font-weight: bold;
        z-index: 100;
    }

    .title .small {
        display: none;
    }
}

#table-main {
    width: 100%;
    margin-bottom: 20px;
}

#table-main th,
#table-main td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
}

#table-main th {
    font-weight: bold;
}

#table-main thead th {
    vertical-align: bottom;
}

#table-main caption + thead tr:first-child th,
#table-main caption + thead tr:first-child td,
#table-main colgroup + thead tr:first-child th,
#table-main colgroup + thead tr:first-child td,
#table-main thead:first-child tr:first-child th,
#table-main thead:first-child tr:first-child td {
    border-top: 0;
}

#table-main tbody + tbody {
    border-top: 2px solid #2F9FE0;
}

#table-main{
    border-top: 1px solid #2F9FE0;
    border-left: 1px solid #2F9FE0;
}

#table-main td{
    /*width: 50%;*/
}

#table-main {
    background-color: #ffffff;
}

.table-condensed th,
.table-condensed td {
    padding: 4px 5px;
}

.table-bordered {
    border: 1px solid #2F9FE0;
    border-collapse: separate;
    *border-collapse: collapse;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.table-bordered th,
.table-bordered td {
    border-left: 1px solid #2F9FE0;
}

.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
    border-top: 0;
}

.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child {
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
}

.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
}

.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child {
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
}

.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tbody:last-child tr:last-child > th:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > th:last-child {
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
}

.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
}

.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
    background-color: #f5f5f5;
}

table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
    display: table-cell;
    float: none;
    margin-left: 0;
}

.table td.span1,
.table th.span1 {
    float: none;
    width: 44px;
    margin-left: 0;
}

.table td.span2,
.table th.span2 {
    float: none;
    width: 124px;
    margin-left: 0;
}

.table td.span3,
.table th.span3 {
    float: none;
    width: 204px;
    margin-left: 0;
}

.table td.span4,
.table th.span4 {
    float: none;
    width: 284px;
    margin-left: 0;
}

.table td.span5,
.table th.span5 {
    float: none;
    width: 364px;
    margin-left: 0;
}

.table td.span6,
.table th.span6 {
    float: none;
    width: 444px;
    margin-left: 0;
}

.table td.span7,
.table th.span7 {
    float: none;
    width: 524px;
    margin-left: 0;
}

.table td.span8,
.table th.span8 {
    float: none;
    width: 604px;
    margin-left: 0;
}

.table td.span9,
.table th.span9 {
    float: none;
    width: 684px;
    margin-left: 0;
}

.table td.span10,
.table th.span10 {
    float: none;
    width: 764px;
    margin-left: 0;
}

.table td.span11,
.table th.span11 {
    float: none;
    width: 844px;
    margin-left: 0;
}

.table td.span12,
.table th.span12 {
    float: none;
    width: 924px;
    margin-left: 0;
}

.table tbody tr.success > td {
    background-color: #dff0d8;
}

.table tbody tr.error > td {
    background-color: #f2dede;
}

.table tbody tr.warning > td {
    background-color: #fcf8e3;
}

.table tbody tr.info > td {
    background-color: #d9edf7;
}

.table-hover tbody tr.success:hover > td {
    background-color: #d0e9c6;
}

.table-hover tbody tr.error:hover > td {
    background-color: #ebcccc;
}

.table-hover tbody tr.warning:hover > td {
    background-color: #faf2cc;
}

.table-hover tbody tr.info:hover > td {
    background-color: #c4e3f3;
}

.table-striped tbody > tr:nth-child(even) > td, .table-striped tbody > tr:nth-child(even) > th {background-color: #fff;}
.table-striped thead > tr > th {background-color: #fff;}

.table-colored thead tr th {background-color: #2F9FE0;}
.table-colored tr.red td {background-color:pink !important;}

.table-colored tbody tr td.gray {background-color: #2F9FE0;}.table-colored thead tr th {background-color: #2F9FE0;}

.table-mobile thead tr th {
    font-size: 10px;
}

#table-main tr, #table-main tr td{
    border-bottom: none !important;
    border-right: none !important;
    border-left: none !important;
}

table td.orange.text-center {
    color: #ff6600;
    text-align: center;
}