table.treetable span.indenter {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: right;

  /* Disable text selection of nodes (for better D&D UX) */
  user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;

  /* Force content-box box model for indenter (Bootstrap compatibility) */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;

  width: 19px;
}

table.treetable span.indenter a {
  background-position: left top 5px;
  background-repeat: no-repeat;
  display: inline-block;
  text-decoration: none;
  width: 19px;
}

table.treetable tr.collapsed span.indenter a {
    background-image: url('../../img/uncollapsed-icon.png');
}

table.treetable tr.expanded span.indenter a {
    background-image: url('../../img/collapsed-icon.png');
}
table.treetable tr.collapsed.selected span.indenter a {
    background-image: url('../../img/uncollapsed-icon.png');
}

table.treetable tr.expanded.selected span.indenter a {
    background-image: url('../../img/collapsed-icon.png');
}

table.treetable tr.collapsed.accept td span.indenter a {
    background-image: url('../../img/collapsed-icon.png');
}

table.treetable tr.expanded.accept td span.indenter a {
    background-image: url('../../img/collapsed-icon.png');
}