<div id="attribute-error" class="partial-error" style="display: none;"></div>
<table cellspacing="0" cellpadding="15" border="0" class="table-partial table-attributes">
    <thead>
    <tr class="dark nodrag nodrop">
        <td>Name</td>
        <td>Value</td>
        <td>Custom Value</td>
        <td class="actions">Actions</td>
    </tr>
    </thead>
    <tbody>
    <? if($this->currentAttributes && $this->currentAttributes->getCount()): ?>
        <? foreach($this->currentAttributes as $attribute): ?>
            <tr class="light">
                <td><?= $attribute->getName() ?></td>
                <td><?= $attribute->getValue() ?></td>
                <td><textarea name="attr[value]" style="width: 94%; height: 70px;" class="edit-value" data-id="<?= $attribute->getAttributeId() ?>"><?= $attribute->getAttributeValue() ?></textarea></td>
                <td>
                    <a target="_blank" href="<?= Url::getAdminUrl() ?>/shop/attributes/edit?id=<?= $attribute->getId() ?>" class="btn view orange margin-right">View</a>
                    <a data-id="<?= $attribute->getAttributeId() ?>" class="delete-attribute btn delete red">Remove</a>
                </td>
            </tr>
        <? endforeach ?>
    <? else: ?>
        <tr class="no-records light nodrag nodrop">
            <td colspan="10">No attributes assigned to this product</td>
        </tr>
    <? endif ?>
    </tbody>
    <tfoot>
    <tr class="dark nodrag nodrop">
        <td colspan="10">
            <div style="float: left; width: 100%;">
                <select id="product_attribute_id" class="full-select" name="attribute[attribute_id]">
                    <? foreach($this->sets as $set): ?>
                        <optgroup label="<?= $set->getName() ?>">
                            <? foreach($set->getAttributes() as $attribute): ?>
                                <option value="<?= $attribute->getId() ?>"><?= $attribute->getName() ?> --- <?= $attribute->getValue() ?></option>
                            <? endforeach ?>
                        </optgroup>
                    <? endforeach ?>
                </select>
                <?= $this->form->textarea('.attribute[value]', array('placeholder' => 'Custom Value', 'id' => 'product_attribute_value', 'style' => 'width: 98%; float: left; margin-top: 20px; margin-bottom: 20px;')) ?>
            </div>
            <a class="add-attribute record-btn add green">Add</a>
        </td>
    </tr>
    </tfoot>
</table>