<div id="discount-error" class="partial-error" style="display: none;"></div>
<table cellspacing="0" cellpadding="15" border="0" class="table-partial table-discounts">
    <thead>
        <tr class="dark nodrag nodrop">
            <td>Discount</td>
            <? if($this->product->hasVendors()): ?>
                <td>Vendor</td>
            <? endif ?>
            <td>Rate</td>
            <td>Type</td>
            <td>Active</td>
            <td class="actions">Actions</td>
        </tr>
    </thead>
    <tbody>
    <? if($this->currentDiscounts && $this->currentDiscounts->getCount()): ?>
        <? foreach($this->currentDiscounts as $discount): ?>
            <tr id="<?= $discount->getId() ?>" class="light" style="cursor: move;">
                <td><?= $discount->getDiscountName() ?></td>
                <? if($this->product->hasVendors()): ?>
                    <td><?= $discount->getVendorName() ?></td>
                <? endif ?>
                <td><?= $discount->getDiscountRate() ?></td>
                <td><?= Shop_Model_Product_Discount::$types[$discount->getDiscountType()] ?></td>
                <td><?= Shop_Model_Product_Discount::$availability[$discount->getDiscountActive()] ?></td>
                <td>
                    <a target="_blank" href="<?= Url::getAdminUrl() ?>/shop/products/discounts/edit?id=<?= $discount->getDiscountId() ?>" class="btn view orange margin-right">View</a>
                    <a data-id="<?= $discount->getId() ?>" class="delete-discount btn delete red">Remove</a>
                </td>
            </tr>
        <? endforeach ?>
    <? else: ?>
        <tr class="no-records light nodrag nodrop">
            <td colspan="10">No discounts assigned to this product</td>
        </tr>
    <? endif ?>
    </tbody>
    <tfoot>
        <tr class="dark nodrag nodrop">
            <td colspan="10">
                <? if($this->discounts->getCount()): ?>
                    <div style="float: left; width: calc(100% - 97px); width: -moz-calc(100% - 97px); width: -webkit-calc(100% - 97px);">
                        <? if($this->product->hasVendors()): ?>
                        <div style="width: 49%; float: left;">
                            <select id="product_discount_vendor_id" class="full-select" name="discount[vendor_id]">
                                <? foreach($this->vendors as $vendor): ?>
                                    <option value="<?= $vendor->getId() ?>"><?= $vendor->getName() ?></option>
                                <? endforeach ?>
                            </select>
                        </div>
                        <div style="width: 49%; float: right;">
                            <select id="product_discount_discount_id" class="full-select" name="discount[discount_id]">
                                <? foreach($this->discounts as $discount): ?>
                                    <option value="<?= $discount->getId() ?>"><?= $discount->getName() ?></option>
                                <? endforeach ?>
                            </select>
                        </div>
                        <? else: ?>
                        <div style="width: 98%; float: left;">
                            <select id="product_discount_discount_id" class="full-select" name="discount[discount_id]">
                                <? foreach($this->discounts as $discount): ?>
                                    <option value="<?= $discount->getId() ?>"><?= $discount->getName() ?></option>
                                <? endforeach ?>
                            </select>
                        </div>
                        <? endif ?>
                    </div>
                    <a class="add-discount record-btn add green margin-left">Add</a>
                <? else: ?>
                    <strong>You must create a DISCOUNT first</strong>
                <? endif ?>
            </td>
        </tr>
    </tfoot>
</table>