<div id="tax-error" class="partial-error" style="display: none;"></div>
<table cellspacing="0" cellpadding="15" border="0" class="table-partial table-taxes">
    <thead>
        <tr class="dark nodrag nodrop">
            <? if($this->product->hasVendors()): ?>
                <td>Vendor</td>
            <? endif ?>
            <td>Tax</td>
            <td>Rate</td>
            <td>Type</td>
            <td>Active</td>
            <td class="actions">Actions</td>
        </tr>
    </thead>
    <tbody>
    <? if($this->currentTaxes && $this->currentTaxes->getCount()): ?>
        <? foreach($this->currentTaxes as $tax): ?>
            <tr id="<?= $tax->getId() ?>" class="light" style="cursor: move;">
                <? if($this->product->hasVendors()): ?>
                    <td><?= $tax->getVendorName() ?></td>
                <? endif ?>
                <td><?= $tax->getTaxName() ?></td>
                <td><?= $tax->getTaxRate() ?></td>
                <td><?= Shop_Model_Product_Tax::$types[$tax->getTaxType()] ?></td>
                <td><?= Shop_Model_Product_Tax::$availability[$tax->getTaxActive()] ?></td>
                <td>
                    <a target="_blank" href="<?= Url::getAdminUrl() ?>/shop/products/taxes/edit?id=<?= $tax->getTaxId() ?>" class="btn view orange margin-right">View</a>
                    <a data-id="<?= $tax->getId() ?>" class="delete-tax btn delete red">Remove</a>
                </td>
            </tr>
        <? endforeach ?>
    <? else: ?>
        <tr class="no-records light nodrag nodrop">
            <td colspan="10">No taxes assigned to this product</td>
        </tr>
    <? endif ?>
    </tbody>
    <tfoot>
        <tr class="dark nodrag nodrop">
            <td colspan="10">
                <? if($this->taxes->getCount()): ?>
                    <div style="float: left; width: calc(100% - 97px); width: -moz-calc(100% - 97px); width: -webkit-calc(100% - 97px);">
                        <? if($this->product->hasVendors()): ?>
                            <div style="width: 49%; float: left;">
                                <select id="product_tax_vendor_id" class="full-select" name="tax[vendor_id]">
                                    <? foreach($this->vendors as $vendor): ?>
                                        <option value="<?= $vendor->getId() ?>"><?= $vendor->getName() ?></option>
                                    <? endforeach ?>
                                </select>
                            </div>
                            <div style="width: 49%; float: right;">
                                <select id="product_tax_tax_id" class="full-select" name="tax[discount_id]">
                                    <? foreach($this->taxes as $tax): ?>
                                        <option value="<?= $tax->getId() ?>"><?= $tax->getName() ?></option>
                                    <? endforeach ?>
                                </select>
                            </div>
                        <? else: ?>
                            <div style="width: 98%; float: left;">
                                <select id="product_tax_tax_id" class="full-select" name="tax[discount_id]">
                                    <? foreach($this->taxes as $tax): ?>
                                        <option value="<?= $tax->getId() ?>"><?= $tax->getName() ?></option>
                                    <? endforeach ?>
                                </select>
                            </div>
                        <? endif ?>
                    </div>
                    <a class="add-tax record-btn add green margin-left">Add</a>
                <? else: ?>
                    <strong>You must create a TAX first</strong>
                <? endif ?>
            </td>
        </tr>
    </tfoot>
</table>
