<div id="vendor-error" class="partial-error" style="display: none;"></div>
<table cellspacing="0" cellpadding="15" border="0" class="table-partial table-vendors">
    <thead>
        <tr class="dark nodrag nodrop">
            <td>Name</td>
            <td>SKU</td>
            <td>Price</td>
            <td>Quantity</td>
            <td class="actions">Actions</td>
        </tr>
    </thead>
    <tbody>
    <? if($this->currentVendors && $this->currentVendors->getCount()): ?>
        <? foreach($this->currentVendors as $vendor): ?>
            <tr id="<?= $vendor->getId() ?>" class="light">
                <td><?= $vendor->getName() ?></td>
                <td><?= $vendor->getSku() ?></td>
                <td><?= $vendor->getPrice() ?></td>
                <td><?= $vendor->getQuantity() ?></td>
                <td>
                    <a target="_blank" href="<?= Url::getAdminUrl() ?>/shop/vendors/edit?id=<?= $vendor->getVendorId() ?>" class="btn view orange margin-right">View</a>
                    <a data-id="<?= $vendor->getId() ?>" class="delete-vendor btn delete red">Remove</a>
                </td>
            </tr>
        <? endforeach ?>
    <? else: ?>
        <tr class="no-records light nodrag nodrop">
            <td colspan="10">No vendors assigned to this product</td>
        </tr>
    <? endif ?>
    </tbody>
    <tfoot>
        <tr class="dark nodrag nodrop">
            <td colspan="10">
                <div style="float: left; width: calc(100% - 97px); width: -moz-calc(100% - 97px); width: -webkit-calc(100% - 97px);">
                    <select id="product_vendor_id" class="partial-select" name="vendor[vendor_id]">
                        <? foreach($this->vendors as $vendor): ?>
                            <option value="<?= $vendor->getId() ?>"><?= $vendor->getName() ?></option>
                        <? endforeach ?>
                    </select>
                    <?= $this->form->text('.vendor[sku]', array('placeholder' => 'SKU Code', 'id' => 'product_vendor_sku', 'style' => 'width: 17%; float: left; margin-left: 2%;')) ?>
                    <?= $this->form->text('.vendor[price]', array('placeholder' => 'Price', 'id' => 'product_vendor_price', 'style' => 'width: 17%; float: left; margin-left: 2%;')) ?>
                    <?= $this->form->text('.vendor[quantity]', array('placeholder' => 'Quantity', 'id' => 'product_vendor_quantity', 'style' => 'width: 17%; float: left; margin-left: 2%;')) ?>
                </div>
                <a class="add-vendor record-btn add green margin-left">Add</a>
            </td>
        </tr>
    </tfoot>
</table>