<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
    <a href="#tab-2" class="tab">Secondary Information</a>
    <a href="#tab-3" class="tab">Manage Content</a>
    <a href="#tab-4" class="tab">Meta Tags</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="sku">SKU</label>
                <?= $this->form->text('sku', ['id' => 'sku']) ?>
            </div>
            <div class="row">
                <label for="name">Name</label>
                <?= $this->form->text('name', ['id' => 'name']) ?>
            </div>
            <? if($this->categories): ?>
            <div class="row">
                <label for="categories">Categories</label>
                <?= $this->form->selectChosen('.categories', $this->categories, null, 'Choose categories', true, ['id' => 'categories']) ?>
            </div>
            <? endif?>
            <div class="row">
                <label for="active">Active</label>
                <?= $this->form->selectChosen('active', $this->availabilities, Session::exists('data.active') ? Session::get('data.active') : null, 'Choose availability', false, ['id' => 'active']) ?>
            </div>
        </div>
        <div id="tab-2" class="hide">
            <div class="row">
                <label for="price">Price</label>
                <?= $this->form->text('price', ['id' => 'price']) ?>
            </div>
            <div class="row">
                <label for="currency">Currency</label>
                <?= $this->form->selectChosen('currency_id', $this->currencies, Session::exists('data.currency_id') ? Session::get('data.currency_id') : null, 'Choose currency', false, ['id' => 'currency']) ?>
            </div>
            <div class="row">
                <label for="stock">Stock</label>
                <?= $this->form->selectChosen('stock', $this->stocks, Session::exists('data.stock') ? Session::get('data.stock') : null, 'Choose stock', false, ['id' => 'stock']) ?>
            </div>
            <div class="row">
                <label for="quantity">Quantity</label>
                <?= $this->form->text('quantity', ['id' => 'quantity']) ?>
            </div>
        </div>
        <div id="tab-3" class="hide">
            <div class="row">
                <?= $this->form->editor('description') ?>
            </div>
        </div>
        <div id="tab-4" class="hide">
            <div class="row">
                <label for="meta_title">Meta Title</label>
                <?= $this->form->text('meta_title', ['id' => 'meta_title']) ?>
            </div>
            <div class="row">
                <label for="meta_description">Meta Description</label>
                <?= $this->form->textarea('meta_description', ['id' => 'meta_description']) ?>
            </div>
            <div class="row">
                <label for="meta_keywords">Meta Keywords</label>
                <?= $this->form->textarea('meta_keywords', ['id' => 'meta_keywords']) ?>
            </div>
        </div>
        <div class="left">
            <?= Admin_View::cancelButton() ?>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>