<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
    <a href="#tab-2" class="tab">Secondary Information</a>
    <a href="#tab-3" class="tab">Manage Content</a>
    <? if($this->sets->getCount()): ?>
        <a href="#tab-4" class="tab">Manage Attributes</a>
    <? endif ?>
    <? if($this->vendors->getCount()): ?>
        <a href="#tab-5" class="tab">Manage Vendors</a>
    <? endif ?>
    <? if($this->discounts->getCount()): ?>
        <a href="#tab-6" class="tab">Manage Discounts</a>
    <? endif ?>
    <? if($this->taxes->getCount()): ?>
        <a href="#tab-7" class="tab">Manage Taxes</a>
    <? endif ?>
    <a href="<?= $this->url(['module' => 'admin', 'controller' => 'shop_products_media', 'action' => 'index', 'product' => $this->item->getId()]) ?>" class="real">Manage Media</a>
    <a href="#tab-8" class="tab">Meta Tags</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="sku">SKU</label>
                <?= $this->form->text('sku', ['id' => 'sku']) ?>
            </div>
            <div class="row">
                <label for="name">Name</label>
                <?= $this->form->text('name', ['id' => 'name']) ?>
            </div>
            <? if($this->categories): ?>
            <div class="row">
                <label for="categories">Categories</label>
                <?= $this->form->selectChosen('.categories', $this->categories, $this->currentCategories, 'Choose categories', true, ['id' => 'categories']) ?>
            </div>
            <? endif?>
            <div class="row">
                <label for="active">Active</label>
                <?= $this->form->selectChosen('active', $this->availabilities, $this->item->getActive(), 'Choose availability', false, ['id' => 'active']) ?>
            </div>
        </div>
        <div id="tab-2" class="hide">
            <div class="row">
                <label for="price">Price</label>
                <?= $this->form->text('price', ['id' => 'price']) ?>
            </div>
            <div class="row">
                <label for="currency">Currency</label>
                <?= $this->form->selectChosen('currency_id', $this->currencies, $this->item->getCurrencyId(), 'Choose currency', false, ['id' => 'currency']) ?>
            </div>
            <div class="row">
                <label for="stock">Stock</label>
                <?= $this->form->selectChosen('stock', $this->stocks, $this->item->getData('stock'), 'Choose stock', false, ['id' => 'stock']) ?>
            </div>
            <div class="row">
                <label for="quantity">Quantity</label>
                <?= $this->form->text('quantity', ['id' => 'quantity']) ?>
            </div>
            <div class="row">
                <label for="view_count">Views</label>
                <?= $this->form->text('view_count', ['id' => 'view_count', 'disabled' => 'disabled']) ?>
            </div>
            <div class="row">
                <label for="sell_count">Sells</label>
                <?= $this->form->text('sell_count', ['id' => 'sell_count', 'disabled' => 'disabled']) ?>
            </div>
        </div>
        <div id="tab-3" class="hide">
            <div class="row">
                <?= $this->form->editor('description') ?>
            </div>
        </div>
        <? if($this->sets->getCount()): ?>
        <div id="tab-4" class="hide">
            <?= $this->partial('admin/views/shop/products/_attributes.phtml', array('product' => $this->item, 'sets' => $this->sets, 'currentAttributes' => $this->currentAttributes)) ?>
        </div>
        <? endif ?>
        <? if($this->vendors->getCount()): ?>
        <div id="tab-5" class="hide">
            <?= $this->partial('admin/views/shop/products/_vendors.phtml', ['product' => $this->item, 'vendors' => $this->vendors, 'currentVendors' => $this->currentVendors]) ?>
        </div>
        <? endif ?>
        <? if($this->discounts->getCount()): ?>
        <div id="tab-6" class="hide">
            <?= $this->partial('admin/views/shop/products/_discounts.phtml', ['product' => $this->item, 'vendors' => $this->vendors, 'discounts' => $this->discounts, 'currentDiscounts' => $this->currentDiscounts]) ?>
        </div>
        <? endif ?>
        <? if($this->taxes->getCount()): ?>
        <div id="tab-7" class="hide">
            <?= $this->partial('admin/views/shop/products/_taxes.phtml', ['product' => $this->item, 'vendors' => $this->vendors, 'taxes' => $this->taxes, 'currentTaxes' => $this->currentTaxes]) ?>
        </div>
        <? endif ?>
        <div id="tab-8" class="hide">
            <div class="row">
                <label for="meta_title">Meta Title</label>
                <?= $this->form->text('meta_title', ['id' => 'meta_title']) ?>
            </div>
            <div class="row">
                <label for="meta_description">Meta Description</label>
                <?= $this->form->textarea('meta_description', ['id' => 'meta_description']) ?>
            </div>
            <div class="row">
                <label for="meta_keywords">Meta Keywords</label>
                <?= $this->form->textarea('meta_keywords', ['id' => 'meta_keywords']) ?>
            </div>
        </div>

        <!-- Identifier for the entity to be modified -->
        <input id="product_id" type="hidden" name="identifier" value="<?= $this->item->getId() ?>" />
        <!-- Identifier for the entity to be modified -->

        <div class="left">
            <?= Admin_View::cancelButton() ?>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
            <?= Admin_View::duplicateButton($this->item->getId()) ?>
        </div>
    </form>
</div>