<div class="filters">
    <?= Admin_View::shopProductsRecordsFilter(array('name' => 'Name', 'sku' => 'SKU', 'price' => 'Price', 'quantity' => 'Quantity')) ?>
</div>
<div class="buttons-right" style="width: 370px;">
    <?= Admin_View::topAddButton() ?>
    <?= Admin_View::topUpdateButton() ?>
</div>
<table id="table" width="100%" cellspacing="0" cellpadding="15" border="0" class="table">
    <thead>
        <tr class="light">
            <td>SKU</td>
            <td>Name</td>
            <td>Price</td>
            <td>Stock</td>
            <td>Quantity</td>
            <td>Active</td>
            <td class="actions">Actions</td>
        </tr>
    </thead>
    <tbody>
    <? if($this->items->getCount()): ?>
        <? foreach($this->items as $index => $item): ?>
            <tr class="<?= $index % 2 == 0 ? 'dark' : 'light' ?>">
                <td><?= $item->getSku() ? $item->getSku() : 'NONE' ?></td>
                <td><?= $item->getName() ? String::truncate($item->getName(), 50) : 'NONE' ?></td>
                <td><?= $item->getPrice() ? number_format($item->getPrice($item->getCurrency()->getCode()), 2) . ' ' . $item->getCurrency()->getCode() : 'NONE' ?></td>
                <td><?= $item->getStock() ?></td>
                <td><?= $item->getQuantity() ? $item->getQuantity() : '0' ?></td>
                <td><?= $item->getActive() == 1 ? 'Yes' : 'No' ?></td>
                <td>
                    <?= Admin_View::editButton($item->getId()) ?>
                    <?= Admin_View::deleteButton($this->entity, $item->getId()) ?>
                </td>
            </tr>
        <? endforeach ?>
    <? else: ?>
        <tr class="dark">
            <td colspan="10">No rows found</td>
        </tr>
    <? endif ?>
    </tbody>
</table>
<div class="buttons-left" style="width: 370px;">
    <?= Admin_View::bottomAddButton() ?>
    <?= Admin_View::bottomUpdateButton() ?>
</div>
<div class="right">
    <div class="paginate-container">
        <?= $this->paginate ?>
    </div>
</div>