<div class="filters">
    <?= Admin_View::carModelsRecordsFilter(['ord' => 'Manual', 'name' => 'Name']) ?>
</div>
<div class="buttons-right">
    <?= Admin_View::topAddButton() ?>
    <?= Admin_View::topUpdateButton() ?>
</div>
<table width="100%" cellspacing="0" cellpadding="15" border="0" class="table">
    <thead>
    <tr class="light nodrag nodrop">
        <td>Name</td>
        <td>Brand</td>
        <td class="actions">Actions</td>
    </tr>
    </thead>
    <tbody>
    <? if($this->items->getCount()): ?>
        <? foreach($this->items as $index => $item): ?>
            <tr id="<?= $item->getId() ?>" class="<?= $index % 2 == 0 ? 'dark' : 'light' ?>">
                <td><?= $item->getName() ? $item->getName() : 'NONE' ?></td>
                <td><?= $item->getBrand() ? $item->getBrand()->getName() : 'NONE' ?></td>
                <td>
                    <?= Admin_View::editButton($item->getId()) ?>
                    <?= Admin_View::deleteButton($this->entity, $item->getId()) ?>
                </td>
            </tr>
        <? endforeach ?>
    <? else: ?>
        <tr class="dark">
            <td colspan="10">No rows found</td>
        </tr>
    <? endif ?>
    </tbody>
</table>
<div class="buttons-left">
    <?= Admin_View::bottomAddButton() ?>
    <?= Admin_View::bottomUpdateButton() ?>
</div>
<div class="right">
    <div class="paginate-container">
        <?= $this->paginate ?>
    </div>
</div>