<div class="tabs left">
    <a href="#tab-1" class="tab">Order Information</a>
    <a href="#tab-2" class="tab">Customer Information</a>
    <a href="#tab-3" class="tab">Address Information</a>
    <a href="#tab-4" class="tab">Payment Information</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="identifier">Order ID</label>
                <?= $this->form->text('identifier', ['id' => 'identifier'], $this->item->getIdentifier()) ?>
            </div>
            <div class="row">
                <label for="name">Name</label>
                <?= $this->form->text('name', ['id' => 'name'], $this->item->getName()) ?>
            </div>
            <div class="row">
                <label for="paid">Paid Amount (&euro;)</label>
                <?= $this->form->text('paid', ['id' => 'paid'], $this->item->getPaid()) ?>
            </div>
            <div class="row">
                <label for="remaining">Remaining Amount (&euro;)</label>
                <?= $this->form->text('remaining', ['id' => 'remaining'], $this->item->getRemaining()) ?>
            </div>
            <div class="row">
                <label for="status">Status</label>
                <?= $this->form->selectChosen('status', Car_Model_Order::$statuses, $this->item->getStatus(), 'Choose status', false, ['id' => 'status']) ?>
            </div>
            <div class="row">
                <label for="active">Active</label>
                <?= $this->form->selectChosen('active', Car_Model_Order::$active, $this->item->getActive(), 'Choose active', false, ['id' => 'active']) ?>
            </div>
        </div>
        <div id="tab-2" class="hide">
            <div class="row">
                <label for="first_name">First Name</label>
                <?= $this->form->text('first_name', ['id' => 'first_name'], $this->item->getFirstName()) ?>
            </div>
            <div class="row">
                <label for="last_name">Last Name</label>
                <?= $this->form->text('last_name', ['id' => 'last_name'], $this->item->getLastName()) ?>
            </div>
            <div class="row">
                <label for="email">Email</label>
                <?= $this->form->text('email', ['id' => 'email'], $this->item->getEmail()) ?>
            </div>
            <div class="row">
                <label for="phone">Phone</label>
                <?= $this->form->text('phone', ['id' => 'phone'], $this->item->getPhone()) ?>
            </div>
        </div>
        <div id="tab-3" class="hide">
            <div class="row">
                <label for="county">County</label>
                <?= $this->form->text('county', ['id' => 'county'], $this->item->getCounty()) ?>
            </div>
            <div class="row">
                <label for="city">City</label>
                <?= $this->form->text('city', ['id' => 'city'], $this->item->getCity()) ?>
            </div>
            <div class="row">
                <label for="street">Street</label>
                <?= $this->form->text('street', ['id' => 'street'], $this->item->getStreet()) ?>
            </div>
            <div class="row">
                <label for="street_no">Street No.</label>
                <?= $this->form->text('street_no', ['id' => 'street_no'], $this->item->getStreetNo()) ?>
            </div>
        </div>
        <div id="tab-4" class="hide">
            <div class="row">
                <label for="payment">Status</label>
                <?= $this->form->selectChosen('payment', Car_Model_Order::$payments, $this->item->getPayment(), 'Choose payment', false, ['id' => 'payment']) ?>
            </div>
            <div class="row">
                <label for="message">Message</label>
                <?= $this->form->text('message', ['id' => 'message'], $this->item->getMessage()) ?>
            </div>
        </div>

        <!-- Identifier for the entity to be modified -->
        <input type="hidden" name="identifier" value="<?= $this->item->getId() ?>" />
        <!-- Identifier for the entity to be modified -->

        <div class="left">
            <?= Admin_View::cancelButton() ?>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>