<div class="filters">
    <?= Admin_View::carOrdersRecordsFilter(['created_at' => 'Date', 'paid' => 'Paid', 'remaining' => 'Remaining', 'status' => 'Status', 'active' => 'Active', 'payment' => 'Payment', 'viewed' => 'Viewed']) ?>
</div>
<div class="buttons-right">
    <?= Admin_View::topUpdateButton() ?>
</div>
<table id="table" width="100%" cellspacing="0" cellpadding="15" border="0" class="table">
    <thead>
        <tr class="light nodrag nodrop">
            <td>Order ID</td>
            <td>Name</td>
            <td>Customer</td>
            <td>Paid</td>
            <td>Remaining</td>
            <td>Status</td>
            <td>Active</td>
            <td>Payment</td>
            <td>Date</td>
            <td class="actions">Actions</td>
        </tr>
    </thead>
    <tbody>
    <? if($this->items->getCount()): ?>
        <? foreach($this->items as $index => $item): ?>
            <tr id="<?= $item->getId() ?>" class="<?= $index % 2 == 0 ? 'dark' : 'light' ?>"<?= $item->getViewed() == Shop_Model_Order::VIEWED_NO ? 'style="background-color: #FBEAEC;"' : '' ?>>
                <td><strong><?= $item->getIdentifier() ? $item->getIdentifier() : 'NONE' ?></strong></td>
                <td><?= $item->getName() ? $item->getName() : 'NONE' ?></td>
                <td><?= $item->getFirstName() || $item->getLastName() ? $item->getFirstName() . ' ' . $item->getLastName() : 'NONE' ?></td>
                <td><?= '&euro;' . number_format($item->getPaid(), 0, ',', '.') ?></td>
                <td><?= '&euro;' . number_format($item->getRemaining(), 0, ',', '.') ?></td>
                <td><?= Car_Model_Order::$statuses[$item->getStatus()] ?></td>
                <td><?= Car_Model_Order::$active[$item->getActive()] ?></td>
                <td><?= Car_Model_Order::$payments[$item->getPayment()] ?></td>
                <td><?= date('d m, Y', $item->getCreatedAt()) ?></td>
                <td>
                    <a href="view?id=<?= $item->getId() ?>" class="btn view orange margin-right">View</a>
                    <?= Admin_View::deleteButton($this->entity, $item->getId()) ?>
                </td>
            </tr>
        <? endforeach ?>
    <? else: ?>
        <tr class="dark nodrag nodrop">
            <td colspan="10">No rows found</td>
        </tr>
    <? endif ?>
    </tbody>
</table>
<div class="buttons-left">
    <?= Admin_View::bottomUpdateButton() ?>
</div>
<div class="right">
    <div class="paginate-container">
        <?= $this->paginate ?>
    </div>
</div>