<div class="half">
    <table class="table table-striped table-bordered table-colored" id="table-main" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th colspan="2">Order #<?= $this->item->getIdentifier() ?></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 50%;">Order Date</td>
                <td style="width: 50%;"><?= date('d F, Y', $this->item->getCreatedAt()) ?></td>
            </tr>
            <tr>
                <td style="width: 50%;">Order Status</td>
                <td style="width: 50%;"><?= Car_Model_Order::$statuses[$this->item->getStatus()] ?></td>
            </tr>
            <tr>
                <td style="width: 50%;">Payment Status</td>
                <td style="width: 50%;"><?= Car_Model_Order::$payments[$this->item->getPayment()] ?></td>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped table-bordered table-colored" id="table-main" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th colspan="2">Order Totals</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 50%;">Paid Amount</td>
                <td style="width: 50%;">&euro;<?= number_format($this->item->getData('paid'), 0, ',', '.') ?></td>
            </tr>
            <tr>
                <td style="width: 50%;">Remaining Amount</td>
                <td style="width: 50%;">&euro;<?= number_format($this->item->getData('remaining'), 0, ',', '.') ?></td>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped table-bordered table-colored" id="table-main" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th colspan="2">Payment</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 50%;">Payment Method</td>
                <td style="width: 50%;">Credit Card</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="half">
    <table class="table table-striped table-bordered table-colored" id="table-main" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th colspan="2">Customer Information</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 50%;">Name</td>
                <td style="width: 50%;"><?= $this->item->getFirstName() ?> <?= $this->item->getLastName() ?></td>
            </tr>
            <tr>
                <td style="width: 50%;">Email</td>
                <td style="width: 50%;"><?= $this->item->getEmail() ?></td>
            </tr>
            <tr>
                <td style="width: 50%;">Phone</td>
                <td style="width: 50%;"><?= $this->item->getPhone() ?></td>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped table-bordered table-colored" id="table-main" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th colspan="2">Delivery Information</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 50%;">County</td>
                <td style="width: 50%;"><?= $this->item->getCounty() ?></td>
            </tr>
            <tr>
                <td style="width: 50%;">City</td>
                <td style="width: 50%;"><?= $this->item->getCity() ?></td>
            </tr>
            <tr>
                <td style="width: 50%;">Street</td>
                <td style="width: 50%;"><?= $this->item->getStreet() ?></td>
            </tr>
            <tr>
                <td style="width: 50%;">Street No.</td>
                <td style="width: 50%;"><?= $this->item->getStreetNo() ?></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="full">
    <table class="table table-striped table-bordered table-colored" id="table-main" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th colspan="7">Car Ordered</th>
            </tr>
        </thead>
        <tbody>
        <? if($this->car): ?>
            <tr>
                <td style="background-color: #E3F2FB !important; font-weight: 700;">Name</td>
                <td style="background-color: #E3F2FB !important; font-weight: 700;">Brand</td>
                <td style="background-color: #E3F2FB !important; font-weight: 700;">Model</td>
                <td style="background-color: #E3F2FB !important; font-weight: 700;">Year</td>
                <td style="background-color: #E3F2FB !important; font-weight: 700;">Kilometers</td>
                <td style="background-color: #E3F2FB !important; font-weight: 700;">Price</td>
                <td style="background-color: #E3F2FB !important; font-weight: 700; width: 100px;">Actions</td>
            </tr>
            <tr>
                <td><?= $this->car->getName() ?></td>
                <td><?= $this->car->getBrand()->getName() ?></td>
                <td><?= $this->car->getModel()->getName() ?></td>
                <td><?= $this->car->getYear() ?></td>
                <td><?= $this->car->getKilometers() ?></td>
                <td>&euro;<?= number_format($this->car->getPrice(), 0, ',', '.') ?></td>
                <td><a href="<?= $this->url(['module' => 'admin', 'controller' => 'car_cars', 'action' => 'edit', 'id' => $this->car->getId()]) ?>" target="_blank" class="btn view orange" style="line-height: 1;">View Car</a></td>
            </tr>
        <? else: ?>
            <tr>
                <td>No car ordered</td>
            </tr>
        <? endif ?>
        </tbody>
    </table>
</div>
<div class="clearfix"></div>
<div class="right" style="margin: 30px 15px 15px 0;">
    <a href="edit?id=<?= $this->item->getId() ?>" class="btn edit green">Modify Order</a>
</div>