<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="name">Name</label>
                <?= $this->form->text('name', ['id' => 'name']) ?>
            </div>
            <? if($this->admin->isDeveloper()): ?>
                <div class="row">
                    <label for="identifier">Identifier</label>
                    <?= $this->form->text('identifier', ['id' => 'identifier']) ?>
                </div>
            <? endif ?>
            <div class="row">
                <label for="file">File</label>
                <?= $this->form->selectChosen('file', Cms_Model_Layout::getLayoutFiles(), null, 'Choose file', false, ['id' => 'file']) ?>
            </div>
            <? if($this->admin->isDeveloper()): ?>
            <div class="row">
                <label for="block_locations">Block Locations</label>
                <?= $this->form->textarea('block_locations', ['id' => 'block_locations']) ?>
            </div>
            <? endif ?>
        </div>
        <div class="left">
            <?= Admin_View::cancelButton() ?>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>