<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="first_name">First Name</label>
                <?= $this->form->text('first_name', ['id' => 'first_name']) ?>
            </div>
            <div class="row">
                <label for="last_name">Last Name</label>
                <?= $this->form->text('last_name', ['id' => 'last_name']) ?>
            </div>
            <div class="row">
                <label for="email">Email</label>
                <?= $this->form->text('email', ['id' => 'email']) ?>
            </div>
            <div class="row">
                <label for="image">Image</label>
                <?= $this->form->image('image', 'mechanic', ['id' => 'image']) ?>
            </div>
            <div class="row">
                <label for="certifications">Certifications</label>
                <?= $this->form->selectChosen('.certifications', $this->certifications, null, 'Choose certifications', true, ['id' => 'certifications']) ?>
            </div>
        </div>
        <div class="left">
            <?= Admin_View::cancelButton() ?>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>