<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="name">Name</label>
                <?= $this->form->text('name', ['id' => 'name']) ?>
            </div>
            <div class="row">
                <label for="important">Important</label>
                <?= $this->form->selectChosen('important', $this->important, null, 'Choose Important', false, ['id' => 'important']) ?>
            </div>
        </div>
        <div class="left">
            <?= Admin_View::cancelButton() ?>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>