<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="image">Image</label>
                <?= $this->form->image('image', 'car', ['id' => 'image']) ?>
            </div>
            <div class="row">
                <label for="first_image">First Image</label>
                <?= $this->form->selectChosen('first_image', [0 => 'No', 1 => 'Yes'], null, 'Choose', false, ['id' => 'first_image']) ?>
            </div>
            <div class="row">
                <label for="second_image">Second Image</label>
                <?= $this->form->selectChosen('second_image', [0 => 'No', 1 => 'Yes'], null, 'Choose', false, ['id' => 'second_image']) ?>
            </div>
            <div class="row">
                <label for="third_image">Third Image</label>
                <?= $this->form->selectChosen('second_image', [0 => 'No', 1 => 'Yes'], null, 'Choose', false, ['id' => 'second_image']) ?>
            </div>
        </div>
        <div class="left">
            <a href="<?= $this->url(['module' => 'admin', 'controller' => 'car_cars_images', 'action' => 'index', 'car' => $this->car]) ?>" class="btn delete red left">Cancel</a>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>