<div class="tabs left">
    <a href="<?= $this->url(['module' => 'admin', 'controller' => 'car_cars', 'action' => 'edit', 'id' => $this->car]) ?>" class="real">Back To Car</a>
    <a href="#tab-2" class="tab selected">Manage Images</a>
</div>
<div class="form right">
    <div class="buttons-right">
        <a href="<?= $this->url(['module' => 'admin', 'controller' => 'car_cars_images', 'action' => 'add', 'car' => $this->car]) ?>" class="btn add blue right">Add</a>
        <?= Admin_View::topUpdateButton() ?>
    </div>
    <table id="table" width="100%" cellspacing="0" cellpadding="15" border="0" class="table">
        <thead>
        <tr class="light nodrag nodrop">
            <td>Image</td>
            <td>Special</td>
            <td class="actions">Actions</td>
        </tr>
        </thead>
        <tbody>
        <? if($this->items->getCount()): ?>
            <? foreach($this->items as $index => $item): ?>
                <tr id="<?= $item->getId() ?>" class="<?= $index % 2 == 0 ? 'dark' : 'light' ?>">
                    <td><?= $item->getImage() ? '<img src="' . $this->image($item->getImage(), 'thumb') . '" width="100" />' : 'NONE' ?></td>
                    <td>
                        <? if($item->getFirstImage()): ?>First Image<? endif ?><br />
                        <? if($item->getSecondImage()): ?>Second Image<? endif ?><br />
                        <? if($item->getThirdImage()): ?>Third Image<? endif ?><br />
                    </td>
                    <td>
                        <a href="<?= $this->url(['module' => 'admin', 'controller' => 'car_cars_images', 'action' => 'edit', 'car' => $this->car, 'id' => $item->getId()]) ?>" class="btn edit green margin-right">Edit</a>
                        <?= Admin_View::deleteButton($this->entity, $item->getId()) ?>
                    </td>
                </tr>
            <? endforeach ?>
        <? else: ?>
            <tr class="dark nodrag nodrop">
                <td colspan="10">No rows found</td>
            </tr>
        <? endif ?>
        </tbody>
    </table>
    <div class="buttons-left">
        <a href="<?= $this->url(['module' => 'admin', 'controller' => 'car_cars_images', 'action' => 'add', 'car' => $this->car]) ?>" class="btn add blue left">Add</a>
        <?= Admin_View::bottomUpdateButton() ?>
    </div>
    <div class="right">
        <div class="paginate-container">
            <?= $this->paginate ?>
        </div>
    </div>
</div>