<section class="content-section">
    <div class="row">
        <article class="half grey-bg">
            <? if($this->getData('content')): ?>
            <div class="half-content">
                <?= $this->getData('content') ?>
            </div>
            <? endif ?>
        </article>
        <article class="half"<?= $this->getData('image') ? ' style="background-image: url(' . $this->getView()->image($this->getData('image')) . ')"' : '' ?>></article>
    </div>
</section>