<section class="content-section content-image"<?= $this->getData('bg_image') ? ' style="background-image: url(' . $this->getView()->image($this->getData('bg_image')) . ')"' : '' ?>>
    <div class="placeholder">
        <? if($this->getData('title')): ?>
            <h1 class="white"><?= $this->getData('title') ?></h1>
        <? endif ?>
        <? if($this->getData('content')): ?>
            <h3 class="white"><?= nl2br($this->getData('content')) ?></h3>
        <? endif ?>
        <? if($this->getData('image')): ?>
            <br /><br /><br />
            <img class="about-center-image-small" src="<?= $this->getView()->image($this->getData('image')) ?>" />
        <? endif ?>
        <? if($this->getData('print')): ?>
            <h4 class="white"><?= $this->getData('print') ?></h4>
            <br />
        <? endif ?>
    </div>
    <div class="space"></div>
</section>