<section class="content-section">
    <? if($this->getData('title')): ?>
        <h1><?= $this->getData('title') ?></h1>
    <? endif ?>
    <? if($this->getData('subtitle')): ?>
        <h4><?= $this->getData('subtitle') ?></h4>
    <? endif ?>
    <? if($this->getData('content')): ?>
        <p><?= nl2br($this->getData('content')) ?></p>
    <? endif ?>
    <div class="space"></div>
    <div class="space"></div>
</section>