<section class="content-section">
    <? if($this->getData('image_1')): ?>
        <img class="area-center-image-big" src="<?= $this->getView()->image($this->getData('image_1')) ?>" />
        <div class="space"></div>
    <? endif ?>
    <? if($this->getData('image_2')): ?>
        <img class="area-center-image-small" src="<?= $this->getView()->image($this->getData('image_2')) ?>" />
        <div class="space"></div>
    <? endif ?>
</section>