<? if($this->getBottomMenu()->getCount() > 0): ?>
<ul class="menu">
    <? foreach($this->getBottomMenu() as $menu): ?>
    <li>
        <a href="<?= $menu->getUrl() ?>"<?= $menu->getNewWindow() == '1' ? ' target="_blank"' : '' ?>>
            <?= $menu->getName() ?>
        </a>
    </li>
    <? endforeach ?>
</ul>
<? endif ?>