<section class="container">
    <form action="<?= $this->getView()->url() ?>" method="post" id="sell-form">
        <div class="wrapper">
            <section class="content-section">
                <? if($this->getData('title')): ?>
                    <h1><?= $this->getData('title') ?></h1>
                <? endif ?>
                <? if($this->getData('title')): ?>
                    <h2><?= $this->getData('subtitle') ?></h2>
                <? endif ?>
                <? if($this->getData('image')): ?>
                    <figure class="car-city">
                        <img src="<?= $this->getView()->image($this->getData('image')) ?>" alt="img" />
                    </figure>
                    <div class="space"></div>
                <? endif ?>
                <? if($this->getData('content')): ?>
                    <h3><?= nl2br($this->getData('content')) ?></h3>
                <? endif ?>
                <div class="space-small"></div>
                <?= $this->getForm()->text('email', ['class' => 'error-input-email', 'placeholder' => 'Introdu adresa de email', 'style' => 'text-align: center;']) ?>
                <div class="space"></div>
                <?= $this->getForm()->submit('submit', $this->getData('button_text'), ['class' => 'button-main']) ?>
                <div class="space"></div>
                <div class="space"></div>
            </section>
        </div>
    </form>
</section>