<section class="content-section content-image content-bordered"<?= $this->getData('bg_image') ? ' style="background-image: url(' . $this->getView()->image($this->getData('bg_image')) . ')"' : '' ?>>
    <h1 style="padding-top: 20px;">Ne oferi cateva detalii despre masina ta</h1>
    <div class="placeholder">
        <? for($i=1; $i<=3; $i++): ?>
            <? if($this->getData('title_' . $i) || $this->getData('description_' . $i)): ?>
                <article class="square-box small transparent">
                    <? if($this->getData('title_' . $i)): ?>
                        <span><?= $this->getData('title_' . $i) ?></span><br>
                    <? endif ?>
                    <? if($this->getData('description_' . $i)): ?>
                        <p><?= $this->getData('description_' . $i) ?></p>
                    <? endif ?>
                </article>
            <? endif ?>
        <? endfor ?>
        <? if($this->getData('image')): ?>
            <img class="concept-center-image-big" src="<?= $this->getView()->image($this->getData('image')) ?>" />
        <? endif ?>
        <? for($i=4; $i<=6; $i++): ?>
            <? if($this->getData('title_' . $i) || $this->getData('description_' . $i)): ?>
                <article class="square-box small transparent">
                    <? if($this->getData('title_' . $i)): ?>
                        <span><?= $this->getData('title_' . $i) ?></span><br>
                    <? endif ?>
                    <? if($this->getData('description_' . $i)): ?>
                        <p><?= $this->getData('description_' . $i) ?></p>
                    <? endif ?>
                </article>
            <? endif ?>
        <? endfor ?>
    </div>
</section>