<section class="sell-square">
    <div class="continue"></div>
    <? if($this->getData('title')): ?>
        <h1><?= $this->getData('title') ?></h1>
    <? endif ?>
    <div>
        <? for($i=1; $i<=2; $i++): ?>
            <article class="wide">
                <? if($this->getData('image_' . $i)): ?>
                    <img src="<?= $this->getView()->image($this->getData('image_' . $i)) ?>" alt="img" />
                <? endif ?>
                <div>
                    <? if($this->getData('title_' . $i)): ?>
                        <span><?= $this->getData('title_' . $i) ?></span>
                        <br /><br />
                    <? endif ?>
                    <? if($this->getData('subtitle_' . $i)): ?>
                        <p><?= $this->getData('subtitle_' . $i) ?></p>
                    <? endif ?>
                </div>
            </article>
        <? endfor ?>
    </div>
</section>