<section class="sell-simple">
    <div>
        <? for($i=1; $i<=2; $i++): ?>
            <article class="wide">
                <? if($this->getData('image_' . $i)): ?>
                    <img class="big" src="<?= $this->getView()->image($this->getData('image_' . $i)) ?>" />
                <? endif ?>
                <? if($this->getData('title_' . $i)): ?>
                    <p class="big"><?= $this->getData('title_' . $i) ?></p>
                <? endif ?>
            </article>
        <? endfor ?>
    </div>
</section>