<section class="content-section">
    <div class="continue"></div>
    <? if($this->getData('title')): ?>
        <h1 style="padding-top: 20px;"><?= $this->getData('title') ?></h1>
    <? endif ?>
    <div class="placeholder">
        <? if($this->getData('image')): ?>
            <img class="concept-absolute-image" src="<?= $this->getView()->image($this->getData('image')) ?>" />
        <? endif ?>
        <? for($i=1; $i<=3; $i++): ?>
            <? if($this->getData('title_' . $i) || $this->getData('description_' . $i)): ?>
                <article class="simple-text"<?= $i == 3 ? ' style="margin: 0 auto; float: none; padding: 20px 0;"' : '' ?>>
                    <? if($this->getData('title_' . $i)): ?>
                        <span><?= $this->getData('title_' . $i) ?></span><br>
                    <? endif ?>
                    <? if($this->getData('description_' . $i)): ?>
                        <p><?= $this->getData('description_' . $i) ?></p>
                    <? endif ?>
                </article>
            <? endif ?>
        <? endfor ?>
    </div>
    <div class="continue"></div>
</section>