<section class="content-section content-image content-bordered"<?= $this->getData('bg_image') ? ' style="background-image: url(' . $this->getView()->image($this->getData('bg_image')) . ')"' : '' ?>>
    <? if($this->getData('title')): ?>
        <h1><?= $this->getData('title') ?></h1>
    <? endif ?>
    <br /><br /><br />
    <? if($this->getData('image')): ?>
        <img class="concept-center-image-small" src="<?= $this->getView()->image($this->getData('image')) ?>" />
    <? endif ?>
    <br /><br /><br /><br />
    <? if($this->getData('subtitle')): ?>
        <h4><?= $this->getData('subtitle') ?></h4>
    <? endif ?>
    <? if($this->getData('description')): ?>
        <p><?= nl2br($this->getData('description')) ?></p>
    <? endif ?>
    <br /><br /><br /><br /><br /><br />
</section>