<section class="content-section">
    <? if($this->getData('image') || $this->getData('title')): ?>
        <? if($this->getData('title')): ?>
            <h1><?= $this->getData('title') ?></h1>
        <? endif ?>
        <? if($this->getData('image')): ?>
            <img class="concept-center-image" src="<?= $this->getView()->image($this->getData('image')) ?>" />
        <? endif ?>
        <div class="continue"></div>
    <? endif ?>
</section>