<? if($this->getData('content')): ?>
    <section class="container">
        <div class="wrapper">
            <div class="content-block">
                <?= $this->getData('content') ?>
            </div>
        </div>
    </section>
<? endif ?>