<section class="container">
    <div class="wrapper">
        <section class="faq" id="<?= $this->getData('anchor') ?>">
            <? if($this->getData('title')): ?>
                <h1><?= $this->getData('title') ?></h1>
            <? endif ?>
            <ul>
                <? for($i=1; $i<=20; $i++): ?>
                    <? if($this->getData('question_' . $i) && $this->getData('answer_' . $i)): ?>
                        <li>
                            <? if($this->getData('question_' . $i)): ?>
                                <a href="#"><?= $this->getData('question_' . $i) ?></a>
                            <? endif ?>
                            <? if($this->getData('answer_' . $i)): ?>
                                <div class="faq-content">
                                    <?= nl2br($this->getData('answer_' . $i)) ?>
                                </div>
                            <? endif ?>
                        </li>
                    <? endif ?>
                <? endfor ?>
            </ul>
        </section>
    </div>
</section>