<div class="space-big" style="background-color: #FFF;"></div>
<section class="faq-contact">
    <? if($this->getData('content')): ?>
        <p><?= nl2br($this->getData('content')) ?></p>
    <? endif ?>
    <div class="contact-container">
        <div class="contact-box left">
            <? if($this->getData('phone_image')): ?>
                <img src="<?= $this->getView()->image($this->getData('phone_image')) ?>" alt="Telefon" />
                <br />
            <? endif ?>
            <? if($this->getData('phone')): ?>
                <span><?= $this->getData('phone') ?></span>
            <? endif ?>
        </div>
        <div class="contact-box right">
            <? if($this->getData('email_image')): ?>
                <img src="<?= $this->getView()->image($this->getData('email_image')) ?>" alt="Email" />
                <br />
            <? endif ?>
            <? if($this->getData('email')): ?>
                <span><?= $this->getData('email') ?></span>
            <? endif ?>
        </div>
    </div>
</section>
<div class="space-small" style="background-color: #FFF;"></div>