<section class="container">
    <div class="wrapper">
        <section class="content-section" id="<?= $this->getData('anchor') ?>">
            <? if($this->getData('title')): ?>
                <h1><?= $this->getData('title') ?></h1>
            <? endif ?>
            <? if($this->getData('content')): ?>
                <p><?= nl2br($this->getData('content')) ?></p>
            <? endif ?>
            <div class="space"></div>
        </section>
    </div>
</section>