<section class="header-image-full">
    <? if($this->getData('image') || $this->getData('title') || $this->getData('description')): ?>
    <div class="header-image" style="background-image: url('<?= $this->getView()->image($this->getData('image')) ?>')">
        <div class="content">
            <? if($this->getData('title')): ?>
                <span><?= $this->getData('title') ?></span>
            <? endif ?>
            <? if($this->getData('description')): ?>
                <p><?= nl2br($this->getData('description')) ?></p>
            <? endif ?>
        </div>
    </div>
    <? endif ?>
</section>