<section class="faq-menu">
    <ul>
        <? for($i=1; $i<=5; $i++): ?>
            <? if($this->getData('button_' . $i . '_text') && $this->getData('button_' . $i . '_url')): ?>
                <li<?= String::endsWith(Url::getCurrentUrl(), $this->getData('button_' . $i . '_url')) ? ' class="active"' : '' ?>>
                    <a href="<?= $this->getData('button_' . $i . '_url') ?>"><?= $this->getData('button_' . $i . '_text') ?></a>
                </li>
            <? endif ?>
        <? endfor ?>
        <? if($this->getData('special_button_text') && $this->getData('special_button_url')): ?>
            <li class="special">
                <a href="<?= $this->getData('special_button_url') ?>"><?= $this->getData('special_button_text') ?></a>
            </li>
        <? endif ?>
    </ul>
</section>

<? Bootstrap::getInstance()->_appendScriptInline .= "
    <script type=\"text/javascript\">
        $(function(){
            $(window).on(\"scroll\", function(e) {
                if ($(window).scrollTop() > 1000) {
                    $('header').css('position', 'static');
                    $('.faq-menu').addClass('sticky');
                } else {
                    $('header').css('position', 'fixed');
                    $('.faq-menu').removeClass('sticky');
                }
            });
        });
    </script>
"; ?>