<? if($this->getPosts()->getCount() > 0): ?>
<section class="home-blog" id="slider" style="position: relative; margin: 0 auto; top: 0; left: 0; width: 1920px; height: 800px; overflow: hidden; visibility: hidden;">
    <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
        <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
        <div style="position:absolute;display:block;background:url('img/slider/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
    </div>
    <div data-u="slides" class="slider-container">
        <? foreach($this->getPosts() as $post): ?>
        <div data-p="225.00">
            <? if($post->getFirstImage()): ?>
                <img src="<?= $this->getView()->image($post->getFirstImage()->getMedia()) ?>" alt="img" />
            <? endif ?>
            <span class="slider-title"><?= $post->getName() ?></span>
            <p class="slider-description"><?= nl2br($post->getIntro()) ?></p>
            <a target="_blank" href="<?= $post->getButtonUrl() ?>" class="slider-button"><?= $post->getButtonText() ?></a>
        </div>
        <? endforeach ?>
    </div>
    <div data-u="navigator" class="jssorb05" data-autocenter="1">
        <div data-u="prototype"></div>
    </div>
    <span data-u="arrowleft" class="jssora22l" data-autocenter="2"></span>
    <span data-u="arrowright" class="jssora22r" data-autocenter="2"></span>
</section>
<? endif ?>