<section class="intro"<?= $this->getData('image') ? ' style="background-image: url(' . $this->getView()->image($this->getData('image')) . ')"' : '' ?>>
    <a href="#" class="sell-slide">&lt;<?= $this->getData('sell_button_text') ?></a>
    <a href="#" class="buy-slide"><?= $this->getData('buy_button_text') ?>&gt;</a>
</section>
<section class="intro-sell">
    <a href="<?= $this->getView()->page('sell')->getUrl() ?>" style="cursor: pointer !important;">
        <?= $this->getData('sell_content') ?>
    </a>
    <a href="<?= $this->getView()->page('sell')->getUrl() ?>" class="home-slide-btn">Vinde Masina</a>
</section>
<section class="intro-buy">
    <a href="<?= $this->getView()->page('buy')->getUrl() ?>" style="cursor: pointer !important;">
        <?= $this->getData('buy_content') ?>
    </a>
    <a href="<?= $this->getView()->page('buy')->getUrl() ?>" class="home-slide-btn">Cumpara Masina</a>
</section>