<section class="home-points">
    <? if($this->getData('stat_1_image') || $this->getData('stat_1_title') || $this->getData('stat_1_subtitle')): ?>
    <article>
        <? if($this->getData('stat_1_image')): ?>
            <div>
                <img src="<?= $this->getView()->image($this->getData('stat_1_image')) ?>" class="primary" style="margin-left: -30px;" alt="img" />
                <img src="<?= $this->getView()->image($this->getData('stat_1_image_hover')) ?>" class="secondary" style="display: none; margin-left: -30px;" alt="img" />
            </div>
        <? endif ?>
        <? if($this->getData('stat_1_title')): ?>
            <h2><?= $this->getData('stat_1_title') ?></h2>
        <? endif ?>
        <? if($this->getData('stat_1_subtitle')): ?>
            <h3><?= $this->getData('stat_1_subtitle') ?></h3>
        <? endif ?>
        <? if($this->getData('stat_1_content')): ?>
            <p style="display: none;"><?= nl2br($this->getData('stat_1_content')) ?></p>
        <? endif ?>
    </article>
    <? endif ?>
    <? if($this->getData('stat_1_image') || $this->getData('stat_1_title') || $this->getData('stat_1_subtitle')): ?>
    <article>
        <? if($this->getData('stat_2_image')): ?>
            <div>
                <img src="<?= $this->getView()->image($this->getData('stat_2_image')) ?>" class="primary" style="margin-left: -36px;" alt="img" />
                <img src="<?= $this->getView()->image($this->getData('stat_2_image_hover')) ?>" class="secondary" style="display: none; margin-left: -36px;" alt="img" />
            </div>
        <? endif ?>
        <? if($this->getData('stat_2_title')): ?>
            <h2><?= $this->getData('stat_2_title') ?></h2>
        <? endif ?>
        <? if($this->getData('stat_2_subtitle')): ?>
            <h3><?= $this->getData('stat_2_subtitle') ?></h3>
        <? endif ?>
        <? if($this->getData('stat_2_content')): ?>
            <p style="display: none;"><?= nl2br($this->getData('stat_2_content')) ?></p>
        <? endif ?>
    </article>
    <? endif ?>
    <? if($this->getData('stat_3_image') || $this->getData('stat_3_title') || $this->getData('stat_3_subtitle')): ?>
    <article>
        <? if($this->getData('stat_3_image')): ?>
            <div>
                <img src="<?= $this->getView()->image($this->getData('stat_3_image')) ?>" class="primary" style="margin-left: -56px;" alt="img" />
                <img src="<?= $this->getView()->image($this->getData('stat_3_image_hover')) ?>" class="secondary" style="display: none; margin-left: -56px;" alt="img" />
            </div>
        <? endif ?>
        <? if($this->getData('stat_3_title')): ?>
            <h2><?= $this->getData('stat_3_title') ?></h2>
        <? endif ?>
        <? if($this->getData('stat_3_subtitle')): ?>
            <h3><?= $this->getData('stat_3_subtitle') ?></h3>
        <? endif ?>
        <? if($this->getData('stat_3_content')): ?>
            <p style="display: none;"><?= nl2br($this->getData('stat_3_content')) ?></p>
        <? endif ?>
    </article>
    <? endif ?>
</section>