<? if($this->getPartners()->getCount() > 0): ?>
<section class="home-partners">
    <? foreach($this->getPartners() as $partner): ?>
    <a <?= $partner->getData('url') ? 'href="' . $partner->getData('url') .'" ' : '' ?>target="_blank">
        <img src="<?= $this->getView()->image($partner->getImage()) ?>" alt="<?= $partner->getName() ?>" />
    </a>
    <? endforeach ?>
</section>
<? endif ?>