<section class="container">
    <div class="wrapper">
        <section class="content-section">
            <? if($this->getData('title')): ?>
                <h1><?= $this->getData('title') ?></h1>
            <? endif ?>
            <? if($this->getData('subtitle')): ?>
                <h2><?= $this->getData('subtitle') ?></h2>
            <? endif ?>
            <? if($this->getData('content')): ?>
                <h3><?= nl2br($this->getData('content')) ?></h3>
            <? endif ?>
            <div class="space-small"></div>
            <? if($this->getData('email')): ?>
                <article class="left-side-big">
                    <a href="mailto:<?= $this->getData('email') ?>" class="sell-email right"><?= $this->getData('email') ?></a>
                </article>
            <? endif ?>
            <? if($this->getData('phone')): ?>
                <article class="right-side-big">
                    <a href="tel:<?= str_replace('.', '', str_replace(' ', '', str_replace('(' , '', str_replace(')', '', $this->getData('phone'))))) ?>" class="sell-phone left"><?= $this->getData('phone') ?></a>
                </article>
            <? endif ?>
            <? if($this->getData('image')): ?>
                <div class="space-small"></div>
                <div class="space-small"></div>
                <figure class="car-cars">
                    <img src="<?= $this->getView()->image($this->getData('image')) ?>" alt="img" />
                </figure>
                <div class="space-small"></div>
            <? endif ?>
            <? if($this->getData('button_text') && $this->getData('button_url')): ?>
                <div class="space"></div>
                <a href="<?= $this->getData('button_url') ?>" class="button-main"><?= $this->getData('button_text') ?></a>
            <? endif ?>
            <div class="space"></div>
            <div class="space"></div>
        </section>
    </div>
</section>