<section class="content-section">
    <? if($this->getData('title')): ?>
        <h1><?= $this->getData('title') ?></h1>
    <? endif ?>
    <div class="space-small"></div>
    <div class="placeholder">
        <article class="half-block left">
            <div class="contact">
                <? if($this->getData('image')): ?>
                    <img src="<?= $this->getView()->image($this->getData('image')) ?>" alt="img" />
                    <br /><br />
                <? endif ?>
                <? if($this->getData('description')): ?>
                    <p><?= nl2br($this->getData('description')) ?></p>
                    <br /><br /><br />
                <? endif ?>
                <? if($this->getData('phone')): ?>
                    <a href="tel:<?= $this->getData('phone') ?>"><?= String::formatPhone($this->getData('phone')) ?></a>
                <? endif ?>
            </div>
        </article>
        <article class="half-block right">
            <form action="<?= $this->getView()->url(['module' => 'car', 'controller' => 'order', 'action' => 'index']) ?>" method="post" style="margin: 0 20px;">
                <?= $this->getForm()->text('name', ['class' => 'contact-input contact-user', 'placeholder' => 'Nume'], Session::exists('inputData.name') ? Session::get('inputData.name') : null) ?>
                <?= $this->getForm()->text('email', ['class' => 'contact-input contact-email', 'placeholder' => 'Email'], Session::exists('inputData.email') ? Session::get('inputData.email') : null) ?>
                <?= $this->getForm()->text('phone', ['class' => 'contact-input contact-phone', 'placeholder' => 'Phone', 'onkeyup' => 'this.value=this.value.replace(/[^\d]/,\'\')'], Session::exists('inputData.phone') ? Session::get('inputData.phone') : null) ?>
                <?= $this->getForm()->textarea('message', ['class' => 'contact-textarea', 'placeholder' => 'Mesaj'], Session::exists('inputData.message') ? Session::get('inputData.message') : null) ?>
                <?= $this->getForm()->submit('trimite', 'Trimite', ['class' => 'contact-submit']) ?>
            </form>
        </article>
    </div>
    <div class="space"></div>
</section>