<div class="space-small" style="background-color: #FFF;"></div>
<section class="content-section">
    <? if($this->getData('title')): ?>
        <h1 class="important"><?= $this->getData('title') ?></h1>
    <? endif ?>
    <section class="sell-cta">
        <? if($this->getData('left_button_text') && $this->getData('left_button_url')): ?>
            <a href="<?= $this->getData('left_button_url') ?>" class="cta-left"><?= $this->getData('left_button_text') ?></a>
        <? endif ?>
        <? if($this->getData('right_button_text') && $this->getData('right_button_url')): ?>
            <a href="<?= $this->getData('right_button_url') ?>" class="cta-right"><?= $this->getData('right_button_text') ?></a>
        <? endif ?>
    </section>
</section>
<div class="space-small" style="background-color: #FFF;"></div>