<section class="sell-simple">
    <div>
        <? if($this->getData('title')): ?>
            <h1>De aici, preluam noi</h1>
        <? endif ?>
        <? if($this->getData('column_1_image') || $this->getData('column_1_title') || $this->getData('column_1_subtitle')): ?>
        <article>
            <? if($this->getData('column_1_image')): ?>
                <img src="<?= $this->getView()->image($this->getData('column_1_image')) ?>" alt="img" />
            <? endif ?>
            <? if($this->getData('column_1_title')): ?>
                <p><?= $this->getData('column_1_title') ?></p>
            <? endif ?>
        </article>
        <? endif ?>
        <? if($this->getData('column_2_image') || $this->getData('column_2_title') || $this->getData('column_2_subtitle')): ?>
        <article>
            <? if($this->getData('column_2_image')): ?>
                <img src="<?= $this->getView()->image($this->getData('column_2_image')) ?>" alt="img" />
            <? endif ?>
            <? if($this->getData('column_2_title')): ?>
                <p><?= $this->getData('column_2_title') ?></p>
            <? endif ?>
        </article>
        <? endif ?>
        <? if($this->getData('column_3_image') || $this->getData('column_3_title') || $this->getData('column_3_subtitle')): ?>
        <article>
            <? if($this->getData('column_3_image')): ?>
                <img src="<?= $this->getView()->image($this->getData('column_3_image')) ?>" alt="img" />
            <? endif ?>
            <? if($this->getData('column_3_title')): ?>
                <p><?= $this->getData('column_3_title') ?></p>
            <? endif ?>
        </article>
        <? endif ?>
    </div>
</section>