<? if($this->getSellMenu()->getCount() > 0): ?>
<section class="top-footer">
    <ul>
        <? foreach($this->getSellMenu() as $menu): ?>
        <li>
            <a href="<?= $menu->getUrl() ?>"<?= $menu->getNewWindow() == '1' ? ' target="_blank"' : '' ?>>
                <?= $menu->getName() ?>
            </a>
        </li>
        <? endforeach ?>
    </ul>
</section>
<? endif ?>