<section class="sell-square" id="scroll-here">
    <div>
        <? if($this->getData('title')): ?>
            <h1>De aici, preluam noi</h1>
        <? endif ?>
        <? if($this->getData('column_1_image') || $this->getData('column_1_title') || $this->getData('column_1_subtitle')): ?>
        <article>
            <? if($this->getData('column_1_image')): ?>
                <img src="<?= $this->getView()->image($this->getData('column_1_image')) ?>" alt="img" />
            <? endif ?>
            <div>
                <? if($this->getData('column_1_title')): ?>
                    <span><?= $this->getData('column_1_title') ?></span><br /><br />
                <? endif ?>
                <? if($this->getData('column_1_subtitle')): ?>
                    <p><?= nl2br($this->getData('column_1_subtitle')) ?></p>
                <? endif ?>
            </div>
        </article>
        <? endif ?>
        <? if($this->getData('column_2_image') || $this->getData('column_2_title') || $this->getData('column_2_subtitle')): ?>
        <article>
            <? if($this->getData('column_2_image')): ?>
                <img src="<?= $this->getView()->image($this->getData('column_2_image')) ?>" alt="img" />
            <? endif ?>
            <div>
                <? if($this->getData('column_2_title')): ?>
                    <span><?= $this->getData('column_2_title') ?></span><br /><br />
                <? endif ?>
                <? if($this->getData('column_2_subtitle')): ?>
                    <p><?= nl2br($this->getData('column_2_subtitle')) ?></p>
                <? endif ?>
            </div>
        </article>
        <? endif ?>
        <? if($this->getData('column_3_image') || $this->getData('column_3_title') || $this->getData('column_3_subtitle')): ?>
        <article>
            <? if($this->getData('column_3_image')): ?>
                <img src="<?= $this->getView()->image($this->getData('column_3_image')) ?>" alt="img" />
            <? endif ?>
            <div>
                <? if($this->getData('column_3_title')): ?>
                    <span><?= $this->getData('column_3_title') ?></span><br /><br />
                <? endif ?>
                <? if($this->getData('column_3_subtitle')): ?>
                    <p><?= nl2br($this->getData('column_3_subtitle')) ?></p>
                <? endif ?>
            </div>
        </article>
        <? endif ?>
    </div>
</section>