<section class="container">
    <div class="wrapper">
        <section class="content-section">
            <? if($this->getData('title')): ?>
                <h1 style="font-size: 3em;"><?= $this->getData('title') ?></h1>
            <? endif ?>
            <? if($this->getData('subtitle')): ?>
                <h2><?= $this->getData('subtitle') ?></h2>
            <? endif ?>
            <? if($this->getData('image')): ?>
                <div class="space-small"></div>
                <figure class="car-city">
                    <img src="<?= $this->getView()->image($this->getData('image')) ?>" style="max-width: 300px;" alt="img" />
                </figure>
                <div class="space"></div>
            <? endif ?>
            <? if($this->getData('first_paragraph')): ?>
                <h3 style="font-size: 1.25em;"><?= nl2br($this->getData('first_paragraph')) ?></h3>
            <? endif ?>
            <? if($this->getData('second_paragraph')): ?>
                <h3 style="font-size: 1.25em; padding-top: 0;"><?= nl2br($this->getData('second_paragraph')) ?></h3>
            <? endif ?>
            <div class="space"></div>
        </section>
    </div>
</section>

<section class="content-section" style="border-top: 1px solid #00EDCF;">
    <h1 class="important">Cars. Rethinked.</h1>
    <section class="sell-cta">
        <? if($this->getData('button_1_text') && $this->getData('button_1_url')): ?>
            <a href="<?= $this->getData('button_1_url') ?>" class="cta-left"><?= $this->getData('button_1_text') ?></a>
        <? endif ?>
        <? if($this->getData('button_2_text') && $this->getData('button_2_url')): ?>
            <a href="<?= $this->getData('button_2_url') ?>" class="cta-right"><?= $this->getData('button_2_text') ?></a>
        <? endif ?>
    </section>
</section>