<? if($this->getSlides()->getCount() > 0): ?>
<section class="header-image-full slide-header-image-full">
    <? foreach($this->getSlides() as $index => $slide): ?>
    <div id="slide-<?= $slide->getId() ?>" class="slide-header-image header-image<?= $index > 0 ? ' hidden' : '' ?>" style="background-image: url('<?= $this->getView()->image($slide->getImage()) ?>')" data-item="<?= $index + 1 ?>">
        <div class="content">
            <span><?= $slide->getName() ?></span>
            <? if($slide->getIntro()): ?>
                <p><?= nl2br($slide->getIntro()) ?></p>
            <? endif ?>
            <div class="buttons">
                <? if($slide->getSecondaryButtonText() && $slide->getSecondaryButtonUrl()): ?>
                    <a href="#scroll-here" class="secondary scroll-to"><?= $slide->getSecondaryButtonText() ?></a>
                <? endif ?>
                <? if($slide->getPrimaryButtonText() && $slide->getPrimaryButtonUrl()): ?>
                    <a href="<?= $slide->getPrimaryButtonUrl() ?>" class="primary"><?= $slide->getPrimaryButtonText() ?></a>
                <? endif ?>
            </div>
        </div>
    </div>
    <? endforeach ?>
    <ul class="controls slide-controls">
        <? foreach($this->getSlides() as $index => $slide): ?>
        <li data-item="<?= $index + 1 ?>">
            <a href="#slide-<?= $slide->getId() ?>"<?= $index == 0 ? ' class="current"' : '' ?>></a>
        </li>
        <? endforeach ?>
    </ul>
</section>
<? endif ?>