<? if($this->getData('button_text') && $this->getData('button_url')): ?>
<section class="sell-cta">
    <a href="<?= $this->getData('button_url') ?>">
        <?= $this->getData('button_text') ?>
    </a>
</section>
<? endif ?>