<section class="top-footer">
    <div class="selection-breadcrumbs">
        <figure id="car-breadcrumb-icon"<?= !$this->getAd() ? ' class="hidden"' : '' ?>>
            <img src="<?= Dir::getAssets() ?>/default/img/select-breadcrumb-bmw.png" alt="img" />
        </figure>
        <span>
            <em id="car-brand-breadcrumb"><?= $this->getAd() ? $this->getAd()->getBrand()->getName() : '' ?></em>
            <em id="car-model-breadcrumb"><?= $this->getAd() ? $this->getAd()->getModel()->getName() : '' ?></em>
            <em id="car-year-breadcrumb"><?= $this->getAd() ? ' / ' . $this->getAd()->getYear() : '' ?></em>
            <em id="car-kilometers-breadcrumb"><?= $this->getAd() ? ' / ' . number_format($this->getAd()->getKilometers()) : '' ?></em>
            <em id="car-color-breadcrumb"><?= $this->getAd() ? ' / ' . $this->getAd()->getColor()->getName() : '' ?></em>
        </span>
    </div>
    <div class="selection-breadcrumbs">
        <figure id="location-breadcrumb-icon"<?= !$this->getAd() ? ' class="hidden"' : '' ?>>
            <img src="<?= Dir::getAssets() ?>/default/img/select-breadcrumb-location.png" alt="img" />
        </figure>
        <span>
            <em id="car-city-breadcrumb"><?= $this->getAd() ? $this->getAd()->getCity()->getName() : '' ?></em>
            <em id="car-street-breadcrumb"><?= $this->getAd() && $this->getAd()->getAddress() ? ' / ' . $this->getAd()->getAddress()->getAddress() : '' ?></em>
        </span>
    </div>
</section>