<section class="content-section content-image"<?= $this->getData('image') ? ' style="background-image: url(' . $this->getView()->image($this->getData('image')) . ')"' : '' ?>>
    <div class="placeholder">
        <? if($this->getData('title')): ?>
            <h1 class="white"><?= $this->getData('title') ?></h1>
        <? endif ?>
        <? if($this->getData('subtitle')): ?>
            <p class="white" style="font-size: 1.35em;"><?= $this->getData('subtitle') ?></p>
            <br /><br /><br />
        <? endif ?>
        <? if($this->getData('button_text') && $this->getData('button_url')): ?>
            <a href="<?= $this->getData('button_url') ?>" class="button-main btn-faq"><?= $this->getData('button_text') ?></a>
            <br /><br /><br /><br /><br /><br />
        <? endif ?>
    </div>
</section>