<section class="content-section">
    <? if($this->getData('title')): ?>
        <h1><?= $this->getData('title') ?></h1>
    <? endif ?>
    <? if($this->getData('subtitle')): ?>
        <h4><?= $this->getData('subtitle') ?></h4>
    <? endif ?>
    <div class="space"></div>
    <section class="content-section content-image content-bordered">
        <div id="map-canvas" style="width: 100%; height: 500px;"></div>
    </section>
</section>

<?php

$this->getView()->_appendScript .= '<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6HFcrQsNpY0Cridzj3SPj883foVcRUH0&sensor=true&v=3.exp"></script>';
$this->getView()->_appendScriptInline .= '
    <script type="text/javascript">
        google.maps.event.addDomListener(window, "load", displayMap);

        function displayMap() {
            var styles = [
                {
                    "featureType": "administrative",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#444444"
                        }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#f2f2f2"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "all",
                    "stylers": [
                        {
                            "saturation": -100
                        },
                        {
                            "lightness": 45
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "simplified"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#46bcec"
                        },
                        {
                            "visibility": "on"
                        }
                    ]
                }
            ];

            var mapOptions = {
                center: new google.maps.LatLng(44.453783, 26.099775),
                zoom: 13,
                styles: styles,
                scrollwheel: false
            };

            var map         = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
            var geocoder    = new google.maps.Geocoder();
            var image       = "' . Dir::getAssets() . '" + "/default/img/map-pin.png";

            var marker = new google.maps.Marker({
                map: map,
                position: {lat: 44.453783, lng: 26.099775},
                title: "OWT Garage",
                icon: image
            });
        }
    </script>
';

?>