<section class="content-section">
    <? if($this->getData('title')): ?>
        <h1><?= $this->getData('title') ?></h1>
    <? endif ?>
    <? if($this->getTeam()->getCount() > 0): ?>
    <div class="placeholder">
        <? foreach($this->getTeam() as $item): ?>
        <article class="member">
            <div class="member-avatar" style="background-image: url(<?= $this->getView()->image($item->getImage()) ?>)">
                <div class="mask">
                    <? if($item->getFacebook()): ?>
                        <a href="<?= $item->getFacebook() ?>" target="_blank" class="member-social member-social-facebook"></a>
                    <? endif ?>
                    <? if($item->getTwitter()): ?>
                        <a href="<?= $item->getTwitter() ?>" target="_blank" class="member-social member-social-twitter"></a>
                    <? endif ?>
                    <? if($item->getInstagram()): ?>
                        <a href="<?= $item->getInstagram() ?>" target="_blank" class="member-social member-social-instagram"></a>
                    <? endif ?>
                    <? if($item->getLinkedin()): ?>
                        <a href="<?= $item->getLinkedin() ?>" target="_blank" class="member-social member-social-linkedin"></a>
                    <? endif ?>
                </div>
            </div>
            <div class="member-info">
                <em><?= $item->getFirstName() ?> <?= $item->getLastName() ?></em><br />
                <span><?= $item->getJobTitle() ?></span>
            </div>
        </article>
        <? endforeach ?>
    </div>
    <? endif ?>
    <div class="space"></div>
</section>