<nav>
    <? if($this->getTopMenu()->getCount() > 0): ?>
    <ul class="menu">
        <? foreach($this->getTopMenu() as $menu): ?>
        <li>
            <a href="<?= $menu->getUrl() ?>"<?= $menu->getNewWindow() == '1' ? ' target="_blank"' : '' ?><?= strpos(Url::getUrl(), $menu->getUrl()) === 0 ? ' class="current"' : '' ?>>
                <?= $menu->getName() ?>
            </a>
        </li>
        <? endforeach ?>
    </ul>
    <span>Open Menu</span>
    <? endif ?>
</nav>