<section id="header-video" class="header-video-full">
    <div class="header-video">
        <div class="content" style="margin-top: 95px;">
            <span><?= Setting::get('company-name')->getValue() ?></span>
            <div class="buttons">
                <a target="_blank" href="<?= $this->getData('button_url') ?>" class="primary"><?= $this->getData('button_text') ?></a>
            </div>
        </div>
    </div>
</section>

<?php

Bootstrap::getInstance()->_appendScriptInline .= "
    <script type=\"text/javascript\">
        $(window).load(function(){
            $('section.header-video-full').css('height', $(window).height() - 84);
            $('#header-video').videoBG({
                mp4:'" . $this->getView()->video($this->getData('video_mp4')) . "',
                ogv:'" . $this->getView()->video($this->getData('video_ogv')) . "',
                webm:'" . $this->getView()->video($this->getData('video_webm')) . "',
                poster:'" . $this->getView()->image($this->getData('video_jpg')) . "',
                scale:true,
                zIndex:0,
                autoplay: true,
                loop: true
            });
        });
    </script>
";

?>