<section class="container">
    <div class="wrapper">
        <section class="content-section">
            <? if($this->getData('title')): ?>
                <h1><?= $this->getData('title') ?></h1>
            <? endif ?>
            <? if($this->getData('subtitle')): ?>
                <h2><?= $this->getData('subtitle') ?></h2>
            <? endif ?>
            <? if($this->getData('image')): ?>
                <figure class="car-cars">
                    <img src="<?= $this->getView()->image($this->getData('image')) ?>" alt="img" />
                </figure>
            <? endif ?>
            <? if($this->getData('content')): ?>
                <h3><?= nl2br($this->getData('content')) ?></h3>
            <? endif ?>
            <div class="space-small"></div>
            <a href="<?= $this->getView()->page('sell-step-5')->getUrl() ?>" class="button-main">Reintrodu seria VIN</a>
        </section>
    </div>
</section>