<div class="filters">
    <?= Admin_View::shopVouchersRecordsFilter(['code' => 'Code', 'rate' => 'Rate']) ?>
</div>
<div class="buttons-right">
    <?= Admin_View::topAddButton() ?>
    <?= Admin_View::topUpdateButton() ?>
</div>
<table width="100%" cellspacing="0" cellpadding="15" border="0" class="table">
    <thead>
    <tr class="light">
        <td>Name</td>
        <td>Code</td>
        <td>Rate</td>
        <td>Type</td>
        <td>Active</td>
        <td class="actions">Actions</td>
    </tr>
    </thead>
    <tbody>
    <? if($this->items->getCount()): ?>
        <? foreach($this->items as $index => $item): ?>
            <tr class="<?= $index % 2 == 0 ? 'dark' : 'light' ?>">
                <td><?= $item->getName() ? $item->getName() : 'NONE' ?></td>
                <td><?= $item->getCode() ? $item->getCode() : 'NONE' ?></td>
                <td><?= $item->getRate() ? $item->getRate() : 'NONE' ?></td>
                <td><?= $item->getType() ? $this->types[$item->getType()] : 'NONE' ?></td>
                <td><?= $item->getActive() != '' ? $this->availabilities[$item->getActive()] : 'NONE' ?></td>
                <td>
                    <?= Admin_View::editButton($item->getId()) ?>
                    <?= Admin_View::deleteButton($this->entity, $item->getId()) ?>
                </td>
            </tr>
        <? endforeach ?>
    <? else: ?>
        <tr class="dark">
            <td colspan="10">No rows found</td>
        </tr>
    <? endif ?>
    </tbody>
</table>
<div class="buttons-left">
    <?= Admin_View::bottomAddButton() ?>
    <?= Admin_View::bottomUpdateButton() ?>
</div>
<div class="right">
    <div class="paginate-container">
        <?= $this->paginate ?>
    </div>
</div>