<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div class="row">
            <label for="email">Email</label>
            <?= $this->form->text('email', ['id' => 'email']) ?>
        </div>
        <div class="row">
            <label for="car_id">Car</label>
            <?= $this->form->selectChosen('car_id', $this->cars, $this->item->getCarId(), 'Choose car', false, ['id' => 'car_id']) ?>
        </div>

        <!-- Identifier for the entity to be modified -->
        <input type="hidden" name="identifier" value="<?= $this->item->getId() ?>" />
        <!-- Identifier for the entity to be modified -->

        <div class="left">
            <?= Admin_View::cancelButton() ?>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>