div.curtain{
    display: none;
    width: 100%;
    height: 1px;
    margin-bottom: 238px;
    position: relative;
    z-index: 2;
    float: left;
}

div.curtain-home{
    display: none;
    width: 100%;
    height: 1px;
    margin-bottom: 285px;
    position: relative;
    z-index: 2;
    float: left;
}

footer{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 240px;
    z-index: 1;
    margin-top: 0;
    padding: 30px;
    background-color: #484848;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

footer.home{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 240px;
    z-index: 1;
    margin-top: 45px;
    padding: 30px;
    background-color: #484848;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

footer ul.menu{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: block;
    text-align: center;
}

footer ul.menu > li{
    display: inline;
}

footer ul.menu > li > a{
    display: inline-block;
    font-family: 'Segoe Light';
    font-weight: 300;
    font-size: 1.125em;
    color: #FFF;
    margin: 10px 30px;
}

footer ul.menu > li > a:hover{
    text-decoration: underline;
}

footer section.social{
    display: block;
    width: 100%;
    float: left;
    margin: 10px 0;
}

footer section.social a{
    display: inline-block;
    width: 59px;
    height: 47px;
    margin: 20px 10px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

footer section.social a.facebook{
    background-image: url('../img/facebook-icon.png');
    background-size: 48px 38px;
    background-position: center center;
}

footer section.social a.facebook:hover{
    background-image: url('../img/facebook-icon.png');
    background-size: 59px 47px;
    background-position: center center;
    width: 59px;
    height: 47px;
}

footer section.social a.google{
    background-image: url('../img/google-icon.png');
    background-size: 52px 40px;
    background-position: center center;
}

footer section.social a.google:hover{
    background-image: url('../img/google-icon.png');
    background-size: 59px 47px;
    background-position: center center;
    width: 59px;
    height: 47px;
}

footer section.social a.linkedin{
    background-image: url('../img/linkedin-icon.png');
    background-size: 52px 40px;
    background-position: center center;
}

footer section.social a.linkedin:hover{
    background-image: url('../img/linkedin-icon.png');
    background-size: 59px 47px;
    background-position: center center;
    width: 59px;
    height: 47px;
}

footer section.social a.pinterest{
    background-image: url('../img/pinterest-icon.png');
    background-size: 52px 40px;
    background-position: center center;
}

footer section.social a.pinterest:hover{
    background-image: url('../img/pinterest-icon.png');
    background-size: 59px 47px;
    background-position: center center;
    width: 59px;
    height: 47px;
}

footer section.social a.twitter{
    background-image: url('../img/twitter-icon.png');
    background-size: 52px 40px;
    background-position: center center;
}

footer section.social a.twitter:hover{
    background-image: url('../img/twitter-icon.png');
    background-size: 59px 47px;
    background-position: center center;
    width: 59px;
    height: 47px;
}

footer section.social a.instagram{
    background-image: url('../img/instagram-icon.png');
    background-size: 52px 40px;
    background-position: center center;
}

footer section.social a.instagram:hover{
    background-image: url('../img/instagram-icon.png');
    background-size: 59px 47px;
    background-position: center center;
    width: 59px;
    height: 47px;
}

footer small{
    font-family: "Segoe Light";
    color: #FFF;
    font-size: 1em;
}