@font-face{
    font-family: 'Arciform';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/arciform.eot');
    src:
    url('../fonts/arciform.woff') format('woff'),
    url('../fonts/arciform.ttf') format('truetype'),
    url('../fonts/arciform.svg#svgFontName') format('svg')
}

@font-face{
    font-family: 'Segoe';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/segoeui-Regular.eot');
    src:
    url('../fonts/segoeui-Regular.woff') format('woff'),
    url('../fonts/segoeui-Regular.ttf') format('truetype'),
    url('../fonts/segoeui-Regular.svg#svgFontName') format('svg')
}

@font-face{
    font-family: 'Segoe Bold';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/segoeui-Bold.eot');
    src:
    url('../fonts/segoeui-Bold.woff') format('woff'),
    url('../fonts/segoeui-Bold.ttf') format('truetype'),
    url('../fonts/segoeui-Bold.svg#svgFontName') format('svg')
}

@font-face{
    font-family: 'Segoe Light';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/segoeui-Light.eot');
    src:
    url('../fonts/segoeui-Light.woff') format('woff'),
    url('../fonts/segoeui-Light.ttf') format('truetype'),
    url('../fonts/segoeui-Light.svg#svgFontName') format('svg')
}

@font-face{
    font-family: 'Segoe Semibold';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/segoeui-Semibold.eot');
    src:
    url('../fonts/segoeui-Semibold.woff') format('woff'),
    url('../fonts/segoeui-Semibold.ttf') format('truetype'),
    url('../fonts/segoeui-Semibold.svg#svgFontName') format('svg')
}

@font-face{
    font-family: 'Segoe Semilight';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/segoeui-Semilight.eot');
    src:
    url('../fonts/segoeui-Semilight.woff') format('woff'),
    url('../fonts/segoeui-Semilight.ttf') format('truetype'),
    url('../fonts/segoeui-Semilight.svg#svgFontName') format('svg')
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'Arciform';
        url('../fonts/arciform.svg#svgFontName') format('svg'),
    }

    @font-face {
        font-family: 'Segoe';
        url('../fonts/segoeui-Regular.svg#svgFontName') format('svg'),
    }

    @font-face {
        font-family: 'Segoe Bold';
    url('../fonts/segoeui-Bold.svg#svgFontName') format('svg'),
    }

    @font-face {
        font-family: 'Segoe Light';
    url('../fonts/segoeui-Light.svg#svgFontName') format('svg'),
    }

    @font-face {
        font-family: 'Segoe Semibold';
    url('../fonts/segoeui-Semibold.svg#svgFontName') format('svg'),
    }

    @font-face {
        font-family: 'Segoe Semilight';
    url('../fonts/segoeui-Semilight.svg#svgFontName') format('svg'),
    }
}

*{
    z-index: 999;
}

body{
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
}

h1{
    cursor: default;
    margin: 0;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
}

h2{
    cursor: default;
    margin: 0;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
}

h3{
    cursor: default;
    margin: 0;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
}

em{
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    font-style: normal;
    cursor: default;
}

p{
    cursor: default;
    margin: 0;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
}

a{
    text-decoration: none;
    outline: none;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
}

span{
    cursor: default;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
}

small{
    cursor: default;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
}

img{
    padding: 0;
    margin: 0;
    border: 0;
}

figure{
    padding: 0;
    margin: 0;
    border: 0;
}

figcaption{
    display: none;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #10CFBD;
}

textarea:-webkit-autofill {
    -webkit-text-fill-color: #10CFBD;
}

::-webkit-input-placeholder {
    color: #949DB4;
}

:-moz-placeholder {
    color: #949DB4;
}

::-moz-placeholder {
    color: #949DB4;
}

:-ms-input-placeholder {
    color: #949DB4;
}

select::-ms-expand {
    display: none;
}

select{
    outline: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

input:not(radio) {
    outline: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

textarea {
    outline: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

main{
    margin: 0;
    padding: 0;
    position: relative;
    display: none;
    margin-top: 84px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.sticky{
    opacity: 0.9;
    position: fixed;
    top: 0;
}

div.flash, div.flash-hidden{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999999;
    text-align: center;
}

div.flash-hidden{
    display: none;
}

div.flash > span.success, div.flash-hidden > span.success{
    display: block;
    font-family: 'Segoe';
    font-size: 1.3em;
    color: #FFFFFF;
    background: #00EECF !important;
    padding: 24px 0;
}

div.flash > span.error, div.flash-hidden > span.error{
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    color: #FFFFFF;
    background: #F55753 !important;
    padding: 24px 0;
}

section.container{
    display: block;
    float: left;
    width: 100%;
    background-color: #FFF;
}

ul li{
    cursor: default;
}

div.wrapper{
    clear: both;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    padding: 0 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #FFF;
}

div.wrapper-big{
    clear: both;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #FFF;
}

div.placeholder{
    display: block;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    max-width: 1280px;
    position: relative;
}

div.clearfix{
    clear: both;
}

.hidden{
    display: none;
}

#loading{
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('../img/loading.gif') no-repeat center;
}

#wrapper{
    position: relative;
    display: none;
    max-width: 1300px;
}

.space{
    display: block;
    float: left;
    width: 100%;
    padding-top: 50px;
}

.space-small{
    display: block;
    float: left;
    width: 100%;
    padding-top: 25px;
}

.space-big{
    display: block;
    float: left;
    width: 100%;
    padding-top: 100px;
}