header{
    display: none;
    z-index: 9999;
    position: fixed;
    background-color: #FFF;
    top: 0;
    left: 0;
    float: left;
    width: 100%;
    border-top: 4px solid #00EDCF;
    padding: 10px 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

header.scrolled{
    -webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.29);
    -moz-box-shadow:    0px 2px 3px 0px rgba(50, 50, 50, 0.29);
    box-shadow:         0px 2px 3px 0px rgba(50, 50, 50, 0.29);
}

header a.logo{
    display: block;
    float: left;
    width: 55px;
    height: 60px;
    text-indent: -9999px;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
}

header nav{
    display: block;
    float: right;
    width: calc(100% - 85px);
    width: -moz-calc(100% - 85px);
    width: -webkit-calc(100% - 85px);
    width: -o-calc(100% - 85px);
}

header nav ul.menu{
    z-index: 99999;
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
}

header nav ul.menu > li{
    display: inline;
}

header nav ul.menu > li > a{
    display: block;
    float: left;
    font-family: 'Segoe Semilight';
    font-size: 1.25em;
    color: #484848;
    margin: 15px 30px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

header nav ul.menu > li > a:hover{
    text-decoration: underline;
}

header nav ul.menu > li > a.current{
    font-family: "Segoe Bold";
}

header nav > span{
    display: none;
}