@media screen and (max-width: 1700px){
    section.intro{
        background-position: center bottom;
        -o-background-size: 70% auto;
        -webkit-background-size: 70% auto;
        -moz-background-size: 70% auto;
        background-size: 70% auto;
    }

    section.intro.to-right{
        margin-left: 500px;
    }

    section.intro.to-left{
        margin-left: -500px;
    }

    section.intro a.sell-slide{
        left: 5%;
        width: 220px;
        height: 220px;
        font-size: 2em;
        padding-top: 90px;
        padding-left: 52px;
    }

    section.intro a.buy-slide{
        right: 5%;
        width: 220px;
        height: 220px;
        font-size: 2em;
        padding-top: 90px;
        padding-left: 37px;
    }

    .gallery-details em{
        font-size: 1.25em;
        padding-top: 4px;
    }

    .gallery-details a{
        font-size: 1em;
        margin: 0 15px;
    }

    .gallery-details span{
        font-size: 1.25em;
        padding-top: 6px;
        padding-bottom: 4px;
    }

    .gallery-details a.back, .gallery-details a.full, .gallery-details a.follow{
        font-size: 1em;
        margin: 0 10px;
        padding-top: 1px;
        padding-bottom: 1px;
    }

}

@media screen and (max-width: 1315px){
    #filters-container .left-filters, #filters-container .center-filters, #filters-container .right-filters{
        width: 100%;
    }
}

@media screen and (max-width: 1350px){
    .box{
        width: calc(33.3% - 40px);
        width: -moz-calc(33.3% - 40px);
        width: -webkit-calc(33.3% - 40px);
        width: -o-calc(33.3% - 40px);
    }

    .box-small{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .box-small > div > .badge:first-of-type{
        text-align: right;
    }

    .box-small > div > .badge:last-of-type{
        text-align: left;
    }

    #verifications, #characteristics{
        width: calc(50% - 20px);
        width: -moz-calc(50% - 20px);
        width: -webkit-calc(50% - 20px);
        width: -o-calc(50% - 20px);
    }

    #defects, #options{
        width: calc(50% - 20px);
        width: -moz-calc(50% - 20px);
        width: -webkit-calc(50% - 20px);
        width: -o-calc(50% - 20px);
        margin-right: 0;
    }

    #istoric, #engine{
        width: calc(50% - 20px);
        width: -moz-calc(50% - 20px);
        width: -webkit-calc(50% - 20px);
        width: -o-calc(50% - 20px);
        margin-right: 20px;
        margin-left: 0;
    }

    #engine .gas > div{
        background-position: top center;
    }

    #mechanic, #brochure{
        width: calc(50% - 20px);
        width: -moz-calc(50% - 20px);
        width: -webkit-calc(50% - 20px);
        width: -o-calc(50% - 20px);
        margin-right: 0;
        margin-left: 20px;
    }

    div.wrapper-big{
        padding: 0 30px;
    }

    section.intro{
        background-position: center bottom;
        -o-background-size: 80% auto;
        -webkit-background-size: 80% auto;
        -moz-background-size: 80% auto;
        background-size: 80% auto;
        height: 600px;
    }

    section.intro.to-right{
        margin-left: 500px;
    }

    section.intro.to-left{
        margin-left: -500px;
    }

    section.intro a.sell-slide{
        top: calc(50% - 120px);
        top: -moz-calc(50% - 120px);
        top: -webkit-calc(50% - 120px);
        top: -o-calc(50% - 120px);
        left: 5%;
        width: 190px;
        height: 190px;
        font-size: 1.6em;
        padding-top: 80px;
        padding-left: 50px;
    }

    section.intro a.buy-slide{
        top: calc(50% - 120px);
        top: -moz-calc(50% - 120px);
        top: -webkit-calc(50% - 120px);
        top: -o-calc(50% - 120px);
        right: 5%;
        width: 190px;
        height: 190px;
        font-size: 1.6em;
        padding-top: 80px;
        padding-left: 37px;
    }

    section.intro-sell{
        position: fixed;
        width: 500px;
        top: 180px;
        left: -500px;
    }

    section.intro-buy{
        position: fixed;
        width: 500px;
        top: 180px;
        right: -500px;
    }

    section.intro-sell ul, section.intro-buy ul{
        width: 100%;
    }
}

@media screen and (max-width: 1300px){
    .gallery-details a.back{
        display: none;
    }

    section.content-section input[type="checkbox"].car-spec + label {
        background-size: 40px 40px;
        padding-left: 50px;
        padding-top: 8px;
    }

    section.content-section label.car-spec-label{
        padding-top: 13px;
        padding-left: 5px;
        font-size: 1.05em;
    }
}

@media screen and (max-width: 1280px){
    .gallery-details a.full, .gallery-details a.follow{
        background-image: none;
        padding-left: 0;
    }
}

@media screen and (max-width: 1250px){
    section.checkout{
        width: 100% !important;
    }

    section.summary{
        width: 100%;
        margin-top: 30px;
        margin-left: 0;
    }

    .summary span{
        font-size: 1.125em;
    }

    .summary p{
        font-size: 1em;
    }

    .summary em{
        font-size: 1.25em;
    }








    .car-certifications{
        width: 100%;
        margin: 30px 0 0 0;
    }

    .car-features{
        width: calc(70% - 10px);
        width: -moz-calc(70% - 10px);
        width: -webkit-calc(70% - 10px);
        width: -o-calc(70% - 10px);
        margin: 20px 10px 20px 0;
    }

    .car-buy{
        width: calc(30% - 10px);
        width: -moz-calc(30% - 10px);
        width: -webkit-calc(30% - 10px);
        width: -o-calc(30% - 10px);
        margin: 20px 0 20px 10px;
    }
}

@media screen and (max-width: 1200px){
    section.home-partners a{
        display: inline-block;
        margin: 15px 30px;
    }

    section.home-partners img{
        max-width: 120px;
        max-height: 30px;
        border: none;
        margin: 10px;
    }

    section.home-points{
        padding: 100px 30px;
    }

    section.home-points article{
        width: calc(33% - 40px);
        width: -moz-calc(33% - 40px);
        width: -webkit-calc(33% - 40px);
        width: -o-calc(33% - 40px);
        margin: 20px;
    }

    section.home-points article img{
        max-height: 80px;
        border: none;
    }

    section.home-points article h2{
        font-size: 2em;
    }

    section.home-points article h3{
        font-size: 1.5em;
    }

    section.sell-goodbye article{
        display: block;
        float: left;
        margin: 30px 2%;
        width: 46%;
    }
}

@media screen and (max-width: 1160px){
    .car-grid{
        width: calc(50% - 20px);
        width: -moz-calc(50% - 20px);
        width: -webkit-calc(50% - 20px);
        width: -o-calc(50% - 20px);
        margin: 10px;
    }

    .half-content > p{
        font-size: 1.1em !important;
    }

    section.content-section a.car-color{
        width: 33%;
    }

    .concept-absolute-image{
        position: static;
        margin: 0 auto;
    }

    article.simple-text{
        width: 90%;
        float: none;
        margin: 0 auto;
        padding: 20px;
    }
}

@media screen and (max-width: 1150px){
    .gallery-details div.part1{
        width: 20%;
    }

    .gallery-details div.part2{
        width: 43%;
    }

    .gallery-details div.part3{
        width: 37%;
    }
}

@media screen and (max-width: 950px){
    .checkout .car-details > .car-image{
        height: auto !important;
    }

    .checkout .car-details .user-details{
        width: 100%;
    }

    .checkout .car-details .tax-details{
        width: 100%;
    }

    .checkout .car-details{
        width: 100%;
        -webkit-border-bottom-left-radius: 0px;
        -moz-border-radius-bottomleft: 0px;
        border-bottom-left-radius: 0px;
        -webkit-border-top-left-radius: 10px;
        -webkit-border-top-right-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-topright: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: auto;
    }

    .checkout .car-details > .car-image{
        width: 100%;
    }

    .checkout .car-details > .car-image img{
        -webkit-border-top-left-radius: 8px;
        -webkit-border-top-right-radius: 8px;
        -moz-border-radius-topleft: 8px;
        -moz-border-radius-topright: 8px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .checkout .car-details > .car-overview{
        width: 100%;
        height: auto;
        border: none;
        background-color: #FFF;
        margin-top: -10px;
    }

    .checkout .car-details > .car-overview > .badges > img{
        margin-bottom: 10px;
    }

    section.home-points{
        padding: 90px 30px;
    }

    section.home-points article{
        width: calc(33% - 30px);
        width: -moz-calc(33% - 30px);
        width: -webkit-calc(33% - 30px);
        width: -o-calc(33% - 30px);
        margin: 10px 15px;
    }

    section.home-points article img{
        max-height: 80px;
        border: none;
    }

    section.home-points article h2{
        font-size: 1.7em;
    }

    section.home-points article h3{
        font-size: 1.3em;
    }
}

@media screen and (max-width: 1060px){
    .member{
        display: block;
        float: left;
        width: 40%;
        margin: 20px 5%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
}

@media screen and (max-width: 1000px){
    .gallery-details div.part1{
        width: 50%;
    }

    .gallery-details div.part2{
        display: none;
    }

    .gallery-details div.part3{
        width: 50%;
    }

    .faq{
        width: 85%;
    }

    .tab-content .tab-first{
        width: 100%;
        border: 3px solid #d0d0d2;
        margin-right: 0;
    }

    .tab-content .tab-second{
        width: 100%;
        padding: 15px 0 0 0;
        margin-top: 20px;
    }

    .tab-content .tab-first-simple{
        width: 100%;
        text-align: center;
        margin-right: 0;
        text-align: center;
    }

    .tab-content .tab-second-simple{
        width: 100%;
        text-align: center;
    }

    .tab-second-simple > span{
        display: inline-block;
        font-size: 1em;
        width: 100%;
        float: none;
        margin: 0 auto;
        clear: both;
    }

    .tab-second-simple > input[type="submit"]{
        width: auto;
        display: inline-block;
        margin-left: 0;
        cursor: pointer;
        float: none;
        margin-top: 10px;
    }

    #verifications, #characteristics{
        width: calc(50% - 20px);
        width: -moz-calc(50% - 20px);
        width: -webkit-calc(50% - 20px);
        width: -o-calc(50% - 20px);
    }

    #defects, #options{
        width: calc(50% - 20px);
        width: -moz-calc(50% - 20px);
        width: -webkit-calc(50% - 20px);
        width: -o-calc(50% - 20px);
        margin-right: 0;
    }

    #istoric, #engine{
        width: calc(50% - 20px);
        width: -moz-calc(50% - 20px);
        width: -webkit-calc(50% - 20px);
        width: -o-calc(50% - 20px);
        margin-right: 20px;
        margin-left: 0;
    }

    #engine .gas > div{
        background-position: top center;
    }

    #mechanic, #brochure{
        width: calc(50% - 20px);
        width: -moz-calc(50% - 20px);
        width: -webkit-calc(50% - 20px);
        width: -o-calc(50% - 20px);
        margin-right: 0;
        margin-left: 20px;
    }

    section.content-section a.sell-email, section.content-section a.sell-phone{
        width: 100%;
        text-align: center;
        margin: 15px 0;
    }

    section.content-section input[type="checkbox"].car-spec{
        background-size: 55px 55px;
        padding-left: 50px;
        padding-top: 8px;
    }

    section.content-section label.car-spec-label{
        padding-top: 15px;
        padding-left: 10px;
        font-size: 1.25em;
    }

    section.content-section article.left-side-big, section.content-section article.right-side-big{
        padding: 0 60px 0 60px;
        width: 100%;
    }

    section.content-section div.car-spec-group{
        float: none;
        display: inline-block;
        margin: 5px auto;
        max-width: 520px;
        clear: both;
    }

    footer {
        display: none;
        position: static;
        height: auto !important;
        z-index: inherit;
        text-align: center;
    }

    footer.home {
        display: none;
        position: static;
        height: auto !important;
        z-index: inherit;
        text-align: center;
    }

    div.curtain {
        display: none !important;
    }

    div.curtain-home {
        display: none !important;
    }

    section.top-footer div.selection-breadcrumbs{
        width: 100%;
        text-align: center;
    }

    section.top-footer div.selection-breadcrumbs span{
        padding: 6 0 0 10px;
    }

    section.top-footer div.selection-breadcrumbs figure{
        float: none;
        /*display: block;*/
        margin: 0 auto;
    }

    header nav ul.menu{
        max-width: 350px;
        min-width: 190px;
        display: none;
        list-style: none;
        position: absolute;
        right: 36px;
        top: 69px;
        background-color: #484848;
    }

    header nav ul.menu > li{
        display: block;
    }

    header nav ul.menu > li > a{
        width: 100%;
        padding: 10px 15px;
        margin: 0;
        color: #FFF;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    header nav ul.menu > li > a:hover{
        background-color: #00EDCF;
        color: #FFF;
    }

    header nav ul.menu > li > a.current{
        background-color: #00EDCF;
        color: #FFF;
    }

    header nav > span{
        display: block;
        float: right;
        width: 50px;
        height: 50px;
        text-indent: -9999px;
        background-image: url('../img/menu-icon.png');
        background-repeat: no-repeat;
        cursor: pointer;
        margin-top: 15px;
    }

    header nav > span.active{
        background-image: url('../img/menu-icon-active.png');
    }

    section.sell-breadcrumbs ul > li, section.sell-breadcrumbs ul > li.current{
        font-size: 1em;
    }
}

@media screen and (max-width: 900px){
    section.content-section article.square-box{
        width: 70%;
        margin: 30px 15%;
    }

    section.content-section article.square-box.big{
        width: 80%;
        margin: 30px 10%;
    }

    section.content-section article.square-box.small{
        width: 60%;
        margin: 20px 20%;
    }

    section.intro{
        background-position: center bottom;
        -o-background-size: 100% ;
        -webkit-background-size: 100% auto;
        -moz-background-size: 100% auto;
        background-size: 100% auto;
        height: 600px;
    }

    section.intro.to-right{
        margin-left: 450px;
    }

    section.intro.to-left{
        margin-left: -450px;
    }

    section.intro a.sell-slide{
        top: 140px;
        width: 160px;
        height: 160px;
        font-size: 1.4em;
        padding-top: 70px;
        padding-left: 43px;
    }

    section.intro a.buy-slide{
        top: 140px;
        width: 160px;
        height: 160px;
        font-size: 1.4em;
        padding-top: 70px;
        padding-left: 30px;
    }

    section.intro-sell{
        position: fixed;
        width: 400px;
        top: 140px;
        left: -400px;
    }

    section.intro-buy{
        position: fixed;
        width: 400px;
        top: 140px;
        right: -400px;
    }

    section.intro-sell ul > li, section.intro-buy ul > li{
        font-size: 0.875em;
    }

    footer ul.menu > li > a, section.top-footer ul > li > a{
        width: 20%;
        margin-left: 0;
        margin-right: 0;
    }

    section.sell-square article, section.sell-square article.wide, section.sell-simple article, section.sell-simple article.wide{
        width: 50%;
        margin: 30px 25%;
    }

    .half-block{
        width: 100%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 850px){
    .car-grid{
        float: none;
        width: 80%;
        margin: 10px auto;
        max-width: none;
    }

    section.home-points{
        padding: 30px;
    }

    section.home-points article{
        width: calc(50% - 80px);
        width: -moz-calc(50% - 80px);
        width: -webkit-calc(50% - 80px);
        width: -o-calc(50% - 80px);
        margin: 40px;
    }

    section.home-points article img{
        max-height: 80px;
        border: none;
    }

    section.home-points article h2{
        font-size: 1.9em;
    }

    section.home-points article h3{
        font-size: 1.3em;
    }

    section.header-image-full ul.controls{
        left: calc(50% - 120px);
        left: -moz-calc(50% - 120px);
        left: -webkit-calc(50% - 120px);
        left: -o-calc(50% - 120px);
    }

    .half{
        width: 100%;
        display: block;
        float: left;
        min-height: 500px;
    }

    .half-content > p{
        font-size: 1em !important;
    }

    .member{
        width: 50%;
        margin: 20px 25%;
    }
}

@media screen and (max-width: 820px){
    section.content-section a.car-color{
        width: 50%;
    }
}

@media screen and (max-width: 800px){
    section.sell-square article, section.sell-square article.wide, section.sell-simple article, section.sell-simple article.wide{
        width: 70%;
        margin: 30px 15%;
    }

    section.sell-cta a.cta-left, section.sell-cta a.cta-right{
        margin: 0 50px 50px 50px;
        width: calc(100% - 100px);
        width: -moz-calc(100% - 100px);
        width: -webkit-calc(100% - 100px);
        width: -o-calc(10% - 100px);
        display: block;

    }

    section.sell-cta a.cta-right{
        margin-bottom: 0;
    }

    .car-list .small{
        display: none;
    }

    .car-list .big{
        width: 100%;
    }
}

@media screen and (max-width: 780px){
    section.header-image-full div.header-image span, section.header-video-full div.header-video span{
        font-size: 2.7em;
    }

    section.header-image-full div.header-image p, section.header-video-full div.header-video p{
        font-size: 1.3em;
    }

    section.header-image-full div.header-image a.primary, section.header-image-full div.header-image a.secondary{
        font-size: 1em;
    }

    section.header-video-full div.header-video a.primary, section.header-video-full div.header-video a.secondary{
        font-size: 1em;
    }

    footer ul.menu > li > a, section.top-footer ul > li > a{
        width: 30%;
        margin-left: 0;
        margin-right: 0;
    }

    div.curtain{
        height: 1px;
        margin-bottom: 300px;
    }

    div.curtain-home{
        height: 1px;
        margin-bottom: 345px;
    }

    footer, footer.home{
        height: 300px;
    }
}

@media screen and (max-width: 780px){
    section.sell-breadcrumbs ul > li, section.sell-breadcrumbs ul > li.current{
        display: block;
        float: left;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
        background-image: none;
        font-size: 1.1em;
    }
}

@media screen and (max-width: 750px){
    .faq{
        width: 100%;
    }

    .member{
        width: 70%;
        margin: 20px 15%;
    }
}

@media screen and (max-width: 730px){
    .car-features{
        width: calc(60% - 10px);
        width: -moz-calc(60% - 10px);
        width: -webkit-calc(60% - 10px);
        width: -o-calc(60% - 10px);
        margin: 20px 10px 20px 0;
    }

    .car-buy{
        width: calc(40% - 10px);
        width: -moz-calc(40% - 10px);
        width: -webkit-calc(40% - 10px);
        width: -o-calc(40% - 10px);
        margin: 20px 0 20px 10px;
    }

    section.content-section div.car-spec-group{
        display: block;
        text-align: center;
        float: left;
        margin: 5px 0;
    }

    section.content-section input[type="checkbox"].car-spec + label{
        width: 100%;
        background-position: top center;
        padding-left: 0;
        padding-top: 50px;
        padding-bottom: 40px;
    }

    section.content-section label.car-spec-label{
        float: none;
        padding-top: 5px;
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 700px){
    #verifications, #defects, #istoric, #mechanic, #characteristics, #options, #engine, #brochure{
        width: 100% !important;
        margin: 20px 0;
        height: auto;
    }

    .car-grid{
        float: left;
        width: 100%;
        margin: 10px 0;
        max-width: none;
    }
}

@media screen and (max-width: 720px){
    footer section.social a{
        margin: 10px 4%;
    }
}

@media screen and (max-width: 650px){
    .gallery-details div.part1{
        width: 30%;
    }

    .gallery-details div.part2{
        display: none;
    }

    .gallery-details div.part3{
        width: 70%;
    }

    section.intro{
        height: 480px;
    }

    section.intro.to-right{
        margin-left: 250px;
    }

    section.intro.to-left{
        margin-left: -250px;
    }

    section.intro a.sell-slide{
        top: 140px;
        width: 130px;
        height: 130px;
        font-size: 1.1em;
        padding-top: 55px;
        padding-left: 35px;
    }

    section.intro a.buy-slide{
        top: 140px;
        width: 130px;
        height: 130px;
        font-size: 1.1em;
        padding-top: 55px;
        padding-left: 25px;
    }

    section.intro-sell{
        position: fixed;
        width: 250px;
        top: 140px;
        left: -250px;
    }

    section.intro-buy{
        position: fixed;
        width: 250px;
        top: 140px;
        right: -250px;
    }

    section.intro-sell h1, section.intro-buy h1{
        font-size: 2.5em;
    }

    section.intro-sell ul > li, section.intro-buy ul > li{
        font-size: 0.875em;
    }

    section.home-points{
        padding: 30px 0;
    }

    section.home-points article{
        display: block;
        float: left;
        width: calc(100% - 60px);
        width: -moz-calc(100% - 60px);
        width: -webkit-calc(100% - 60px);
        width: -o-calc(100% - 60px);
        margin: 50px 30px;
    }

    section.home-points article h2{
        font-size: 2.1em;
    }

    section.home-points article h3{
        font-size: 1.6em;
    }

    footer section.social a{
        margin: 10px 3%;
    }

    #car-street{
        width: 290px;
        margin-left: -165px;
        font-size: 1em;
        padding: 10px 20px 15px 20px;
        background-image: none;
    }
}

@media screen and (max-width: 700px){
    .submit-main, .button-main{
        font-size: 1.3em;
    }

    .submit-map{
        margin-left: -190px;
    }

    .search{
        width: calc(100% - 140px);
        width: -moz-calc(100% - 140px);
        width: -webkit-calc(100% - 140px);
        width: -o-calc(100% - 140px);
    }
}

@media screen and (max-width: 600px){
    section.home-partners a:not(:first-of-type){
        display: none;
    }

    .checkout .step{
        width: 100%;
    }

    .faq-contact .contact-container .contact-box{
        width: 100%;
    }
}

@media screen and (max-width: 570px){
    .gallery-details div.part1{
        width: 60%;
    }

    .gallery-details div.part2{
        display: none;
    }

    .gallery-details div.part3{
        width: 40%;
    }

    .gallery-price {
        display: none !important;
    }

    .gallery-buy-text {
        display: none;
    }

    .gallery-buy-price {
        display: block;
    }
}

@media screen and (max-width: 560px){
    .car-features{
        width: 100%;
        margin: 20px 0 10px 0;
    }

    .car-buy{
        width: 100%;
        margin: 10px 0;
    }

    .member{
        width: 80%;
        margin: 20px 10%;
    }

    .error-input-email{
        font-size: 1.25em;
    }

    section.header-image-full div.header-image span, section.header-video-full div.header-video span{
        font-size: 2.3em;
        margin-bottom: 10px;
    }

    section.header-image-full div.header-image p, section.header-video-full div.header-video p{
        font-size: 1em;
    }

    section.header-image-full div.header-image div.buttons, section.header-video-full div.header-video div.buttons{
        margin-top: 10px;
        width: 80%;
    }

    section.header-image-full div.header-image a.secondary, section.header-video-full div.header-video a.secondary{
        display: block;
        width: 100%;
        margin: 20px 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    section.header-image-full div.header-image a.primary, section.header-video-full div.header-video a.primary{
        display: block;
        width: 100%;
        margin: 20px 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    footer section.social{
        margin: 30px 0;
    }

    footer section.social a{
        margin: 10px 30px;
    }

    div.curtain{
        height: 1px;
        margin-bottom: 400px;
    }

    div.curtain-home{
        height: 1px;
        margin-bottom: 445px;
    }

    footer, footer.home{
        height: 400px;
    }

    footer ul.menu > li > a, section.top-footer ul > li > a{
        width: 49%;
        margin-left: 0;
        margin-right: 0;
    }

    section.sell-square article, section.sell-square article.wide, section.sell-simple article, section.sell-simple article.wide{
        width: 90%;
        margin: 30px 5%;
    }

    section.content-section article.full-side{
        padding: 10px;
    }

    section.content-section article.left-side, section.content-section article.right-side{
        padding: 10px;
        width: 100%;
    }

    input[type="text"].step-input{
        max-width: 100%;
    }

    section.content-section a.car-color{
        font-size: 0.95em;
    }

    section.content-section h1.important{
        font-size: 2.8em;
    }
}

@media screen and (max-width: 500px){
    .car-certifications .certification{
        padding: 15px 7px 7px 7px;
    }

    .checkout .car-details .user-details > input[type="text"]{
        margin-right: 0;
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .checkout .car-details .user-details > span{
        font-size: 1.25em;
    }
}

@media screen and (max-width: 490px){
    .submit-main, .button-main{
        font-size: 1.125em;
        padding: 10px 25px 15px 25px;
    }

    .submit-map{
        margin-left: -170px;
    }
}

@media screen and (max-width: 460px){
    div.curtain{
        height: 1px;
        margin-bottom: 470px;
    }

    div.curtain-home{
        height: 1px;
        margin-bottom: 515px;
    }

    footer, footer.home{
        height: 480px;
    }

    footer section.social a{
        margin: 10px 7%;
    }

    section.content-section a.car-color{
        font-size: 1.25em;
        width: 100%;
    }
}

@media screen and (max-width: 400px){
    .contact a{
        font-size: 1em;
        background-size: contain;
        padding-left: 25px;
    }
}

@media screen and (max-width: 370px){
    footer section.social a{
        margin: 10px 4%;
    }

    footer ul.menu > li > a, section.top-footer ul > li > a{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}





















@media screen and (max-height: 875px){

}