<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
    <a href="#tab-2" class="tab">Secondary Information</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="name">Username</label>
                <?= $this->form->text('username', ['id' => 'username']) ?>
            </div>
            <div class="row">
                <label for="password">Password</label>
                <?= $this->form->password('password', ['id' => 'password'], false) ?>
            </div>
            <div class="row">
                <label for="email">Email</label>
                <?= $this->form->text('email', ['id' => 'email']) ?>
            </div>
            <div class="row">
                <label for="type">Type</label>
                <?= $this->form->selectChosen('type', $this->types, null, 'Set type', false, ['id' => 'type']) ?>
            </div>
            <? if(Database::getInstance()->columnExists('users', 'status')): ?>
            <div class="row">
                <label for="status">Verified</label>
                <?= $this->form->selectChosen('status', $this->statuses, 'Is verified?', false, ['id' => 'status']) ?>
            </div>
            <? endif ?>
        </div>
        <div id="tab-2" class="hide">
            <div class="row">
                <label for="first_name">First Name</label>
                <?= $this->form->text('first_name', ['id' => 'first_name']) ?>
            </div>
            <div class="row">
                <label for="last_name">Last Name</label>
                <?= $this->form->text('last_name', ['id' => 'last_name']) ?>
            </div>
        </div>
        <div class="left">
            <?= Admin_View::cancelButton() ?>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>