<div class="filters">
    <?= Admin_View::usersRecordsFilter(['username' => 'Username', 'email' => 'Email', 'first_name' => 'First Name', 'last_name' => 'Last Name', 'created_at' => 'Date']) ?>
</div>
<div class="buttons-right">
    <?= Admin_View::topAddButton() ?>
    <?= Admin_View::topUpdateButton() ?>
</div>
<table width="100%" cellspacing="0" cellpadding="15" border="0" class="table">
    <thead>
    <tr class="light">
        <td>Username</td>
        <td>Email</td>
        <? if(Database::getInstance()->columnExists('users', 'status')): ?>
            <td>Status</td>
        <? endif ?>
        <td class="actions">Actions</td>
    </tr>
    </thead>
    <tbody>
    <? if($this->items->getCount()): ?>
        <? foreach($this->items as $index => $item): ?>
            <tr class="<?= $index % 2 == 0 ? 'dark' : 'light' ?>">
                <td><?= $item->getUsername() ? $item->getUsername() : 'NONE' ?></td>
                <td><?= $item->getEmail() ? $item->getEmail() : 'NONE' ?></td>
                <? if(Database::getInstance()->columnExists('users', 'status')): ?>
                    <td><?= $item->getStatus() == 1 ? 'Verified' : 'Not Verified' ?></td>
                <? endif ?>
                <td>
                    <?= Admin_View::editButton($item->getId()) ?>
                    <?= Admin_View::deleteButton($this->entity, $item->getId()) ?>
                </td>
            </tr>
        <? endforeach ?>
    <? else: ?>
        <tr class="dark">
            <td colspan="10">No rows found</td>
        </tr>
    <? endif ?>
    </tbody>
</table>
<div class="buttons-left">
    <?= Admin_View::bottomAddButton() ?>
    <?= Admin_View::bottomUpdateButton() ?>
</div>
<div class="right">
    <div class="paginate-container">
        <?= $this->paginate ?>
    </div>
</div>