<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="image">Image</label>
                <?= $this->form->image('image', 'team', ['id' => 'image']) ?>
            </div>
            <div class="row">
                <label for="first_name">First Name</label>
                <?= $this->form->text('first_name', ['id' => 'first_name']) ?>
            </div>
            <div class="row">
                <label for="last_name">Last Name</label>
                <?= $this->form->text('last_name', ['id' => 'last_name']) ?>
            </div>
            <div class="row">
                <label for="job_title">Job Title</label>
                <?= $this->form->text('job_title', ['id' => 'job_title']) ?>
            </div>
            <div class="row">
                <label for="facebook">Facebook</label>
                <?= $this->form->text('facebook', ['id' => 'facebook']) ?>
            </div>
            <div class="row">
                <label for="twitter">Twitter</label>
                <?= $this->form->text('twitter', ['id' => 'twitter']) ?>
            </div>
            <div class="row">
                <label for="instagram">Instagram</label>
                <?= $this->form->text('instagram', ['id' => 'instagram']) ?>
            </div>
            <div class="row">
                <label for="linkedin">Linkedin</label>
                <?= $this->form->text('linkedin', ['id' => 'linkedin']) ?>
            </div>
        </div>
        <div class="left">
            <?= Admin_View::cancelButton() ?>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>