<div class="filters">
    <?= Admin_View::recordsFilter(['email' => 'Email', 'phone' => 'Phone']) ?>
</div>
<div class="buttons-right">
    <?= Admin_View::topUpdateButton() ?>
</div>
<table width="100%" cellspacing="0" cellpadding="15" border="0" class="table">
    <thead>
    <tr class="light">
        <td>Email</td>
        <td>Phone</td>
        <td class="actions">Actions</td>
    </tr>
    </thead>
    <tbody>
    <? if($this->items->getCount()): ?>
        <? foreach($this->items as $index => $item): ?>
            <tr class="<?= $index % 2 == 0 ? 'dark' : 'light' ?>"<?= $item->getViewed() == Shop_Model_Product_Enquiry::VIEWED_NO ? 'style="background-color: #FBEAEC;"' : '' ?>>
                <td><?= $item->getEmail() ? $item->getEmail() : 'NONE' ?></td>
                <td><?= $item->getPhone() ? String::formatPhone($item->getPhone()) : 'NONE' ?></td>
                <td>
                    <?= Admin_View::editButton($item->getId()) ?>
                    <?= Admin_View::deleteButton($this->entity, $item->getId()) ?>
                </td>
            </tr>
        <? endforeach ?>
    <? else: ?>
        <tr class="dark">
            <td colspan="10">No rows found</td>
        </tr>
    <? endif ?>
    </tbody>
</table>
<div class="buttons-left">
    <?= Admin_View::bottomUpdateButton() ?>
</div>
<div class="right">
    <div class="paginate-container">
        <?= $this->paginate ?>
    </div>
</div>