<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="name">Name</label>
                <?= $this->form->text('name', ['id' => 'name']) ?>
            </div>
            <div class="row">
                <label for="url">URL</label>
                <?= $this->form->text('url', ['id' => 'url']) ?>
            </div>
            <div class="row">
                <label for="image">Image</label>
                <?= $this->form->file('image', ['id' => 'image']) ?>
            </div>
            <? if($this->item->getImage()): ?>
                <?= Admin_View::showImage('image', $this->item->getImage()) ?>
            <? endif ?>
        </div>

        <!-- Identifier for the entity to be modified -->
        <input type="hidden" name="identifier" value="<?= $this->item->getId() ?>" />
        <!-- Identifier for the entity to be modified -->

        <div class="left">
            <?= Admin_View::cancelButton() ?>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>