<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="name">Title</label>
                <?= $this->form->text('name', ['id' => 'name']) ?>
            </div>
            <div class="row">
                <label for="content">Content</label>
                <?= $this->form->textarea('content', ['id' => 'content']) ?>
            </div>
            <div class="row">
                <label for="image">Image</label>
                <?= $this->form->image('image', 'car_perk', ['id' => 'image']) ?>
            </div>
            <? if($this->item->getImage()): ?>
                <?= Admin_View::showImage('image', $this->item->getImage()) ?>
            <? endif ?>
            <div class="row">
                <label for="color">Color (Ex: #FFFFFF)</label>
                <?= $this->form->text('color', ['id' => 'color']) ?>
            </div>
        </div>

        <!-- Identifier for the entity to be modified -->
        <input type="hidden" name="identifier" value="<?= $this->item->getId() ?>" />
        <!-- Identifier for the entity to be modified -->

        <div class="left">
            <a href="<?= $this->url(['module' => 'admin', 'controller' => 'car_cars_perks', 'action' => 'index', 'car' => $this->car]) ?>" class="btn delete red left">Cancel</a>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>