<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
    <a href="#tab-2" class="tab">Car Taxes</a>
    <a href="#tab-3" class="tab">Social Media</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="company-name">Company Name</label>
                <?= $this->form->text('company-name', ['id' => 'company-name'], Setting::get('company-name')->getValue()) ?>
            </div>
            <div class="row">
                <label for="company-email">Company Email</label>
                <?= $this->form->text('company-email', ['id' => 'company-email'], Setting::get('company-email')->getValue()) ?>
            </div>
        </div>
        <div id="tab-2" class="hide">
            <div class="row">
                <label for="car-registration-documents">"Documente Inmatriculare" Price (&euro;)</label>
                <?= $this->form->text('car-registration-documents', ['id' => 'car-registration-documents'], Setting::get('car-registration-documents')->getValue()) ?>
            </div>
            <div class="row">
                <label for="car-registration-documents-info">"Documente Inmatriculare" Info</label>
                <?= $this->form->textarea('car-registration-documents-info', ['id' => 'car-registration-documents-info'], Setting::get('car-registration-documents-info')->getValue()) ?>
            </div>
            <div class="row">
                <label for="car-finishing-touches">"Ultimele Retusuri" Price (&euro;)</label>
                <?= $this->form->text('car-finishing-touches', ['id' => 'car-finishing-touches'], Setting::get('car-finishing-touches')->getValue()) ?>
            </div>
            <div class="row">
                <label for="car-finishing-touches-info">"Ultimele Retusuri" Info</label>
                <?= $this->form->textarea('car-finishing-touches-info', ['id' => 'car-finishing-touches-info'], Setting::get('car-finishing-touches-info')->getValue()) ?>
            </div>
        </div>
        <div id="tab-3" class="hide">
            <div class="row">
                <label for="facebook">Facebook</label>
                <?= $this->form->text('facebook', ['id' => 'facebook'], Setting::get('facebook')->getValue()) ?>
            </div>
            <div class="row">
                <label for="google">Google+</label>
                <?= $this->form->text('google', ['id' => 'google'], Setting::get('google')->getValue()) ?>
            </div>
            <div class="row">
                <label for="linkedin">LinkedIn</label>
                <?= $this->form->text('linkedin', ['id' => 'linkedin'], Setting::get('linkedin')->getValue()) ?>
            </div>
            <div class="row">
                <label for="pinterest">Pinterest</label>
                <?= $this->form->text('pinterest', ['id' => 'pinterest'], Setting::get('pinterest')->getValue()) ?>
            </div>
            <div class="row">
                <label for="twitter">Twitter</label>
                <?= $this->form->text('twitter', ['id' => 'twitter'], Setting::get('twitter')->getValue()) ?>
            </div>
            <div class="row">
                <label for="instagram">Instagram</label>
                <?= $this->form->text('instagram', ['id' => 'instagram'], Setting::get('instagram')->getValue()) ?>
            </div>
        </div>
        <div class="left">
            <a href="<?= Url::getAdminUrl() ?>" class="btn delete red left">Cancel</a>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>