<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="location">Location</label>
                <?= $this->form->text('location', ['id' => 'location']) ?>
            </div>
        </div>

        <!-- Identifier for the entity to be modified -->
        <input type="hidden" name="identifier" value="<?= $this->item->getId() ?>" />
        <!-- Identifier for the entity to be modified -->

        <div class="left">
            <?= Admin_View::cancelButton() ?>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>