<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <? if(Session::exists('block-type')): ?>
                <div class="row">
                    <label for="name">Name</label>
                    <?= $this->form->text('name', ['id' => 'name']) ?>
                </div>
                <? if($this->admin->isDeveloper()): ?>
                    <div class="row">
                        <label for="label">Label</label>
                        <?= $this->form->text('label', ['id' => 'label'], Behavior_Block::getTypesLabel(Session::get('block-type'))) ?>
                    </div>
                    <div class="row">
                        <label for="class">Class</label>
                        <?= $this->form->text('class', ['id' => 'class'], Behavior_Block::getTypesClass(Session::get('block-type'))) ?>
                    </div>
                <? else: ?>
                    <div class="row" style="display: none;">
                        <label for="label">Label</label>
                        <?= $this->form->hidden('label', ['id' => 'label'], Behavior_Block::getTypesLabel(Session::get('block-type'))) ?>
                    </div>
                    <div class="row" style="display: none;">
                        <label for="class">Class</label>
                        <?= $this->form->hidden('class', ['id' => 'class'], Behavior_Block::getTypesClass(Session::get('block-type'))) ?>
                    </div>
                <? endif ?>

                <? $this->render(Dir::getModules() . '/admin/views/cms/blocks/partial/' . Session::get('block-type') . '.phtml') ?>
            <? else: ?>
                <div class="row">
                    <label for="type">Type</label>
                    <?= $this->form->selectChosen('type', array_merge(['' => 'Choose a block Type'], $this->types), null, 'Choose a block type', false, ['id' => 'type']) ?>
                </div>
                <div id="preview" class="row-container" style="display: none;">
                    <p>Block Preview</p>
                    <div class="label-container"></div>
                </div>
            <? endif ?>
        </div>
        <div class="left">
            <?= Admin_View::cancelButton() ?>
        </div>
        <div class="right">
            <?= Session::exists('block-type') ? Admin_View::saveButton() : '<a href="#" id="save-stay" class="btn save-stay green right" onclick="saveStaySubmit(event)">Continue</a>' ?>
        </div>
    </form>
</div>