<div class="tabs left">
    <a href="#tab-1" class="tab">Primary Information</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="name">Name</label>
                <?= $this->form->text('name', ['id' => 'name']) ?>
            </div>
            <? if($this->admin->isDeveloper()): ?>
                <div class="row">
                    <label for="label">Label</label>
                    <?= $this->form->text('label', ['id' => 'label'], Behavior_Block::getTypesLabel($this->item->getType())) ?>
                </div>
                <div class="row">
                    <label for="class">Class</label>
                    <?= $this->form->text('class', ['id' => 'class'], Behavior_Block::getTypesClass($this->item->getType())) ?>
                </div>
            <? else: ?>
                <div class="row" style="display: none;">
                    <label for="label">Label</label>
                    <?= $this->form->hidden('label', ['id' => 'label'], Behavior_Block::getTypesLabel($this->item->getType())) ?>
                </div>
                <div class="row" style="display: none;">
                    <label for="class">Class</label>
                    <?= $this->form->hidden('class', ['id' => 'class'], Behavior_Block::getTypesClass($this->item->getType())) ?>
                </div>
            <? endif ?>

            <? $this->render(Dir::getModules() . '/admin/views/cms/blocks/partial/' . $this->item->getType() . '.phtml') ?>
        </div>

        <!-- Identifier for the entity to be modified -->
        <input type="hidden" name="identifier" value="<?= $this->item->getId() ?>" />
        <!-- Identifier for the entity to be modified -->

        <div class="left">
            <?= Admin_View::cancelButton() ?>
        </div>
        <div class="right">
            <?= Admin_View::saveButton() ?>
            <?= Admin_View::saveStayButton() ?>
        </div>
    </form>
</div>