<div class="filters">
    <?= Admin_View::carAdsRecordsFilter(array('year' => 'Year', 'kilometers' => 'Kilometers', 'created_at' => 'Date Added')) ?>
</div>
<div class="buttons-right" style="width: 370px;">
    <?/*= Admin_View::topAddButton() */?>
    <?= Admin_View::topUpdateButton() ?>
</div>
<table id="table" width="100%" cellspacing="0" cellpadding="15" border="0" class="table">
    <thead>
        <tr class="light">
            <td>Identifier</td>
            <td>Brand</td>
            <td>Model</td>
            <td>Year</td>
            <td>Kilometers</td>
            <td>Added At</td>
            <td class="actions">Actions</td>
        </tr>
    </thead>
    <tbody>
    <? if($this->items->getCount()): ?>
        <? foreach($this->items as $index => $item): ?>
            <tr class="<?= $index % 2 == 0 ? 'dark' : 'light' ?>">
                <td><?= $item->getIdentifier() ? $item->getIdentifier() : 'NONE' ?></td>
                <td><?= $item->getBrand() ? $item->getBrand()->getName() : 'NONE' ?></td>
                <td><?= $item->getModel() ? $item->getModel()->getName() : 'NONE' ?></td>
                <td><?= $item->getYear() ? $item->getYear() : 'NONE' ?></td>
                <td><?= $item->getKilometers() ? $item->getKilometers() : 'NONE' ?></td>
                <td><?= $item->getCreatedAt() ? date('d M, Y', $item->getCreatedAt()) : 'NONE' ?></td>
                <td>
                    <?= Admin_View::detailsButton($item->getId()) ?>
                    <?= Admin_View::deleteButton($this->entity, $item->getId()) ?>
                </td>
            </tr>
        <? endforeach ?>
    <? else: ?>
        <tr class="dark">
            <td colspan="10">No rows found</td>
        </tr>
    <? endif ?>
    </tbody>
</table>
<div class="buttons-left" style="width: 370px;">
    <?/*= Admin_View::bottomAddButton() */?>
    <?= Admin_View::bottomUpdateButton() ?>
</div>
<div class="right">
    <div class="paginate-container">
        <?= $this->paginate ?>
    </div>
</div>