<div class="tabs left">
    <a href="#tab-1" class="tab">Car Information</a>
    <a href="#tab-2" class="tab">Owner Information</a>
    <a href="#tab-3" class="tab">Availability Information</a>
    <a href="#tab-4" class="tab">Stats Information</a>
</div>
<div class="form right">
    <form id="form" action="" method="post" enctype="multipart/form-data">
        <div id="tab-1" class="hide">
            <div class="row">
                <label for="identifier">Identifier</label>
                <?= $this->form->text('identifier', ['id' => 'identifier', 'readonly' => 'readonly', 'disabled' => 'disabled'], $this->item ? $this->item->getIdentifier() : null) ?>
            </div>
            <div class="row">
                <label for="brand_id">Brand</label>
                <?= $this->form->text('brand_id', ['id' => 'brand_id', 'readonly' => 'readonly', 'disabled' => 'disabled'], $this->item ? $this->item->getBrand()->getName() : null) ?>
            </div>
            <div class="row">
                <label for="model_id">Model</label>
                <?= $this->form->text('model_id', ['id' => 'model_id', 'readonly' => 'readonly', 'disabled' => 'disabled'], $this->item ? $this->item->getModel()->getName() : null) ?>
            </div>
            <div class="row">
                <label for="color_id">Color</label>
                <?= $this->form->text('color_id', ['id' => 'color_id', 'readonly' => 'readonly', 'disabled' => 'disabled'], $this->item ? $this->item->getColor()->getName() : null) ?>
            </div>
            <div class="row">
                <label for="color_id">Color</label>
                <?= $this->form->text('color_id', ['id' => 'color_id', 'readonly' => 'readonly', 'disabled' => 'disabled'], $this->item ? $this->item->getColor()->getName() : null) ?>
            </div>
            <div class="row">
                <label for="year">Year</label>
                <?= $this->form->text('year', ['id' => 'year', 'readonly' => 'readonly', 'disabled' => 'disabled'], $this->item ? $this->item->getYear() : null) ?>
            </div>
            <div class="row">
                <label for="kilometers">Kilometers</label>
                <?= $this->form->text('kilometers', ['id' => 'kilometers', 'readonly' => 'readonly', 'disabled' => 'disabled'], $this->item ? $this->item->getKilometers() : null) ?>
            </div>
            <div class="row">
                <label for="kilometers">VIN</label>
                <?= $this->form->text('vin', ['id' => 'vin', 'readonly' => 'readonly', 'disabled' => 'disabled'], $this->item ? $this->item->getVin() : null) ?>
            </div>
        </div>
        <div id="tab-2" class="hide">
            <div class="row">
                <label for="first_name">First Name</label>
                <?= $this->form->text('first_name', ['id' => 'first_name', 'readonly' => 'readonly', 'disabled' => 'disabled'], $this->owner ? $this->owner->getFirstName() : null) ?>
            </div>
            <div class="row">
                <label for="last_name">Last Name</label>
                <?= $this->form->text('last_name', ['id' => 'last_name', 'readonly' => 'readonly', 'disabled' => 'disabled'], $this->owner ? $this->owner->getLastName() : null) ?>
            </div>
            <div class="row">
                <label for="email">Email</label>
                <?= $this->form->text('email', ['id' => 'email', 'readonly' => 'readonly', 'disabled' => 'disabled'], $this->owner ? $this->owner->getEmail() : null) ?>
            </div>
            <div class="row">
                <label for="phone">Phone</label>
                <?= $this->form->text('phone', ['id' => 'phone', 'readonly' => 'readonly', 'disabled' => 'disabled'], $this->owner ? $this->owner->getPhone() : null) ?>
            </div>
            <div class="row">
                <label for="city_id">City</label>
                <?= $this->form->text('city_id', ['id' => 'city_id', 'readonly' => 'readonly', 'disabled' => 'disabled'], $this->item ? $this->item->getCity()->getName() : null) ?>
            </div>
            <div class="row">
                <label for="address">Address</label>
                <?= $this->form->textarea('address', ['id' => 'address', 'readonly' => 'readonly', 'disabled' => 'disabled', 'style' => 'cursor: not-allowed;'], $this->address ? $this->address->getAddress() : null) ?>
            </div>
        </div>
        <div id="tab-3" class="hide">
            <? foreach($this->availabilities as $index => $availability): ?>
            <div class="row">
                <label for="option_<?= $index + 1 ?>">Option <?= $index + 1 ?></label>
                <?= $this->form->text('option_' . ($index + 1), ['id' => 'option_' . ($index + 1), 'readonly' => 'readonly', 'disabled' => 'disabled'], $availability->getDay() . ' / ' . $availability->getMonth() . ' at ' . $availability->getHour()) ?>
            </div>
            <? endforeach ?>
        </div>
        <div id="tab-4" class="hide">
            <? foreach($this->stats as $index => $stat): ?>
            <div class="row">
                <label for="stat_<?= $index + 1 ?>">Stat <?= $index + 1 ?></label>
                <?= $this->form->text('stat_' . ($index + 1), ['id' => 'stat_' . ($index + 1), 'readonly' => 'readonly', 'disabled' => 'disabled'], $stat->getName()) ?>
            </div>
            <? endforeach ?>
        </div>

        <!-- Identifier for the entity to be modified -->
        <input id="product_id" type="hidden" name="identifier" value="<?= $this->item->getId() ?>" />
        <!-- Identifier for the entity to be modified -->

        <div class="left">
            <?= Admin_View::cancelButton() ?>
        </div>
        <div class="right">
            <?= Admin_View::continueButton() ?>
            <? if($this->item->getConverted() == Car_Model_Ad::CONVERTED_NO): ?>
                <a href="<?= $this->url(array('module' => 'admin', 'controller' => 'car_ads', 'action' => 'convert', 'ad' => $this->item->getId())) ?>" class="btn add green right" style="margin-right: 15px;" onclick="return confirm('Are you sure you want to convert this ad into a product?')">Convert Ad to Car</a>
            <? endif ?>
        </div>
    </form>
</div>