<div class="curtain-home"></div>
<footer class="home">
    <?= $this->block('BottomMenu') ?>
    <section class="social">
        <? if(Setting::get('facebook')->getValue()): ?>
            <a class="facebook" href="<?= Setting::get('facebook')->getValue() ?>" target="_blank">Facebook</a>
        <? endif ?>
        <? if(Setting::get('google')->getValue()): ?>
            <a class="google" href="<?= Setting::get('google')->getValue() ?>" target="_blank">Google+</a>
        <? endif ?>
        <? if(Setting::get('linkedin')->getValue()): ?>
            <a class="linkedin" href="<?= Setting::get('linkedin')->getValue() ?>" target="_blank">Linkedin</a>
        <? endif ?>
        <? if(Setting::get('pinterest')->getValue()): ?>
            <a class="pinterest" href="<?= Setting::get('pinterest')->getValue() ?>" target="_blank">Pinterest</a>
        <? endif ?>
        <? if(Setting::get('twitter')->getValue()): ?>
            <a class="twitter" href="<?= Setting::get('twitter')->getValue() ?>" target="_blank">Twitter</a>
        <? endif ?>
        <? if(Setting::get('instagram')->getValue()): ?>
            <a class="instagram" href="<?= Setting::get('instagram')->getValue() ?>" target="_blank">Instagram</a>
        <? endif ?>
    </section>
    <small>&copy;<?= date('Y') ?> One-Way Ticket Group</small>
</footer>

<?= $this->render(Dir::getLayouts() . '/default/_scripts.phtml') ?>
<script type="text/javascript">
    $(window).load(function(){
        if ($(window).scrollTop() < 500) {
            $('footer').hide();
        } else {
            $('footer').show();
        }

        $(window).scroll(function(e) {
            if ($(window).scrollTop() < 500) {
                $('footer').hide();
            } else {
                $('footer').show();
            }
        });
    });
</script>
