<title><?= $this->meta['title'] ? $this->meta['title'] . ' - ' . Setting::get('company-name')->getValue() : Setting::get('company-name')->getValue() ?></title>

<link rel="icon" type="image/png" href="<?= Dir::getAssets() ?>/favicon.png?<?= time() ?>">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

<meta name="description" content="<?= $this->meta['description'] ?>" />
<meta name="keywords" content="<?= $this->meta['keywords'] ?>" />

<link rel="stylesheet" type="text/css" href="<?= Dir::getAssets() ?>/default/css/super.min.css?<?= time() ?>" />

<?= Google::getAnalyticsCode() ?>
<?= $this->placeholder()->top() ?>

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '555973304596903');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=555973304596903&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->