<div id="loading"></div>
<header>
    <div class="wrapper">
        <a href="<?= Url::getHomeUrl() ?>" class="logo"><?= Setting::getValue('company-name') ?></a>
        <?= $this->block('TopMenu') ?>
    </div>
</header>