<!DOCTYPE html>
<html>
<head>
    <?= $this->render(Dir::getLayouts() . '/default/_head.phtml') ?>
</head>
<body>
    <?= Flash::show() ?>
    <?= $this->render(Dir::getLayouts() . '/default/_header.phtml') ?>
    <main>
        <?= $this->blockHolder('content') ?>
    </main>
    <?= $this->render(Dir::getLayouts() . '/default/_footer_home.phtml') ?>
</body>
</html>