<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title><?= $this->meta['title'] ? $this->meta['title'] . ' - ' . Setting::get('company-name')->getValue() : Setting::get('company-name')->getValue() ?></title>

    <link rel="icon" type="image/png" href="<?= Dir::getAssets() ?>/favicon.png">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <meta name="description" content="<?= $this->meta['description'] ?>" />
    <meta name="keywords" content="<?= $this->meta['keywords'] ?>" />

    <link rel="stylesheet" type="text/css" href="<?= Dir::getAssets() ?>/admin/css/not-found.min.css?<?= time() ?>" />
    <link href='http://fonts.googleapis.com/css?family=Exo+2:400,800' rel='stylesheet' type='text/css'>
</head>
<body>
    <main>
        <?= $this->view() ?>
    </main>
</body>
</html>